<link rel="stylesheet" href="styles/student/announcements.css"/>
<br />
<center>
	<center>
    	<div id="studentCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" style="min-width: 600px; min-height: 500px;"></div>
         <br />
         <!-- here should be the deadline warning message -->
         <div class="alert"><center style="font-size:14px;font-weight: bold">All deadlines are at midnight on the day specified</center></div>
    </center>        
	<br>
	<div style="text-align: left; margin-left: 40px;">
		<table>
			<tr>
				<td style="width: 20px; height: 20px; background-color: green;"></td>
				<td></td>
				<td> Done</td>
			</tr>
			<tr>
				<td style="width: 20px; height: 20px; background-color: orange;"></td>
				<td></td>
				<td> Not done</td>
			</tr>
			<tr>
				<td style="width: 20px; height: 20px; background-color: red;"></td>
				<td></td>
				<td> Not done or due in less than 2 days</td>
			</tr>
		</table>
		<br />
	</div>
	<center>
		<h4>Announcements</h4>
		<table class="table-announce">
	        <tr ng-repeat="a in announcements">
	           <td class = "component">
	            	<span ng-bind-html="a.announcement"></span>
	           </td>
	           <td class = "date">
	            {{ a.updated_at | date:'medium'}}<br>{{ a.user.name }}
	           </td>
	        </tr>
	    </table>
     </center>
</center>
<br />