<style>
	.reveal-modal{
		height: 95% !important;
		top: 2.5%;
	}
</style>
<center>
	<div id="studentCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar" style="width: 50vw;"></div>
	<span class="right">
    	<span class="calendar_color done alert-box label radius" translate="events.done"></span>
		<span class="calendar_color done_late alert-box label radius" translate="events.done_late"></span>
		<span class="calendar_color not_done alert-box label radius" translate="events.not_done"></span>
		<span class="calendar_color not_done_late alert-box label radius" translate="events.not_done_late"></span>
	</span>
</center>
