<!-- build:css(.tmp/styles) styles/student_announcements.css -->
<link rel="stylesheet" href="styles/student/announcements.css"/>
<!-- endbuild -->
<!-- build:css(.tmp/styles) styles/teacher_announcements.css -->
<link rel="stylesheet" href="styles/teacher/announcements.css"/>
<!-- endbuild -->
<style>
	.announcement-box{
		min-width: 45%;
	}
</style>
<center ng-show="!eventSources.length" style="height: 80%;"><loading size="big" show="!eventSources.length" /></center>
<div ng-show="eventSources.length" style="padding-bottom: 30px;">
	<div style="width: 100%;">
		<!-- <tr> -->
			<div class="announcements-container" ng-show="announcements">
					<h3 translate="head.announcements"></h3>
					<div>
						<student-announcement-item announcement="announcement" ng-repeat="announcement in announcements">
				    </div>
	     	</div>
	     	<div style="margin-top:10px; bottom: 0px; top: 0px;height: auto;overflow: auto; padding-bottom: 30px;" class="calendar-container" ng-class="{widecalendar: !announcements.length}">
		    	<div id="studentCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar" style="width:100%; min-width: 420px; min-height: 420px;"></div>
		        <div class="alert" style="text-align: left;">
		         	<div style="font-size:14px;font-weight: bold;margin-bottom:5px" translate="events.deadline_msg"></div>
		         	<div class="span2" style="margin-right: 5px;margin-left:0px">
			         		<div style="width:45%;float:left">
			         		<div style="width: 20px; height: 20px; background-color: green;float:left;margin-right: 5px;border-radius: 1em;opacity: 0.8;"></div>
			         		<div translate="events.done"></div>
			         	</div>
			         	<div >
			         		<div style="width: 20px; height: 20px; background-color: orange;float:left;margin-right: 5px;border-radius: 1em;opacity: 0.8;"></div>
			     			<div translate="events.not_done"></div>
			     		</div>
			     	</div>
		         	<div >
		         		<div style="width: 20px; height: 20px; background-color: red;float:left;margin-right: 5px;border-radius: 1em;opacity: 0.8;"></div>
		     			<div translate="events.not_done_due"></div>
		     		</div>
		         </div>
	     	</div>
	     <!-- </tr> -->
		
    </div>

</div>
