<link rel="stylesheet" href="styles/student/announcements.css"/>
<br />


		<center>
            <div id="teacherCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" style="min-width: 600px; min-height: 500px;"></div>
            <br />
            <!-- here should be the deadline warning message -->
            <div class="alert"><center style="font-size:14px;font-weight: bold">All deadlines are at midnight on the day specified</center></div>
        </center>        
		
	
	

	<br>



<br />





