.navigator-dropdown-button{
  /*margin-top: -10px;*/
  position: fixed;
  /*top: 40px;*/
  background-color: rgb(0, 162, 86);
  min-width: 40px;
  left: 0px;
  /*margin-left: 120px;*/
  /*border-radius: 0 0 4px 4px;*/
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navigator-dropdown-button:hover{
  background-color: green;
}
.navigatoropen{
  margin-left: 0px;
  background-color: green;
  min-width: 300px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.content-navigator-container{
  width: 0px;
  margin-top: 20px;
  /*padding: 10px;*/
  left: 0px;
  position: fixed;
  display: inline-block;
  /*background-color: #222;*/
  background-color: white;
  box-shadow: 1px 1px 1px lightgrey;
  height: 0%;
  overflow-y: auto;
  z-index: 1 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.containeropen{
  height: 83%;
  width: 300px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion {
  margin-bottom: 20px;
  margin-top: 20px;
}

.accordion-group > a {
  /*margin-bottom: 0px !important;
  border: none !important;
  background-color: white !important;
  -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
          border-radius: 0px !important;*/
  padding: 0px !important;
}
.accordion-heading:hover, .currentmodule{
  background-color: lightgrey !important;
}

.accordion-heading .accordion-toggle {
  display: block !important;
  padding: 0px !important;
}

.accordion-toggle {
  color: black;
  cursor: pointer;
}

.accordion-group .content {
  background-color: lightgrey;
  padding: 0px !important;
  border-top: 1px solid #e5e5e5;
}
/*.accordion-group .content > ul {
  background-color: white !important;
  text-align: left !important;
  font-weight: bold !important;
  margin-left: 0px !important;
  padding-left: 1.1rem !important;
  margin-bottom: 0px !important;
}*/
.accordion-group .content > ul{
  font-size: 13px !important;
  color: black !important;
  text-align: left !important;
  padding: 2px !important;
  padding-left: 20px !important;
  margin: 0px 0px 0px 0px !important;
  cursor: pointer !important;
  /*background-color: */
}
.accordion-group .content > ul:hover, .currentitem{
  background-color: rgba(0,0,0,0.2) !important;
}

.itemfinished{
  border-right: 5px solid rgb(0, 162, 86);
}
.module-progress-bar{
  width: 0%;
  height: 3px;
}
.circle{
  border: 2px solid black;
  border-radius: 300px;
  margin-top: 2px;
  vertical-align: text-bottom;
}
/*.itemfinished{
  border-left: rgb(0, 162, 86);
  display: inline-block;
}*/






