.submit_question{
    height:25px;
    margin-bottom:-15px;
    line-height:10px;
    font-size:10px;
}

.question{
    margin-top:15px;
    margin-bottom:0px;
    line-height:12px;
    font-size:12px;
    width:150px;
    height:20px;
}
.fading{
    width:40px;
    height:14px;
    padding-top:2px;
    padding-bottom:2px;
    text-align:center;
    vertical-align:center;
    line-height:12px;
    padding-left:20px;
    position:absolute;
    right:180px;
    bottom: -20px;
}
.fullscreenDiv{
    position:absolute;
    width:30px;
    height:25px;
    cursor:pointer;
    /*top:50%;
    left:50%;*/
    right:5px;
    margin-top:-50px;
    /*#margin-right:0px;*/
    bottom: 0px;
}

.confusedDiv{
    position:absolute;
    width:30px;
    height:25px;
    cursor:pointer;
    margin-top:-50px;
    right:70px;
    bottom: 0px;
    background:url('/images/confused3.png') no-repeat center center;
    background-size:20px 20px;
}

.hidden_div{
    position:absolute;
    right:160px;
    bottom: -1px;
    z-index:3;
    width:222px;
}

.hidden_shortcuts{
    position:absolute;
    top: -240px;
    left: -250px;
    min-width: 200px;
    z-index:3;
}

.questionDiv{
    position:absolute;
    width:30px;
    height:24px;
    cursor:pointer;
    /*top:50%;
    left:50%;*/
    margin-top:-50px;
    right:105px;
    bottom: 0px;
    background:url('/images/question6.png') no-repeat center center;
    background-size:20px 20px;
}

.notesDiv{
    position:absolute;
    width:30px;
    height:24px;
    cursor:pointer;
    /*top:50%;
    left:50%;*/
    margin-top:-50px;
    right:140px;
    bottom: 0px;
    background:url('/images/note.png') no-repeat center center;
    background-size:20px 20px;
}

.shortcutDiv{
    position:absolute;
    width:30px;
    height:25px;
    cursor:pointer;
    margin-top:-50px;
    right:35px;
    bottom: 0px;
    background:url('/images/shortcuts3.png') no-repeat center center;
    background-size:20px 20px;
}

.qualityDiv{
   /* position: relative;
    
    top: -30px;
    left: 95%;
    width: 30px;
    height: 27px;
    background:url('/images/quality.png') no-repeat center center;
    background-size:20px 20px;
    cursor:pointer;*/
    position: relative;
/* z-index: 1000; */
top: -26px;
left: 95%;
width: 25px;
height: 20px;
background: url('/images/quality.png') no-repeat center center;
background-size: 20px 20px;
float: left;
cursor: pointer;
}

.linkDiv{
    position: relative;
    /* z-index: 1000; */
    top: -26px;
    left: 90%;
    width: 25px;
    height: 20px;
    background: url('/images/link_icon_white.png') no-repeat center center;
    background-size: 20px 20px;
    float: left;
    opacity: 0.9;
    cursor:pointer;
}

.video_link{
    position: relative;
    top: -30px;
    left: 30%;
    width: 53% !important;
    height: 30px !important;
    float: left;
}

.fullscreenDiv.full{
    background:url('/images/fullscreen3.png') no-repeat center center;
    background-size:20px 20px;
}
.fullscreenDiv.small{
    background:url('/images/smallscreen3.png') no-repeat center center;
    background-size:20px 20px;
}

li{
    list-style-type: none;
}

/*******************************/



.check_answer{
    left:200px;
    bottom:5px;
}

.check_answer_area{
    left:200px;
    bottom:30px;
}

.submit-html{
    left:200px;
    bottom:5px;
}

.exit{
    top:0px;
    right:10px;
    position:absolute;
    color:gray;
    text-decoration: none;
}

.confused_notif{
    position:absolute;
    /*#margin-top::-60px;*/
    right:110px;
    bottom: -15px;
}

.hidden_div2{
    position:absolute;
    /*#margin-top:-50px;*/
    right:110px;
    bottom: -1px;
    z-index:3;
}

.hidden_shortcuts2{
    position:absolute;
    /*#margin-top:-50px;*/
    left:10px;
    top: -440px;
    z-index:3;
}


.controlDiv{
    /* Centering the control div */
    /*position:absolute;*/
    width:30px;
    height:30px;
    cursor:pointer;
   
   /* bottom: 4px;
    marg*/in:-50px 0 0 0px;
}

.controlDiv.replay{
    background:url('/images/replay3.png') no-repeat center center;
    background-size:20px 20px;
}
.controlDiv.play{
    background:url('/images/plays.png') no-repeat center center;
    background-size:20px 20px;
}

.controlDiv.pause{
    background:url('/images/pauses.png') no-repeat center center;
    background-size:20px 20px;
}

.progressBar{
    /*display:block;
    position:absolute;
    width:auto;*/
    height:8px;
    /*left:0px;
    right:0px;
    bottom:30px;*/
    background-color:#525252;
   /* overflow:hidden;*/
    cursor:pointer;

    /* A light CSS3 bottom highlight */

    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
}

.progressBar .elapsed{
    /*position:absolute;*/
    width:0;
    height:100%;
    background-color:#1fa2f6;
    border-right:1px solid #49AFF0;
}

.volumeDiv{
    /* Centering the control div */
    /*position:absolute;*/
    width:30px;
    height:30px;
    cursor:pointer;
    left: 35px;
    /*top:50%;
    left:50%;*/
   /* bottom: 4px;
    margin:-50px 0 0 0px;*/
}

.volumeDiv.mute{
    background:url('/images/max_volume.png') no-repeat center center;
    background-size:20px 20px;
}

.volumeDiv.unmute{
    background:url('/images/min_volume.png') no-repeat center center;
    background-size:20px 20px;
}


