.whole-box{
	width: 100%;
	min-height: 150px;
	height: auto;
	background-color: white;
	/*border-radius: 3px;*/
	box-shadow: 1px 1px 1px 1px lightgray;
	/*border: 1px solid lightgrey;*/
	margin: 9px;
	padding: 0px;
	max-height: 300px;
	display: inline-block;
	float: left;
	/*clear: both;*/
}
.whole-box:hover{
	/*border-bottom: 3px solid rgb(0, 162, 86);
	margin-bottom: 7px;
	border-left: 3px solid rgb(0, 162, 86);
	margin-left: 7px;
	box-shadow: none;*/
	/*border: 3px solid rgb(0, 162, 86);*/
	box-shadow: 0 0 5px rgb(0, 162, 86);
	/*margin: 7px; */
}
.course-image{
	/*border-radius: 3px 0px 0px 0px;*/
	width: 150px;
	height: 150px;
	text-align: center;
	vertical-align: middle;
	/*background-color: black;*/
}
.course-stats-container{
	/*border-radius: 0px 3px 0px 0px;*/
	width: 50px;
	height: 200px;
	background-color: red;
	color: #2d2d2d;
}
.courses-container{
	width: 45%;
	/*display: inline-block;*/
	margin-right: 30px;
}
.containerwide{
	width: 95% !important;
	background-color: black;
}
.course-info-container{
	font-weight: 200;
	/*background-color: rgb(0, 150, 86);*/
	/*background-color: whitesmoke;*/
	overflow-y: auto;
	/*border-radius: 0px 0px 3px 3px;*/
	font-size: 16px;
	text-align: left;
	padding: 10px;
	vertical-align: top;
	color: white;
	resize: none;
}
.course-info-container > table > tbody > tr > td > a{
	color: black;
}
.course-info-container > table > tbody > tr > td > a:hover{
	color: grey;
}
@media only screen and (max-width : 1024px) {
	.whole-box{
		width: 100%;
		clear: both;
	}
	.courses-container{
		width: 95%;
		clear: both;
	}
	/*.news-feed-container{
		width: 95%;
		clear: both;
		position: relative;
		right: 0px;
	}*/
}

/*.short_name{
	max-width: 50px;
	border-radius: 3px;
	background-color: rgba(0,162,86,0.5);
	padding: 3px;
}*/