body {
     background-color: #EEEEEE;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 60px; 
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.textareabig {
  width:100%;
  min-height:30px;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    /*background-color: #CCCCCC;*/
    /*color: #444444;*/
    font-weight: normal;
}

.nav-pills > li > a {
  color: #444444;
  font-weight: bold;
}


.nav-pills > li > a:hover {
  background-color: #DDDDDD;
}

.nav-pills > div>  li > a.quiz:hover {
  background-color: #DDDDDD;
  width: 100%;
}


.content {
  /*//#background-color: #FFFFFF;*/
  background-color: #F9F9F9;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #F2F2F2);
  background-repeat: repeat-x;
  
}

.accordion-heading {
  background-color: rgb(242,242,242);
  color: #000;
  text-decoration: none;
  display: block;
/*  //#margin-bottom: -11px;
  //#border-top: 2px solid #ddd;
  //#line-height: 25px;*/
}

.accordion-toggle{
  color:gray;
}

.container{
  width:1170px !important;
}

/*// .accordian-inner > a:hover, a:visited, a:link, a:active{
  // text-decoration:none;
  // color:gray;
  // font-weight:bold;
// }*/



.errormove{
    top:0px;
    /*position: fixed;*/
    position: relative;
    display: inline-block;

    text-align: center;
    margin: 0px auto;
    max-width: 90%;
	padding: 3px 5px 3px 5px;
	background-color: rgb(250, 242, 154);
	font-family: Helvetica;
	font-weight: bolder;
    font-size: 95%;
	border-radius: 0px 0px 3px 3px;
	/*border: solid 2px rgb(229,185,108);*/
	box-shadow: 1px 1px 2px rgb(229, 185, 108);
	z-index: 1200;
}


/*.successmove{
	top: 45px;
	position: fixed;
	left: 39%;
	width: 22%;
	padding: 8px;
	background-color: rgb(250, 242, 154);
	color: #468847;
  	background-color: #dff0d8;
  	/*border-color: #d6e9c6;*/
	/*font-family: Helvetica;
	font-style: lighter;
	font-size: 15px;
	border-radius: 5px;*/
	/*border: solid 2px rgb(229,185,108);*/
	/*box-shadow: 1px 1px 2px #d6e9c6;
	z-index: 500;*/
/*}*/
.successmove{
    top:0px;
    /*position: fixed;*/
    position: relative;
    display: inline-block;

    text-align: center;
    margin: 0px auto;
    max-width: 90%;
    padding: 3px 5px 3px 5px;
    background-color: #dff0d8;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 95%;
    border-radius: 3px 3px 3px 3px;
    /*border: solid 2px rgb(229,185,108);*/
    box-shadow: 1px 1px 2px #68a04d;
    z-index: 12000000;
}
.errorContainer {
    top: 0px;
    z-index: 1500;
}
.errormove img{
	margin-right: 6px;
	width:22px;
}

.successmove img{
	margin-right: 6px;
	width:22px;
}



.errorpage{
    position: fixed;
	display:block;
	top:44px;
	z-index:1000;
	/*background-color: rgba(100,100,100,0.45);
	width:100%;
	height:100%;*/
    width:100%;
    text-align: center;
    /*margin: 0 auto;*/
}
.errorpageclass{
    position: fixed;
    display:block;
    top:44px;
    z-index:1300;
    /*background-color: rgba(100,100,100,0.45);
    width:100%;
    height:100%;*/
    width:100%;
    text-align: center;
    /*margin: 0 auto;*/
}

.errorpageserver{
    position: fixed;
	display:block;
	top:0px;
	z-index:11000;
	background-color: rgba(100,100,100,0.45);
	width:100%;
	height:100%;
    text-align: center;
    /*margin: 0 auto;*/
}

.errormessage{
	color:red;
}
.message{
	text-align:center;	
}

.errorMessage, .messagesList{
	display:inline !important;
}

.loading_image {
  width:80px;
  z-index: 100;
}

.ng-invalid ~ span { color:red; display:inline;font-size:12px;left:300px; }
input.ng-invalid{ border:1px solid red; }
select.ng-invalid{ border:1px solid red; }
textarea.ng-invalid{ border:1px solid red; }

.widescreen{
  width: 500px;
  height: 312px;
}

.smallscreen{
  width: 500px;
  height: 405px;
}
.largescreen{
  width: 800px;
  height: 450px;
}
.inclass_sceen{
  display: inline-block;
  width:444px;
  height: 250px
}

.ontop.widescreen{
	height: 282px;
}

.ontop.smallscreen{
	height: 375px;
}


.popover{
	z-index:2000;
  line-height:20px;
  width: 330px;
  max-width:330px;
}

.popover-content{
	width: 300px;
	word-wrap:break-word;
	max-height:300px;
	overflow-y:auto;
}


.ta-editor {
    min-height: 300px;
    width:100%;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    border: solid darkgray 1px;
}

.navigation{
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

}
