.header-container{
	width: 100%;
	background-color: currentcolor;
	box-shadow: 1px 1px 1px black;
	padding: 10px;
	border-radius: 4px;
	z-index: 1000;
	position: relative;
}
.inner-container{
	padding: 10px;
}
.modules-collapser{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}
.modules-collapser:focus{
	outline-width: 0px;
}
.modules-selector-dropdown{
	position: absolute;
	background-color: rgb(51,51,51);
	color: #fff;
	border-radius: 0px 0px 3px 3px;
	border: 1px rgb(51,51,51) solid;
	text-align: center;
	width: 60%;
	min-width: 40%;
	max-width: 100%;
	overflow-x: auto;
	/*overflow-y: auto; */
	height: auto;
	
	/*max-height: 400px;*/
	
	
	/*display: -webkit-box;*/
	padding-left: 5px;
	padding-right: 5px;
	margin-top: -10px;
	z-index: 1;
}
@media only screen and (max-width : 1160px) {
	.modules-selector-dropdown{
		position: absolute;
		background-color: rgb(51,51,51);
		color: #fff;
		border-radius: 0px 0px 3px 3px;
		border: 1px rgb(51,51,51) solid;
		text-align: center;
		width: 90%;
		font-size: 10px;
		max-width: 90%;
		overflow-x: auto;
		
		height: auto;
		
		/*max-height: 400px;*/
		
		
		/*display: -webkit-box;*/
		padding-left: 5px;
		padding-right: 5px;
		margin-top: -10px;
		z-index: 1;
	}
}
/*.multicol > div{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	width: 150px;
	position: relative;
	border-right: 2px dotted rgb(0, 162, 86);
}*/


.multicol {
	margin: 10px;
	padding: 10px;
	padding-bottom: 15px;
	/* CSS3 */
	/*column-count: 3; */
	column-rule: 2px dotted rgb(0, 162, 86);

	/* Safari and Chrome */
	/*-webkit-column-count: 3;*/
	-webkit-column-rule: 2px dotted rgb(0, 162, 86);

	/* Firefox */
	/*-moz-column-count: 3; */
	-moz-column-rule: 2px dotted rgb(0, 162, 86);

	/* Internet Explorer */
	/*-ms-column-count: 3; */
	-ms-column-rule: 2px dotted rgb(0, 162, 86);

	/* Opera */
	/*-o-column-count: 3; */
	-o-column-rule: 2px dotted rgb(0, 162, 86);

	vertical-align:text-top;
	/*max-height:100px;*/
}

.multicol div {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	/*width: 150px;*/
	width: 90%;
	position: relative;
	break-before: column;
	-webkit-column-break-before: column;
	-moz-column-break-before: column;
	-ms-column-break-before: column;
	-o-column-break-before: column;
}
.multicol > div > a > ul{
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
	text-align: left;
	width: 100%;
	word-wrap: normal;
}
.multicol > div >  a {
	color: white;
}
.multicol > div > a > ul:hover, .moduleactive{
	background-color: rgba(0,162,86,0.5);
	border-radius: 3px;
}
.bar-container{
	width: 100%;
}