.main-box{
	width: 310px;
	height: 80px;
	background-color: white;
	color: #2d2d2d;
	box-shadow: 1px 1px 1px 1px lightgray;
	margin: 5px;
	display: inline-block;
	text-align: left;
	overflow: auto;
}
.main-box:hover{
	box-shadow: 0 0 5px rgb(0, 162, 86);
}
.selected{
	border: 3px solid rgb(0, 162, 86);
	margin: 2px;
}
.info-container{
	padding-top: 10px;
	padding-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	word-wrap: wrap;
	font-weight: 200;
	font-size: 16px;
}
.profile-image-container{
	position: relative;
	display: inline-block;
	float: left;
}