<div id="cover"></div>  
<div id="big_div">
    <div ng-click="muteBtn()" ng-class="mute_class"></div>
    <div ng-click="playBtn()" ng-class="play_pause_class"></div>
    <div id="top"                               style="display:block;width:100%;height:60%">
        <div id="left"                          style="display:inline-block;min-width:50px;vertical-align:top;height:100%;width:400px;">
            <button_link title="-5" action="skip(-5)"   style="margin-top: 95px;margin-left: 169px;width: 16px" />
            <button_link title="<<" action="prevQuiz()"   style="margin-top: 10px;margin-left: 169px;width: 16px" ng-disabled="current_quiz == 1" />
        </div>
        <video_container class="inclass_sceen" >
            <youtube ng-show="myurl" id="inclass_vid" url="myurl" controls="lecture_player_controls" class="inclass_sceen" ready="seek()" />
        </video_container>
        <div id="right"                         style="display:inline-block;min-width:50px;vertical-align:top;height:100%;width:400px">
            <button_link title="+5" action="skip(5)"   style="margin-top: 95px;margin-left: 169px;width: 16px"/>
            <button_link title=">>" action="nextQuiz()"   style="margin-top: 10px;margin-left: 169px;width: 16px" ng-disabled="current_quiz== total_num_quizzes"/>
        </div>
    </div>
    <div id="below"                             style="display:block;width:100%;height:40%">
        <div id="the_question2"                 style="position:absolute;padding-left:10px;display:inline;font-size:28px;margin-top:0px;line-height:30px;height:40%;width:40%">
            {{lecture_url2}}
            <div id="the_question"              style="position:absolute;height:90%;margin-top: 15px;">{{question}}</div>
            <a ng-click="exitBtn()"                style="display:inline;font-size:16px;position:absolute;bottom:0;left:0" >Exit</a>
            <div id="pos"                       style="display:inline;position:absolute;bottom:0;margin-left:35px;">
                <b id="q_num"                   style="padding-left:15px;font-size:14px">Q:{{current_quiz+'/'+total_num_quizzes}}</b>
                <b id="lec_num"                 style="padding-left:15px;font-size:14px">L:{{current_lecture+'/'+total_num_lectures}}</b>
            </div>
        </div>
        <div id="the_chart"                     style="margin-top:8px;width:60%;height:100%;background-color:white;float:right;display:inline;">
            <center ><loading size="big" show="loading_charts" /></center>
            <div ng-if="quiz_chart" google-chart chart="quiz_chart" on-ready="loading_charts=false"></div>
         </div>
    </div>
</div>