<div ng-mousemove="lightUpButtons()" class="disable_selection" style="overflow:hidden" screenfull active="fullscreen">
  <div ng-click="toggleBlackScreen()" ng-show="show_black_screen" class="blackscreen">
    <center>
      <b style="position: absolute;top: 95%;left: 40%;"><span>{{blackscreen_msg | translate}}</span></b>
    </center>
  </div>
  <div style="position: fixed;bottom: 35px;top: 0px;left:0;right:0;">
    <div ng-show="selected_item.class_name=='lecture'" class="drag_container" style="position: absolute;width: 100%;min-height: 100%;max-height: 100%;height: 100%;left: 0;right: 0;bottom: 0;margin: 0;padding: 0;background:black;z-index: 0;">
      <div class="inclass_sceen original_video" ng-mouseover="playerButtonTooltip()" ng-mouseleave="playerButtonTooltipLeave()">
        <youtube class="widescreen inclass_sceen" id="inclass_video" url="lecture_url" player="inclass_player" start="selected_item.start_time" end="selected_item.end_time">
          <quiz ng-style="quiz_layer" style="z-index: 1;">
            <div ng-if="selected_timeline_item.type=='inclass' && selected_timeline_item.data.quiz_type == 'html' && (inclass_session == 2 || inclass_session == 3)">
              <student-answer-form submitted="submitted" quiz="selected_timeline_item.data" student-answers="studentAnswers" />
            </div>
            <div ng-if="selected_timeline_item.type=='inclass' && selected_timeline_item.data.quiz_type != 'html' && (inclass_session == 2 || inclass_session == 3)  ">
              <student-answer-video ng-repeat="choice in selected_timeline_item.data.online_answers" data="choice" quiz="selected_timeline_item.data" student-answers="studentAnswers" />
            </div>
          </quiz>
        </youtube>
        <youtube id="hidden_video" url="'https://www.youtube.com/watch?v=Oi1BcouEmio&vq=small&loop=1&autoplay=1'" style="width: 25px;height: 50px;top:90%; left:2%;position:absolute;z-index:-1" />
        <div style="height: 34px;width: 100%;">
          <div ng-show='player_button_hover' ng-hide="selected_item.class_name=='quiz'" style=" margin: 0 auto;width: 50%; margin-right: 50px;padding-top:0px;position: relative;bottom: 30px;z-index: 2;">
            <button ng-class="button_class+' '+dark_buttons" ng-click="playBtn()" class="button reall-tiny secondary"><i ng-class="play_pause_class" /></button>
            <button ng-class="button_class+' '+dark_buttons" ng-click="muteBtn()" class="button reall-tiny secondary"><i ng-class="mute_class" /></button>
            <button ng-class="button_class+' '+dark_buttons+' '+quality_set" ng-click="qualityBtn()" class="button reall-tiny secondary" style="font-weight:bolder">HD</button>
          </div>
        </div>
      </div>
      <div>
        <ul class="inclass_connected_circles connected_circles">
          <li style="display:none"></li>
          <span ng-repeat="item in selected_timeline_item.sub_items">
            <li ng-if="!item.data.inclass_title" class="small_circles size-20" ng-class="{'active': item == selected_timeline_sub_item}" ng-style="{'background': item.data.background, 'color':item.data.color}"></li>
            <li ng-if="item.data.inclass_title" ng-class="{'active': item == selected_timeline_sub_item }" class="size-20" ng-style="{'background': item.data.background, 'color':item.data.color}">{{item.data.inclass_title}}</li>
          </span>
        </ul>
      </div>
      <div class="normal_question_block" style="background-color: white;">
        <div ng-if="!hide_questions && (selected_timeline_item.type == 'charts' || selected_timeline_item.type == 'inclass')">
          <div class="quiz" ng-style="{fontSize:fontsize, lineHeight:fontsize}" ng-class="question_class" style="height: 10%; padding-left:5px;padding-top: 0.5%;padding-bottom: 0.5%;background-color: lightgrey;">
            <div><span ng-bind-html='selected_timeline_item.data.title' style="padding-left:5px;font-weight: bold;"></span>
              <span ng-if="selected_timeline_item.data.question_type == 'MCQ'">( <span translate>  inclass.multiple_choice </span> )</span>
            </div>
          </div>
          <div ng-show="selected_timeline_item.type == 'charts' || (selected_timeline_item.type == 'inclass' && ( inclass_answer == true || inclass_session > 4) ) && chart" ng-class="chart_class" style="padding: 10px;">
            <loading size="small" show="loading_chart" />
            <div google-chart chart="chart" agc-on-ready="chartReady()" ng-hide="loading_chart"></div>
          </div>
          <div ng-show="(inclass_session == 2 || inclass_session == 3)" style="font-size: 60px;margin-top:0.45em;" class="stage_timer">
            <center>{{stage_counter | format}}</center>
          </div>
          <div ng-show="selected_timeline_item.type == 'inclass' && inclass_session == 4 && inclass_answer == false" style="font-size: 22px;margin-top:0.45em;" class="stage_timer">
            <center translate> inclass.click_forward_result </center>
          </div>
        </div>
        <div ng-if="!hide_questions && selected_timeline_item.type == 'discussion'" ng-init="changeVideoQuestionBoxPercentage(30 , false)">
          <div>
            <div ng-style="{fontSize:fontsize, lineHeight:fontsize}" class="disucssion" ng-class="question_class" style="padding-left:5px;padding-top: 0.5%;">
              <div ng-repeat="question in selected_timeline_item.data" ng-click="seek(question.time)" ng-show="question.hide" style="padding-left:5px;">
                <span ng-bind-html="question.content"></span>
                <span class="color-dark-grey" ng-repeat="comment in question.comments" ng-show="comment.hide">
                  <br />
                  <i style="padding-left:15px" ng-bind-html="comment.content"></i>

                </span>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!hide_questions && selected_timeline_item.type.indexOf('confused') !=-1" ng-init="changeVideoQuestionBoxPercentage(30 , false)">
          <div>
            <div ng-style="{fontSize:fontsize, lineHeight:fontsize}" class="disucssion" ng-class="question_class" style="padding-left:5px;padding-top: 0.5%;">
              <div style="padding-left:5px;">
                <span>{{'inclass.'+selected_timeline_item.type | translate}}</span>:
                <span>{{selected_timeline_item.data.count}}</span>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!hide_questions && selected_timeline_item.type == 'free_question'" ng-init="changeVideoQuestionBoxPercentage( 30 , false)">
          <div>
            <div ng-style="{fontSize:fontsize, lineHeight:fontsize}" class="disucssion" ng-class="question_class" style="padding-left:5px;padding-top: 0.5%;">
              <div style="padding-left:5px;font-weight: bold;">
                <span ng-bind-html="selected_timeline_item.data.title"></span>
                <span class="color-dark-grey" ng-repeat="answer in selected_timeline_item.data.answers" ng-show="answer.hide">
                  <br />
                  <i style="padding-left:5px" ng-bind-html="answer.online_answer"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!hide_questions && selected_timeline_item.type == 'primary_marker'" ng-init="changeVideoQuestionBoxPercentage(30 , false)">
          <div>
            <div ng-style="{fontSize:fontsize, lineHeight:fontsize}" class="disucssion" ng-class="question_class" style="padding-left:5px;padding-top: 0.5%;">
              <div style="padding-left:5px;font-weight: bold;">
                <span ng-bind-html="selected_timeline_item.data.title"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="selected_item.class_name=='quiz'" style="position: absolute;width: 100%;min-height: 100%;max-height: 100%;height: 100%;left: 0;right: 0;bottom: 0;margin: 0;padding: 0;overflow: auto;">
      <div style="background:white;" id="white_background">
        <div style="padding-top: 1%;padding-left: 1%;font-size: 50px;line-height: 40px;opacity: 1;font-weight: bold;" ng-bind-html="selected_timeline_item.data.title"></div>
        <div ng-if="selected_timeline_item.type == 'charts'" id='chart'>
          <loading size="small" show="loading_chart" />
          <div google-chart chart="chart" agc-on-ready="chartReady()" ng-hide="loading_chart"></div>
        </div>
        <div ng-if="selected_timeline_item.type == 'Free Text Question'" style="padding-left:30px">
          <ul style="padding:5px;color:black;font-weight:normal">
            <li ng-repeat="question in selected_timeline_item.data.answers" style="list-style: disc;">
              <p style="font-size:30px; margin:0" ng-bind-html="question.answer"></p>
              <i ng-show="question.response" style="padding-left: 30px;color:steelblue;font-size:30px" ng-bind-html="question.response"></i>
            </li>
          </ul>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <div style="position:fixed;padding-top:5px; text-align: center; bottom: 5px; width: 100%;left:0">
    <div class="bottom-left left">
      <button ng-class="button_class+' '+dark_buttons" ng-click="exitBtn()" class="button reall-tiny secondary exit_btn">{{button_names[0]}}</button>
      <span ng-show="(inclass_session == 2 || inclass_session == 3)" style="color:white; background:black;padding-left:10%">({{(session_votes || 0)+'/'+(session_max_votes || 0)}})</span>
      <button ng-disabled="true" ng-class="button_class" class="button reall-tiny with-tiny-padding-right with-tiny-padding-left secondary" style="color:white; background:black">{{min_counter_up +':'+ sec_counter_up}}</button>
    </div>
    <div class="bottom-middle">
      <button ng-class="button_class" ng-click="prevSubItem()" class="prev_btn button reall-tiny secondary"><i class="fi-previous" /></button>
      <button ng-class="button_class+' '+dark_buttons" ng-click="skip(-5)" class="button reall-tiny secondary" style="padding: 3px 10px;">
        <span>{{button_names[5]}} </span><i class="fi-rewind" />
      </button>
      <button ng-class="button_class+' '+dark_buttons" class="button reall-tiny secondary drop-top" style="padding: 3px 10px;" dropdown-toggle="#content_list" id="content_list_btn">
        <i class="fi-list-bullet" />
      </button>
      <ul id="content_list" class="f-dropdown text-left" style="overflow:auto;margin-top: -275px;height: 250px;max-width: 300px;padding: 12px;">
        <div ng-repeat="module_item in module.items">
          <a class="with-tiny-padding-bottom with-tiny-padding-top" ng-click="skipToItem(module_item)">
            <div>{{module_item.name}}</div>
          </a>
          <div ng-if="module_item.class_name=='lecture'">
            <li ng-repeat="item in timeline['lecture'][module_item.id]['filtered'].items|inclassMenuFilter" ng-click="skipToItem(module_item, item, 'lecture')" ng-class="{'active': (selected_timeline_item.data.id == item.data.id && selected_timeline_item.type == item.type) }">
              <div ng-if="item.type=='discussion'">
                <b translate>inclass.discussion</b>:

                <div ng-if="item.data.length == 1">
                  <div style="padding: 0 5px;" ng-bind-html="item.data[0].content"></div>
                </div>
                <ol ng-if="item.data.length > 1">
                  <li ng-repeat="discussion in item.data|filter:{'post.hide':true}">
                    <div style="padding: 0 5px;" ng-bind-html="discussion.content"></div>
                  </li>
                </ol>
              </div>
              <div ng-if="item.type.indexOf('confused') !=-1" style="padding: 0 5px;">
                <b translate>{{'inclass.'+item.type}}</b>
              </div>
              <div ng-if="item.type!='discussion' && item.type.indexOf('confused') ==-1">
                <div style="padding: 0 5px;">
                  <b ng-if="item.data.type !='marker'">{{'inclass.'+item.data.type.toLowerCase() | translate}}:</b>
                  <span ng-bind-html="item.data.title"></span>
                </div>
              </div>
            </li>
          </div>
          <div ng-if="module_item.class_name=='quiz'">
            <li ng-repeat="item in timeline[module_item.quiz_type][module_item.id]['filtered'].items|filter:{'data':'!!'}" ng-click="skipToItem(module_item, item, module_item.quiz_type)">
              <div style="padding: 0 5px;">
                <b><span translate>{{'inclass.'+module_item.quiz_type}}</span>:</b>
                <span ng-bind-html="item.data.title"></span>
              </div>
            </li>
          </div>
        </div>
      </ul>
      <button ng-class="button_class+' '+dark_buttons" ng-click="skip(5)" class="button reall-tiny secondary" style="padding: 3px 10px;">
        <i class="fi-fast-forward" /><span> {{button_names[5]}}</span>
      </button>
      <button ng-class="button_class" ng-click="nextSubItem()" class="next_btn button reall-tiny secondary"><i class="fi-next" /></button>
    </div>
    <div class="bottom-right no-padding-top ">
      <span ng-hide="selected_item.class_name=='quiz'">
        <button ng-hide="(selected_timeline_item.type == 'primary_marker')" ng-class="button_class+' '+dark_buttons" ng-click="toggleHideQuestions()" class="button reall-tiny secondary">{{hide_video_text}}</button>
        <span ng-show="(selected_timeline_item.type == 'charts' || selected_timeline_item.type == 'inclass')">
          <button ng-class="button_class+' '+dark_buttons" ng-click="toggleZoomGraphVideo()" class="button reall-tiny secondary">{{zooom_graph_text}}</button>
        </span>
      </span>
    </div>
  </div>
</div>
