<!-- build:css(.tmp/styles) styles/inclass.css -->
<link rel="stylesheet" href="styles/teacher/inclass.css"/>
<link rel="stylesheet" href="styles/modules_selector.css"/>
<link rel="stylesheet" href="styles/teacher/teacher_common.css"/>
<!-- endbuild -->

<div ng-hide="!iscollapsed" style="position: fixed; padding-left: 30px; height: 40px; left: 0px; right; 0px; top: 40px; padding-top: 10px; background-color: white; width: 100%; box-shadow: 1px 1px 1px lightgrey; z-index: 2; min-width: 600px;">
    <div><modules-selector modules="modules" current="selected_module" action="showModule" /></div>
    <div class="module-title">
		<big>
			<b>
				{{selected_module.name}}
			</b>
		</big>
	</div>

</div>
<div class="row">
    <ui-view />
</div>