<!-- build:css(.tmp/styles) styles/inclass.css -->
<link rel="stylesheet" href="styles/teacher/inclass.css"/>
<link rel="stylesheet" href="styles/modules_selector.css"/>
<link rel="stylesheet" href="styles/teacher/teacher_common.css"/>

<!-- endbuild -->
<div ng-hide="!iscollapsed" style="position: fixed; padding-left: 30px; height: 40px; left: 0px; right; 0px; top: 40px; padding-top: 10px; background-color: white; width: 100%; box-shadow: 1px 1px 1px lightgrey; z-index: 2; min-width: 600px;">
	<div style="float: left; display: inline-block;">
		<button type="button" class="btn modules-collapser btn-success" style="background-image: initial; width: 170px; max-width: 170px;" ng-click="toggleSelector()" ng-disabled="!modules" title="{{selected_module.name}}">{{shortenModuleName(selected_module.name) || 'courses.select_module' | translate}}<span class="caret" style="margin-left: 5px;"></span></button>
    </div>
    <div class="module-title">
		<big>
			<b>
				{{selected_module.name}}
			</b>
		</big>
	</div>
	<!-- <div style="display: inline-block; float: right;"> -->
    	<!-- <button class="btn btn-success" style="background-image: initial; float: right; margin-right: 60px;" id="new_course" action="display('Quizzes',!inclass_ready)" ng-disabled="!inclass_ready" translate>Go to Class</button> -->
	<!-- </div> -->
</div>
<div class="modules-selector-dropdown" collapse="!close_selector" style="z-index: 1; top: 30px; background-color: whitesmoke; border: none; width: 0;">
	<div class="multicol" style="{{dropdown_styling || '-webkit-column-count:1;-moz-column-count:1;column-count:1;'}}">
		<div ng-repeat="module in modules | orderBy:'position'">
			<a ui-sref="course.inclass.module({ module_id: module.id })" ng-click="showModule()" >
				<ul style="float: left; margin: 0; color: #2d2d2d;" ng-class="{moduleactive: $parent.selected_module.id == module.id}">
					{{module.name}}
				</ul>
			</a>
		</div>
	</div>
</div>
<div class="row">        
	<!-- <div id='details' class="span4" style="border-right: 1px solid lightgray;"> -->
	    <ui-view></ui-view>
	<!-- </div> -->
</div>