<div style="padding:40px;font-size:16px;"><a ng-click="exitBtn()"  style="cursor:pointer">Exit</a></div>
<center>
	<h4><b>Review Student Questions on {{selected_module.name}}</b></h4>
	<loading size=big show="loading_lectures_chart" />
	<div ng-show="questions" style="padding:10px 40px" >
		<table class="table table-striped"> 
			<tr>
				<th>Hide</th>
				<th>Question</th>
				<th style="width:10%">Lecture Title</th>
				<th>Time</th>
			</tr>
			<tr ng-repeat="question in questions">
				<td ><input type="checkbox" ng-model="question.hide" ng-change="updateHide(question)" /></td>
				<td>
					{{question.question}}
				</td>
				<td>
					{{getLectureTitle(question.lecture_id)}}
				</td>
				<td>
					{{question.time|format}}
				</td>
			</tr>
		<table>
	</div>
</center>
<div style="padding:40px;font-size:16px;"><a ng-click="exitBtn()"  style="cursor:pointer">Exit</a></div>
