<center>
	<br />
	<h3>{{selected_module.name}}</h3>
	<br />
	<h4 translate>courses.display_lecture_results</h4>
	<button_link title="{{'courses.display_quizzes'|translate}}"   action="display('Quizzes')" class="btn-xlarge btn-primary" />
	<button_link title="{{'courses.display_questions'|translate}}" action="display('Questions')" class="btn-xlarge btn-primary" />
	<button_link title="{{'courses.display_surveys'|translate}}"   action="survey()" class="btn-xlarge btn-primary" />
	<h4 translate>courses.review_lecture_results</h4>
	<button_link title="{{'courses.review_quizzes'|translate}}"   action="review('Quizzes')" class="btn-xlarge" />
	<button_link title="{{'courses.review_questions'|translate}}" action="review('Questions')" class="btn-xlarge" />
	<button_link title="{{'courses.review_surveys'|translate}}"   action="survey('review')" class="btn-xlarge" />
</center>
<br /><br /><br />
<br /><br /><br />
