<center>
	<br />
	<h3>{{selected_module.name}}</h3>
	<br />
	<h4>Display Lecture Results</h4>
	<button_link title="Display Quizzes"   action="open()" class="btn-xlarge btn-primary" />
	<button_link title="Display Questions" action="open()" class="btn-xlarge btn-primary" />
	<button_link title="Display Surveys"   action="" class="btn-xlarge btn-primary" />
	<h4>Review Lecture Results</h4>
	<button_link title="Review Quizzes"   action="" class="btn-xlarge" />
	<button_link title="Review Questions" action="" class="btn-xlarge" />
	<button_link title="Review Surveys"   action="" class="btn-xlarge" />
</center>
<br /><br /><br />
<br /><br /><br />
