<!-- build:css(.tmp/styles) styles/inclass.css -->
<link rel="stylesheet" href="styles/teacher/inclass.css"/>
<link rel="stylesheet" href="styles/teacher/teacher_common.css"/>
<!-- endbuild -->
<div class="inclass">
	<h4 ng-show="module.name" class="small-12 columns with-small-padding-top with-margin-bottom">
		<b><span translate>In-class Review</span>: </b>
		<span>{{module.name}}</span>
	</h4>
	<div class="small-12 medium-12 large-3 columns" id='details' >
		<center>
			<button class="display_inclass button green-color-white" ng-click="display()" ng-disabled="!inclass_ready" translate>Start In-class Review</button>
			<br>
		</center>

		<inclass_estimate time-quiz="time_parameters.quiz", time-question="time_parameters.question", quiz-count="review_quizzes_count", question-count="review_question_count" survey-count="review_survey_count"/>
		<!-- <button_link title="{{'groups.display_inclass' | translate }}"   action="display(!inclass_ready)" class="btn-xlarge btn-success" ng-disabled="!inclass_ready" style="background-image: initial; min-width: 205px;max-width: 220px;"/> -->
		<!-- <div ng-show="inclass_setting">
			<button class="btn" ng-click="initialDisplay(!inclass_ready,true)">Fullscreen</button>
			<button class="btn" ng-click="initialDisplay(!inclass_ready,false)">Windowed</button>
		</div> -->
		
		<!-- <button_link title="{{'courses.display_questions'|translate}}" action="display('Questions',!buttons.questions_display_count)" class="btn-xlarge btn-primary" ng-disabled="!buttons.questions_display_count"/>
		<button_link title="{{'courses.display_surveys'|translate}}"   action="survey(!buttons.survey_display_count)" class="btn-xlarge btn-primary" ng-disabled="!buttons.survey_display_count"/>
		<h4 translate>courses.review_lecture_results</h4>
		<button_link title="{{'courses.review_quizzes'|translate}}"   action="review('Quizzes',!buttons.quizzes_review_count)" class="btn-xlarge" ng-disabled="!buttons.quizzes_review_count" />
		<button_link title="{{'courses.review_questions'|translate}}" action="review('Questions',!buttons.questions_review_count)" class="btn-xlarge" ng-disabled="!buttons.questions_review_count" />
		<button_link title="{{'courses.review_surveys'|translate}}"   action="survey(!buttons.survey_display_count,'review')" class="btn-xlarge" ng-disabled="!buttons.survey_display_count" /> -->
	<!-- </center>
	<br /><br /><br />
	<br /><br /><br /> -->
	</div>
		
	<div class="main_content small-12 medium-12 large-9 columns">
		<center><loading size="big" show="!module.items" /></center>
		<div class="row" ng-repeat="module_item in module.items">
		<!-- 	<div  id="{{module_item.quiz_type+'_'+module_item.id}}" ng-if="module_item.class_name=='quiz' && timeline[module_item.quiz_type]" ng-init="quiz=quizzes[module_item.id];">
				<p class="title">{{quiz.meta.name}}</p>
				<ul ng-repeat="item in timeline[module_item.quiz_type][quiz.meta.id].items|filter:data:'!!'" >
					<li ng-if="item.type=='charts'" class="li_inner blue">
						<inner_title type="Title" title="{{item.data.title}}"/>
					</li>
					<li ng-if="item.type=='Free Text Question'" class="li_inner coral">
						<inner_title type="Free Text Question" title="{{item.data.title}}"/>
					</li>
				</ul>
			</div> -->
			<div ng-if="module_item.class_name=='lecture'" ng-init='lec=module_item' class="small-12 columns">
				<p class="title light-grey dark-text">{{lec.name}}</p>
				<ul class="ul_item vline_slim inner_content" ng-repeat="item in timeline['lecture'][lec.id].items|filter:data:'!!'" style="clear:both">
					<li ng-if="item.type=='discussion'" class="li_inner color-coral">
						<inner_title type="'lectures.discussion' | translate" />
						<ul style="padding:5px;color:black;font-weight:normal;font-size: 14px;">
							<li ng-repeat="question in item.data" >
								<div style="width: 80%;">{{question.post.content}}</div>
								<ul>
		                            <li class="size-14" ng-repeat="comment in question.post.comments"><i>{{comment.comment.content}}</i></li>
		                        </ul>
							</li>
						</ul>						
					</li>
					<li ng-if="item.type=='charts'" class="li_inner color-green">
						<inner_title type="'courses.'+item.data.type.toLowerCase() | translate" itemtitle="item.data.title" />
					</li>
					<li ng-if="item.type=='free_question'" class="li_inner color-coral">
						<inner_title  type="'groups.free_text_question' | translate" itemtitle="item.data.title"/>
						<ul style="clear:both;padding:5px;color:black;font-weight:normal;font-size: 14px;">
							<li ng-repeat="answer in item.data.answers" style="list-style-position:inside; padding:3px 10px">
								<div style="width:70%">{{answer.online_answer}}</div>
							</li>
						</ul>						
					</li>
				</ul>
			</div>
			<div ng-if="module_item.class_name=='quiz'" ng-init='quiz=module_item' class="small-12 columns">
				<p class="title light-grey dark-text">{{quiz.name}}</p>
				<ul class="ul_item vline_slim inner_content" ng-repeat="item in timeline['survey'][quiz.id].items|filter:data:'!!'">
					<li ng-if="item.type=='Free Text Question'" class="li_inner color-coral">
						<inner_title  type="'groups.free_text_question' | translate" itemtitle="item.data.title"/>
					</li>
					<li  ng-if="item.type=='charts'" class="li_inner color-blue">
						<inner_title type="'courses.survey' | translate" itemtitle="item.data.title" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>