<center ng-show="!courses"><br/><br/><loading size="big" show="!courses"/></center>
<div ng-show="courses">
	<h4 translate="courses.all_courses"></h4>
	</br>
	<table class="table table-striped">
		<thead style="cursor:pointer" >
			<th><a ng-click="order('short_name')" translate="courses.course_code"></a></th>
			<th><a ng-click="order('name')" translate="courses.course_name">Course Name</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="course in courses|orderBy:column:is_reverse">
				<td><a ui-sref="course.student_calendar({ course_id: course.id })">{{course.short_name}}</a></td>
				<td><a ui-sref="course.student_calendar({ course_id: course.id })">{{course.name}}</a></td>
				
			</tr>
		</tbody>
	</table>
</div>

<a ng-hide="!courses" id="join_course" ng-click="open()" style="cursor:pointer" translate="courses.join_course"></a>