<!-- <div class="modal-header"> -->
    <h3 translate="users.enter_enrollment"></h3>
<!-- </div> -->
<div class="modal-body">
	<form name="form.key">
    <center>
    	<input type="text" ng-model="enrollment.key" name="key" required/><br>
    	<span class='error' ng-if='form.submitted && form.key.key.$error.required' translate="courses.required"></span><br>
    	<div class='error' ng-if='form.server_error'>{{form.server_error}}</div>
        <loading size="small" show="form.processing"></loading>
        
        {{'users.enrollement_key_format' | translate}} 
        <br>
        <b>ABCDE-12345</b>
        <br>
        {{'users.get_enrollment_key' | translate}}
    </center>
    </form>
</div>
<div class="right modal-footer">
    <button class="success" ng-click="ok()" translate="users.enroll"></button>
    <button class="alert" ng-click="cancel()" translate="lectures.cancel"></button>
</div>