<div class="modal-header">
    <h3 translate="users.enter_enrollment"></h3>
</div>
<div class="modal-body">
	<form name="form.key">
    <center>
    	<input type="text" ng-model="enrollment.key" name="key" required/><br>
    	<loading size="small" show="form.processing"></loading>
    	<span class='help-inline' ng-if='form.submitted && form.key.key.$error.required' translate="courses.required"></span><br>
    	<span class='errormessage' ng-if='form.server_error'>{{form.server_error}}</span>
        {{'users.get_enrollment_key' | translate}}
    </center>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" translate="users.enroll">OK</button>
    <button class="btn btn-warning" ng-click="cancel()" translate="lectures.cancel">Cancel</button>
</div>