
<accordion close-others="false">
    <accordion-group ng-repeat="course in courses" is-open="isopen">
        <accordion-heading>
            <input value="Select All" class="btn btn-primary" ng-click="select_all_modules(course, $event)"/>
            <!--<input type="checkbox" ng-model="course.checked" ng-click="checkboxClick(course, $event)"/>--> {{course.name}} <i class="pull-right glyphicon" ng-class="{'icon-chevron-down': isopen, 'icon-chevron-right': !isopen}"></i>
        </accordion-heading>
        <accordion close-others="false">
        <accordion-group ng-repeat="module in course.groups" is-open="isopen">
            <accordion-heading>
                <input value="Select All" class="btn btn-primary" ng-click="select_all_items(module, $event)"/>
                <!--<input type="checkbox" ng-model="module.checked"  ng-click="checkboxClick(module, $event)"/>--> {{module.name}} <i class="pull-right glyphicon" ng-class="{'icon-chevron-down': isopen, 'icon-chevron-right': !isopen}"></i>
            </accordion-heading>

            <div ng-repeat="item in module.get_items_json" is-open="isopen">
                   <input type="checkbox" ng-model="item.checked" ng-click="itemClick(item,$event)"/> {{item.name}}
            </div>
        </accordion-group>
        </accordion>
    </accordion-group>
</accordion>

   {{teachers_selected}}
<input type="text" typeahead-on-select="selectMatch($item)" ng-model="teacher_selected" typeahead="teacher as teacher.email for teacher in teachers | filter:{email:$viewValue} " class="form-control">
<input type="button" ng-click="copy_to()" value="Copy">




