<center ng-show="!courses"><br/><br/><loading size="big" show="!courses"/></center>
<div ng-show="courses">
	<h4 >
		<span translate>courses.all_courses</span>
		<span ng-show="filtered_teacher">
			<span translate>courses.taught_by</span> 
			{{filtered_teacher}}
		</span>
	</h4>
	</br>
	<table class="table table-striped">
		<thead style="cursor:pointer" >
			<th><a ng-click="order('short_name')" translate>courses.course_code</a></th>
			<th><a ng-click="order('name')" translate>courses.course_name</a></th>
			<th translate>courses.teachers</th>
			<th translate>courses.teacher_email</th>
			<th><a ng-click="order('enrollments')" >#<span translate>courses.students</span></a></th>
			<th><a ng-click="order('lectures')" >#<span translate>groups.lectures</span></a></th>
			<th><a ng-click="order('quiz')" >#<span translate>groups.quizzes</span></a></th>
			<th><a ng-click="order('survey')" >#<span translate>courses.surveys</span></a></th>
			<th><a ng-click="order('activity')" ><span translate>Activity</span></a></th>
			<th translate>delete</th>
		</thead>
		<tbody>
			<tr ng-repeat="course in courses|filter:filtered_teacher|orderBy:column:is_reverse">
				<td ng-if="course.importing">
					{{course.short_name}} 
				</td>
				<td ng-if="course.importing">
					{{course.name}} 
				</td>
				<td ng-if="!course.importing"><a ui-sref="course.course_editor({ course_id: course.id })">{{course.short_name}}</a></td>
				<td ng-if="!course.importing"><a ui-sref="course.course_editor({ course_id: course.id })">{{course.name}}</a></td>
				<td>
					<div ng-repeat="enrolled in course.teacher_enrollments">
						<!-- filters only in current courses, so no problem if not an admin-->
						<a  style="cursor:pointer" ng-click="filterTeacher(enrolled.user.name)" >{{enrolled.user.name}} ({{enrolled.role.name}})</a>	
						</br>
				    </div>
				</td>
				<td>
					<div ng-repeat="enrolled in course.teacher_enrollments">
						<a href="mailto:{{enrolled.user.email}}" style="cursor:pointer">{{enrolled.user.email}}</a>
						</br>
					</div>
				</td> 
				<td><b>{{course.enrollments.length}}</b></td>
				<td><b>{{course.lectures.length}}</b></td>
				<td><b ng-init="course.quiz = (course.quizzes|filter:{quiz_type:'quiz'})">{{course.quiz.length }}</b></td>
				<td><b ng-init="course.survey = (course.quizzes|filter:{quiz_type:'survey'})">{{course.survey.length }}</b></td>
				<td ng-show="checkActivity(course.average_activity) == 3" style="color: green;" class="circle"></td>
				<td ng-show="checkActivity(course.average_activity) == 2" style="color: orange;" class="circle"></td>
				<td ng-show="checkActivity(course.average_activity) == 1" style="color: red;" class="circle"></td>
				<td ng-if="course.importing" translate>controller_msg.importing_data</td>
				<td ng-if="!course.importing"><delete_button size="big" action="deleteCourse(course)" /></td>
			</tr>
		</tbody>
	</table>	
	<a ng-show="filtered_teacher" ng-click="removeFilter()" style="cursor:pointer" translate>back</a><br>
</div>

<a ng-hide="!courses" ui-sref="new_course" translate>courses.new_course</a><br />
