<form novalidate class="form-horizontal" name="form" ng-submit="createCourse()">
    <h3><i class="fi-book"></i> {{'courses.new_course' | translate}}</h3>
    <div class="medium-2 large-2 columns hide-for-small-only">
        <smart-image defaultimage="'../images/course_image.png'" desiredimage="course.image_url" notfound="image_not_found" style="height: 36px;"></smart-image>
        <label>{{'courses.course_image' | translate}}
            <input type="text" ng-model="course.image_url" ng-class="{error: image_not_found || server_errors['image_url']}"/>
            <small class="error with-tiny-padding" ng-show="image_not_found">{{image_not_found | translate}}</small>
            <small class="error with-tiny-padding" ng-show="server_errors['image_url']">{{server_errors['image_url'].join()}}</small>
        </label>
    </div>
    
    <center class="large-12 with-margin-bottom with-margin-top">
        <smart-image class="show-for-small-only" defaultimage="'../images/course_image.png'" desiredimage="course.image_url" notfound="image_not_found"></smart-image>
        <label class="show-for-small-only with-margin">{{'courses.course_image' | translate}}
            <input type="text" ng-model="course.image_url"/>
            <small class="error with-tiny-padding" ng-show="image_not_found">{{image_not_found | translate}}</small>
            <small class="error with-tiny-padding" ng-show="server_errors['image_url']">{{server_errors['image_url'].join()}}</small>
        </label>
    </center>

<div class="small-12 medium-10 large-10 columns">
    <fieldset class="with-margin-bottom">
        <legend>{{'lectures.title' | translate}}</legend>
        <div class="small-12 medium-5 large-5 columns">
            <label>{{'courses.short_name' | translate}}
                <input name="short" type="text" ng-model="course.short_name" ng-class="{error: server_errors['short_name']}" />
                <small class="error with-tiny-padding" ng-show="server_errors['short_name']">{{server_errors['short_name'].join()}}</small>
            </label>
        </div>
        <div class="small-12 medium-5 large-5 columns">
            <label>{{'courses.course_name' | translate}}
                <input name="name" type="text" ng-model="course.name" ng-class="{error: server_errors['name']}" />
                <small class="error with-tiny-padding" ng-show="server_errors['name']">{{server_errors['name'].join()}}</small>
            </label>
        </div>
    </fieldset>
</div>
<div class="small-12 medium-10 large-10 columns right">
    <fieldset class="with-margin-bottom">
        <legend>{{'courses.duration' | translate}}</legend>
        <div class="small-12 medium-5 large-5 columns">
            <label>{{'courses.start_date' | translate}}
                <input name="date" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="course.start_date" is-open="opened"  ng-required="true" ng-class="{error: server_errors['start_date']}"/>
                <small class="error with-tiny-padding" ng-show="server_errors['start_date']">{{server_errors['start_date'].join()}}</small>
            </label>
        </div>
        <div class="small-12 medium-5 large-5 columns">
            <label>{{'courses.duration' | translate}}
                <input name="duration" min="0" type="number" ng-model="course.duration" placeholder="*{{'courses.weeks' | translate}}" ng-class="{error: server_errors['duration']}" />
                <small class="error with-tiny-padding" ng-show="server_errors['duration']">{{server_errors['duration'].join()}}</small>
            </label>
        </div>
    </fieldset>
</div>
<div class="small-12 medium-10 large-10 columns right">
    <fieldset class="with-margin-bottom">
        <legend>{{'head.course_information' | translate}}</legend>
        <div class="small-12 medium-12 large-12 column">
            <div class="small-12 medium-5 large-5 columns">
                <label>{{'courses.course_description' | translate}}
                    <textarea rows="3" ng-model="course.description" ng-class="{error: server_errors['description']}"></textarea>
                    <small class="error with-tiny-padding" ng-show="server_errors['description']">{{server_errors['description'].join()}}</small>
                </label>
            </div>
            <div class="small-12 medium-5 large-5 columns">
                <label>{{'courses.prerequisites' | translate}}
                    <textarea rows="3" ng-model="course.prerequisites" ng-class="{error: server_errors['prerequisites']}"></textarea>
                    <small class="error with-tiny-padding" ng-show="server_errors['prerequisites']">{{server_errors['prerequisites'].join()}}</small>
                </label>
            </div>
        </div>
        <div class="small-12 medium-12 large-12 column">
            <div class="small-12 medium-5 large-5 columns">
                <label>{{'courses.time_zone' | translate}}
                    <select name="timezone" ng-model="course.time_zone" ng-options="element.value for element in timezones" ng-class="{error: server_errors['time_zone']}"></select>
                    <small class="error with-tiny-padding" ng-show="server_errors['time_zone']">{{server_errors['time_zone'].join()}}</small>
                </label>
            </div>
        </div>
    </fieldset>
</div>
<div class="small-12 medium-10 large-10 columns right">
    <fieldset class="with-margin-bottom">
        <legend>{{'controller_msg.importing_data' | translate}}</legend>
        <div class="small-12 medium-5 large-5 columns">
            <label>{{'courses.import_data' | translate}}
                <select ng-model="import_from" ng-options="element.id as element.name for element in importing"></select>
            </label>
        </div>
    </fieldset>
    <button ng-disabled="submitting || image_not_found" type="submit" class="button success right"><span translate>courses.create_course</span></button>
</div>
</form>