<center ng-show="sending" ><loading size="small" show="sending" ></center>
<center>
    <form ng-submit="forgot()">
        <h2 translate="devise.confirmations.resend_instructions"></h2>
        <br />
        <p translate="email"></p>
        <input type="email" ng-model="user.email" id="user_email" class="string email optional" name="user[email]" size="50"/>
        <br />
        <input type="submit" ng-click="resend()" ng-disabled="!email" value="{{'devise.confirmations.resend_instructions' | translate}}" class="btn btn-primary"/>
    </form>
    <br />
    <br />
    <a href="/#/users/login" translate="sign_in"></a>
    <br/>
    {{'or' | translate}}..
    <br/>
    <a href="/#/users/password/new" translate="password_edit.forgot_password"></a>
</center>