<div>
    <table style="width: 100%;">
        <tr>
            <td style="padding-bottom: 0px; padding-top: 0px; border-top: 1px solid white;">
                <div>
                    <div class="screen-name">
                        <b>{{item.comment.screen_name}}</b>
                        <div class="timestamp">
                            <!-- {{item.comment.created_at | amDateFormat:'MMM Do YYYY, h:mm a'}} -->
                              {{ item.comment.created_at | timeAgo }}<span ng-if="item.comment.flags_count > 0" style="color: red;"><span style="color: #a1a1a1">  </span>{{'discussion.flagged_comment' | translate}}</span>
                        </div>
                    </div>
                    <div ng-show="item.comment.user_id == current_user.id" style="font-size: 10px; float: right; display: inline-block;">
                        <delete_button class="hiddendeletebutton" size="small" action="delete()(item)" vertical="false" text="false" style="display: inline-block; color: #a1a1a1;" color="red"></delete_button>
                    </div>
                    <div style="display: inline-block; float: right;" ng-show="item.comment.user_id != current_user.id">
                        <flag-button comment="item.comment" flag="flagComment" unflag="unflagComment" type="icon"></flag-button>
                    </div>

                    <div class="like-button" ng-show="item.comment.user_id != current_user.id">
                       <!--  <voting-button comment="item.comment" up="upvoteComment" down="downvoteComment" direction="horizontal"></voting-button> -->
                       <voting-button ng-show="item.comment.user_id != current_user.id" votes-count="item.comment.votes_count" voted="item.comment.user_vote" up="upvoteComment" down="downvoteComment" direction="horizontal"></voting-button>
                        
                    </div>
                    <div class="comment-body">
                        {{item.comment.content}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<!-- <div>
    <table style="width: 100%;">
        <tr>
            <td>
                <div>
                    <div class="screen-name">
                        <b>{{item.comment.screen_name}}</b>
                        <div class="timestamp">
                            {{item.comment.created_at | amDateFormat:'MMM Do YYYY, h:mm a'}}
                        </div>
                    </div>
                    <div class="comment-body">
                        {{item.comment.content}}
                    </div>
                </div>
            </td>
            <td style="max-width: 30px; min-width: 30px; width:30px;">
                <div class="flag">
                    <div style="display: inline-block;">
                        <delete_button ng-show="item.comment.user_id == current_user.id" size="small" action="delete()(item)" vertical="true"></delete_button>
                        <img ng-show="item.comment.user_id != current_user.id && item.comment.user_flag==1" ng-src='{{item.comment.user_flag==1?"../images/flag-red.png":"../images/flag-grey.png"}}' ng-click="unflagComment(item.comment)" style="cursor: pointer; float: right; margin-top: 5px;" tooltip="{{'discussion.unflag_post' | translate}}"/>

                        <img ng-show="item.comment.user_id != current_user.id && item.comment.user_flag!=1" ng-src='{{item.comment.user_flag==1?"../images/flag-red.png":"../images/flag-grey.png"}}' ng-click="flagComment(item.comment)" style="cursor: pointer; float: right; margin-top: 5px;" tooltip="{{'discussion.flag_post' | translate}}"/>
                    </div>
                    <div class="like-button">
                        <voting-button ng-show="item.comment.user_id != current_user.id" votes-count="item.comment.votes_count" voted="item.comment.user_vote" up="upvoteComment" down="downvoteComment"></voting-button>
                    </div>
                    
                </div>
            </td>
        </tr>
    </table>
</div> -->