<tr>
    <td>
        <div class="solved timeline-item" ng-click="seek()(item.time, lecture_id)" tooltip-placement="left" tooltip-append-to-body="true" tooltip="{{(item.time) | formattime:'hh:mm:ss'}}">
            <img src="../images/discussion-timeline.png" />
        </p>
    </td>
    <td>
        <div class="discussion-content" ng-class="{flagged: item.data.flags_count > 0}">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <div style="padding-right: 5px;">
                            <b>{{item.data.screen_name}}</b>
                            <div class="solved" ng-click="seek()(item.time, lecture_id)">
                                <p>
                                    <div>
                                        <img ng-show="item.data.privacy==0" src="/images/private.png" tooltip="{{'discussion.private_post' | translate}}"/>
                                        <img ng-show="item.data.privacy==1" src="/images/public.png" tooltip="{{'discussion.public_post' | translate}}"/>
                                        {{"q"|translate}} {{item.data.content}}
                                    </div>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td style="max-width: 30px; width: 30px;">
                        <div class="flag">
                            <div style="display: inline-block;">
                                <img ng-show="item.data.user_id != current_user.id && item.data.user_flag==1" ng-src='{{item.data.user_flag==1?"../images/flag-red.png":"../images/flag-grey.png"}}' ng-click="unflagPost(item.data.id, lecture_id, item)" style="cursor: pointer; float: right; margin-top: 5px;" tooltip="{{'discussion.unflag_post' | translate}}" tooltip-placement="right" tooltip-append-to-body="true"/>

                                <img ng-show="item.data.user_id != current_user.id && item.data.user_flag!=1" ng-src='{{item.data.user_flag==1?"../images/flag-red.png":"../images/flag-grey.png"}}' ng-click="flagPost(item.data.id, lecture_id, item)" style="cursor: pointer; float: right; margin-top: 5px;" tooltip="{{'discussion.flag_post' | translate}}" tooltip-placement="right" tooltip-append-to-body="true"/>

                                <delete_button ng-show="item.data.user_id == current_user.id" size="small" action="deleteDiscussion(item.data.id, lecture_id, item)" ></delete_button>
                            </div>
                            <div class="like-button">
                                <voting-button ng-show="item.data.user_id != current_user.id" discussion="item" lectureid="lecture_id" up="upvotePost" down="downvotePost"></voting-button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="timestamp">
                {{item.data.created_at | amDateFormat:'MMMM Do YYYY, h:mm a'}}
            </div>
        </div>
<!--         <div class="comments-table">
            <div ng-show="item.type=='discussion'" ng-repeat="e2 in timeline['lecture'][lecture_id][item.data.id].items | filter:checkEmpty" class="discussion-comment" ng-class="{flagged: e2.data.flags_count > 0}">
                <div>
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div>
                                    <div class="screen-name">
                                        <b>{{e2.data.screen_name}}</b>
                                    </div>
                                    <div class="comment-body">
                                        {{e2.data.content}}
                                    </div>
                                </div>
                            </td>
                            <td style="max-width: 30px; width: 30px;">
                                <div class="flag">
                                    <div style="display: inline-block;">
                                        <delete_button ng-show="e2.data.user_id == current_user.id" size="small" action="deleteAnswer(e2.data.id,item.data.id, lecture_id, e2)"></delete_button>
                                        <img ng-show="e2.data.user_id != current_user.id && e2.data.user_flag==1" ng-src='{{e2.data.user_flag==1?"../images/flag-red.png":"../images/flag-grey.png"}}' ng-click="unflagComment(e2.data.id,item.data.id, lecture_id, e2)" style="cursor: pointer; float: right; margin-top: 5px;" tooltip="{{'discussion.unflag_post' | translate}}"/>

                                        <img ng-show="e2.data.user_id != current_user.id && e2.data.user_flag!=1" ng-src='{{e2.data.user_flag==1?"../images/flag-red.png":"../images/flag-grey.png"}}' ng-click="flagComment(e2.data.id,item.data.id, lecture_id, e2)" style="cursor: pointer; float: right; margin-top: 5px;" tooltip="{{'discussion.flag_post' | translate}}"/>
                                    </div>
                                    <div class="like-button">
                                        <voting-button ng-show="e2.data.user_id != current_user.id" comment="e2" lectureid="lecture_id" questionid="item.data.id" up="upvoteComment" down="downvoteComment"></voting-button>
                                    </div>
                                    
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="timestamp">
                        {{e2.data.created_at | amDateFormat:'MMMM Do YYYY, h:mm a'}}
                    </div>
                </div>
            </div>
            <span>
                <br />
                <textarea ng-init="height=40;width=80" ng-model="current_reply[item.data.id]" placeholder="{{'discussion.write_comment' | translate}}" ng-style="{height:height+'px', width:width+'%'}" ng-focus="height=90;width=90" ng-blur="height=40;width=80"></textarea>
                <i ng-show="error_message" style="color:red; font-size:12px"><br>{{error_message}}<br></i>
                <input type="button" class="btn btn-small" style="background-image: initial; vertical-align: top;" ng-click="reply(item)" value={{"discussion.comment"|translate}} />
            </span>
        </div> -->
    </td>
    <!--<td ng-show="e.type=='confused' && e.data.very==true"><p class="solved" ng-click="seek()(e.time, lecture_id)" translate>{{"courses.really_confused"}}</p></td>-->
</tr>