<td style="padding: 0px;" class="timeline-icon-container">
    <div class="solved timeline-item" ng-click="seek()(item.time, item.data.lecture_id)" tooltip-placement="left" tooltip-append-to-body="true" tooltip="{{(item.time) | formattime:'hh:mm:ss'}}">
        <img src="../images/discussion-timeline.png" />
    </p>
</td>
<td ng-if="item.data==null">
    <question_block item="item" />
</td>
<td ng-if="item.data" colspan="2" style="padding: 0px;padding-right: 8px;">
    <div class="discussion-content" ng-class="{flagged: item.data.flags_count > 0}">
        <table style="width: 100%;">
            <tr>
                <td style="padding-bottom: 0px;">
                    <div style="padding-right: 5px;">
                        <b>{{item.data.screen_name}}</b>
                        <div class="timestamp">
                            <!-- {{item.data.created_at | amDateFormat:'MMM Do YYYY, h:mm a'}} -->
                             . {{ item.data.created_at | timeAgo }}
                        </div>
                        <div class="solved" ng-click="seek()(item.time, item.data.lecture_id)">
                            <!-- <p> -->
                                <div>
                                    <span ng-show="item.data.user_id == current_user.id">
                                        <img ng-show="item.data.privacy==0" src="/images/private.png" tooltip="{{'discussion.private_post' | translate}}"/>
                                        <img ng-show="item.data.privacy==1" src="/images/public.png" tooltip="{{'discussion.public_post' | translate}}"/>
                                    </span>
                                    {{"q"|translate}} {{item.data.content}}
                                </div>
                            <!-- </p> -->
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="post-controls">
            <div ng-show="item.data.user_id == current_user.id">
                <delete_button size="small" action="deleteDiscussion(item)" vertical="false" text="true"></delete_button>
            </div>
            <div class="like-button" ng-show="item.data.user_id != current_user.id">
                <voting-button discussion="item" up="upvotePost" down="downvotePost" direction="horizontal"></voting-button>
                .
            </div>
            <div style="display: inline-block;" ng-show="item.data.user_id != current_user.id">
                <flag-button comment="item.data" flag="flagPost" unflag="unflagPost" type="text"></flag-button>
            </div>
            
        </div>
        <!-- <div class="timestamp">
            {{item.data.created_at | amDateFormat:'MMMM Do YYYY, h:mm a'}}
        </div> -->
    </div>
    <div class="comments-table">
        <div ng-repeat="comment_data in item.data.comments" class="discussion-comment" ng-class="{flagged: comment_data.comment.flags_count > 0}">
            <div>
                <table style="width: 100%;">
                    <tr>
                        <td style="padding-bottom: 0px;">
                            <div>
                                <div class="screen-name">
                                    <b>{{comment_data.comment.screen_name}}</b>
                                    <div class="timestamp">
                                        <!-- {{comment_data.comment.created_at | amDateFormat:'MMM Do YYYY, h:mm a'}} -->
                                         . {{ comment_data.comment.created_at | timeAgo }}
                                    </div>
                                </div>
                                <div class="comment-body">
                                    {{comment_data.comment.content}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="post-controls">
                    <div style="display: inline-block;" ng-show="comment_data.comment.user_id == current_user.id">
                        <delete_button size="small" action="deleteComment(comment_data,item.data.id)" vertical="false" text="true" style="display: inline-block; color: #a1a1a1;"></delete_button>
                    </div>
                    <div class="like-button" ng-show="comment_data.comment.user_id != current_user.id">
                        <voting-button comment="comment_data.comment" up="upvoteComment" down="downvoteComment" direction="horizontal"></voting-button>
                        .
                    </div>
                    <div style="display: inline-block;" ng-show="comment_data.comment.user_id != current_user.id">
                        <flag-button comment="comment_data.comment" flag="flagComment" unflag="unflagComment" type="text"></flag-button>
                    </div>
                    
                </div>
            </div>
        </div>
        <span>
            <textarea ng-model="current_reply" placeholder="{{'discussion.write_comment' | translate}}" ng-style="{height:height+'px', width:width+'%'}" ng-focus="onCommentFocus()"></textarea>
            <i ng-show="error_message" style="color:red; font-size:12px"><br>{{error_message}}<br></i>
            <input type="button" class="btn btn-small" style="background-image: initial; vertical-align: top;" ng-click="reply(item, current_reply);current_reply=null" value={{"discussion.comment"|translate}} />
        </span>
    </div>
</td>
<!--<td ng-show="e.type=='confused' && e.data.very==true"><p class="solved" ng-click="seek()(e.time, item.data.lecture_id)" translate>{{"courses.really_confused"}}</p></td>-->