<span ng-if="type == 'icon'">
	<img id="unflag" ng-show="comment.user_flag==1" src="../images/flag-red.png" ng-click="unflag(comment)" style="cursor: pointer; float: right;" tooltip="{{unflag_text}}" tooltip-append-to-body="true"/>
    <img id="flag" ng-show="comment.user_flag!=1" src="../images/flag-grey.png" ng-click="flag(comment)" style="cursor: pointer; float: right;" tooltip="{{flag_text}}" tooltip-append-to-body="true"/>
</span>
<!-- <span ng-if="type == 'text'">
	<a href="" ng-click="flag(comment)" ng-show="comment.user_flag!=1" style="color: #a1a1a1;" translate>discussion.flag</a>
	<a href="" ng-click="unflag(comment)" ng-show="comment.user_flag==1" style="color: #a1a1a1;" translate>discussion.unflag</a>
</span> -->
