<div  style="text-align: center; display: inline-block;">
	{{votes_count}}
	<div ng-show="!voted" class="fi-arrow-up looks-like-a-link size-21" ng-style="{'display': display_style}" tooltip="{{'discussion.like' | translate}}" tooltip-placement="top" tooltip-append-to-body="true" ng-click="up()"></div>
	<div ng-show="voted" class="fi-arrow-down looks-like-a-link size-21" ng-style="{'display': display_style}" tooltip="{{'discussion.unlike' | translate}}" tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="down()"></div>
</div>