<div ng-show="discussion && !comment" style="text-align: center; display: inline-block;">
	<div ng-show="discussion.data.user_vote == 0" class="icon icon-chevron-up" style="display: block; cursor: pointer; margin-bottom: -2px; margin: 0 auto;" tooltip="{{'discussion.like' | translate}}" tooltip-placement="top" tooltip-append-to-body="true" ng-click="up(lectureid, discussion)"></div>
	{{discussion.data.votes_count}}
	<div ng-show="discussion.data.user_vote == 1" class="icon icon-chevron-down" style="display: block; cursor: pointer; margin-top: -3px; margin: 0 auto;" tooltip="{{'discussion.unlike' | translate}}" tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="down(lectureid, discussion)"></div>
</div>

<div ng-show="comment && !discussion" style="text-align: center; display: inline-block;">
	<div ng-show="comment.data.user_vote == 0" class="icon icon-chevron-up" style="display: block; cursor: pointer; margin-bottom: -2px; margin: 0 auto;" tooltip="{{'discussion.like' | translate}}" tooltip-placement="top" tooltip-append-to-body="true" ng-click="up(questionid, lectureid, comment)"></div>
	{{comment.data.votes_count}}
	<div ng-show="comment.data.user_vote == 1" class="icon icon-chevron-down" style="display: block; cursor: pointer; margin-top: -3px; margin: 0 auto;" tooltip="{{'discussion.unlike' | translate}}" tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="down(questionid, lectureid, comment)"></div>
</div>