<div ng-controller="EditorCtrl" >
    <input type="button" class="btn btn-primary" value="{{save | translate}}" ng-click="save()" ng-disabled="disableSave()"/>
    <div style="overflow:auto;"> 
        <div ng-repeat="l in module_lectures" class="dimmed" ng-class="{lectureopen: l.id == lecture.id}" id={{"notes_"+l.id}}>
            <h3>{{l.name}}</h3>
            <div id="editor_{{l.id}}" style="width: 100%;" ace-editor sync="sync.enabled" player="lecture_player" lecture="l" editors="editors"></div>
        </div>
    </div>
</div>