<div id="show_question"> <!-- For question -->
    <table class="table" style="margin-top: 10px;">
        <tr>
            <td colspan="2">
                <textarea placeholder="{{'lectures.ask_question' | translate}}" ng-model="current_question" style="width: 100%; height: 100%;"></textarea>
            </td>
        </tr>
        <tr>
            <td style="width:70%;">
                <input type="text" disabled ng-model="time" format='hh:mm:ss' style="width: 90%;"/>
                <select ng-model='privacy' ng-options="f.text for f in choices" style="width: 100%;"></select>
            </td>
            <td>
                <input type="button" class="btn btn-primary btn-small" ng-click="action()(current_question, privacy.value)" value={{"youtube.ask"|translate}} style="width: 95%; height: 100%;"/>
            </td>
        </tr>
    </table>
</div>