<i class="timeline-settings" id="timeline_settings_btn" pop-over="popover_options">
</i>
<!-- <div class="filterbuttons" ng-show="show_settings">
		<div class="btn-group align-center" data-toggle="buttons">
	        <label id="quiz_checkbox" class="btn btn-checkbox">
	            <input type="checkbox" ng-model="options.quiz"> {{'quiz' | translate}}
	        </label>
	        <label id="confused_checkbox"class="btn btn-checkbox">
	            <input type="checkbox" ng-model="options.confused"> {{'lectures.confused' | translate}}
	        </label>
	        <label id="discussion_checkbox" class="btn btn-checkbox">
	            <input type="checkbox" ng-model="options.discussion"> {{'lectures.discussion' | translate}}
	        </label>
	         <label id="notes_checkbox" class="btn btn-checkbox">
	            <input type="checkbox" ng-model="options.note"> {{'lectures.video_notes' | translate}}
	        </label>
	    </div> -->
	    <!-- <button class="btn btn-success btn-mini" style="float: right; margin-right: 4px; height: 28px;" ng-click="scrollIntoView('outline')" translate>
	    	lectures.current_lecture
	    </button> -->
<!-- </div> -->