<!-- build:css(.tmp/styles) styles/statistics.css -->
<link rel="stylesheet" href="styles/teacher/statistics.css" />
<!-- endbuild -->
<section class='admin-uni' ng-show="current_user.roles.includes(9)">
  {{current_user.university}} ({{current_user.email.split("@")[1]}})
</section>
<section class='admin-uni' ng-show="current_user.roles.includes(5)">
  All
</section>
<!-- <section ng-if="subdomains"> -->
<section class="admin-dates">
  <section ng-if="subdomains.length >= 1">
    <span ng-show="current_user.roles.includes(9)">
     Limit to <select class="no-margin-bottom" style="display: inline;width: 15%;"  ng-options="domain for domain in subdomains" ng-model="report.selected_domain" ></select> email addresses
    </span>
    <span ng-show="current_user.roles.includes(5)">
     Limit to <input ng-model="report.selected_domain"> email addresses
    </span>
    <br>
  </section>
  <span translate>statistics.report_period</span>
  <span>
    <input name="date" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="report.start_date" ng-required="true" ng-class="{error: errors.start_date}" style="display: inline;width: 25%;" />
    <small class="error with-tiny-padding" style="display: inline;" ng-show="errors.start_date">{{errors.start_date}}</small>
  </span>
  <span translate>statistics.to</span>
  <span>
    <input name="date" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="report.end_date" ng-required="true" ng-class="{error: errors.end_start}" style="display: inline;width: 25%;"/>
    <small class="error with-tiny-padding" style="display: inline;" ng-show="errors.end_date">{{errors.end_date}}</small>
  </span>
  <button ng-click="showStatistics()" ng-disabled="loading" class="button medium dark-green"><span translate>statistics.generate_report</span></button>
</section>
<loading size="big" show="loading"></loading>
<div ng-show="show_statistics">
  <div class="row collapse with-bigger-margin-bottom">
    <div class="small-11 small-centered columns">
      <div class='column small-12 medium-6 large-4'>
        <div class="admin-tile">
          <div class="admin-icon">
            <i class="fi-clipboard"></i>
          </div>
          <div class="admin-num">
            {{total_courses}}
          </div>
          <p>
            Courses
          </p>
          <div class="row">
            <div class="column small-6">
              {{total_students}} <i class="fi-torsos-all" tooltip="Total Students" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
            <div class="column small-6">
              {{total_teachers}} <i class="fi-torso-business" tooltip="Total Teachers" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class='column small-12 medium-6 large-4'>
        <div class="admin-tile">
          <div class="admin-icon">
            <i class="fi-clock admin-icon"></i>
          </div>
          <div class="admin-num">
            {{total_hours_string}}
            <!-- {{ScalearUtils.toHourMin(total_hours)}} -->
            <!-- 19 -->
          </div>
          <p>
            Hours watched
          </p>
          <div class="row">
            <div class="column small-6">
              {{total_student_watched_string}} <i class="fi-torsos-all" tooltip="Average per Student" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
            <div class="column small-6">
              {{total_course_been_watched_string}} <i class="fi-clipboard" tooltip="Average per course" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class='column small-12 medium-6 large-4 '>
        <div class="admin-tile">
          <div class="admin-icon">
            <i class="fi-clipboard-pencil  "></i>
          </div>
          <div class="admin-num">
            {{total_online_quiz_solved}}
          </div>
          <p>
            Online Quizzes Solved
          </p>
          <div class="row">
            <div class="column small-4">
              {{total_online_quiz_student}}
              <i class="fi-torsos-all" tooltip="Average per student" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
            <div class="column small-4">
              {{total_online_quiz_course}}
              <i class="fi-clipboard" tooltip="Average per course" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
            <div class="column small-4">
              {{total_online_quiz_lecture}}
              <i class="fi-video" tooltip="Average per video" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class='column small-12 medium-6 large-4'>
        <div class="admin-tile">
          <div class='admin-icon'>
            <span>&#63;</span>
          </div>
          <div class="admin-num">
            {{total_questions}}
          </div>
          <p>
            Online Questions asked
          </p>
          <div class="row">
            <div class="column small-4">
              {{total_questions_students}}
              <i class="fi-torsos-all" tooltip="average per student" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
            <div class="column small-4">
              {{total_questions_courses}}
              <i class="fi-clipboard" tooltip="average per course" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
            <div class="column small-4">
              {{total_questions_lectures}}
              <i class="fi-video" tooltip="average per video" tooltip-placement="top" tooltip-append-to-body="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class='column small-12 medium-6 large-4'>
        <div class="admin-tile">
          <div class="admin-icon">
            <i class="fi-torso-business admin-icon"></i>
          </div>
          <div class="admin-num">
            {{total_questions_answered_teachers}}
          </div>
          <p>
            Online Teachers' Answers
          </p>
        </div>
      </div>
      <div class='column small-12 medium-6 large-4 end'>
        <div class="admin-tile">
          <div class="admin-icon">
            <i class="fi-torsos-all admin-icon"></i>
          </div>
          <div class="admin-num">
            {{total_questions_answered_students}}
          </div>
          <p>
            Online Students' Answers
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='row collapse'>
    <div class="small-11 small-centered columns">
      <b>Student activity between {{report.start_date}} and {{report.end_date}}</b>
      <div><i>Total activity for the complete course shown in the Totals columns to the right.</i></div>
      <table st-table='displayed_course_data' class='table table striped admin-table' st-safe-src="course_data_array">
        <thead>
          <tr>
            <th st-sort='short_name'>Course Name</th>
            <th st-sort='full_name'>Teacher Name</th>
            <th st-sort='students'>Total Students</th>
            <th st-sort='active_questions'>Questions</th>
            <th st-sort='active_solved_online_quiz'>Solved Quizzes</th>
            <th st-sort='sortting.active_view_string'>Time Watched</th>
            <th st-sort='start_date'>Start Date</th>
            <th st-sort='end_date'>End Date</th>
            <th st-sort='email'>Teacher Email</th>
            <th st-sort='teachers'>Total Teachers</th>
            <th st-sort='total_questions'>Total Questions</th>
            <th st-sort='total_solved_online_quiz'>Total Solved Quizzes</th>
            <th st-sort='sortting.total_view_string'>Total Time Watched</th>
          </tr>
          <tr>
            <th colspan="13">
              <input st-search="" placeholder="Search" type="text" />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='course in displayed_course_data'>
            <td><a ui-sref="course.edit_course_information({ course_id: course.id })">{{course.short_name}}</a></td>
            <td>{{course.full_name}}</td>
            <td>{{course.students}}</td>
            <td>{{course.active_questions}}</td>
            <td>{{course.active_solved_online_quiz}}</td>
            <td>{{course.active_view_string}}</td>
            <td>{{course.start_date}}</td>
            <td>{{course.end_date}}</td>
            <td>{{course.email}}</td>
            <td>{{course.teachers}}</td>
            <td>{{course.total_questions}}</td>
            <td>{{course.total_solved_online_quiz}}</td>
            <td>{{course.total_view_string}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-11 small-centered columns">
      <button ng-click="exportCSV()" ng-disabled="loading" class="button small right"><span translate>Export</span></button>
    </div>
  </div>
</div>
