<div class="modal-header">
    <h3 translate="devise.registrations.confirm_destroy"></h3>
</div>
<div class="modal-body">
    <p>{{"devise.registrations.confirm_destroy_note"|translate}}</p>
	<form name="form.key">
    <center>
        <input type="password" ng-model="enrollment.key" name="key" placeholder="{{'current_password'|translate}}" required/><br>
        <span class='help-inline' ng-if='form.submitted && form.key.key.$error.required' translate="courses.required"></span><br>
        <span class='errormessage' ng-if='form.server_error'>{{form.server_error}}</span>
        <label style="font-size: 10px;" translate>{{"account_edit.need_password"}}</label>
        <loading size="small" show="form.processing"></loading>
    </center>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" translate="account_edit.cancel_account">OK</button>
    <button class="btn btn-warning" ng-click="cancel()" translate="close">Cancel</button>
</div>