<div class="modal-header">
    <h3 translate="account.confirm_destroy"></h3>
</div>
<center>
    <div class="modal-body row">
        <div class="small-12 column">
            <p translate>account.confirm_destroy_note</p>
            <div class="small-6 columns small-centered">
                <form name="form.key" >
                    <div ng-if="!user.saml">
                        <label>
                            <div class="text-left with-tiny-margin-bottom" ><span translate>account.password</span>:</div>
                            <input type="password" id="del_con_pwd" class="no-margin" ng-model="user.pass" name="key" placeholder="{{'account.password.current_password'|translate}}" ng-class="{error: form.server_error}" required />
                            <small class='error' ng-if='form.submitted && form.key.$error.required' translate="error_message.required"></small>
                            <small class='error' ng-if='form.server_error'>{{form.server_error}}</small>
                        </label>
                        <div class="alert-box secondary" translate>account.password.need_password</div>
                    </div>
                    <input type="button" class="button small  with-margin-right" ng-click="cancel()" ng-value="'button.cancel' | translate"/>
                    <input type="submit" class="button small alert " id="del_ok_btn" ng-click="deleteAccount()" ng-value="'account.cancel_account' | translate"/>
                    <loading size="small" show="form.processing"></loading>
                </form>
            </div>
        </div>
    </div>
</center>