<center>
	<div class="small-8">
		<h2 class="color-green">Welcome to ScalableLearning!</h2>
		<div class="flex-video widescreen with-light-border" style="z-index: 1;">
			<youtube-video id="intro_video" video-id="video_id" player-vars="player_params"></youtube-video>
		</div>
	</div>
	<h5 class="subheader" ng-show="can_proceed"><span translate>redirect_courselist</span>{{remaining}}<span class="with-small-margin-left" translate>lectures.seconds</span>...</h5>
	<button type="button" class="button success" ng-click="watchedIntro()" ng-show="can_proceed"><span class="with-small-margin-left" translate>enroll.go_to</span><span class="with-small-margin-left" translate>my</span><span class="with-small-margin-left" translate>navigation.courses</span></button>
</center>