<center>
	<div class="small-8">
		<h2 class="color-green">Welcome to ScalableLearning!</h2>
		<div class="flex-video widescreen with-light-border" style="z-index: 1;">
			<!-- <embed id="intro_video" src="http://www.youtube.com/v/9u8U2NoXC7c?version=3&enablejsapi=1&showinfo=0&rel=0&autohide=0&theme=light" frameborder="0" allowfullscreen></embed> -->
			<youtube-video id="intro_video" video-id="video_id" player-vars="player_params"></youtube-video>
		</div>
	</div>
	<h5 class="subheader" ng-show="can_proceed">Redirecting to your dashboard in {{remaining}} seconds...</h5>
	<button type="button" class="button success" ng-click="watchedIntro()" ng-show="can_proceed"><span class="with-small-margin-left" translate>enroll.go_to</span><span class="with-small-margin-left" translate>my</span><span class="with-small-margin-left" translate>dashboard</span></button>
</center>