<style>
.reveal-modal{
    height:auto;
}
</style>
<center>

  <form class="large-6 medium-8 small-12" ng-submit="openRequirePassword()">
    <div class="small-12 columns">
        <div class="row">
          <div class="small-push-1 small-centered small-8 columns">
              <h5 style="line-height:1"><small translate>account.required_marked</small></h5>            
          </div>
        </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
          <div class="row">
            <div class="small-4 columns">
                <label class="with-small-margin-top right" for="setting_user_name">
                  <span translate>account.first_name</span>
                  <small style="font-style:italic;" ng-class="{'color-red text-bold': !user.name}" >*</small>
                </label>
            </div>
            <div class="small-8 columns">
                <div class="row">
                    <div class="small-9 columns">
                         <input type="text" id="setting_user_name" ng-model="user.name" ng-class="{error: user.errors.name}" ng-disabled="user.saml" />
                         <small ng-show="user.errors.name" class="error with-tiny-padding">{{user.errors.name.join()}}</small>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
          <div class="row">
              <div class="small-4 columns">
                <label class="with-small-margin-top right" >
                  <span translate>account.last_name</span>
                  <small style="font-style:italic;" ng-class="{'color-red text-bold': !user.last_name}" >*</small>
                </label>
             </div>
             <div class="small-8 columns">
              <div class="row">
                <div class="small-9 columns">
                  <input type="text" id="setting_last_name" ng-model="user.last_name" ng-class="{error: user.errors.last_name}" ng-disabled="user.saml"/>
                  <small ng-show="user.errors.last_name" class="error with-tiny-padding">{{user.errors.last_name.join()}}</small>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-4 columns">
                  <label class="with-small-margin-top right">
                    <span translate>account.school_email</span>
                    <small style="font-style:italic;" ng-class="{'color-red text-bold': !user.email}" >*</small>
                  </label>
               </div>
               <div class="small-8 columns">
                <div class="row">
                  <div class="small-9 columns">
                    <input type="email" id="setting_user_email" ng-model="user.email" ng-class="{error: user.errors.email}" pattern="^[-aA-zZ0-9_+\.]+\@([-aA-zZ0-9]+\.)+[aA-zZ0-9]{2,4}$" ng-disabled="user.saml"/>
                    <small ng-show="user.errors.email" class="error with-tiny-padding">{{user.errors.email.join()}}</small>
                  </div>
                </div>
              </div>
            </div>                
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-4 columns">
                   <label class="with-small-margin-top right">
                    <span translate>account.university</span>
                    <small style="font-style:italic;" ng-class="{'color-red text-bold': !user.university}" >*</small>
                  </label>
               </div>
               <div class="small-8 columns">
                <div class="row">
                  <div class="small-9 columns">
                    <input type="text" id="setting_user_university" ng-model="user.university" ng-class="{error: user.errors.university}" ng-disabled="user.saml"/>
                    <small ng-show="user.errors.university" class="error with-tiny-padding">{{user.errors.university.join()}}</small>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>

    <div class="row" ng-show="user.saml">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-12 columns">
                  <div class="small-12 columns small-centered small-push-1">
                        <h5 style="line-height:1"><small translate>account.saml_disable_edit</small></h5>            
                  </div>

               </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-4 columns">
                   <label class="with-small-margin-top right">
                      <span translate>account.screen_name</span>
                      <small style="font-style:italic;" ng-class="{'color-red text-bold': !user.screen_name}" >*</small>
                    </label>
                </div>
                <div class="small-8 columns">
                  <div class="row">
                    <div class="small-9 columns">
                      <input class="no-margin-bottom" type="text" id="settings_screen_name" ng-model="user.screen_name" ng-class="{error: user.errors.screen_name}" />
                      <small ng-show="user.errors.screen_name" class="error with-tiny-padding">{{user.errors.screen_name.join()}}</small>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="row">
            <div class="small-10 columns small-centered small-push-1">
                  <h5 style="line-height:1"><small translate>account.online_name_comment</small></h5>            
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-4 columns">
                   <label class="with-small-margin-top right">
                      <span translate>account.first_day</span>
                      <!-- <small style="font-style:italic;" ng-class="{'color-red text-bold': !user.first_day}" >*</small> -->
                    </label>
                </div>
                <div class="small-8 columns">
                  <div class="row">
                    <div class="small-9 columns">
                      <select class="no-margin-bottom"  ng-options="day.name for day in dayNamesOption" ng-model="user.first_day" ng-class="{error: user.errors.first_day}"></select>
                      <small ng-show="user.errors.first_day" class="error with-tiny-padding">{{user.errors.first_day.join()}}</small>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>


    <div class="row with-medium-margin-top" ng-hide="user.saml">
      <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <div class="row">
            <div class="small-10 columns small-centered small-push-1">
                  <h5 style="line-height:1"><small translate>account.password_comment</small></h5>            
            </div>
          </div>
        </div>
    </div>
        <div class="row">
          <div class="small-4 columns">
              <label class="with-small-margin-top right" >
                <span translate>account.password</span>
              </label>
          </div>
           <div class="small-6 columns left">
             <input type="password" id="setting_user_password" ng-model="user.password" ng-class="{error: user.errors.password}" autocomplete="off" />
              <small ng-show="user.errors.password" class="error with-tiny-padding">{{user.errors.password.join()}}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-hide="user.saml">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-4 columns">
                <label class="with-small-margin-top  right" translate>account.password.password_confirmation</label>
            </div>
            <div class="small-6 columns left">
                <input type="password" id="setting_user_password_confirmation" ng-model="user.password_confirmation" ng-class="{error: user.errors.password_confirmation}" autocomplete="off" />
                 <small ng-show="user.errors.password_confirmation" class="error with-tiny-padding">{{user.errors.password_confirmation.join()}}</small>
             </div>
          </div>
        </div>
    </div>

    <br>
          
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
               <div class="small-4 columns">
                 <br>
                 <label class="with-small-margin-top right">Image</label>
               </div>
               <div class="small-4 columns left">
                 <profile-image class="small-7 no-padding columns" email="user.email" imagesize="165"> 
                 </profile-image>
               </div>
            </div>     
        </div>
                   
    </div>
      
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
               <div class="small-0 columns">
                 <h5 style="line-height:1"> 
                      <small translate>
                          account.avatar_comment
                      </small>
                      <small>
                          <a href="https://gravatar.com"> gravatar.com </a>
                      </small>
                 </h5>
               </div>
            </div>     
        </div>
    </div>
        
    <br>
        
    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-4 columns">
            <label class="with-small-margin-top right"translate>global.pref_language</label>
          </div>
          <div class="small-6 columns left">
            <button class="tiny button dropdown under-the-other left" dropdown-toggle="#languages_list">{{'languages.'+current_lang | translate}}</button>
              <ul id="languages_list" class="f-dropdown">
                  <li>
                      <a ng-click="changeLanguage('en')">{{'languages.en' | translate}} <img src="images/uk.png" style="width:25px;height:15px;" /></a>
                  </li>
                  <li>
                      <a ng-click="changeLanguage('sv')">{{'languages.sv' | translate}} <img src="images/sweden.png" style="width:25px;height:15px;" /></a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-4 columns">
            <label class="with-small-margin-top right"></label>
          </div>
            
          <div class="small-6 columns left">
            <button type="submit" id="update_info" class="tiny button success under-the-other left" translate>button.save_changes</button>
            <button type="button" id="del_acc_btn" class="right tiny button alert" ng-click="confirmDelete()" translate>account.cancel_account</button>
          </div>
            
        </div>
      </div>
    </div>
      
  </form>
</center>