<center>
    <overlay ng-show="sending">
            <loading size="big" show="true" style="position:relative; top:40%;" />
    </overlay>
    <div style="width: 400px;">
    <form ng-submit="update_account()">
        <h3 translate="account_edit.edit_account"></h3>
        <br />
            <p translate="name"></p>
            <input type="text" ng-model="user.name" id="user_name" size="50"/>
            <br/><span class="errormessage" ng-show="user.errors.name">{{user.errors.name.join()}}</span>
            <p translate="email"></p>
            <input type="email" ng-model="user.email" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}(.[a-zA-Z]{2,3})*$" id="user_email" size="50"/>
            <p translate="password"></p>
            <input type="password" ng-model="user.password" id="user_password" name="user[password]" size="50"/>
            <br/><span class="errormessage" ng-show="user.errors.password">{{user.errors.password.join()}}</span>
            <p translate="password_confirmation"></p>
            <input type="password" ng-model="user.password_confirmation" id="user_password_confirmation" name="user[password_confirmation]" size="50"/>
            <br/><span class="errormessage" ng-show="user.errors.password_confirmation">{{user.errors.password_confirmation.join()}}</span>
        <p>* <span translate="current_password"></span></p>
        <input type="password" ng-model="user.current_password" id="user_current_confirmation" name="user[current_password]" size="50"/>
        <br/><span class="errormessage" ng-show="user.errors.current_password">{{user.errors.current_password.join()}}</span>
        <br />
        <div class="alert"><span translate="account_edit.need_password"></span></div>
        
        <br />
        <input type="submit" value="{{'account_edit.update' | translate}}" class="btn btn-primary" ng-disabled="sending || !user.name || !user.email" />
        </form>
        <a style="cursor: pointer;" ng-click="open()"><span translate="account_edit.cancel_account"></span></a>
        <br/>

	</div>
</center>
