<center style="margin-bottom: 30px;">
	<!-- <div class="profile-image" style="background-image: url({{'http://www.gravatar.com/avatar/'+profile_image+'?r=g&s=250'}});">
		<div>
			<table style="width: 250px;">
				<tr>
					<td style="padding: 5px; font-size: 19px; color: rgb(0, 162, 86); text-shadow: 1px 1px 1px black; font-weight: 200;">
						{{user.name +' '+ user.last_name}}
					</td>
				</tr>
				<tr>
					<td style="padding: 5px;">
						{{user.university}}
					</td>
				</tr>
			</table>
		</div>
	</div class="profile-image">
	<table class="profile-table">
		<tr>
			<td>
				<p>David Evans is a Professor of Computer Science at the University of Virginia where he teaches computer science and leads research in computer security. He is the author of an introductory computer science textbook and has won Virginia's highest award for university faculty. He has PhD, SM, and SB degrees from MIT.</p>
			</td>
		</tr>
	</table> -->
	<table class="profile-table">
		<tr>
			<td style="border-right: 1px solid lightgray; background-color: light">
				<div class="profile-image" style="background-image: url({{'http://www.gravatar.com/avatar/'+profile_image+'?r=g&s=200'}});">
					<div>
					<p style="margin-top: 15px;" ng-show="user.roles[0].id == 2">S</p>
					<p style="margin-top: 15px;" ng-show="user.roles[0].id == 1">T</p>
					</div>
				</div>
			</td>
			<td colspan="4" style="vertical-align: top;">
				<span class="dropdown-header"><b translate>profile.scores</b></span>
			</td>
		</tr>
		<tr>
			<td style="width: 220px; border-right: 1px solid lightgray;">
				<br />
				<b>{{user.name +' '+ user.last_name}}</b>
				<br />
				<ul style="font-size: 15px; margin: 0px;" ng-show="user.university"><span class="university-icon" ></span>{{user.university}}</ul>
				<ul style="font-size: 15px; margin: 0px;" ng-show="user.link"><span class="link-icon" ></span><a href="{{url_with_protocol(user.link)}}" target="_blank">{{short_url}}</a></ul>
				<ul style="font-size: 15px; margin: 0px;"><span class="member-icon" /></span><small><b>{{'profile.member_since' | translate}}</b> {{member_since}} {{format | translate}}</small></ul>
				<ul style="font-size: 15px; margin: 0px;" ng-show="user.bio"><span class="bio-icon" /></span>{{user.bio}}</ul>
			</td>
			<td colspan="4" style="vertical-align: top; border-top: 1px solid lightgray;">
				<span class="dropdown-header"><b translate>profile.history</b></span>
			</td>
		</tr>
	</table>
</center>