<div class="small-12 column">
    <form ng-submit="sign_up()" novalidate>
        <div class="with-margin">
            <div class="right">
                <!-- <span calss="show-for-large-only">{{'language' | translate}}</span> -->
                <div class="show-inline" ng-show="$parent.current_lang=='sv'" ng-cloak>
                    <a style="cursor:pointer;" ng-click="$parent.changeLanguage('en')"><img src="images/sweden.png" style="width:25px;height:15px;" /></a>
                </div>
                <div class="show-inline" ng-show="$parent.current_lang=='en'" ng-cloak>
                    <a style="cursor:pointer;" ng-click="$parent.changeLanguage('sv')"><img src="images/uk.png" style="width:25px;height:15px;" /></a>
                </div>
            </div>
            <h3 ng-show="user.role_ids == 1" class="show-inline"><profile-image email="user.email" class="valign-top hide-for-small-only" imagesize="36"></profile-image> {{'devise.register.teacher' | translate}}</h3>

            <h3 ng-show="user.role_ids == 2" class="show-inline"><profile-image email="user.email" class="valign-top hide-for-small-only" imagesize="36"></profile-image> {{'devise.register.student' | translate}}</h3>
            <center class="large-12 with-margin-bottom with-margin-top">
                <profile-image email="user.email" class="valign-top show-for-small-only" imagesize="200">
                </profile-image>
            </center>
        </div>
        <div class="small-12 medium-12 large-6 columns">  
            <fieldset class="with-margin-bottom">
                <legend><i class="fi-torso size-21"></i> {{'account_edit.account_information' | translate}}</legend>
                <div class="small-12 medium-12 large-6 columns">
                    <label for="setting_user_name">{{'account_edit.first_name' | translate}}</label>
                      <input ng-disabled="sending" type="text" id="setting_user_name" ng-model="user.name" ng-class="{error: user.errors.name}" placeholder="Input your first name..."/>
                      <small ng-show="user.errors.name" class="error with-tiny-padding">{{user.errors.name.join()}}</small>
                </div>
                <div class="small-12 medium-12 large-6 columns">
                    <label>{{'account_edit.last_name' | translate}}
                      <input ng-disabled="sending" type="text" id="setting_last_name" ng-model="user.last_name" ng-class="{error: user.errors.last_name}" placeholder="Input your last name..." />
                      <small ng-show="user.errors.last_name" class="error with-tiny-padding">{{user.errors.last_name.join()}}</small>
                    </label>
                </div>
                <div class="small-12 medium-12 large-6 columns">
                    <label>{{'email' | translate}}
                      <input ng-disabled="sending" type="email" id="setting_user_email" ng-model="user.email" ng-class="{error: user.errors.email}" placeholder="Input your email address..." pattern="^[-aA-zZ0-9_+\.]+\@([-aA-zZ0-9]+\.)+[aA-zZ0-9]{2,4}$" />
                      <small ng-show="user.errors.email" class="error with-tiny-padding">{{user.errors.email.join()}}</small>
                    </label>
                </div>
                <div class="small-12 medium-12 large-6 columns">
                    <label>{{'account_edit.university' | translate}}
                      <input ng-disabled="sending" type="text" id="setting_user_university" ng-model="user.university" ng-class="{error: user.errors.university}" placeholder="Input your university name..." />
                      <small ng-show="user.errors.university" class="error with-tiny-padding">{{user.errors.university.join()}}</small>
                    </label>
                </div>
                <div class="small-12 medium-12 large-6 columns">
                    <div class="row collapse">
                        <label translate>account_edit.link</label>
                        <div class="small-3 columns">
                          <span class="prefix">http://</span>
                        </div>
                        <div class="small-9 columns">
                          <input ng-disabled="sending" type="text" id="setting_user_link" ng-model="user.link" placeholder="Input your website link..." />
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-12 large-6 columns">
                    <label>{{'account_edit.bio' | translate}}
                      <textarea id="setting_user_bio" ng-model="user.bio" placeholder="Tell us about yourself..."></textarea>
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="small-12 medium-12 large-6 columns">
            <fieldset class="large-12 columns with-margin-bottom">
                <legend><i class="fi-comments size-21"></i> Forum Preferences</legend>
                <div>
                    <label>{{'account_edit.screen_name' | translate}}
                        <input ng-disabled="sending" type="text" id="settings_screen_name" ng-model="user.screen_name" ng-class="{error: user.errors.screen_name}" placeholder="Input your desired screen name..."/>
                        <small ng-show="user.errors.screen_name" class="error with-tiny-padding">{{user.errors.screen_name.join()}}</small>

                    </label>
                </div>
            </fieldset>
            <fieldset class="with-margin-bottom">
                <legend><i class="fi-lock size-21"></i> {{'account_edit.security' | translate}}</legend>
                <div class="large-6 columns">
                    <label>{{'password' | translate}}
                        <input ng-disabled="sending" type="password" id="setting_user_password" ng-model="user.password" ng-class="{error: user.errors.password}" autocomplete="off" placeholder="Password" />
                        <small ng-show="user.errors.password" class="error with-tiny-padding">{{user.errors.password.join()}}</small>
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>{{'password_confirmation' | translate}}
                        <input ng-disabled="sending" type="password" id="setting_user_password_confirmation" ng-model="user.password_confirmation" ng-class="{error: user.errors.password_confirmation}" autocomplete="off" placeholder="Password confirmation"/>
                        <small ng-show="user.errors.password_confirmation" class="error with-tiny-padding">{{user.errors.password_confirmation.join()}}</small>
                    </label>
                </div>
            </fieldset>
        </div>
        <button type="submit" ng-disabled="sending" class="tiny button right" >{{'sign_up' | translate}}</button>
    </form>
    <div class="small-12 column with-margin">
        <center>
            <br />
            <br />
            <a ui-sref="forgot_password" translate="password_edit.forgot_password"></a>
            <br/>
            {{'or' | translate}}
            <br/>
            <a ui-sref="new_confirmation" translate="password_edit.didnt_receive_confirmation"></a>
        </center>
    </div>
</div>