<center class='row small-12 with-margin'>
	<div class="small-8">
		<!-- <i class="fi-key size-72 color-blue"></i> -->
		<h4 class="text-left">Thanks for joining Scalable<span class="no-padding color-green" style="font-weight: 400;">Learning.</span></h4>
		<!-- <h4>You're just two steps away from getting started</h4> -->
		<br>
		<ul class="text-left">
			<li><h5 >We've sent you an email with a link to activate your account.</h5></li>
			<li>
				<h5 class="no-margin">Go click on it to log in.</h5>
				<h6 class="subheader no-margin size-14">(If you don't receive an email in a few minutes, please check your junk mail filter.)</h6>
			</li>
			<!-- <li></li> -->
			<!-- <li ng-show="show_for_student"><h5 >After logging in, choose Join a new course from the Courses menu and use your Course Enrollment Key from your teacher to join your course.</h5></li> -->
			<br>
			<li><h5 >-The Scalable<span class="no-padding color-green" style="font-weight: 400;">Learning</span> Team</h5></li>
		</ul>
		<!-- <ul>
			<h5 class="color-grey"></h5>
		</ul> -->
		<!-- <ul class="text-left">
			<small>(If you don't get the email in a few minutes please be sure to check your spam folder. You can always request a new email <a ui-sref="new_confirmation">here</a>.)</small>
		</ul> -->
		<!-- <hr /> -->
		<!-- <br /> -->
		<!-- <div class="flex-video widescreen">
			<iframe src="//www.youtube.com/embed/9u8U2NoXC7c?showinfo=0&rel=0&autohide=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
		</div> -->
		<hr />
		<!-- <h3 class="color-blue">Need help?</h3>
		<ul class="text-left"><li><h5 >That's what the help menu is for. We've got tips and tricks for learning the most in the least time. When you log in for the first time we'll even show you a quick getting started video.</h5></li></ul>
		<br />
		<h3 class="color-blue">We care about helping you learn</h3>
		<ul class="text-left"><li><h5 >If you've got any feedback or questions there's a send feedback link under help. We'll get back to you right away. We also take your privacy seriously and encourage you to read our <a ui-sref="privacy">Privacy Policy</a>, which is conveniently linked at the bottom of every page.</h5></li></ul>
		<br />
		<h2>Good luck, and have fun learning!</h2>
		<p>The Scalable Learning Team</p>
		<br />
	</div> -->
	</div>
</center>