<center class='large-12'>
	<div class="large-8">
		<i class="fi-key size-72 color-blue"></i>
		<h2 class="color-blue">Thanks for joining ScalableLearning!</h2>
		<h4>You're just two steps away from getting started</h4>
		<ul>
			<h5 class="color-grey">To make sure you're human we've sent you an email with a link to activate your account. Go click on it to log in.</h5>
		</ul>
		<ul>
			<h5 class="color-grey">After logging in use the course registration code from your teacher to join your course.</h5>
		</ul>
		<p>
			<small>(If you don't get the email in a few minutes please be sure to check your spam folder. You can always request a new email <a ui-sref="new_confirmation">here</a>.)</small>
		</p>
		<!-- <hr /> -->
		<!-- <br /> -->
		<!-- <div class="flex-video widescreen">
			<iframe src="//www.youtube.com/embed/9u8U2NoXC7c?showinfo=0&rel=0&autohide=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
		</div> -->
		<br />
		<hr />
	</div>
</center>
<center>
	<div class="large-8">
		<h3 class="color-blue">Need help?</h3>
		<p>That's what the help menu is for. We've got tips and tricks for learning the most in the least time. When you log in for the first time we'll even show you a quick getting started video.</p>
		<br />
		<h3 class="color-blue">We care about you</h3>
		<p>If you've got any feedback or questions there's a send feedback link under help. We'll get back to you right away. We also take your privacy seriously and encourage you to read our privacy policy. We're so committed to protecting your privacy that we've linked our privacy policy to the bottom of every page so it's easy to find.</p>
		<br />
		<h2>Good luck, and have fun learning!</h2>
		<h4><small>The Scalable Learning Team</small></h4>
		<br />
	</div>
</center>
