<center class='large-12'>
	<div class="large-8">
		<i class="fi-key size-72 color-blue"></i>
		<h2 class="color-blue">Congrats! You're now part of ScalableLearning!</h2>
		<h4>We've sent you an email including instructions on how to activate your account so that you can get started! <a ui-sref="new_confirmation">Let us know if you didn't receive it</a></h4>
		<br />
		<div class="flex-video widescreen">
			<iframe src="//www.youtube.com/embed/cgStGEDLFB4" frameborder="0" allowfullscreen></iframe>
		</div>
		<br />
		<hr />
	</div>
</center>
<center>
	<div class="large-8">
		<h3 class="color-blue">What else to do?</h3>
		<p>You should expect an email from us in the next few minutes including instructions on how to get started and activate your account. <b>Please make sure that you check your spam folder if you couldn't find the email in your inbox</b> or you can request another activation email if you didn't get one by <a ui-sref="new_confirmation"><b>clicking here</b></a></p>
		<br />
		<h3 class="color-blue">Need help getting started?</h3>
		<p>We've created a series of videos, and instructions to help you get started and flip your classroom. You can go through these by going to the <a ui-sref="getting_started"><b>getting started section</b></a></a></p>
		<br />
		<button class="button uppercase">take me to the login page</button>
		<br />
	</div>
</center>
