<!-- build:css(.tmp/styles) styles/announcements.css -->
<link rel="stylesheet" href="styles/teacher/announcements.css"/>
<!-- endbuild -->
<div>
	<div ng-hide="!iscollapsed" style="position: fixed; padding-left: 30px; height: 40px; left: 0px; right; 0px; top: 40px; padding-top: 10px; background-color: white; width: 100%; box-shadow: 1px 1px 1px lightgrey;">
		<input id="new_announcement" ng-show="show_button" type="button" value="{{'announcement_form.create_announcement'|translate}}" class="btn btn-success" style="background-image: initial; float: right; margin-right: 60px;" ng-disabled="disable_new" ng-click="createAnnouncement()"/>
		<!-- <input id="search_announcement" ng-model="searchAnnouncement" type="search" style="float: right; margin-right: 60px;" /> -->
    </div>
    <br />
    <br />
	<announcement-item ng-repeat="announcement in announcements | filter:{announcement: searchAnnouncement}" announcement="announcement" saveannouncement="saveAnnouncement" showannouncement="showAnnouncement" hideannouncement="hideAnnouncement" deleteannouncement="deleteAnnouncement" saving="saving" index="$index"></announcement-item>
</div>
<br><br>
<center ng-show="!announcements" ><loading size="big" show="!announcements" ></center>
