<center ng-show="!announcements" ><loading size="big" show="!announcements" ></center>
<center ng-show="announcements">
	<table class="table table-striped" style="width:90%">
		<tr>
			<th translate>head.announcements</th>
			<th translate>announcement_form.date_created</th>
			<th translate>announcement_form.action</th>
		</tr>
		<tr ng-repeat="announcement in announcements">
			<td ><div style="display:inline-block;width:90%" ng-click="showAnnouncement($index)" ng-mouseover="announcement.overclass = 'icon-pencil'" ng-mouseleave="announcement.overclass= ''" ng-if="!announcement.show"><span ng-bind-html='announcement.announcement'></span><p ng-if="announcement.announcement.trim()==''" translate>empty</p></div>
				<i ng-if="!announcement.show" ng-class="announcement.overclass"></i>
	  			<div ng-if="announcement.show==true">
                    <div text-angular ng-model="announcement.announcement" ta-toolbar-button-class="btn btn-default btn-mini"></div>
	            </div>
	  			<span class="errormessage" ng-show="announcement.errors">{{announcement.errors.announcement.join()}}</span>
			</td>
			<td width="200px">{{announcement.created_at | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</td>
			<td width="150px">
				<input id="close_button" ng-if="announcement.show" value="{{'close'|translate}}" type="button" class="btn btn-small" ng-click="hideAnnouncement($index)" />
				<input id="save_button" ng-if="announcement.show" value="{{'save'|translate}}" type="button" class="btn btn-small btn-primary" ng-click="saveAnnouncement($index)" />
				<delete_button size="big"  action="deleteAnnouncement($index)"/>
			</td>
		</tr>
	</table>
	<input id="new_announcement" type="button" value="{{'announcement_form.create_announcement'|translate}}" class="btn btn-primary" ng-disabled="disable_new" ng-click="createAnnouncement()"/>
</center>
