<!-- <div class="event-box">
	<div ng-if="event.class_name == 'announcement'" class="news-body">
		<img ng-src="../images/news-announcement.png" tooltip="{{'news.announcement' | translate}}" tooltip-placement="left" />

		{{announcement_body}}
		<small><small><a ng-if="announcement_body.length < announcement.announcement.length" ui-sref="course.student_calendar({course_id: announcement.course_id})">View</a></small></small>
	</div>
	<div class="news-course">
		<a ui-sref="course.student_calendar({course_id: announcement.course_id})">{{announcement.course_name}}</a>
	</div>
	<div class="news-timestamp">
		<small><small>{{announcement.updated_at | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</small></small>
	</div>
</div> -->