<div class="event-box">
	<div class="news-body">
		<img ng-if="event.quiz_type != 'survey'" ng-src="../images/news-{{event.class_name}}.png" tooltip="{{'groups.lecture' | translate}}" tooltip-placement="left" />
		<img ng-if="event.quiz_type == 'survey'" src="../images/news-survey.png" tooltip="{{'survey' | translate}}" tooltip-placement="left" />

	
		<span ng-if="event.quiz_type != 'survey'" translate>
			news.new_{{event.class_name}}
		</span>
		<span ng-if="event.quiz_type == 'survey'" translate>
			news.new_survey
		</span>
		"<a ui-sref="course.lectures.module.{{event.class_name}}({course_id: event.course_id, module_id: event.group_id, {{event.class_name}}_id: event.id})">{{event.name}}</a>"
	</div>
	<div class="news-course">
		<a ui-sref="course.student_calendar({course_id: event.course_id})">{{event.course_name}}</a>
	</div>
	<div class="news-timestamp">
		<small><small>{{event.appearance_time | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</small></small>
	</div>
</div>