<span>
	<button class="btn btn-success btn-mini" style="float: right; margin-right:10px; margin-bottom: 10px;" ng-click="toggleAdd();" tooltip-placement="top" tooltip="Add items" tooltip-append-to-body="true"><big>+ {{'sharing.add' | translate}}</big></button>
	<br />
	<div ng-show="!collapse_add" class="add-menu-container">
		<div ng-click="addlecture(index)" class="add-item">
			{{'courses.add_lecture'|translate}}
		</div>
		<div ng-click="addquiz(index, 'quiz')" class="add-item">
			{{'lectures.add_quiz'|translate}}
		</div>
		<div ng-click="addquiz(index, 'survey')" class="add-item">
			{{'courses.add_survey'|translate}}
		</div>
	</div>
</span>