<ng-form name='qform' style='overflow: auto;'><div style='text-align:left;'>
	<img ng-show='sortable' src='images/move2.png' class='handle' title="{{'courses.drag_to_reorder'|translate}}"  style='margin-top:10px;margin-right:4px'/>
	<label class='q_label'><span translate>answer.question</span>:</label>
	<input required name='qlabel' type='text' ng-model='quiz[column]' /><delete_button ng-if='isNormalQuiz()' size='small' action='removeQuestion(index)' style="position: relative; float: right; margin-right: 20px;" />
	<span class='help-inline' ng-show='submitted && qform.qlabel.$error.required'><span translate>courses.required</span>!</span>	
	<br />
	<label ng-if='isNormalQuiz()' class='q_label'><span translate>groups.question_type</span>:</label>
	<select ng-if='isNormalQuiz()' ng-model='quiz.question_type' required  ng-options='val for val in cc' class='choices'></select>
	<br/>
	<label ng-if='isFreeText()' class='q_label'><span >type</span>:</label>
	<select ng-if='isFreeText()' ng-model='quiz.match_type' required  ng-options='val for val in match_types' class='choices'></select>
	<div ng-if="isFreeText() && quiz.match_type == 'Match Text'" class='answer_div'>
		<htmlanswer />
	</div>
	<div ng-if='!isFreeText()' class='answer_div'>
		<htmlanswer />
		<a class='add_multiple_answer' ng-click='addAnswer("",quiz)' href='' translate>groups.add_answer</a>
		<br/>
	</div>
</ng-form>