<!-- build:css(.tmp/styles) styles/course_editor.css -->
<link rel="stylesheet" href="styles/teacher/course_editor.css"/>
<link rel="stylesheet" href="styles/teacher/course_editor.details.css" type="text/css" media="screen" title="no title" charset="utf-8" />
<link rel="stylesheet" href="styles/teacher/course_editor.lecture.css" type="text/css" media="screen" />
<link rel="stylesheet" href="styles/controls.css" type="text/css" media="screen" />
<!-- endbuild -->
<!-- <span style="min-width: 1240px;"> -->
<div class="span3" id="tree">
	<center><loading size="small" show="init_loading" ></loading></center>
	<overlay ng-show="module_overlay" style="height:80%">
		<loading size='small' show='true' style="position:absolute;top:40%;left:35%;z-index: 1;" ></loading>
	</overlay>
	<ul ui-sortable="moduleSortableOptions" ng-model='modules' id="acc1" class="accordion">
		<li ng-repeat="module in modules" class='module accordion-group' ng-init="module.open = false">
			<module name="module.name" id="module.id" remove="removeModule(event, $index)" open="open" ng-click="closeAll($index)" class="accordion-heading" copy="copy(module)" paste="paste(module.id, $index)" share="openShareModal(module.id)"/>
			<div class="outer" collapse="!(module.open || module.id==open_id)">
				<overlay ng-show="item_overlay" style="height:100%">
					<loading size='small' show='true' style="position:absolute;top:40%;left:35%;z-index: 1;" />
				</overlay>
	        	<div class="inner" id="modules">
          			<ul class="items" ui-sortable="itemSortableOptions" ng-model='module.items'>
	            		<li class="last-child item" ng-repeat="item in module.items" >
             				<item name="item.name" id="item.id" class_name="item.class_name" remove="$parent['remove'+capitalize(item.class_name)]($parent.$index, $index)" copy="copy(item)" paste="paste(module.id, $parent.$index)" share="openShareModal(item.id,item.class_name)" ></item>
	            		</li>
	            	</ul>
		            <center class="item-buttons">
		            	<button_link title="{{'courses.add_lecture'|translate}}" class="btn-mini adding" action="addLecture($index)" ></button_link>
		            	<button_link title="{{'lectures.add_quiz'|translate}}"   class="btn-mini adding" action="addQuiz($index, 'quiz')"></button_link>
		            	<button_link title="{{'courses.add_survey'|translate}}"  class="btn-mini adding" action="addQuiz($index, 'survey')"></button_link>
	                </center>
	        	</div>
	    	</div>
		</li>
	</ul>
	<button_link ng-show="!module_loading" title="{{'courses.add_module'|translate}}" action="addModule()" class="adding_module" style="float:right;margin-bottom:20px;margin-top:20px;margin-right:10px;"></button_link>		

	<hr />
</div>
<!-- <div class="modern row" style="width:1230px; margin: 0 auto;"> -->
	<div id="middle"  ui-view="middle"></div>
<!-- </div> -->
<div class="span3" id="details" ui-view="details"></div>
<!-- </span> -->
