<!-- build:css(.tmp/styles) styles/course_editor.css -->
<link rel="stylesheet" href="styles/teacher/course_editor.css"/>
<link rel="stylesheet" href="styles/controls.css" type="text/css" media="screen" />
<!-- endbuild -->

<div id="module"  class="small-12 columns" ui-view="module" >
	<div ng-show="!('*.module.**' | includedByState)">
		<br/><br/>
		<div class="small-8 small-centered columns">
			<center>
				<h5 class="muted" translate>new_module_instructions</h5>
				<br/><br/>
				<button class="button" online-modal ng-click="addModule();openOnlineContentModal()" translate>new_video</button>
				<button class="button" ng-click="addModule()" translate>groups.new_module</button>
			</center>
		</div>
	</div>
</div>
<div id="middle"  class="small-12 large-8 columns ease_in_out" ng-class="{'large-10': !delayed_details_status}" ui-view="middle" />

<div id="details" class="details-navigator-container small-12 large-4 columns no-padding ease_in_out" ui-view="details" ng-class="{'large-height-big small-height-big no-padding-left':delayed_details_status2,'no-height': !DetailsNavigator.status}"/>
