<div class="small-12">
	<table class="table small-12" >
		<tr>
			<td class="right-border"><span translate>editor.details.title</span>:</td>
			<td>
				<details-text id="item_name" value="link.name" save="updateLink()" validate="validateLink" column="name"></details-text>
			</td>
		</tr>
		<tr >
			<td class="right-border"><span translate>URL</span>:
			</td>
			<td class="break-text">
            	<details-url id="url" value="link.url" save="updateLink()" validate="validateLink" column="url"></details-url> 
        	</td>
		</tr>
	</table>
</div>