<span bindonce>
	<span bo-if="mode != 'content_navigator'" bo-class="{'delete-overlay': overlay}">
		<span bo-if="!overlay" bindonce>
			 <div class="fade in" ng-show="displayDeletePopup" bo-class="{varticaldeletecontainer: display_vertical}" style="padding: 3px;text-align:center;min-width: 65px;">
		        <span class="form-controls-alert" style="margin:auto" >
	           		<button bo-class="{varticaldeletebutton: display_vertical}" class="button alert tiny with-tiny-padding with-medium-padding-right with-medium-padding-left no-margin-bottom" ng-click="action({event:$event});showDeletePopup(false, $event)"><span bo-text="'delete'| translate"></span></button>
	            	<button bo-class="{varticaldeletebutton: display_vertical}" class="button tiny with-tiny-padding with-medium-padding-right with-medium-padding-left no-margin-bottom" ng-click="showDeletePopup(false, $event)"><span bo-text="'feedback.cancel' | translate"></span></button>
		        </span>
			</div>
			<span bo-if="text_mode != true">
				<a class="delete delete_tip" ng-hide="displayDeletePopup" style="margin: 0 auto; width:20px;cursor:pointer;" ng-click="showDeletePopup(true, $event)">
					<i bo-if="size == 'big'" class="fi-trash color-gray size-18"></i>
					<i bo-if="size != 'big'" class="fi-trash color-gray size-14"></i>
				</a>
			</span>
			<span bo-if="text_mode == true">
				<a class="button tiny alert delete no-margin" ng-hide="displayDeletePopup" ng-click="showDeletePopup(true, $event)">
					<span bo-text="'delete'| translate"></span>
				</a>
			</span>
		</span>
		<div bo-if="overlay" bindonce>
			<span class="align-center">
				<button class="text_delete button tiny alert valign-middle with-small-padding" ng-hide="displayDeletePopup" title="remove" ng-click="showDeletePopup(true, $event)"><span bo-text="'lectures.remove'| translate"></span></button>
				<div class="fade in" ng-show="displayDeletePopup" bo-class="{varticaldeletecontainer: display_vertical}" style="padding: 3px;text-align:center;min-width: 65px;">
			        <span class="form-controls-alert" style="margin:auto" >
		           		<button bo-class="{varticaldeletebutton: display_vertical}" class="button alert tiny with-tiny-padding with-medium-padding-right with-medium-padding-left no-margin-bottom" ng-click="action({event:$event});showDeletePopup(false, $event)"><span bo-text="'delete'| translate"></span></button>
		            	<button bo-class="{varticaldeletebutton: display_vertical}" class="button tiny with-tiny-padding with-medium-padding-right with-medium-padding-left no-margin-bottom" ng-click="showDeletePopup(false, $event)"><span bo-text="'feedback.cancel' | translate"></span></button>
			        </span>
				</div>
			</span>
		</div>
	</span>
	<span bo-if="mode == 'content_navigator'" bindonce>
		<a class="delete delete_tip" ng-hide="displayDeletePopup" style="margin: 0 auto; width:20px;cursor:pointer;" title="Delete" ng-click="showDeletePopup(true, $event)">
			<i bo-if="size == 'big'" class="fi-trash color-gray size-18"></i>
			<i bo-if="size != 'big'" class="fi-trash color-gray size-14"></i>
		</a>
		<span ng-show="displayDeletePopup" bo-class="{'count-padding':padded,'count-item-padding': moduleitem}" style="padding: 3px;text-align:center;min-width: 65px;" class="delete-overlay ease_in_out">
	        <span class="form-controls-alert align-center" style="height: 85%;" ng-show="displayDeletePopup">
	            <button bo-class="{varticaldeletebutton: display_vertical}" class="button alert tiny with-tiny-padding with-medium-padding-right with-medium-padding-left no-margin-bottom" ng-click="action({event:$event});showDeletePopup(false, $event)"><span bo-text="'delete'| translate"></span></button>
	            <button bo-class="{varticaldeletebutton: display_vertical}" class="button tiny with-tiny-padding with-medium-padding-right with-medium-padding-left no-margin-bottom" ng-click="showDeletePopup(false, $event)"><span bo-text="'feedback.cancel' | translate"></span></button>
	        </span>
		</span>
	</span>
</span>
