<style>
.reveal-modal {
  width: 55%;
  height: auto;
  top: 50px;
  position: absolute;
}
</style>
<div id='video_export_dialogue' ng-show='video_export_dialogue'>
  <div style='text-align: justify'>
    <div >Your video is now being exported to FeedbackFruits. If you do not already have a FeedbackFruits account you will receive an email inviting you to join. If you do have an account, you can find your exported video in your FeedbackFruits account shortly. (Please note that drag-and-drop questions cannot be exported.)</div>
    </br>
    <div style='text-align: center'>
      <button class="button small success no-margin-bottom with-margin-left" style='display: inline-block' ng-click="confirmExport()">Ok</button>
    </div>
  </div>
</div>
<div id='course_export_dialogue' >
  <div style='text-align: justify'>
    <div ng-show='course_export_dialogue'>
      <p>Export Course to Canvas with FeedbackFruits Interactive Videos</p>
      <p>When you click Begin Course Export we will create FeedbackFruits interactive videos for each of your ScalableLearning videos and a Canvas Course Package that contains your course structure (modules and videos). The export process may take up to an hour for large courses. You will receive emails telling you when the export has begun and finished.</p>
      <p>Once the export is complete, we will email you your Canvas Course Package. You can then import this into either a free Canvas instance at instructure.com or into your own local Canvas LMS. (If you wish to import your course into Blackboard, you can first import it into a free Canvas instance and then use Canvas's own export tool to export it to a Blackboard format.)</p>
      <p>To use the FeedbackFruits interactive videos in Canvas you need to first register the FeedbackFruit tool. This can be done by following the instructions <a href="https://help.feedbackfruits.com/en/articles/2278939-how-to-configure-lti-for-canvas">here</a>. To enable FeedbackFruits in Canvas you will need to email <a href='mailto:helpme@feedbackfruits.com'>helpme@feedbackfruits.com</a> to get a key and a shared secret.</p>
      <p>Once the FeedbackFruits tool is registered, your students will be able to use your in-video quizzes via FeedbackFruits.</p>
      <p>If you have any questions about FeedbackFruits please contact them at <a href='mailto:helpme@feedbackfruits.com'>helpme@feedbackfruits.com</a>.</p>
    </div>
    
    <div ng-show='canvas'>
        <p>Export Course to Canvas</p>
        <p>When you click Begin Course Export your course meterial will be exported as Canvas Common Cartridge format and sent shortly to your email</p>
    </div>
    </br>
    <div style='text-align: center'>
      <button class="button small fail no-margin-bottom with-margin-left" style='display: inline-block' ng-click="cancelExport()">Cancel</button>
      <button class="button small success no-margin-bottom with-margin-left" style='display: inline-block' ng-click="beginExport()">Begin Export</button>
    </div>
  </div>

</div>

