<div context-menu data-target="menu" opened='menu_status' class="disable_selection inner-item">
	<img src="images/move2.png" class="handle" title={{"courses.drag_to_reorder"|translate}} />
	<a class="trigger2" ui-sref="course.course_editor.{{className}}({ {{className}}_id: id })" >{{name}}</a>
	<div class="menu">
	  <ul class="dropdown-menu" style="font-size:14px">
	    <li >
	      <a ng-click='copyItem($event)' translate>menu.copy</a>
	       <a ng-show="$parent.$parent.clipboard" ng-click='doPaste($event)' translate>menu.paste</a>
	      <a ng-click='shareItem($event)' translate>menu.share</a>
	    </li>	    
	  </ul>
	</div>
	<delete_button style="vertical-align: top;" size="small" color='dark' action="remove()"></delete_button>
</div>