<loading size="small" show="pleaseWait"/>
<table class="table">
	<tr>
		<td>Question</td>
		<td>Time</td>
		<td>Type</td>
		<td></td>
	</tr>
	<tr ng-repeat="quiz in quizList|orderBy:'time'" ng-class="{active: quiz.id == $parent.selectedQuiz.id}">
		<td style="width:50%">
			<editable_text value="quiz.question" save="save_edit(quiz)" action="showOnlineQuiz(quiz);">
		</td>
		<td ng-init="quiz.formatedTime = (quiz.time|format)" style="width:25%">			
			<editable_text value="quiz.formatedTime" validation="validate_time" save="save_edit(quiz)" action="showOnlineQuiz(quiz);">
		</td>
		<td>{{quiz.question_type}}</td>
		<td>
			<delete_button size="big" action="delete_quiz($index)" />
		</td>
	</tr>
</table>