<accordion class="details_accordian" close-others="false">
  <accordion-group class="accordion-group" open="lecture && lecture.url == 'none'" is-open="lecture_details_groups.video">
    <accordion-heading class="accordion-heading">
      <div style="padding: 5px;border-bottom: 1px solid white;">
        <div id="video_settings" class="show-inline" translate>content.types.video</div>
        <div class="show-inline right" ng-show="lecture_details_groups.video"><i class='fi-minus size-10 color-grey' style="margin-right: 20px;"></i></div>
        <div class="show-inline right" ng-hide="lecture_details_groups.video"><i class='fi-plus size-10 color-grey'  style="margin-right: 20px;"></i></div>
      </div>
    </accordion-heading>
    <table class="table small-12 no-margin" style="border-top:none">
      <tr>
        <td class="right-border small-4"><span translate>editor.details.title</span>:</td>
        <td class="small-8">
          <details-text id="item_name" value="lecture.name" save="updateLecture()" validate="validateLecture" column="name" open="lecture.url == 'none'"></details-text>
        </td>
      </tr>
      <tr>
        <td ng-class='{"color-red": lecture.url == "none"}' class="right-border small-4">
          <span translate>editor.details.video</span>:
          <i class='fi-info' tooltip='{{"editor.tooltip.video_info"|translate}}' tooltip-placement="top" tooltip-append-to-body="true"></i>
        </td>
        <td class="break-text">
          <details-url id="url" value="lecture.url" save="updateLectureUrl()" validate="validateLecture" column="url">
            <details-url>
        </td>
      </tr>
      <!-- <tr>
        <td class="right-border small-4">Start/Stop</td>
        <td>
          <div class="with-small-margin-bottom">
            <div class="small-3 columns size-12 no-padding" translate>Start:</div>
            <div class="small-7 columns left size-12 text-center no-padding" style="border-radius: 3px; border: 1px darkgrey solid; background-color: lightgrey;color: #555;">{{lecture.start_time | format}}</div>
          </div>
          <br />
          <div class="with-small-margin-bottom">
            <div class="small-3 columns size-12 no-padding" translate>End:</div>
            <div class="small-7 columns left size-12 text-center no-padding" style="border-radius: 3px; border: 1px darkgrey solid; background-color: lightgrey; color: #555;">{{lecture.end_time | format}}</div>
          </div>
        </td>
      </tr> -->
      <tr>
        <td class="right-border small-4"><span translate>editor.details.description</span>:</td>
        <td class="small-8">
          <div><details-area value="lecture.description" save="updateLecture()" validate="validateLecture" column="description" empty_message="({{ 'editor.details.add_description' | translate}}...)"></details-area></div>
        </td>
      </tr>
      <tr>
        <td class="right-border small-4"><span translate>editor.details.duration</span>:</td>
        <td class="small-8">
          <label>{{lecture.duration|format}}</label>
        </td>
      </tr>
      <tr>
        <td class="right-border small-4"><span translate>editor.details.student_link_lecture</span>:</td>
        <td class="break-text small-8">
          <span>{{link_url}}</span>
        </td>
      </tr>
    </table>
  </accordion-group>
  <accordion-group class="accordion-group" is-open="lecture_details_groups.settings">
    <accordion-heading class="accordion-heading">
      <div style="padding: 5px;border-bottom: 1px solid white;">
        <div id="lec_settings" class="show-inline" translate>global.settings</div>
        <div class="show-inline right" ng-show="lecture_details_groups.settings"><i class='fi-minus size-10 color-grey' style="margin-right: 20px;"></i></div>
        <div class="show-inline right" ng-hide="lecture_details_groups.settings"><i class='fi-plus size-10 color-grey'  style="margin-right: 20px;"></i></div>
      </div>
    </accordion-heading>
    <table class="table small-12 no-margin">
<!--       <tr>
        <td colspan="2">
          <center>
            <span tooltip="{{'editor.tooltip.students_must_complete_inorder'| translate}}" tooltip-placement="left" tooltip-append-to-body="true">
              <input type="checkbox" ng-model="lecture.required"  ng-change='updateLecture()'>
              <span class="size-12" translate>editor.details.in_order</span>
            </span>
            <br />
            <span tooltip="{{'editor.tooltip.students_must_complete_required'| translate}}" tooltip-placement="left" tooltip-append-to-body="true">
              <input type="checkbox" ng-model="lecture.graded" ng-change="updateLecture()">
              <span class="size-12" translate>editor.details.required</span>
            </span>
          </center>
        </td>
      </tr> -->
      <tr id="bg_fix" style="height:40px" >
        <td class="right-border small-4"><span translate>editor.details.video_type</span>:</td>
        <td class="small-8">
          <input type="radio" id="video" ng-model="video.type" value="0" ng-change="setVideoType();" class="no-margin">
          <span class="size-12" translate>content.types.video</span>
          <!-- {{lecture}} -->
          <br>
          <input type="radio" id="inclass_video" ng-model="video.type" value="1" ng-change="setVideoType();" class="no-margin">
          <span class="size-12" translate>content.types.inclass_video</span>
          <br>
          <input type="radio" id="distance_peer_video" ng-model="video.type" value="2" ng-change="setVideoType();" class="no-margin">
          <span class="size-12" translate>content.types.distance_peer_video</span>
          <br>
        </td>
      </tr>
      <tr id="bg_fix" style="height:40px" >
        <td class="right-border small-4"><span translate>editor.details.in_order</span>:</td>
        <td class="small-8">
          <span tooltip="{{'editor.tooltip.students_must_complete_inorder'| translate}}" tooltip-placement="left" tooltip-append-to-body="true" >
            <input type="checkbox" ng-model="lecture.required_module" ng-change="updateLecture()" class="no-margin">
            <span class="size-12" translate>editor.details.use_module_in_order</span>
          </span>
          <br>
            <span tooltip="{{'editor.tooltip.students_must_complete_inorder'| translate}}" tooltip-placement="left" tooltip-append-to-body="true">
              <input ng-disabled="lecture.required_module" type="checkbox" ng-model="lecture.required"  ng-change='updateLecture()'>
              <span class="size-12" translate>editor.details.in_order</span>
            </span>
        </td>
      </tr>
      <tr id="bg_fix" style="height:40px">
        <td class="right-border small-4"><span translate>editor.details.required</span>:</td>
        <td class="small-8">
          <span tooltip="{{'editor.tooltip.students_must_complete_required'| translate}}" tooltip-placement="left" tooltip-append-to-body="true" >
            <input type="checkbox" ng-model="lecture.graded_module" ng-change="updateLecture()" class="no-margin">
            <span class="size-12" translate>editor.details.use_module_required</span>
          </span>
          <br>
            <span tooltip="{{'editor.tooltip.students_must_complete_required'| translate}}" tooltip-placement="left" tooltip-append-to-body="true">
              <input ng-disabled="lecture.graded_module" type="checkbox" ng-model="lecture.graded"  ng-change='updateLecture()'>
              <span class="size-12" translate>editor.details.required</span>
            </span>
        </td>
      </tr>
      <tr id="bg_fix" style="height:40px">
        <td class="right-border small-4"><span translate>editor.details.skip_ahead</span>:</td>
        <td class="small-8">
          <span>
            <input type="checkbox" ng-model="lecture.skip_ahead_module" ng-change="updateLecture()" class="no-margin">
            <span class="size-12" translate>editor.details.use_module_skip_ahead</span>
          </span>
          <br>
            <span>
              <input ng-disabled="lecture.skip_ahead_module" type="checkbox" ng-model="lecture.skip_ahead"  ng-change='updateLecture()'>
              <span class="size-12" translate>editor.details.skip_ahead_description</span>
            </span>
        </td>
      </tr>      
      <tr id="bg_fix" style="height:80px">
        <td class="right-border small-4"><span translate>editor.details.appearance_date</span>:</td>
        <td class="small-8">
          <input type="checkbox" ng-model="lecture.appearance_time_module" ng-change="updateLecture()" class="no-margin">
          <span class="size-12" translate>editor.details.use_module</span>
          <span ng-hide="!lecture.appearance_time_module">
            <span tooltip-placement="left" tooltip="{{('editor.tooltip.invisible'|translate) + ' '+ ('editor.tooltip.invisible_cont' | translate) +' '+ (lecture.appearance_time| fromNow) }}" ng-hide="visible(lecture.appearance_time)" class="pull-right" style="width:20px; height:20px;"><img src='images/error.png'/></span>
          <div style="border-radius: 3px; border: 1px darkgrey solid; background-color: lightgrey; margin-top: 10px; font-size: 12px; color: #555; text-align: center;">
            {{lecture.appearance_time | amDateFormat:'DD MMM YYYY, HH:mm'}}
          </div>
          </span>
          <br />
          <span ng-hide="lecture.appearance_time_module">
            <span translate>editor.details.set_date</span>:
          <br>
          <details-date date="lecture.appearance_time" save="updateLecture(data, type)" validate="validateLecture" column="appearance_time"></details-date>
          <span tooltip-placement="left" tooltip="{{('editor.tooltip.invisible'|translate) + ' '+ ('editor.tooltip.invisible_cont' | translate) +' '+ (lecture.appearance_time| fromNow) }}" ng-hide="visible(lecture.appearance_time)" class="pull-right" style="position: relative; width:20px; height:20px;"><img src='images/error.png' /></span>
          <br>
          <details-time class="timepicker" time="lecture.appearance_time" save="updateLecture(data, type)" validate="validateLecture" column="appearance_time"></details-time>
          </span>
        </td>
      </tr>
      <tr style="height:100px">
        <td class="right-border small-4"><span translate>editor.details.due_date</span>:</td>
        <td class="small-8">
          <input type="checkbox" ng-model="setting.due_date_enabled" ng-change="updateDueDate();updateLecture()" class="no-margin">
          <span class="size-12" translate>editor.details.has_due_date</span>
          <div ng-show="setting.due_date_enabled">
            <span ng-hide="disable_module_due_controls">
              <input type="checkbox" ng-model="lecture.due_date_module" ng-change="updateLecture()" class="no-margin">
              <span class="size-12" translate>editor.details.use_module_due</span>
            </span>
            <br />
            <div ng-hide="!lecture.due_date_module">
              <div style="border-radius: 3px; border: 1px darkgrey solid; background-color: lightgrey; margin-top: 10px; font-size: 12px; color: #555; text-align: center;">
                {{lecture.due_date | amDateFormat:'DD MMM YYYY, HH:mm'}}
              </div>
            </div>
            <span ng-hide="lecture.due_date_module">
              <span translate>editor.details.set_date</span>:
            <br>
            <details-date date="lecture.due_date" save="updateLecture(data, type)" validate="validateLecture" column="due_date"></details-date>
            <br>
            <details-time class="timepicker" time="lecture.due_date" save="updateLecture(data, type)" validate="validateLecture" column="due_date"></details-time>
            </span>
          </div>
        </td>
      </tr>
      <!-- <tr id="bg_fix" style="height:130px" ng-if="lecture.inclass">
        <td class="right-border small-4"><span translate>Visibility</span></td>
        <td class="small-8">
          <input type="checkbox" ng-model="lecture.visible_to_student" ng-change="updateAppearanceDate();updateLecture()" class="no-margin">
          <span class="size-12" translate>Visible to student</span>
        </td>
      </tr> -->
    </table>
  </accordion-group>
    <accordion-group class="accordion-group overflow-auto" open="(lecture.timeline.items|filter:{type:'quiz'}).length" is-open="lecture_details_groups.quizzes">
      <accordion-heading class="accordion-heading">
        <div style="padding: 5px;border-bottom: 1px solid white;">
          <div class="show-inline" translate>editor.details.quizzes</div>
          <div class="show-inline right" ng-show="lecture_details_groups.quizzes"><i class='fi-minus size-10 color-grey' style="margin-right: 20px;"></i></div>
          <div class="show-inline right" ng-hide="lecture_details_groups.quizzes"><i class='fi-plus size-10 color-grey'  style="margin-right: 20px;"></i></div>
        </div>
      </accordion-heading>
      <quiz_list />
    </accordion-group>
    <accordion-group class="accordion-group overflow-auto" open="(lecture.timeline.items| filter:{type:'marker'}).length" is-open="lecture_details_groups.markers">
      <accordion-heading class="accordion-heading">
        <div style="padding: 5px;border-bottom: 1px solid white;">
          <div class="show-inline" translate>editor.details.note</div>
          <div class="show-inline right" ng-show="lecture_details_groups.markers"><i class='fi-minus size-10 color-grey' style="margin-right: 20px;"></i></div>
          <div class="show-inline right" ng-hide="lecture_details_groups.markers"><i class='fi-plus size-10 color-grey'  style="margin-right: 20px;"></i></div>
        </div>
      </accordion-heading>
      <marker_list />
    </accordion-group>
</accordion>
