<div class="row">
	<div class="small-12 small-centered columns">
		<overlay ng-show="lecture.url=='none'">
			<h3 class="color-grey no-margin" style="position:relative;top:25%" translate>lectures.enter_url</h3>
			<h3 class="color-grey no-margin" style="position:relative;top:25%" translate>lectures.enter_url_continue</h3>
			<br/>
			<br/>
			<h5 class="color-grey no-margin" style="position:relative;top:25%" translate>lectures.for_help</h5>
			<h5 class="color-grey no-margin" style="position:relative;top:25%" translate>lectures.for_help_continue</h5>
		</overlay>
		<h4><b>Video Editor: </b>{{lecture.name}}</h4>
		<form name="answer_form" novalidate >
			<center>
				<video_container class="ease_in_out" ng-style="container_layer" class="small-12">
					<youtube id="lecture_video" ng-style="video_layer" url="lecture.url" player="lecture_player" class="flex-video widescreen" style="overflow:visible">
						<quiz ng-dblclick="addDoubleClickBind($event)" ng-style="quiz_layer" style="z-index: 1;" class="disable_selection">
							<loading class="small-12 columns color-blue" size='big' show="lecture.url!='none' && !slow && !video_ready" style="font-weight:300;font-size:12px;top: 150px;" />
							<div class="slow-message" style='width:100%; height: 100%; background-color: rgba(255,255,255,0.8); position: absolute;' ng-show="!lecture.url || (!video_ready)">
								<span ng-show="slow">
									<h3 style="position:relative;top:70px;font-weight:300;font-size:16px" ><span translate>lectures.server</span><span ng-show="is_youtube"> 'Youtube' </span> <span translate>lectures.is_slow</span></h3>
									<h3 style="position:relative;top:70px;font-weight:300;font-size:16px" ><span translate>lectures.try_reload</span><i class="fi-refresh" style="margin-left: 8px;margin-top: 3px;cursor:pointer" title="reload" ng-click="refreshVideo()"></i></h3>
									<loading size='small' show='true' style="position:relative;top:70px;" />
								</span>	
							</div>
							<answervideo ng-if="selected_quiz.quiz_type != 'html'" ng-repeat="answer in selected_quiz.answers" data="answer" list="allPos" quiz="selected_quiz" remove="removeAnswer($index)" save="saveBtn()"/>
							<answerform  ng-if="selected_quiz.quiz_type == 'html'" submitted="submitted" quiz="selected_quiz" column="question" columna="answer" add="addHtmlAnswer" remove="removeHtmlAnswer"/>
						</quiz>
					</youtube>
			        <progress-bar ng-if="!slow && lecture.url && video_ready && !editing_mode" play_pause_class="play_pause_class"  elapsed_width="elapsed_width" seek="seek" current_time='current_time' total_duration='total_duration' player="lecture_player" videoready="video_ready" class="text-left">
			        	<controls-teacher link="createVideoLink()" />
			    	</progress-bar>
				</video_container>
			</center>
		</form>
	</div>
</div>
<div class="row with-small-margin-top">
	<center class="small-block-grid-3" ng-show="!editing_mode">
		<span ng-show="lecture.url!='none'" >
			<button id="new_question" class="button small no-margin" lecture-questions-modal open-modal="openQuestionsModal" ng-click="addQuestion()"><span tooltip="Click or type i to add a question" tooltip-placement="bottom" tooltip-append-to-body="true" translate>Add Video Quiz Here</span></button>
			<button class="button small no-margin" ng-click="openQuizList()" translate>Show All Quizzes</button>
			<!-- <button id="new_item" class="button small green-color-white no-margin" module-content-modal open-modal="openOnlineContentModal" ng-click="openOnlineContentModal()" ><span translate>add_content</span></button>
			<button id="new_module" class="button small green-color-white no-margin" ng-click="addModule()" translate>courses.add_module</button> -->
		</span>
	</center>
	<div class="small-12 small-centered columns">
		<center ng-if="editing_mode" style="margin-bottom:10px">
			<edit_panel  />		
			<alert ng-show="!hide_alerts" type="alert.type" close="closeAlerts()">{{alert.msg| translate}}</alert>
		</center>
	</div>
</div>