<loading size="small" show="quiz_loading"/>
<table class="table large-12 columns quiz_list">
	<thead>
		<tr>
			<th style="width:60%" translate>answer.question</th>
			<th translate>online_quiz.time</th>
			<th translate>groups.type</th>
			<th class="text-center" style="width:95px">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="quiz in quiz_list|orderBy:'time'" ng-class="{wheat: quiz.id == $parent.selected_quiz.id}">
			<td >
				<editable_text open="{{quiz.new_quiz}}" name="quiz_name" value="quiz.question" validation="validateName" save="saveEdit(quiz)" action="showOnlineQuiz(quiz);" elem="quiz">
			</td>
			<td ng-init="quiz.formatedTime = (quiz.time|format)">
				<editable_text name="quiz_time" value="quiz.formatedTime" validation="validateTime" save="saveEdit(quiz)" action="showOnlineQuiz(quiz);" elem="quiz">
			</td>
			<td><span ng-show="quiz.quiz_type=='survey'">Survey</span>
				<span ng-show="quiz.quiz_type!='survey'">Quiz</span>
				- {{quiz.question_type}}
			</td>
			<td class="text-center no-padding">
				<delete_button size="big" color='dark' action="deleteQuizButton(quiz)" />
			</td>
		</tr>
	</tbody>
</table>