<div>
    <overlay ng-show="document_overlay">
      <loading size='small' show='true' style="position:absolute;top:40%;left:35%;z-index: 1;" />
    </overlay>
    <br />

    <big><b translate>groups.external_document</b></big>
    <br /><br />
    <document-item ng-repeat="doc in module.documents" document="doc" update="updateDocument" remove="removeDocument" nameval="validateName" urlval="validateURL">
    </document-item>
    <loading size="small" show="document_loading" />
    <br />
    <button ng-click="addDocument()" class="btn btn-success add-teacher-button" style="background-image: initial;">
        <img src="../images/add_document.png" /> {{'groups.add_document' | translate}}
    </button>
  </div>