<div class="row">
	<div class="small-12 columns">
		<h4><b><span translate>editor.module_editor</span>: </b>{{module.name}}</h4>
	</div>
</div>
<br />
<div class="row">
	<div class="small-12 columns">
		<table class="small-12 columns">
			<tbody>
				<tr>
					<td class="right-border"translate>groups.statistics.videos</td>
					<td ><b>{{module_statistics.total_lectures || 0}} ({{module_statistics.total_time | formattime: 'hh:mm:ss'}} total)</b></td>
				</tr>
				<tr>
					<td class="right-border"translate>groups.statistics.video_quizzes</td>
					<td ><b>{{module_statistics.total_questions || 0}}</b></td>
				</tr>
				<tr>
					<td class="right-border"translate>groups.statistics.quizzes</td>
					<td ><b>{{module_statistics.total_quizzes || 0}} ({{module_statistics.total_quiz_questions || 0}} <span translate>groups.statistics.questions</span>)</b></td>
				</tr>
				<tr>
					<td class="right-border"translate>groups.statistics.surveys</td>
					<td ><b>{{module_statistics.total_surveys || 0}} ({{module_statistics.total_survey_questions || 0}} <span translate>groups.statistics.questions</span>)</b></td>
				</tr>
				<tr>
					<td class="right-border"translate>groups.statistics.customlinks</td>
					<td ><b>{{module_statistics.total_links || 0}}</b></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<br />
<div>
	<div class="small-12 columns no-padding">
		<div class="small-12 medium-4 columns">
			<button id="add_content" class="button small green-color-white no-margin" module-content-modal open-modal="openOnlineContentModal" ng-click="openOnlineContentModal()"><span translate>editor.button.add_content</span></button>
		</div>
		<div class="small-12 medium-8 columns left">
			<p class="no-margin-bottom" style="margin-top:10px" translate>editor.home.choose_add</p>
		</div>
	</div>
</div>
