<accordion class="details_accordian" close-others="false">
  <accordion-group class="accordion-group" is-open="module_details_groups.module">
    <accordion-heading class="accordion-heading">
      <div style="padding: 5px;border-bottom: 1px solid white;">
        <div id="video_settings" class="show-inline" translate>groups.module</div>
        <div class="show-inline right" ng-show="module_details_groups.module"><i class='fi-minus size-10 color-grey' style="margin-right: 20px;"></i></div>
        <div class="show-inline right" ng-hide="module_details_groups.module"><i class='fi-plus size-10 color-grey'  style="margin-right: 20px;"></i></div>
      </div>
    </accordion-heading>
    <table class="table small-12 no-margin" style="border-top:none">
      <tr>
        <td class="right-border small-4"><span translate>editor.details.title</span>:</td>
        <td class="small-8">
            <details-text value="module.name" save="updateModule()" validate="validateModule" column="name" open="module.new"></details-text>
        </td>
      </tr>
      <tr>
        <td class="right-border small-4"><span translate>editor.details.description</span>:</td>
        <td class="small-8">
          <div><details-area value="module.description" save="updateModule()" validate="validateModule" column="description" empty_message="({{ 'editor.details.add_description' | translate}}...)"></details-area></div>
        </td>
      </tr>
      <tr>
        <td class="right-border small-4"><span translate>editor.details.student_link_module</span>:</td>
        <td class="break-text small-8">
          <span >{{link_url}}</span>
        </td>
      </tr>
    </table>
  </accordion-group>
  <accordion-group class="accordion-group" is-open="module_details_groups.settings">
    <accordion-heading class="accordion-heading">
      <div style="padding: 5px;border-bottom: 1px solid white;">
        <div id="lec_settings" class="show-inline" translate>global.settings</div>
        <div class="show-inline right" ng-show="module_details_groups.settings"><i class='fi-minus size-10 color-grey' style="margin-right: 20px;"></i></div>
        <div class="show-inline right" ng-hide="module_details_groups.settings"><i class='fi-plus size-10 color-grey'  style="margin-right: 20px;"></i></div>
      </div>
    </accordion-heading>
    <table class="table small-12 no-margin">
    <tr style="height:60px" id="bg_fix">
      <td class="right-border small-4"><span translate>editor.details.in_order</span></td>
      <td class="small-8">
        <span tooltip="{{'editor.tooltip.students_must_complete_inorder'| translate}}" tooltip-placement="left" tooltip-append-to-body="true">
          <input type="checkbox" ng-model="module.required" ng-change="updateModule()" class="no-margin">
        </span>
      </td>
    </tr>
    <tr style="height:60px" id="bg_fix">
      <td class="right-border small-4"><span translate>editor.details.required</span></td>
      <td class="small-8">
        <span tooltip="{{'editor.tooltip.students_must_complete_required'| translate}}" tooltip-placement="left" tooltip-append-to-body="true">
          <input type="checkbox" ng-model="module.graded" ng-change="updateModule()" class="no-margin">
        </span>
      </td>
    </tr>
    <tr style="height:60px" id="bg_fix">
      <td class="right-border small-4"><span translate>editor.details.skip_ahead</span></td>
      <td class="small-8">
        <span tooltip="{{'editor.tooltip.students_can_not_skep_ahead'| translate}}" tooltip-placement="left" tooltip-append-to-body="true">
          <input type="checkbox" ng-model="module.skip_ahead" ng-change="updateModule()" class="no-margin">
        </span>
      </td>
    </tr>    
      <tr style="height:130px">
        <td class="right-border small-4"><span translate>editor.details.appearance_date</span></td>
        <td class="small-8">
          <span>
            <span translate>editor.details.set_date</span>:<br>
            <details-date date="module.appearance_time" save="updateModule(data, type)" validate="validateModule" column="appearance_time"></details-date>
            <span tooltip-placement="left" tooltip="{{'editor.tooltip.invisible' | translate}} {{module.appearance_time| fromNow}}" ng-hide="module.appearance_time | visible" class="pull-right" style="position: relative; width:20px; height:20px;"><img src='images/error.png' /></span>
            <br>
            <details-time class="timepicker" time="module.appearance_time" save="updateModule(data, type)" validate="validateModule" column="appearance_time"></details-time>
          </span>
        </td>
      </tr>
      <tr style="height:130px" id="bg_fix">
        <td class="right-border small-4"><span translate>editor.details.due_date</span></td>
        <td class="small-8">
          <input type="checkbox" ng-model="due_date_enabled" ng-change="updateDueDate();updateModule()" class="no-margin">
          <span class="size-12" translate>editor.details.has_due_date</span>
          <div ng-show="due_date_enabled">
            <span translate>editor.details.set_date</span>:<br>
            <details-date date="module.due_date" save="updateModule(data, type)" validate="validateModule" column="due_date"></details-date>
            <br>
            <details-time class="timepicker" time="module.due_date" save="updateModule(data, type)" validate="validateModule" column="due_date"></details-time>
          </div>
        </td>
      </tr>
    </table>
  </accordion-group>
</accordion>
