<h3><span translate>content.choose_content_type</span>...</h3>
<br />
<h5 translate>content.interactive</h5>
<small class="subheader" translate>content.interactive_desc</small>
<div class="modal-body">
    <center class="with-small-margin-top">
        <div class="small-block-grid-4 medium-block-grid-4 large-block-grid-4 small-12 medium-6 large-5">
            <li>
                <a id="video_item" type="button" class="th blue" ng-class="{thumbactive: content_type == 'Video'}" ng-model="content_type" ng-click="addItem('video')" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/video_symbol.png">
                </a>
                <b><h4 translate>content.types.video</h4></b>
            </li>
            <li>
                <a id="quiz_item" type="button" class="th green" ng-class="{thumbactive: content_type == 'Quiz'}" ng-model="content_type" ng-click="addItem('quiz')" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/quiz_symbol.png">
                </a>
                <b><h4 translate>content.types.quiz</h4></b>
            </li>
            <li>
                <a id="survey_item" type="button" class="th red" ng-class="{thumbactive: content_type == 'Survey'}" ng-model="content_type" ng-click="addItem('survey')" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/survey_symbol.png">
                </a>
                <b><h4 translate>content.types.survey</h4></b>
            </li>
            <li>
                <a id="link_item" type="button" class="th grey" ng-class="{thumbactive: content_type == 'Link'}" ng-model="content_type" ng-click="addItem('link')" style="width:94%">
                    <img style="margin: 10% 7%; " src="/images/link_icon_dark.png">
                </a>
                <b><h4 translate>content.types.link</h4></b>
            </li>
        </div>
    </center>
</div>
<div class="modal-footer clear-both">
    <button class="button alert right" ng-click="cancel()" translate="lectures.cancel"></button>
</div>