<h3>Choose Question Type...</h3>
<h4>On top of the video <small>(place choices on top of the video)</small></h4>
<br />
<center>
	<div class="button-group" style="display: inline-block;">
        <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-4">
            <li>
                <a type="button" class="th blue" ng-class="{thumbactive: question_type == 'ocq'}" ng-model="question_type" btn-radio="'ocq'" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/ocq_video_symbol.png">
                </a>
                <h5>One Correct Answer</h5>
            </li>
            <li>
                <a type="button" class="th blue" ng-class="{thumbactive: question_type == 'mcq'}" ng-model="question_type" btn-radio="'mcq'" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/mcq_video_symbol.png">
                </a>
                <h5>Multiple Correct Answers</h5>
            </li>
            <li>
                <a type="button" class="th blue" ng-class="{thumbactive: question_type == 'drag'}" ng-model="question_type" btn-radio="'drag'" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/drag_video_symbol.png">
                </a>
                <h5>Drag into Order</h5>
            </li>
            <li>
                <a type="button" class="th blue" ng-class="{thumbactive: question_type == 'text'}" ng-model="question_type" btn-radio="'text'" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/text_video_symbol.png">
                </a>
                <h5>Text Answer</h5>
            </li>
        </ul> 
    </div>
</center>

<h4>Type in the question <small>(write question and choices on a white background)</small></h4>
<br />
<center>
    <div class="button-group" style="display: inline-block;">
        <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-4">
            <li>
                <a type="button" class="th grey" ng-class="{thumbactive: question_type == 'ocq_html'}" ng-model="question_type" btn-radio="'ocq_html'" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/quiz_symbol.png">
                </a>
                <h5>One Correct Answer</h5>
            </li>
            <li>
                <a type="button" class="th grey" ng-class="{thumbactive: question_type == 'mcq_html'}" ng-model="question_type" btn-radio="'mcq_html'" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/mcq_symbol.png">
                </a>
                <h5>Multiple Correct Answers</h5>
            </li>
            <li>
                <a type="button" class="th grey" ng-class="{thumbactive: question_type == 'drag_html'}" ng-model="question_type" btn-radio="'drag_html'" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/drag_symbol.png">
                </a>
                <h5>Drag into Order</h5>
            </li>
            <li>
                <a type="button" class="th grey" ng-class="{thumbactive: question_type == 'text_html'}" ng-model="question_type" btn-radio="'text_html'" >
                    <img style="margin: 10%; width: 80%; height: 80%;" src="/images/text_symbol.png">
                </a>
                <h5>Text Answer</h5>
            </li>
        </ul> 
    </div>
</center>
    
<div class="right modal-footer">
    <button class="success" ng-disabled="!question_type" ng-click="ok()">{{'sharing.add' | translate}} {{question_type}}</button>
    <!-- <button class="alert" ng-click="dismissModal()" translate="lectures.cancel"></button> -->
</div>