<center>
<span ng-show="!quiz">
  <loading size="small" show="true" style="position:relative; top:40%;" />
</span>
	<span ng-hide="!quiz">
		<h3 ng-show="quiz.quiz_type=='quiz'" translate>quizzes.quiz_details</h3>
		<h3 ng-show="quiz.quiz_type=='survey'" translate>quizzes.survey_details</h3>
		<table class="table" style="width:95%;font-size:12px;text-align: center; background-color: white; border-radius: 0px; border: 1px solid lightgrey;">
			<tr>
				<td style="width:30%; border-right: 1px solid lightgrey;"><span translate>lectures.title</span>:</td>
				<td>
					<details-text value="quiz.name" save="updateQuiz()" validate="validateQuiz" column="name"></details-text>
  				</td>
			</tr>
			<tr >
				<td style="border-right: 1px solid lightgrey;"><span translate>courses.required</span>:</td>
				<td>
					<details-check checked="quiz.required" save="updateQuiz()" yes="{{'lectures.quiz_required'|translate}}" no="{{'lectures.quiz_not_required'|translate}}" title="{{'courses.required'|translate}}?" validate="validateQuiz" column="required"></details-check> <br />
  				</td>
			</tr>
			<tr>
				<td style="border-right: 1px solid lightgrey;"><span translate>courses.graded</span>:</td>
				<td>
					<details-check checked="quiz.graded" save="updateQuiz()" yes="{{'lectures.quiz_graded'|translate}}" no="{{'lectures.quiz_not_graded'|translate}}" title="{{'courses.graded'|translate}}?" validate="validateQuiz" column="graded"></details-check> <br />
  				</td>
			</tr>
			<tr ng-if="quiz.quiz_type=='quiz'">
				<td style="border-right: 1px solid lightgrey;"><span translate>courses.retries</span>:</td>
				<td>
					<details-number min="0" value="quiz.retries" save="updateQuiz()" validate="validateQuiz" column="retries" ></details-number><br />
  				</td>
			</tr>
			<tr>
				<td style="word-break: break-word; border-right: 1px solid lightgrey;"><span translate>groups.appearance_date</span></td>
				<td>
					<details-check checked="quiz.appearance_time_module" save="updateQuiz()" yes="{{'lectures.using_module_appearance'|translate}}" no="{{'lectures.not_using_module_appearance'|translate}}" title="{{'lectures.use_module'|translate}}"  validate="validateQuiz" column="appearance_time_module" ></details-check> 
					<br />
					<div ng-hide="!quiz.appearance_time_module">
						<!-- <span ng-show="visible(quiz.appearance_time)" class="icon pull-right icon-eye-open" tooltip="{{'visible' | translate}}"></span> --><span tooltip-placement="left" tooltip="{{'invisible' | translate}}" ng-hide="visible(quiz.appearance_time)" class="icon pull-right" style="width:20px; height:20px;"><img src='images/error.png'/></span>
						<!-- <input type='text' ng-model='quiz.appearance_time' ng-disabled='true' style="margin-top:10px;width: 67px;font-size: 12px;height: 15px;" /> -->
						<div style="border-radius: 3px; border: 1px darkgrey solid; background-color: lightgrey; padding: 5px; margin-top: 10px; font-size: 12px; height: 15px; padding-top: 3px; color: #555; text-align: center;">
								{{quiz.appearance_time | amDateFormat:'MMM Do YYYY, h:mm a'}}
						</div>
					</div>
  					<p ng-hide="quiz.appearance_time_module">
  						<span translate>lectures.set_date</span>:<br>
  						<details-date date="quiz.appearance_time" save="updateQuiz(data, type)" validate="validateQuiz" column="appearance_time"></details-date>
  						<!-- <span ng-show="visible(quiz.appearance_time)" class="icon pull-right icon-eye-open" tooltip="{{'visible' | translate}}"></span> --><span tooltip-placement="left" tooltip="{{'invisible' | translate}}" ng-hide="visible(quiz.appearance_time)" class="icon pull-right" style="width:20px; height:20px;"><img src='images/error.png'/></span>
  						<br>
						<details-time class="timepicker" time="quiz.appearance_time" save="updateQuiz(data, type)" validate="validateQuiz" column="appearance_time"></details-time>
  					</p>
				</td>
			</tr>
			<tr>
				<td style="border-right: 1px solid lightgrey;"><span translate>groups.due_date</span></td>
				<td>
					<details-check checked="quiz.due_date_enabled" validate="updateDueDate" save="updateQuiz()" yes="with due date" no="without due date" title="has due date?" ></details-check> 
					<div ng-show="quiz.due_date_enabled">
						<details-check checked="quiz.due_date_module" save="updateQuiz()" yes="{{'lectures.using_module_due'|translate}}" no="{{'lectures.not_using_module_due'|translate}}" title="{{'lectures.use_module'|translate}}"  validate="validateQuiz" column="due_date_module"></details-check> <br />
						<div ng-hide="!quiz.due_date_module">
							<!-- <input type='text' ng-model='quiz.due_date' ng-disabled='true' style="margin-top:10px;width: 67px;font-size: 12px;height: 15px;" /> -->
							<div style="border-radius: 3px; border: 1px darkgrey solid; background-color: lightgrey; padding: 5px; margin-top: 10px; font-size: 12px; height: 15px; padding-top: 3px; color: #555; text-align: center;">
								{{quiz.due_date | amDateFormat:'MMM Do YYYY, h:mm a'}}
							</div>
						</div>
	  					<p ng-hide="quiz.due_date_module">
	  						<span translate>lectures.set_date</span>:<br>
	  						<details-date date="quiz.due_date" save="updateQuiz(data, type)" validate="validateQuiz" column="due_date"></details-date>
	  						<br>
							<details-time class="timepicker" time="quiz.due_date" save="updateQuiz(data, type)" validate="validateQuiz" column="due_date"></details-time>
	  					</p>
	  				</div>
				</td>
			</tr>
			<tr>
				<td style="border-right: 1px solid lightgrey;"><span translate>lectures.instructions</span>:</td>
				<td>
					<details-area value="quiz.instructions" save="updateQuiz()" validate="validateQuiz" column="instructions"></details-area>
				</td>
			</tr>
		</table>
	</span>
		
</center>
