<!-- build:css(.tmp/styles) styles/course_editor_min.css -->
<link rel="stylesheet" href="styles/teacher/course_editor.css"/>
<!-- endbuild -->
<div style="height:500px">
	<h3><span translate>sharing.share_content</span>:</h3>
	<span style="margin: 5px 24px;margin-right: 10px;" ><span translate>sharing.teacher_email</span>:</span>
	<!-- <input type="text" ng-model="$parent.selected_teacher" class="form-control" style="margin: 0;"> -->
	<input type="email" ng-model="$parent.selected_teacher" class="string email optional" pattern="^[-aA-zZ0-9_+\.]+\@([-aA-zZ0-9]+\.)+[aA-zZ0-9]{2,4}$" size="50" style="margin: 0;"/>
	<button ng-click="shareItem()" class="btn btn-info" translate>menu.share</button>
	<div class="errormessage" style="margin-left: 135px;height:5%">{{errors}}</div>

	<ul style="overflow:auto;height:72%;margin:0 25px;" class="accordion">
		<li ng-click="collapse[module.id] =! collapse[module.id]" style="cursor: pointer;" ng-repeat="module in modules" class='module accordion-group'>
			<input type="checkbox" ng-model="module.selected" ng-click="selectAll(module,$event)"style="margin: 3px 8px 5px 15px;"><span>{{module.name}}</span>
			<ul class="accordion-heading" collapse="!collapse[module.id]">
				<div class="outer">
					<div class="inner">
						<li ng-repeat="item in module.items">
							<input type="checkbox" ng-model="item.selected" ng-click="selectItem(module,item,$event)" style="margin: 5px 10px 5px 20px;">
							<span style="color: white;">{{item.name}}</span>
						</li>
					</div>
				</div>
			</ul>
		</li>
	</ul>	
</div>