<style>
.reveal-modal {
  width: 55%;
  height: 35%
}
</style>
<div id="trim-modal">
  <h4>Would you like to trim your video?</h4>
  <div class="muted with-margin-bottom">With trimming, you can choose the start and stop times to show only a portion of the video to students. To change the trim times you have to re-add the video.</div>
  <div class="right">
    <button id="cancel-btn" class="button small with-margin-right no-margin-bottom" ng-click="cancel()">Use Full Video</button>
    <button id="trim-btn" class="button small success no-margin-bottom" ng-click="trim()">Trim Video</button>
  </div>
</div>
