<center>
    <h2 translate="password_edit.change_password"></h2>
    <br />
    <p>New Password</p>
    <input type="password" ng-model="user.password" id="user_password" class="string password" name="user[password]" size="50"/>
    <br />
    <p>New Password Confirmation</p>
    <input type="password" ng-model="user.password_confirmation" id="user_password_confirmation" class="string password" name="user[password_confirmation]" size="50"/>
    <br />
    <input type="button" ng-click="change_password()" value="Change Password" class="btn btn-primary"/>
    <br />
    <br />
    <a href="/#/users/login">Login</a>
    <br/>
</center>




