<center class='row small-12 with-margin'>
	<div class="small-8">
		<ul class="text-left">
		<br>
		<br>
		<br>
		<br>
			<li><h5 >We've sent you an email <b>{{user_email}}</b> with a link to reset your password.</h5></li>
			<li>
				<h6 class="subheader no-margin size-14">(If you don't receive an email in a few minutes, please check your junk mail filter.)</h6>
			</li>
			<br>
			<li><h5 >-The Scalable<span class="no-padding color-green" style="font-weight: 400;">Learning</span> Team</h5></li>
		</ul>
		<hr />
	</div>
</center>