<div class="small-12 column">
    <form ng-submit="reset_password()" novalidate>
        <div class="with-margin">
            <div class="right">
                <!-- <span calss="show-for-large-only">{{'language' | translate}}</span> -->
                <div class="show-inline" ng-show="$parent.current_lang=='sv'" ng-cloak>
                    <a style="cursor:pointer;" ng-click="$parent.changeLanguage('en')"><img src="images/sweden.png" style="width:25px;height:15px;" /></a>
                </div>
                <div class="show-inline" ng-show="$parent.current_lang=='en'" ng-cloak>
                    <a style="cursor:pointer;" ng-click="$parent.changeLanguage('sv')"><img src="images/uk.png" style="width:25px;height:15px;" /></a>
                </div>
            </div>
            <h3 class="show-inline" translate>password_edit.forgot_password</h3>
        </div>
        <div class="small-12 medium-12 large-6 columns">  
            <label>{{'email' | translate}}
                <input ng-disabled="sending" type="email" id="setting_user_email" ng-model="user.email" ng-class="{error: user.errors.email}" placeholder="Input your email address..." pattern="^[-aA-zZ0-9_+\.]+\@([-aA-zZ0-9]+\.)+[aA-zZ0-9]{2,4}$" />
                <small ng-show="user.errors.email" class="error with-tiny-padding">{{user.errors.email.join()}}</small>
            </label>
            <button type="submit" ng-disabled="sending" class="button">{{'password_edit.send_reset' | translate}}</button>
        </div>
    </form>
    <div class="small-12 column with-margin">
        <center>
            <br />
            <br />
            <a ui-sref="login" translate="sign_in"></a>
            <br/>
            {{'or' | translate}}
            <br/>
            <a ui-sref="new_confirmation" translate="password_edit.didnt_receive_confirmation"></a>
        </center>
    </div>
</div>