<center ng-show="sending" ><loading size="small" show="sending" ></center>
<center>
    <form ng-submit="forgot()">
        <h2 translate="password_edit.forgot_password"></h2>
        <br />
        <p translate="email"></p>
        <input type="email" ng-model="user.email" id="user_email" class="string email optional" name="user[email]" size="50"/>
        <br/><span class="errormessage" ng-show="user.errors.email">{{user.errors.email.join()}}</span>
        <br />
        <input type="submit" ng-click="reset_password()"  ng-disabled="sending || !user.email" value="{{'password_edit.send_reset' | translate}}" class="btn btn-primary"/>
    </form>
    <br />
    <br />
    <a href="/#/users/login" translate="sign_in"></a>
    <br/>
    {{'or' | translate}}..
    <br/>
    <a href="/#/users/confirmation/new" translate="password_edit.didnt_receive_confirmation"></a>
