<style>
    p{
        margin-left: 15px;
    }
</style>
<div ng-app="scalearAngularApp">
    <h3>Course Title</h3>
    <b>Course Enrollment Key:</b>
    <p>
        {{data}}
    </p>

    <b>Start Date:</b>
    <p>
        123456778990
    </p>

    <b>Duration:</b>
    <p>
        123456778990
    </p>

    <b>Discussion Forum Link:</b>
    <p>
        123456778990
    </p>

    <b>Description:</b>
    <p>
        123456778990
    </p>

    <b>Prerequisites:</b>
    <p>
        iuhfisuhdfoiuhsd
    </p>

    <b>Time Zone:</b>
    <p>
        Cairo
    </p>

</div>
