<center><loading size="big" show="!course"></loading></center>
<span ng-show="course">
    <div class="large-2">
        <div class="course-image left show-for-large-up">
            <img ng-class="{centerimage: course.image_url}" ng-src="{{course.image_url || '../images/course_image.png'}}" />
        </div>
        <div style="position: absolute; margin-top: 220px;" class="show-for-large-up">
            <div class="large-12 column">
                <a id="calendar_btn" class="button tiny uppercase" calendar-modal ng-click="openCalendar()">View Course Calendar</a>
            </div>
            <div class="large-12 column">
                <a class="button tiny success" ng-click="exportCourse()" ><span translate>courses.export_as</span> CSV</a>
            </div>
            
            <div id="enrollment_key" class="large-12 column with-margin-bottom" tooltip="{{'courses.course_enrollment_key' | translate}}" tooltip-placement="right" tooltip-append-to-body="true">
                <i class="fi-key size-24"></i>
                {{course.unique_identifier}}
            </div>
            <div class="large-12 column with-margin-bottom" tooltip="{{'courses.start_date' | translate}}" tooltip-placement="right" tooltip-append-to-body="true">
                <i class="fi-calendar size-24"></i> 
                <details-date date="course.start_date | amDateFormat:'dddd, MMMM D YYYY'" save="updateCourse(data,type)" validate="validateCourse" column="start_date"></details-date>
            </div>
            <div class="large-12 column with-margin-bottom" tooltip="{{'courses.duration' | translate}}" tooltip-placement="right" tooltip-append-to-body="true">
                <i class="fi-clock size-24"></i> 
                <details-text id="duration" value="course.duration" save="updateCourse()" validate="validateCourse" column="duration"></details-text> 
                <span translate="courses.weeks"></span>
            </div>
            <div class="large-12 column with-margin-bottom" ng-show="course.discussion_link">
                <i class="fi-link size-24"></i> 
                <details-link value="course.discussion_link" save="updateCourse()" validate="validateCourse" column="discussion_link"></details-link></ul>
            </div>
            <div class="large-12 column with-margin-bottom" tooltip="{{'courses.time_zone' | translate}}" tooltip-placement="right" tooltip-append-to-body="true">
                <i class="fi-clock size-24"></i> 
                <details-time-zone value="course.time_zone" options="timezones" save="updateCourse()" validate="validateCourse" column="time_zone"></details-time-zone>
            </div>             
        </div>
       
    </div>
    <div class="small-12 medium-8 large-7 columns">        
        <h2 class="title color-green" title="{{course.name}}">
            <details-text id='short_name' value="course.short_name" save="updateCourse()" validate="validateCourse" column="short_name"></details-text> 
            {{' | '}} 
            <details-text id='course_name' value="course.name" save="updateCourse()" validate="validateCourse" column="name"></details-text>
        </h2>
        <h6 class="color-blue show-for-small-only" title="{{course.name}}"><span class="dark-text" translate>courses.taught_by</span> <span ng-repeat="teacher in teachers">{{teacher.name}}<span ng-if="$index < teachers.length-1">, </span></span></h6>
        <div class="hide-for-large-up with-padding-bottom">
            <div >
                <a id="calendar_btn" class="button tiny uppercase" calendar-modal ng-click="openCalendar()">View Course Calendar</a>
            </div>
            <div >
                <a class="button tiny success" ng-click="exportCourse()" ><span translate>courses.export_as</span> CSV</a>
            </div>
            <div class="with-margin-bottom" tooltip="{{'courses.course_enrollment_key' | translate}}" tooltip-placement="right" tooltip-append-to-body="true">
                <i class="fi-key size-24"></i>
                {{course.unique_identifier}}
            </div>
            <div class="with-margin-bottom">
                <i class="fi-calendar size-24"></i> 
                <details-date date="course.start_date | amDateFormat:'dddd, MMMM D YYYY'" save="updateCourse(data,type)" validate="validateCourse" column="start_date"></details-date>
            </div>
            <div class="with-margin-bottom">
                <i class="fi-clock size-24"></i> 
                <details-text id='duration' value="course.duration" save="updateCourse()" validate="validateCourse" column="duration"></details-text> 
                <span translate="courses.weeks"></span>
            </div>
            <div class="with-margin-bottom">
                <i class="fi-link size-24"></i>
                <details-link value="course.discussion_link" save="updateCourse()" validate="validateCourse" column="discussion_link"></details-link></ul>
            </div>
            <div class="with-margin-bottom">
                <i class="fi-clock size-24"></i> 
                <details-time-zone value="course.time_zone" options="timezones" save="updateCourse()" validate="validateCourse" column="time_zone"></details-time-zone>
            </div>
            <hr />
        </div>
        <h5 translate class="subheader">groups.description</h5>
        <p style="font-weight: 200;">
            <big-area id='desc' value="course.description" save="updateCourse()" validate="validateCourse" column="description"></big-area>
        </p>
        <h5 translate class="subheader">courses.prerequisites</h5>
        <p style="font-weight: 200;">
            <big-area id='preq' value="course.prerequisites" save="updateCourse()" validate="validateCourse" column="prerequisites"></big-area>
        </p>
        <h5 translate class="subheader">courses.course_image</h5>
        <p>
            <details-link value="course.image_url" save="updateCourse()" validate="validateCourse" column="image_url"></details-link>
        </p>
    </div>
    <div class="teachers-column hide-for-small-only light-grey">
        <button ng-click="addNewTeacher()" ng-hide="teacher_forum || in_delete" class="button successs tiny add-teacher-button" style="margin-bottom:4px">
            {{'courses.add_teacher' | translate}}
        </button>
        <button ng-show="!teacher_forum" ng-click="toggleDelete()" class="button tiny" ng-class="{'alert': !in_delete, 'success': in_delete}" >
            {{toggle_message | translate}}
        </button>
        
        <div ng-show="teacher_forum">
            <form name='email_form' novalidate>
                <!-- <input name='email' type="email" id="new_email" placeholder="{{'email'|translate}}" ng-model="new_teacher.email" required/>   -->
                <div style="font-size: 12px;font-style: italic;line-height: 15px;">
                    <span translate>adding_teacher</span> scalable-learning.<br>
                    <span translate>create_account</span><span>: <a href="http://www.scalable-learning.com/#/users/teacher">http://www.scalable-learning.com/#/users/teacher</a></span>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <input name='email' type="email" id="new_email" pattern="^[-aA-zZ0-9_+\.]+\@([-aA-zZ0-9]+\.)+[aA-zZ0-9]{2,4}$" placeholder="{{'email'|translate}}" ng-model="new_teacher.email" style="height: 34px !important;margin-bottom: 5px;"/>                
                        <small ng-show='email_form.email.$dirty && email_form.email.$invalid' class="error" translate>invalid_email</small>
                        <span class="errormessage" ng-show="new_teacher.error">{{new_teacher.error}}</span>
                    </div>
                </div>
                <!-- <span class='help-inline' ng-show='email_form.email.$dirty && email_form.email.$invalid'><br/>{{'invalid_email'|translate}}</span>                 -->
                <div class="row">
                    <div class="large-12 columns">
                        <select id="new_role" ng-model="new_teacher.role" style="height: 34px;margin-bottom: 5px;">
                            <option value="3" translate>courses.professor</option>
                            <option value="4" translate>courses.ta</option>
                        </select>
                    </div>
                </div>
                <!-- <div style="color: dimgrey; min-height: 18px;">{{new_teacher.status}}</div> -->
                <a id="invite" ng-click="saveTeacher()" class="button success tiny" style="margin-bottom:2px">{{'courses.invite' | translate}}</a>
                <br />
                <a class="button alert tiny" ng-click="removeNewTeacher()">Cancel</a> 
                <!-- <delete-button ng-if="!teacher.owner" id="delete_teacher" size="small" color='dark' action="removeColumn($index)" style="cursor: pointer;" hide-confirm="true"></delete-button> -->
            </form>
        </div>
        <h6 title="{{course.name}}"><span class="dark-text" translate>courses.teachers</span></h6>
        <ul class="vcard under-the-other" ng-repeat="teacher in teachers">
          <profile-image email="teacher.email" imagesize="165" style="margin-bottom: 5px;"></profile-image>
          <li class="fn truncate" title="{{teacher.name+' '+teacher.last_name}}">{{teacher.name+' '+teacher.last_name}}</li>
          <li class="email break-text"><a href="">{{teacher.email}}</a></li>
          <li class="locality">
            <details-select value="teacher.role" options="roles" save="updateTeacher($index)" column="role" style="width: 120px;" ></details-select>
            <div style="color: dimgrey; min-height: 18px;">{{teacher.status}}</div>
            <delete-button ng-show="in_delete" ng-if="!teacher.owner" id="delete_teacher" size="small" color='dark' action="removeTeacher($index)" style="cursor: pointer;"></delete-button></li>
        </ul>
    </div>
</span>

<!-- <center><loading size="big" show="!data.course" /></center>
<div class="course-left" ng-show="data.course">
    <div class="course-image">
        <img  ng-show="!data.course.image_url" src="../images/course_image.png"/>
        <img  ng-show="data.course.image_url" ng-src="{{data.course.image_url}}" />
    </div>
    <hr class="first-line" />
    <div class="course-names">
        <details-text value="data.course.short_name" save="updateCourse()" validate="validateCourse" column="short_name"></details-text> {{' | '}} <details-text value="data.course.name" save="updateCourse()" validate="validateCourse" column="name"></details-text>
    </div>
    <hr />
    <div class="course-details">
        <ul style="font-size: 15px; margin: 0px;" tooltip="{{'courses.course_enrollment_key' | translate}}" tooltip-placement="right" tooltip-append-to-body="true"><span class="key-icon" /></span>{{data.course.unique_identifier}}</ul>
        <ul style="font-size: 15px; margin: 0px;" tooltip="{{'courses.discussion_forum_link' | translate}}" tooltip-placement="right" tooltip-append-to-body="true"><span class="link-icon" ></span><details-link value="data.course.discussion_link" save="updateCourse()" validate="validateCourse" column="discussion_link"></details-link></ul>
        <ul style="font-size: 15px; margin: 0px;" tooltip="{{'courses.start_date' | translate}}" tooltip-placement="right" tooltip-append-to-body="true"><span class="calendar-icon" /></span><details-date date="data.course.start_date | amDateFormat:'dddd, MMMM D YYYY'" save="updateCourse(data,type)" validate="validateCourse" column="start_date"></details-date></ul>
        <ul style="font-size: 15px; margin: 0px;" tooltip="{{'courses.duration' | translate}}" tooltip-placement="right" tooltip-append-to-body="true"><span class="duration-icon" /></span><details-text value="data.course.duration" save="updateCourse()" validate="validateCourse" column="duration"></details-text> <span translate="courses.weeks"></span></ul>


        <ul style="font-size: 15px; margin: 0px;" tooltip="{{'courses.time_zone' | translate}}" tooltip-placement="right" tooltip-append-to-body="true"><span class="clock-icon" /></span><details-time-zone value="data.course.time_zone" options="timezones" save="updateCourse()" validate="validateCourse" column="time_zone"></details-time-zone></ul>
        <br />
    </div>
    <button class="btn btn-success" style="float: right; margin-right: 10px; background-image: initial;" ng-click="exportCourse()" ><span translate>courses.export_as</span> CSV</button>


</div>
<div class="course-right" ng-show="data.course">
    <div class="top">
        <span class="dropdown-header"><b translate>head.information</b></span>
        <br />
        <span style="padding-left: 30px;">
            <b translate="groups.description"></b>
            <p style="margin-left: 40px;">
                <big-area value="data.course.description" save="updateCourse()" validate="validateCourse" column="description"></big-area>
            </p>
        </span>
        <span style="padding-left: 30px;">
            <b translate="courses.prerequisites"></b>
            <p style="margin-left: 40px;">
                <big-area value="data.course.prerequisites" save="updateCourse()" validate="validateCourse" column="prerequisites"></big-area>
            </p>
        </span>
        <span style="padding-left: 30px;">
            <b translate="courses.course_image"></b>
            <p style="margin-left: 40px;">
                <details-link value="data.course.image_url" save="updateCourse()" validate="validateCourse" column="image_url"></details-link>
            </p>
        </span>
    </div>
    <div class="bottom">
        <span class="dropdown-header"><b translate>courses.teachers</b></span>
        <br />
        <div class="teacher-item" ng-repeat="teacher in teachers">
            <div ng-show="teacher.id">
                <profile-image email="teacher.email" imagesize="70" style="margin-bottom: 5px;"></profile-image>
                <div>
                    {{teacher.name}}
                </div>
            </div>
            
            <div ng-show="!teacher.id">
                <profile-image email="teacher.email" imagesize="70" style="margin-bottom: 5px;"></profile-image>
                <div>
                    {{teacher.email}}
                </div>
            </div>
            <details-select value="teacher.role" options="roles" save="updateTeacher($index)" column="role" style="width: 120px;" ></details-select>
            <div style="color: dimgrey; min-height: 18px;">{{teacher.status}}</div>
            <delete-button ng-show="in_delete" ng-if="!teacher.owner" id="delete_teacher" size="small" color='dark' action="removeTeacher($index)" style="cursor: pointer;"></delete-button>
        </div>
        <div class="teacher-item" ng-repeat="new_teacher in new_teachers">
            <form name='email_form' novalidate>
                <input name='email' type="email" id="new_email" pattern="^[-aA-zZ0-9_+\.]+\@([-aA-zZ0-9]+\.)+[aA-zZ0-9]{2,4}$" placeholder="{{'email'|translate}}" ng-model="new_teachers[$index].email" value="new_teacher.email" ng-change="$parent.check(new_teacher.email, $index)"/>                
                 
                <span class='help-inline' ng-show='email_form.email.$dirty && email_form.email.$invalid'><br/>{{'invalid_email'|translate}}</span>                
                <span class="errormessage" ng-show="new_teachers[$index].error">{{new_teachers[$index].error}}</span>
                <br/>
                <select id="new_role" ng-model="new_teachers[$index].role">
                    <option value="3" translate>
                        courses.professor
                    </option>
                    <option value="4" translate>
                        courses.ta
                    </option>
                </select>
                <div style="color: dimgrey; min-height: 18px;">{{new_teacher.status}}</div>
                <button ng-hide="new_teachers.length == 0 || in_delete" ng-click="saveTeachers()" class="btn btn-success add-teacher-button" ng-disabled="(new_teachers | filter:{role:'!'}).length != 0 || (new_teachers | filter:{email:'!'}).length != 0">{{'courses.invite' | translate}}</button>
                <br />
                <delete-button ng-if="!teacher.owner" id="delete_teacher" size="small" color='dark' action="removeColumn($index)" style="cursor: pointer;" hide-confirm="true"></delete-button>
            </form>
        </div>
    </div>
    <div class="teacher-controls">
        <p ng-hide="new_teachers.length == 0" style="margin-left: 10%;margin-top: 20px;float: left;font-size: 12px;font-style: italic;line-height: 15px;background:whitesmoke"><span translate>adding_teacher</span> scalable-learning.<br><span translate>create_account</span><span>: <a href="http://www.scalable-learning.com/#/users/teacher">http://www.scalable-learning.com/#/users/teacher</a></span></p>
        <button ng-show="new_teachers.length == 0" ng-click="toggleDelete()" class="btn delete-teacher-button" ng-class="{'btn-danger': !in_delete, 'btn-success': in_delete}" style="background-image: initial; float: right;">
            <img ng-show="!in_delete" src="../images/delete_teacher.png" /> {{toggle_message | translate}}
        </button>
        <button ng-click="addColumn(new_teachers.length-1)" ng-hide="new_teachers.length != 0 || in_delete" class="btn btn-success add-teacher-button" style="background-image: initial; float: right; margin-right: 15px;" ng-disabled="(new_teachers | filter:{role:'!'}).length != 0 || (new_teachers | filter:{email:'!'}).length != 0">
            <img src="../images/add_teacher.png" /> {{'courses.add_teacher' | translate}}
        </button>
    </div>
</div> -->