<style>
    p{
        margin-left: 15px;
    }
</style>

<div>
<span ng-hide="data">
    <br />
    <center><loading size="big" show="true" style="position:relative;top:40%" /></loading></center>
</span>
<span ng-hide="!data">
    <h3>{{data.course.short_name}} | {{data.course.name}}</h3>

    <b ><span translate>courses.short_name</span>:</b>
    <p>
        <details-text value="data.course.short_name" save="updateCourse()" validate="validateCourse" column="short_name"></details-text>
    </p>

    <b ><span translate>courses.course_name</span>:</b>
    <p>
        <details-text value="data.course.name" save="updateCourse()" validate="validateCourse" column="name"></details-text>
    </p>

    <b ><span translate>courses.course_enrollment_key</span>:</b>
    <p>
        {{data.course.unique_identifier}}
    </p>

    <b ><span translate>courses.start_date</span>:</b>
    <p>
        <details-date date="data.course.start_date" save="updateCourse(data,type)" validate="validateCourse" column="start_date"></details-date>
    </p>

    <b ><span translate>courses.duration</span>:</b>
    <p>
        <details-text value="data.course.duration" save="updateCourse()" validate="validateCourse" column="duration"></details-text> <span translate>courses.weeks</span>
    </p>
        <!-- <details-text value="data.course.duration" validate="validateDuration" save="updateCourse()" column="duration"></details-text> Weeks
    </p > -->

    <b ><span translate>courses.discussion_forum_link</span>:</b>
    <p>
        <details-text value="data.course.discussion_link" save="updateCourse()" validate="validateCourse" column="discussion_link"></details-text> |
        <a href="{{url_with_protocol(data.course.discussion_link)}}" target="_blank" ><span translate>courses.visit_link</span></a>
    </p>

    <b ><span translate>courses.course_description</span>:</b>
    <p>
        <big-area value="data.course.description" save="updateCourse()" validate="validateCourse" column="description"></big-area>
    </p>

    <b ><span translate>courses.prerequisites</span>:</b>
    <p>
        <big-area value="data.course.prerequisites" save="updateCourse()" validate="validateCourse" column="prerequisites"></big-area>
    </p>

    <b ><span translate>courses.time_zone</span>:</b>
    <p>
        <details-time-zone value="data.course.time_zone" options="timezones" save="updateCourse()" validate="validateCourse" column="time_zone"></details-time-zone>
    </p>
</span>
<br>
<br>
<button class="btn btn-info" ng-click="exportCourse()" ><span translate>courses.export_as</span> CSV</button>    


</div>
