<style>
    .row{
        max-width: 62.5rem !important;
    }
    .vcard{
        width: 200px;
        max-width: 200px;
    }
</style>
<h3><i class="fi-torsos-all size-30"></i> {{'head.enrolled_students' | translate}} <span class="info alert-box label looks-like-a-link" enroll-help-modal ng-click="openHelpModal()">{{'enroll.help_enroll_student' | translate}}</span></h3>
<center>
    <div ng-show="students" id="invited_students">
        <form name="email_form">
            <div class="large-12 column">
                <div class="small-12 medium-6 large-4 columns with-margin">
                    <input id="search" type="search" placeholder="{{'courses.search'|translate}}..." name="search" ng-model="searchText"/>
                </div>
                <div class="small-12 medium-6 large-4 columns with-margin-left">
                    <div class="button-group" ng-init="filterChoice = 'all'">
                        <button type="button" class="button tiny" ng-click="selectAll()" ng-disabled="(students | filter:searchText).length==0 || (students | filter:{checked: true}).length == students.length">{{'courses.select_all'|translate}}</button>
                        <button type="button" class="button tiny alert" ng-click="deSelectAll()" ng-disabled="(students | filter:searchText).length==0 || (students | filter:{checked: true}).length == 0">{{'courses.deselect_all' | translate}}</button>
                        <button type="button" class="button tiny" ng-disabled="(students | filter:{'checked':true}).length == 0" ng-click="emailForm()">{{'email'|translate}}</button>
                    </div>
                </div>
            </div>
            <div class="large-12 column">
                <user-item ng-repeat="student in students | filter: searchText" user="student" select="toggleSelect" emailsingle="emailSingle" removestudent="removeStudent"></user-item>
            </div>
        </form>
    </div>
    <loading size="big" show="loading_students">
    </loading>
</center>