
<div class="row">
    <div class="span12">
        <p style="display:inline; float: right;">
            <input id="search" placeholder="{{'courses.search'|translate}}..." type="search" name="search" ng-model="searchText"/>
        </p>
    </div>
</div>
<br />
<center>
    <div id="invited_students">
        <form name="email_form">
            <table class="table table-striped" id="students_table">
                <tr>
                    <!-- <th>Enrolled</th> -->
                    <th style="text-align: center;" translate>courses.student_name</th>
                    <th style="text-align: center;" translate>courses.student_email</th>
                    <th style="text-align: center;" translate>delete</th>
                    <th style="text-align: center;" translate>email</th>
                </tr>
                <tr ng-repeat="student in data | filter:searchText">
                    <td style="text-align: center;">
                        {{student.name}}
                    </td>
                    <td style="text-align: center;">
                        <a id="email_address" ui-sref="course.send_email({student_id:student.id})">{{student.email}}</a>
                        <!--<a href="#/courses/{{course.id}}/send_email/{{student.id}}">{{student.email}}</a>-->
                    </td>
                    <td style="text-align: center;">
                        <input id="remove_button" class="btn" type="button" ng-click="removeStudent(student.id, $index)" value="{{'lectures.remove'|translate}}"/>
                        <!--<a ui-sref="course.remove_student({student_id:student.id})" data-confirm="Are you would like to delete {{student.name}} and all of his data?">Remove from course</a>-->
                    </td>
                    <td style="text-align: center;" ng-init="$parent.emails[$index] = ','">
                        <input class="checks" ng-checked="$parent.checked" type="checkbox" ng-model="$parent.emails[$index]"  ng-true-value="{{student.email}}" ng-false-value="," value="{{student.email}}"/>
                    </td>
                </tr>
            </table>
            <input class="btn" id="email_button" value="{{'email'|translate}}" style="float: right; margin-right: 3%;" ng-disabled="(emails|filter:',').length == emails.length" type="button" ng-click="emailForm()" />
            <input class="btn btn-primary" value="{{'courses.select_all'|translate}}" type="button" style="float: right; margin-right: 10px;" ng-click="selectAll()" ng-disabled="(data | filter:searchText).length==0"/>
            <input class="btn btn-danger" value="{{'courses.deselect_all'|translate}}" type="button" style="float: right; margin-right: 10px;" ng-click="deSelectAll()" ng-disabled="(data | filter:searchText).length==0"/>
        </form>


    </div>
</center>