<!--[htmlclean-protect]-->
<div class="well well-lg" style="text-align: left;">
  <h3><span translate>enroll_email.help_enroll</span></h3>
  <p translate>enroll_email.instruction</p>
  <br>
  <tabset>
    <tab heading="Regular Student">
      <div class="panel">
        <div id="enrollment_message" clip-copy="getTextToCopy()" clip-click="animateCopy()">
          <p><span translate>enroll_email.dear_student</span>,</p>
          <p><span translate translate-values='{course_name: course.name}'>enroll_email.this_term_new_system</span>
            <ul style="list-style: none;">
              <li><span>1. </span><span translate>enroll_email.go_to</span> <a href="{{'home'| href}}">{{'home'| href}}</a> <span translate>enroll_email.create_account_with_university</span></li>
              <li><span>2. </span><span translate>enroll_email.add_course_by_choosing</span> <span>{{course.short_name}} :</span> <b>{{course.unique_identifier}}</b></li>
            </ul>
          </p>
          <p><span translate>enroll_email.sincerely</span>,
            <br />
            <span>{{current_user.name+' '+current_user.last_name}}</span></p>
        </div>
        <div class="well well-lg" style="color: gray;font-size: 12px;font-weight: bold;float: right"><span translate>courses.information.tooltip.click_to_copy</span></div>
      </div>
    </tab>
    <tab heading="Guest Student">
      <div class="panel">
        <div id="enrollment_message" clip-copy="getTextToCopy()" clip-click="animateCopy()">
          <p><span translate>enroll_email.dear_student</span>,</p>
          <p><span translate translate-values='{course_name: course.name}'>enroll_email.this_term_new_system</span>
            <ul style="list-style: none;">
              <li><span>1. </span><span translate>enroll_email.go_to</span> <a href="{{'home'| href}}">{{'home'| href}}</a> <span translate>enroll_email.create_account_with_university</span></li>
              <li><span>2. </span><span translate>enroll_email.add_course_by_choosing</span> <span>{{course.short_name}} :</span> <b>{{course.guest_unique_identifier}}</b></li>
            </ul>
          </p>
          <p><span translate>enroll_email.sincerely</span>,
            <br />
            <span>{{current_user.name+' '+current_user.last_name}}</span></p>
        </div>
        <div class="well well-lg" style="color: gray;font-size: 12px;font-weight: bold;float: right"><span translate>courses.information.tooltip.click_to_copy</span></div>
      </div>
    </tab>
  </tabset>

</div>
<!--[/htmlclean-protect]-->
