<!--[htmlclean-protect]-->
<div class="well well-lg" style="text-align: left;">
  <h3><span translate>enroll_email.help_enroll</span></h3>
  <p translate>enroll_email.instruction</p>
  <br>
  <tabset>
    <tab heading="Regular Student">
      <div class="panel">
        <div id="enrollment_message" clip-copy="getTextToCopy()" clip-click="animateCopy()">
          <p><span translate>enroll_email.dear_student</span>,</p>
          <p class='no-margin'>
          	<span translate translate-values='{course_name: course.name}'>enroll_email.this_term_new_system_part_1</span><a href="{{enrollment_url}}">{{enrollment_url}}</a><span translate>enroll_email.this_term_new_system_part_2</span>.
			<br>
			<br>
      </p>
      <p><span translate>enroll_email.sincerely</span>,
        <br />
        <span>{{current_user.name+' '+current_user.last_name}}</span>
       <br>
      </p>
      <p>
        <span translate>enroll_email.go_to</span> <a href="{{'home'| href}}">{{'home'| href}}</a> 
        <span translate>enroll_email.add_course_by_choosing_part_1</span><b>{{course.unique_identifier}}</b><span translate translate-values='{short_name: course.short_name}'> enroll_email.add_course_by_choosing_part_2</span>
      </p>

        </div>
        <div class="well well-lg" style="color: gray;font-size: 12px;font-weight: bold;float: right"><span translate>courses.information.tooltip.click_to_copy</span></div>
      </div>
    </tab> 
    <tab heading="Guest Student">
      <div class="panel">
        <div id="enrollment_message" clip-copy="getTextToCopy()" clip-click="animateCopy()">
          <p><span translate>enroll_email.dear_student</span>,</p>
          <p class='no-margin'>
            <span translate translate-values='{course_name: course.name}'>enroll_email.this_term_new_system_part_1</span><a href="{{enrollment_url_guest}}">{{enrollment_url_guest}}</a><span translate>enroll_email.this_term_new_system_part_2</span>.
      <br>
      <br>
      </p>
      <p><span translate>enroll_email.sincerely</span>,
        <br />
        <span>{{current_user.name+' '+current_user.last_name}}</span>
       <br>
      </p>
      <p>
        <span translate>enroll_email.go_to</span> <a href="{{'home'| href}}">{{'home'| href}}</a> 
        <span translate>enroll_email.add_course_by_choosing_part_1</span><b>{{course.guest_unique_identifier}}</b><span translate translate-values='{short_name: course.short_name}'> enroll_email.add_course_by_choosing_part_2</span>
      </p>

        </div>
        <div class="well well-lg" style="color: gray;font-size: 12px;font-weight: bold;float: right"><span translate>courses.information.tooltip.click_to_copy</span></div>
      </div>
    </tab>
  </tabset>


</div>
<!--[/htmlclean-protect]-->
