
<!--<div class="well">-->
    <form method="post" style="text-align: left;">
        <table style="width: 100%;">
            <tr>
                <td style="width: 70px;">
                    <b>To: </b>
                </td>
                <td>
                    <input id="to" type="text" name="emails" title="To" style="width: 80%;" readonly="readonly" value="{{email}}"/>
                    <input class="btn" id="send_email" type="button" ng-click="sendEmail(email, subject, message)" style="float: right; width: 10%" value="Send" ng-disabled="!email || !subject || !message" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Subject: </b>
                </td>
                <td style="width: 100%">
                    <input id="subject" type="text" name="subject" style="width: 80%;" ng-model="subject"/>

                </td>

            </tr>
        </table>
        <br />
        <textarea ui-tinymce ng-model="message" id="tinymce_body" name="body">oisjdfoij</textarea>
        <br />


    </form>
<!--</div>-->
