<b translate>courses.teachers</b>
    <div id="the_table">

            <table id="teachers" class="table table-striped">
                <tr>
                    <th translate>email</th>
                    <th translate>role</th>
                    <th translate>status</th>
                    <th></th>
                </tr>
                <tr ng-repeat="teacher in teachers" id="teacher">
                    <td style="width: 300px;" id="email">
                        {{teacher.email}}
                    </td>
                    <td  style = "width:500px" id="role">
                        <details-select value="teacher.role" options="roles" save="updateTeacher($index)" column="role" style="width: 120px;" ></details-select>
                    </td>
                    <td id="status">
                        <span ng-show="teacher.status">{{"controller_msg."+teacher.status.toLowerCase()|translate}}</span>
                    </td>
                    <td>
                        <delete-button ng-if="!teacher.owner" id="delete_teacher" size="small" color='dark' action="removeRow($index)" style="cursor: pointer;">
                    </td>
                </tr>
                <tr ng-repeat="new_teacher in new_teachers" id="new_teacher">
                    <td style="width: 300px;">

                    	<form name='email_form' novalidate>
                        <input name='email' type="email" id="new_email" pattern="^[-aA-zZ0-9_+\.]+\@([-aA-zZ0-9]+\.)+[aA-zZ0-9]{2,4}$" placeholder="{{'email'|translate}}" ng-model="new_teachers[$index].email" value="new_teacher.email" ng-change="$parent.check(new_teacher.email, $index)"/>
                        <span class='help-inline' ng-show='email_form.email.$dirty && email_form.email.$invalid'>{{'invalid_email'|translate}}</span>
                        <br><span class="errormessage" ng-show="new_teachers[$index].error">{{new_teachers[$index].error}}</span>
                        
                        <!--<details-text value="new_teacher.email" save="updateTeacher($index)" column="email" validate="email"></details-text>-->
                        </form>

                    </td>
                    <td  style = "width:500px">
                        <select id="new_role" ng-model="new_teachers[$index].role">
                            <option value="3" translate>
                                courses.professor
                            </option>
                            <option value="4" translate>
                                courses.ta
                            </option>
                        </select>
                    </td>
                    <td id="new_status">
                        {{'controller_msg.'+new_teacher.status.toLowerCase()|translate}}
                    </td>
                    <td>
                        <delete-button ng-if="!teacher.owner" id="delete_new_teacher" size="small" color='dark' action="removeNewRow($index)" style="cursor: pointer;" hide-confirm="true">
                    </td>
                </tr>
            </table>
        <center>
            <input type="button" class="btn" id="add_teacher" ng-click="addRow(teachers.length-1)" value="{{'courses.add_teacher'|translate}}" ng-disabled="new_teachers.length>0"/>
            <input type="button" class="btn btn-primary" ng-click="saveTeachers()" value="{{'save'|translate}}" ng-show="new_teachers.length" ng-disabled="(new_teachers | filter:{role:'!'}).length != 0 || (new_teachers | filter:{email:'!'}).length != 0" style="margin-left: 5px;"/>
        </center>
    </div>
