<div style="position: absolute;bottom: 0;min-width: 50%;border: 1px groove #e6e6e6;padding: 5px;z-index: 1;font-size: 14px;border-radius: 5px;" class=" transparent-darkblue-hover ">
  <a ng-hide="!closeBtn" ng-click="closeBtn()"><i class="color-white size-14 fi-x" style="top: 0;position: absolute;margin: 5px;float: right;right: 0;line-height: 0;"></i></a>
  <div class="color-white text-left" ng-bind-html="annotation | parseUrlFilter:'_blank'" ng-click="actionBtn()" style="width: 97%;font-size:2.4vh"></div>
</div>
