<td style="padding: 0px;" class="timeline-icon-container valign-top">
  <div ng-click="seek()(item.time, item.data.lecture_id)" class="solved timeline-item" tooltip-placement="left" tooltip="{{(item.time) | formattime:'hh:mm:ss'}}" tooltip-append-to-body="true" >
    <img src="../images/confused-timeline.png" />                  
  </div>
</td>
<td style="padding: 0px;">
  <p class="solved size-14" ng-click="seek()(item.time, item.data.lecture_id)">{{msg | translate}}</p>
</td>
<td style="min-width:90px; padding: 0px; padding-right: 8px;">                 
  <delete_button size="small" color='dark' action="deleteConfused(item)" style="float: right;"></delete_button>
</td>