<div ng-if="!ipad" class='fullscreenDiv' ng-class="{'full':!screenfull.isFullscreen, 'small':screenfull.isFullscreen}" ng-click='fullBtn()'></div>
<div class='alert-box position-absolute with-tiny-padding success' style="left: -340px;top: -25px;" ng-show='show_message' translate="lectures.thanks"></div>
<span class="hidden_shortcuts panel" ng-show='show_shortcuts'>
	{{'lectures.keyboard_controls'|translate}}<br>
	<ul>
		<li><kbd>B</kbd> <span translate>lectures.back_10s</span></li>
		<li><kbd>Space</kbd> <span translate>lectures.play_pause</span></li>
		<li><kbd>Q</kbd> <span translate>lectures.ask_question</span></li>
		<li><kbd>C</kbd> <span translate>lectures.confused</span></li>
		<li><kbd>N</kbd> <span translate>lectures.video_notes</span></li>
	</ul>
</span>
<div class="confusedDiv" ng-click='confusedBtn()' title="{{'youtube.click_tell_confused'|translate}}"></div>
<div class="notesDiv" ng-click='notesBtn()' title="{{'lectures.video_notes'|translate}}"></div>
<div class="questionDiv" ng-click='questionBtn()' title="{{'youtube.click_ask_question'|translate}}"></div>
<div class="shortcutDiv" ng-click='showShortcuts()' title="{{'youtube.click_video_shortcuts'|translate}}"></div>
