<div ng-if="!ipad" class='fullscreenDiv' ng-class="{'full':!screenfull.isFullscreen, 'small':screenfull.isFullscreen}" ng-click='fullBtn()'></div>
<div class='alert alert-success fading' ng-show='show_message' translate="lectures.thanks"></div>
<span class="hidden_shortcuts panel" ng-show='show_shortcuts'>
	{{'lectures.keyboard_controls'|translate}}<br>
	<ul>
		<li><kbd>B</kbd> {{'lectures.back_10s' | translate}}</li>
		<li><kbd>Space</kbd> {{'lectures.play_pause' | translate}}</li>
		<li><kbd>Q</kbd> {{'lectures.ask_question' | translate}}</li>
		<li><kbd>C</kbd> {{'lectures.confused' | translate}}</li>
		<li><kbd>N</kbd> {{'lectures.video_notes' | translate}}</li>
	</ul>
</span>
<div class="confusedDiv" ng-click='confusedBtn()' title="{{'youtube.click_tell_confused'|translate}}"></div>
<div class="notesDiv" ng-click='notesBtn()' title="{{'lectures.video_notes'|translate}}"></div>
<div class="questionDiv" ng-click='questionBtn()' title="{{'youtube.click_ask_question'|translate}}"></div>
<div class="shortcutDiv" ng-click='showShortcuts()' title="{{'youtube.click_video_shortcuts'|translate}}"></div>
