<!-- build:css(.tmp/styles) styles/courseware.css -->
<!-- <link rel="stylesheet" href="styles/modules_selector.css"/> -->
<link rel="stylesheet" href="styles/student/courseware.css"/>
<link rel="stylesheet" href="styles/controls.css" type="text/css" media="screen" />
<link rel="stylesheet" href="styles/student/student_lecture.css"/>
<!-- endbuild -->
<div ui-view class="small-12"></div>
<!-- <div ui-view="middle" class="small-12 medium-12 large-7 columns"></div>
<div  id="student-accordion" class="small-12 medium-12 large-5 columns no-padding-right" ui-view="right"></div> -->
