<!-- build:css(.tmp/styles) styles/courseware.css -->
<link rel="stylesheet" href="styles/student/courseware.css"/>
<link rel="stylesheet" href="styles/student/modules_selector.css"/>
<link rel="stylesheet" href="styles/controls.css" type="text/css" media="screen" />
<!-- endbuild -->

<div class="row" style="width:100%; margin-right: -20px;">
<center ng-show="!course"><br/><br/><loading size="small" show="!course"/></center>
	<!-- <div class="span3" id="tree" style="min-height: 450px; max-height: 450px; overflow-y: scroll; width: auto; min-width: 100%; padding: 20px; background-color: white;"> -->
		<table ng-show="course && !hide_all" class="header-container">
			<tr>
				<td colspan="1" style="padding: 10px; width: 170px;">
					<button type="button" class="btn modules-collapser btn-success" style="background-image: initial; width: 170px; max-width: 170px;" ng-click="
					toggleSelector(true)" title="{{current_module.name}}">{{short_name}}<span class="caret" style="margin-left: 5px;"></span></button>
				</td>
				<td colspan="9" style="padding: 10px; color: white; text-align: left;">
					<span ng-show="current_module">
						<div class="bar-container">
							<table style="width: 100%;">
								<tr>
									<td style="width: {{spacing}}%; text-align: left;" ng-repeat="item in current_module.quizzes.concat(current_module.lectures) | orderBy:'position'">
										<courseware-item name="item.name" id="item.id" circlesize="12" group_id="current_module.id" class_name="item.get_class_name" quiz_type="item.quiz_type" done="item.is_done" required="item.required"></courseware-item>
									</td>
								</tr>
							</table>
						</div>
						<hr style="width: 100%; margin: 0; position: relative; top: -12px; z-index: -1;">
					</span>
				</td>
			</tr>
		</table>
		<!-- {{course.groups}} -->
		<div class="modules-selector-dropdown" collapse="close_selector" ng-hide="hide || hide_all">
			<div class="multicol" style="{{columns_style}}">
				<div ng-if="today >= modules_obj[module.id].appearance_time" ng-repeat="module in course.groups | orderBy:'position'">
					<a href="" ng-click="showModule(module.id)">
						<ul style="float: left; margin: 0;" ng-class="{moduleactive: current_module.id == module.id}">
							<module-progress-circle circlesize="12" innercolor="white" module="modules_obj[module.id]" ></module-progress-circle>
							{{modules_obj[module.id].name}}
						</ul>
					</a>
				</div>
			</div>
		</div>
</div>
		<div ng-show="course && !hide_all" class="middle-container" id="middle1" style="top:{{middle_top-1+'px;'}}"  ui-view="middle1"></div>
