<span ng-repeat="(key,alert_message) in alert_messages" ng-show="alert_messages" class="warning alert-box label radius show-for-medium-down" style="margin:0px">
	 <span ng-show='key=="due"'>
	 	<span translate>controller_msg.due_date_passed</span>{{' - '+alert_message[0]+'('+alert_message[1]}}<span translate>{{ "controller_msg."+alert_message[2]}}</span>) 
	 	<span translate>controller_msg.ago</span>
	 </span>
	 <span ng-show='key=="today"'>
	 	<span translate>controller_msg.due</span> <span translate>controller_msg.today</span> <span translate>at</span> <span>{{alert_message| date:'h:mma'}}</span>
	 </span>
</span>
<span id="lecture_container">
	<div class="small-8 small-centered land-uncentered land-medium-8 portrait-medium-12 medium-8 large-uncentered large-7 no-padding columns with-small-padding-right">
		<div  ng-hide="!lecture" class="small-12">
			<div id="main-video-container" ng-style="container_style"> 
				<!-- <h4 ng-bind="module_obj[lecture.group_id].name+': '+lecture.name" class="show-inline no-margin"></h4> -->				
					<form name="answer_form" novalidate >
						<span >
							<video_container  ng-class="container_class" ng-init="video_class='flex-video'" screenfull active="fullscreen" style="width:100%;height:100%">
								<span class="no_solve" ng-if="!should_play">
									<center>
										<div style='color:#428bca; width: 100%;font-weight:300;font-size:12px' >
											<h2 style="position:relative;top:90px;font-weight:300;font-size:18px" ><span translate>lectures.finish_before_proceeding</span></h2>
										</div>						
									</center>
								</span>
								<span ng-if="should_play" step-text="Here is where you watch your online videos and answer quizzes." step-index="1" step-placement="right" step-append-to-body="true">
									<!-- <div ng-style="quiz_layer" class="widescreen slow-message" ng-show="!lecture.url || (!video_ready)">
										<center>
											<span ng-show="slow">
												<h3 style="position:relative;top:70px;font-weight:300;font-size:16px" ><span translate>lectures.server</span><span ng-show="is_youtube"> 'Youtube' </span> <span translate>lectures.is_slow</span></h3>
												<h3 style="position:relative;top:70px;font-weight:300;font-size:16px" ><span translate>lectures.try_reload</span><i class="fi-refresh" style="margin-left: 8px;margin-top: 3px;cursor:pointer" title="reload" ng-click="refreshVideo()"></i></h3>
											</span>
											<loading size='small' show='true' style="position:relative;top:70px;" />
										</center>
									</div> -->
									<youtube class="flex-video widescreen no-margin-bottom" ng-class="video_class" id="lecture_video" url="lecture.url" player="lecture_player" autoplay='1' ng-style="video_layer" style="margin: 0 auto;">
										<quiz ng-style="quiz_layer" ng-show="quiz_mode || (lecture.url!='none' && !slow && !video_ready) || (slow && !video_ready)" resizable-video quiz-layer="quiz_layer" aspect-ratio="widescreen" video-layer="video_layer" active="fullscreen" resize="resize" max-width='0' style="z-index: 1; width: 100% !important;">
											<loading class="small-12 columns color-blue" size='big' show="lecture.url!='none' && !slow && !video_ready" style="top: 150px;">
											</loading>
											<div class="slow-message text-center" style='width:100%; height: 100%; background-color: rgba(255,255,255,0.8); position: absolute;' ng-show="slow">
												<h3 style="position:relative;top:70px;font-weight:300;font-size:16px" ><span translate>lectures.server</span><span ng-show="is_youtube"> 'Youtube' </span> <span translate>lectures.is_slow</span></h3>
												<h3 style="position:relative;top:70px;font-weight:300;font-size:16px" ><span translate>lectures.try_reload</span><i class="fi-refresh" style="margin-left: 8px;margin-top: 3px;cursor:pointer" title="reload" ng-click="refreshVideo()"></i></h3>
												<loading size='big' show='true' style="position:relative;top:70px;" />
											</div>
											<div ng-if="selected_quiz.quiz_type == 'html'" >
											 	<student-answer-form submitted="submitted" quiz="selected_quiz" student-answers="studentAnswers" explanation="explanation"/>
											</div>
											<div ng-if="selected_quiz.quiz_type != 'html'">
											 	<student-answer-video ng-repeat="answer in selected_quiz.online_answers" data="answer" quiz="selected_quiz" explanation="explanation" student-answers="studentAnswers"/>
											</div>
										</quiz>
									</youtube>
									<progress-bar ng-show="!slow && lecture.url" play_pause_class="play_pause_class"  elapsed_width="elapsed_width" seek="progress_seek" current_time='current_time' total_duration='total_duration' player="lecture_player" timeline="timeline['lecture'][lecture.id]" style="position: relative;">
										<div ng-show="end_buttons" style="position: absolute;top: -71px;left: 47%;width: 0px;">
											<button type="button" ng-click="replay()" class="btn btn-success" style="position: absolute;left: -171px;height:70px;width:180px;" translate>lectures.replay</button>
									    	<button ng-show='next_item.id' type="button" ng-click="nextItem()" class="btn btn-success" style="position: absolute;left: 10px;height: 70px;width: 180px;"><span translate>next</span> >> </button>
										</div>
							    		<!-- <controls id="controls-bar" class="progress_controls" ng-class="{'push-from-left': !quiz_mode}" confused="addConfused()" fullscreen="toggleFullscreen()" ask="addQuestionBlock()" note="addNote()">
										</controls> -->
										<div class="check-answer show-inline">
											<button type="button" ng-show="quiz_mode" class="tiny success button with-small-padding no-margin" ng-click="checkAnswer()" translate>youtube.check_answer</button>
										</div>
										<notification message="notification_message" submessage="notification_submessage" /> 
							    	</progress-bar>
							    	<review_inclass  id="review_inclass" vote="voteForReview()" close="closeReviewNotify()" retry="retryQuiz()" style="display:none;" /> 
							    </span>
						    </video_container>
					    </span>
					</form>
				
			</div>
		</div>
	</div>
	<div  id="student-accordion" class="student_timeline small-12 land-medium-4 portrait-medium-12 large-5 columns no-padding-right portrait-no-padding portrait-medium-height land-height medium-height-small large-height-big small-height-big no-padding-left" style="overflow-y: auto;" step-text="Use the Timeline to jump back in the lecture and review your quizzes, questions, and notes." step-index="3" step-placement="left" step-append-to-body="true">
		<student_timeline timeline="timeline['lecture']" items="module_items" current="lecture" seek="seek_and_pause" />
	</div>
</span>
