<style>
	.tab-content{
		padding: 10px;
		overflow: auto;
		height:80%;
	}
	.nav {
		margin-bottom: 0px;
		margin-left: 0px;
		list-style: none;
	}
	#main-video-container{
	}
	/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	  #main-video-container{
		clear:both;
	  }
	  #student-accordion{
	  	float: left;
	  	margin-top: 50px;
	  	width: 500px;
	  }
	}*/
	#student-accordion{
		width: 46%;
		float: right; 
		position: relative;
		right: 0px;
		bottom: 6px;
		overflow-y: auto; 
	}
	/*@media only screen and (max-width : 1312px) {
	  #student-accordion{
		width: 43%;
		overflow-y: auto;
	  }
	}
	@media only screen and (max-width : 1262px) {
	  #student-accordion{
	  	width: 40%;
	  	overflow-y: auto;
	  }
	}
	@media only screen and (max-width : 1262px) {
	  #student-accordion{
	  	width: 39%;
	  	overflow-y: auto;
	  }
	}
	@media only screen and (max-width : 1169px) {
	  #student-accordion{
	  	width: 35%;
	  	overflow-y: auto;
	  }
	}*/
	/*@media only screen and (max-width : 1112px) {
	  #student-accordion{
	  	width: 30%;
	  	overflow-y: auto;
	  }
	}
	@media only screen and (max-width : 1000px) {
	  #student-accordion{
	  	width: 24%;
	  	overflow-y: auto;
	  }
	}*/
	/*@media only screen and (max-width : 955px) {*/
	@media only screen and (max-width : 1024px) {
	  #main-video-container{
		width: 80%; 
		clear:both;
	  }
	  #student-accordion{
	  	width: 100%;
	  	float: left;
	  	margin-top: 50px;
	  	clear: both;
	  	overflow-y: visible;
	  }
	  #user_information_container{
	  	display: none;
	  }
	}
</style>

<div ng-hide="!lecture">
	<h3 style="margin-bottom: 10px; line-height: 10px;" ng-bind="modules_obj[lecture.group_id].name+': '+lecture.name"></h3>
		<div style="width: 100%; height: 100%;">
			<div id="main-video-container" style="float: left;">
				<form name="answer_form" novalidate style="margin:0">
					<center ng-show='slow' style='color:#428bca'>
						<h3 style="position:relative;top:125px" translate>lectures.server_slow</h3>
						<h3 style="position:relative;top:100px" translate>lectures.try_reload</h3>
						<loading size='small' show='true' style="position:relative;top:100px;" />
					</center>
					<div ng-show="end_buttons">
						<button type="button" ng-click="replay()" class="btn btn-primary" style="position:relative;top:330px;height:70px;width:180px;">Replay</button>
				    	<button ng-show='next_item.id' type="button" ng-click="nextItem()" class="btn btn-primary" style="position:relative;top:330px;height:70px;width:180px;">Next >> </button>
					</div>
					<!-- <video_container ng-style="video_layer" ng-class="videoborder" style="background-color:black;"> -->
						<div ng-show="display_mode" style="position: absolute; top: 36px; bottom: 53px; left: 0px;z-index: 1;">
							<quiz ng-style="quiz_layer" ng-show="display_mode">
								 <div ng-if="selected_quiz.quiz_type == 'html'" ><student-answer-form submitted="submitted" quiz="selected_quiz" student-answers="studentAnswers" explanation="explanation"/></div>
								 <div ng-if="selected_quiz.quiz_type == 'invideo'"><student-answer-video ng-repeat="answer in selected_quiz.online_answers" data="answer" quiz="selected_quiz" explanation="explanation" student-answers="studentAnswers"/></div>
							</quiz>
						</div>
						<youtube ng-show="lecture.url" style="width: 100%; z-index: 0; position: relative; bottom: 0px; top: 0px; height: auto;" id="lecture_video" ng-style="ontop_layer" url="lecture.url"  player="lecture_player" autoplay='1'/>
					    <progress-bar name="player_progress_bar" style="margin-top:-4px"lecture='lecture' timeline='timeline' progress_events='progressEvents' confused_areas='confused_areas' play_pause_class="play_pause_class" view="student" ng-show="lecture.url" elapsed_width="elapsed_width" active="fullscreen" play_btn="playBtn()" update_progress="updateProgress($event)" current_time='current_time' total_duration= 'total_duration' player="lecture_player"></progress-bar>

					    <check ng-show='display_mode' style="position: relative; display: inline-block; z-index: 1000; top: -30px; left: 47%; width: 0px;"></check>

						<controls id="controls-bar" ng-show="lecture.url && !loading_video" resizable-video ontop-layer="ontop_layer" video-layer='video_layer' quiz-layer='quiz_layer' active="$parent.fullscreen" resize='resize' aspect-ratio='lecture.aspect_ratio' max-width='0' ng-class="{ipad_controls:ipad}" style="position: relative; display: inline-block; z-index: 1000; top: -18px; left: 100%; margin-top: 5px;">
						</controls>
						
						<notification ng-style="notify_position" ng-show='show_notification'></notification>
					<!-- </video_container> -->
				</form>
			</div>
			<div id="student-accordion">
			    <tabset style="width:100%;">
			        <tab active="tabs[0].active" heading="{{'lectures.video_events' | translate}}" style="cursor: pointer; text-align: center;" >
			        	<!-- <div style="margin-top: -10px;" > -->
			            	<discussion></discussion>
			            <!-- </div> -->
			        </tab>
			        <tab active="tabs[1].active" heading="{{'lectures.video_notes' | translate}}" style="cursor: pointer;">
			            <notes></notes>
			        </tab>
			        <tab ng-show="lecture.description || (lecture.slides && lecture.slides != 'none')" id="lecture-details" active="tabs[2].active" heading="{{'lectures.lecture_details' | translate}}" style="cursor: pointer;">
			            <li>
			            {{'lectures.description' | translate}}
			            	<ul>
			            		{{lecture.description}}
			            	</ul>
			            </li>
			            <li ng-show="lecture.slides && lecture.slides != 'none'">
			            {{'lectures.slides' | translate}}
			            	<ul>
			            		<a href="{{lecture.slides}}">{{url_with_protocol(lecture.slides)}}</a>
			            	</ul>
			            </li>
			        </tab>
			    </tabset>
			    <div id="smaller-lecture-details">

			    </div>
		    </div>
	    </div>
</div>
