<!-- build:css(.tmp/styles) styles/courseware.css -->
<link rel="stylesheet" href="styles/student/modules_selector.css"/>
<link rel="stylesheet" href="styles/student/courseware.css"/>
<link rel="stylesheet" href="styles/controls.css" type="text/css" media="screen" />
<!-- endbuild -->

<div class="row" style="width:100%; margin-right: -20px;">
<center ng-show="!course"><br/><br/><loading size="small" show="!course"/></center>
		<div ng-hide="!iscollapsed" style="position: fixed; padding-left: 30px; height: 40px; left: 0px; right; 0px; top: 40px; padding-top: 10px; background-color: white; width: 100%; box-shadow: 1px 1px 1px lightgrey; z-index: 2;">
			<table ng-show="course && !hide_all" style="width: 95%;">
				<tr>
					<td style="width: 170px;">
						<div style="float: left; display: inline-block;">
							<button type="button" class="btn modules-collapser btn-success" style="background-image: initial; width: 170px; max-width: 170px;" ng-click="
							toggleSelector(true)" title="{{current_module.name}}">{{short_name}}<span class="caret" style="margin-left: 5px;"></span></button>
						</div>
					</td>
					<td style="width: {{80/current_module.quizzes.concat(current_module.lectures).length}}%; padding: 0px;" ng-repeat="item in current_module.quizzes.concat(current_module.lectures) | orderBy:'position'">
						<div style="text-align: left;">
							<courseware-item name="item.name" id="item.id" circlesize="12" group_id="current_module.id" class_name="item.get_class_name" quiz_type="item.quiz_type" done="item.is_done" required="item.required"></courseware-item>
						</div>
						<hr ng-class="{bardone: item.is_done == true}" style="width: 85%; margin: 0; position: relative; top: -9px; z-index: -1; float: right;" />
					</td>
				</tr>
			</table>
		</div>
		<div class="modules-selector-dropdown" collapse="close_selector" ng-hide="hide || hide_all" style="z-index: 1; top: 30px; background-color: whitesmoke; border: none; width: 0;">
			<div class="multicol" style="{{columns_style || '-webkit-column-count:2;-moz-column-count:2;column-count:2;'}}">
				<div ng-repeat="module in course.groups | orderBy:'position'" ng-show="today >= modules_obj[module.id].appearance_time && !shouldBeHidden(module.id)">
					<a href="" ng-click="showModule(module.id)">
						<ul style="float: left; margin: 0; color: #2d2d2d;" ng-class="{moduleactive: current_module.id == module.id}">
							<module-progress-circle circlesize="12" innercolor="black" module="modules_obj[module.id]" ></module-progress-circle>
							{{modules_obj[module.id].name}}
						</ul>
					</a>
				</div>
			</div>
		</div>
</div>
<div ng-show="course && !hide_all" class="middle-container" id="middle1" style="top:{{middle_top-1+'px;'}}"  ui-view="middle1"></div>
