<!-- <div style="float: left; display: inline-block;">
	<button type="button" class="btn modules-collapser btn-success" style="background-image: initial; width: 175px; max-width: 175px;" ng-click="toggleSelector()" title="{{current_module.name}}">
		{{shortenModuleName(current_module.name) || 'courses.select_module' | translate}}
		<span class="caret" style="margin-left: 5px;"></span>
	</button>
</div>

<div class="modules-selector-dropdown" collapse="hide || close" style="z-index: 1; top: 50px; background-color: whitesmoke; border: none; width: 0;">
	<div class="multicol" style="{{columns_style || '-webkit-column-count:2;-moz-column-count:2;column-count:2;'}}">
		<div ng-repeat="module in modules | orderBy:'position'" >
			<a href="" ng-click="select(module)">
				<ul style="float: left; margin: 0; color: #2d2d2d;" ng-class="{moduleactive: current_module.id == module.id}">
					<module-progress-circle circlesize="10" innercolor="black" module="module" ng-if="detailed" ></module-progress-circle>
					{{module.name}}
				</ul>
			</a>
		</div>
	</div>
</div> -->