<div style="float: left; display: inline-block;">
	<button type="button" class="btn modules-collapser btn-success" style="background-image: initial; width: 170px; max-width: 170px;" ng-click="
	toggleSelector()" title="{{current_module.name}}">{{short_name}}<span class="caret" style="margin-left: 5px;"></span></button>
</div>

<div class="modules-selector-dropdown" collapse="close_selector" ng-hide="hide || hide_all" style="z-index: 1; top: 30px; background-color: whitesmoke; border: none; width: 0;">
	<div class="multicol" style="{{columns_style || '-webkit-column-count:2;-moz-column-count:2;column-count:2;'}}">
		<div ng-repeat="module in course.groups | orderBy:'position'" >
			<a href="" ng-click="showModule(module.id)">
				<ul style="float: left; margin: 0; color: #2d2d2d;" ng-class="{moduleactive: current_module.id == module.id}">
					<module-progress-circle circlesize="12" innercolor="black" module="modules_obj[module.id]" ></module-progress-circle>
					{{modules_obj[module.id].name}}
				</ul>
			</a>
		</div>
	</div>
</div>