<td style="padding: 0px;" class="timeline-icon-container">
  <div ng-click="seek()(item.time, item.data.lecture_id)" class="solved timeline-item" tooltip-placement="left" tooltip="{{(item.time) | formattime:'hh:mm:ss'}}" tooltip-append-to-body="true" >
    <img src="../images/note-timeline.png" />
  </div>
</td>
<td style="padding: 0px; padding-right: 8px;" style="width:20px;">   
	<div id="show_question"> <!-- For question -->
	    <div class="table" style="margin-top: 10px;">
	        <!-- <tr> -->
	            <!-- <td colspan="2"> -->
	                <div><i ng-show="error_message" style="color:red; font-size:12px"><br>{{error_message}}<br></i></div>
	                <!-- <textarea placeholder="{{'lectures.video_notes' | translate}}..." ng-model="current_note" style="width: 96%; height: 100%;"></textarea> -->
	                <notes-area value="item.data.data" save="saveNote" delete="deleteNote()"/>
	            <!-- </td> -->
	        <!-- </tr> -->
	       <!--  <tr>
	            <td style="width:70%;">
	                <input type="text" disabled ng-model="item.time" format='hh:mm:ss' style="width: 96%;"/>
	                <select ng-model='privacy' ng-options="f.text for f in choices" style="width: 100%;"></select>
	            </td>
	            <td>
	                <input type="button" class="btn btn-primary btn-small" ng-click="postQuestion(item)" value="{{'youtube.ask'|translate}}"style="width: 96%; height: 50%;margin-bottom:2px"/>
	                <input type="button" class="btn btn-danger btn-small" ng-click="cancelQuestion(item)" value="{{'lectures.cancel'|translate}}" style="width: 96%; height: 50%;"/>
	            </td>
	        </tr> -->
	    </div>
	</div>        
</td>