<td style="padding: 0px;" class="timeline-icon-container">
  <div ng-click="seek()(item.time, item.data.lecture_id)" class="solved timeline-item" tooltip-placement="left" tooltip="{{(item.time) | formattime:'hh:mm:ss'}}" tooltip-append-to-body="true" >
    <img class="notes_img" src="../images/note-timeline.png" />
  </div>
</td>
<td style="padding: 0px; padding-right: 8px;" style="width:20px;">   
	<div id="show_note"> 
	    <div class="table">
            <div><i ng-show="error_message" style="color:red; font-size:12px"><br>{{error_message}}<br></i></div>
            <notes-area value="item.data.data" save="saveNote" delete="deleteNote()"/>
	    </div>
	</div>        
</td>