<style>
.notification_panel{
position: absolute;
top: -64px;
width: 150px; 
left: 44%;
/* z-index: 10000; */
height: 64px;
margin: 0;
padding: 10px;
background-color: whitesmoke;
color:black;
}


</style>

<div ng-show="message" class="alert-box notification_panel" ng-class="{'color-green': message==correct_notify,'color-red': message==incorrect_notify}">
  <center>
    <b><div class="size-14" style="margin-bottom: 7px;">{{message}}</div></b>
    <medium class="dark-text">{{submessage}}</medium>
  </center>
</div>