<td class="timeline-icon-container">
  <div ng-show="item.data.is_quiz_solved"  ng-click="seek()(item.time, item.data.lecture_id)" class="solved timeline-item" tooltip-placement="left" tooltip="{{(item.time) | formattime:'hh:mm:ss'}}" tooltip-append-to-body="true" >
    <img src="../images/quiz-timeline.png" />
  </div>
</td>
<td>
  <p ng-show="item.data.is_quiz_solved" class="solved" ng-click="seek()(item.time, item.data.lecture_id)">{{item.data.question}}</p>
  <p ng-show="!item.data.is_quiz_solved" >{{item.data.question}}</p>
</td>
<td style="width:20px;">                 
  <img ng-show="item.data.is_quiz_solved" src="images/check7.png" />
</td>