<style>
.review_panel{
  position: relative;
  top: -30px;
  /*width: 62.2%;*/
/*  left: 36%;*/
  z-index: 1;
  /*font-size:12px;
  padding:0 5px;
  background-color: white;
  border: solid 1px rgb(0, 162, 86);
  box-shadow: 0px 0px 1px rgb(0, 162, 86);*/
  /*float:right;*/
  /*right: 1px;*/
}
</style>

<div class="review_panel alert-box secondary right" style="padding:3px 10px">
      <b>
        <span translate>notification.reviewed_inclass</span>?
      </b>
      <button class="really-tiny button no-margin" ng-click="vote()"  translate>yes</button>
      <button class="really-tiny button no-margin" ng-click="close()" translate>no</button>
      <button class="really-tiny button no-margin" ng-click="retry()" translate>lectures.retry</button>
</div>