<style>
.review_panel{
  position: relative;
  top: -110px;
  /*width: 62.2%;*/
/*  left: 36%;*/
  z-index: 10000;
  font-size:12px;
  padding:5px;
  background-color: white;
  border: solid 1px rgb(0, 162, 86);
  box-shadow: 0px 0px 1px rgb(0, 162, 86);
  float:right;
}
</style>

<div class="review_panel">
  <div style="vertical-align:middle">
      <b style="color: #222;
      ">
        <span translate>notification.reviewed_inclass</span>?
      </b>
      <button class="btn btn-small" ng-click="vote()" style="margin-right: 5px;border-radius: 5px;font-size: 10px;padding: 2px 10px;margin-top:5px; background-image: initial;" translate>yes</button>
      <button class="btn btn-small" ng-click="close()" style="margin-right: 5px;border-radius: 5px;font-size: 10px;padding: 2px 10px;margin-top:5px; background-image: initial;" translate>no</button>
      <button class="btn btn-small" ng-click="retry()" style="margin-right: 5px;border-radius: 5px;font-size: 10px;  padding: 2px 10px;margin-top:5px; background-image: initial;" translate>lectures.retry</button>
  </div>
</div>