<style>
.review_panel{
  position: relative;
  top: -30px;
  margin-top: -5px;
  z-index: 1;
}
</style>

<div class="review_panel alert-box secondary right" style="padding:3px 10px">
      <b>
        <span translate>notification.reviewed_inclass</span>?
      </b>
      <button class="really-tiny button no-margin" ng-click="vote()"  translate>yes</button>
      <button class="really-tiny button no-margin" ng-click="close()" translate>no</button>
      <button class="really-tiny button no-margin" ng-click="retry()" translate>lectures.retry</button>
</div>