<div class="small-12 column" ng-repeat='question in quiz.questions'>
   <div class="small-12 column with-margin" ng-if="question.question_type=='header'" ng-bind-html="question.content"></div>
   <div ng-if="question.question_type!='header'">
        <div class='panel small-12 column'>
            <div ng-init="ind = getIndex()" class="small-8 columns">
                {{ind}} {{question.content}}
            </div> 
            <div class="small-4 columns right" ng-if='quiz.quiz_type=="quiz" && question.question_type!="Free Text Question"'>
                <p ng-if='correct[question.id]==1' class='color-green right' translate='lectures.correct'></p>
                <p ng-if='correct[question.id]==0' class='color-red right' translate='lectures.incorrect'></p>
            </div class="small-4 columns right">

            <div class="small-4 columns right" ng-if='quiz.quiz_type=="quiz" && question.question_type=="Free Text Question"'>
                <p ng-if='correct[question.id]==0' class='color-gray right' translate='courses.under_review'></p>
                <p ng-if='correct[question.id]==1' class='color-red right' translate='lectures.incorrect'></p>
                <p ng-if='correct[question.id]==2' class='color-orange right' translate='lectures.partial'></p>
                <p ng-if='correct[question.id]==3' class='color-green right' translate='lectures.correct'></p>
            </div class="small-4 columns right">
            <div class="small-12 columns">
                <div class="large-12 column" ng-if='question.question_type == "Free Text Question"'>
                    <textarea ng-model='studentAnswers[question.id]'></textarea>
                </div>
                <div ng-if='question.question_type.toUpperCase()=="OCQ" || question.question_type.toUpperCase()=="MCQ"' ng-repeat='answer in question.answers'>
                    <div class="small-12 columns" ng-if='question.question_type=="MCQ"' width='10px;'>
                        <label class="show-inline;">{{answer.content}}
                            <input class="left with-margin-right" atleastone ng-model='studentAnswers[question.id][answer.id]' ng-checked='studentAnswers[question.id][answer.id]'  name='ocq_{{question.id}}' type='checkbox' ng-change='updateValues({{question.id}})' ng-class="{error: submitted && !valid(question.id)}"/>
                            <small class='error' ng-show='submitted && !valid(question.id)' translate>
                                groups.must_choose_answer
                            </small>
                        </label>
                    </div>

                    <div class="small-12 columns" ng-if='question.question_type=="OCQ"' width='10px;'>
                        <label class="show-inline;">{{answer.content}}
                            <input class="left with-margin-right" atleastone ng-model='studentAnswers[question.id]' value='{{answer.id}}'  name='ocq_{{question.id}}' type='radio' ng-change='updateValues({{question.id}})' ng-class="{error: submitted && !valid(question.id)}"/>
                            <small class='error' ng-show='submitted && !valid(question.id)' translate>
                                groups.must_choose_answer
                            </small>
                        </label>
                    </div>
                </div>
                <div ng-if='question.question_type.toUpperCase()=="DRAG"'>
                    <div class="large-12 columns">
                       {{list}}
                       <ul class='sortable custome' ui-sortable ng-model='studentAnswers[question.id]'>
                          <li ng-repeat='answer in studentAnswers[question.id]' class='ui-state-default with-small-padding with-tiny-margin'>
                             <div class='ui-icon ui-icon-arrowthick-2-n-s handle show-inline valign-middle'></div>
                             <div class="show-inline">{{answer}}</div>
                          </li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>