<div class="btn-group align-center" data-toggle="buttons">
    <label id="quiz_checkbox" class="btn btn-checkbox">
        <input type="checkbox" ng-model="checkModel.quiz"> {{'lectures.outline' | translate}}
    </label>
    <label id="confused_checkbox"class="btn btn-checkbox">
        <input type="checkbox" ng-model="checkModel.confused"> {{'lectures.confused' | translate}}
    </label>
    <label id="discussion_checkbox" class="btn btn-checkbox">
        <input type="checkbox" ng-model="checkModel.discussion"> {{'lectures.discussion' | translate}}
    </label>
</div>
<br>
<div style="height:500px">
    <div style="overflow:auto;height:79%; position: absolute; width: 95%;"> <!-- has all discussions -->        
        <div ng-repeat="l in lectures" class='dimmed' style="min-width: 95%;" ng-class="{lectureopen: l.id == lecture.id}" id={{"outline_"+l.id}}>        
            <h3>{{l.name}}</h3>
            <table class="table table-striped" style="border-spacing: 0.2em;">
                <div ng-repeat="item in timeline[l.id].items | filter:filterType">
                        {{item}}
                        <quiz_timeline ng-show="item.type=='quiz'" lecture_id='l.id' item='item' seek='seek' />
                        <!-- <confused_timeline ng-show="item.type=='confused'" lecture_id='l.id' item='item' seek='seek' delete='deleteConfused' />
                        <discussion_timeline ng-show="item.type=='discussion'" lecture_id='l.id' item='item' seek='seek' /> -->
                </div>
            </table>
            <hr>
        </div>
    </div>
</div>