<div ng-repeat='question in quiz.questions' style="text-align:left">
   <div ng-if="question.question_type=='header'" ng-bind-html="question.content"></div>
   <div ng-if="question.question_type!='header'">
      <table class='table'>
         <tbody>
            <tr>
               <th width='10px' ng-init="ind = getIndex()">{{ind}}</th>
               <th colspan='2'>{{question.content}}</th>
               <th ng-if='quiz.quiz_type=="quiz" && question.question_type!="Free Text Question"'>
                  <p ng-if='correct[question.id]==1' class='green' translate='lectures.correct'></p>
                  <p ng-if='correct[question.id]==0' class='red' translate='lectures.incorrect'></p>
               </th>

               <th ng-if='quiz.quiz_type=="quiz" && question.question_type=="Free Text Question"'>
                  <p ng-if='correct[question.id]==0' class='gray' translate='lectures.reviewed'></p>
                  <p ng-if='correct[question.id]==1' class='red' translate='lectures.incorrect'></p>
                  <p ng-if='correct[question.id]==2' class='orange' translate='lectures.partial'></p>
                  <p ng-if='correct[question.id]==3' class='green' translate='lectures.correct'></p>
               </th>
            </tr>
            <tr ng-if='question.question_type == "Free Text Question"'>
               <td><img src='images/spacer.gif' height='1px' width='1px' /></td>
               <td colspan='2'><textarea ng-model='studentAnswers[question.id]' style='width:500px;height:100px;'></textarea></td>
            </tr>
            <tr ng-if='question.question_type.toUpperCase()=="OCQ" || question.question_type.toUpperCase()=="MCQ"' ng-repeat='answer in question.answers'>
               <td><img src='images/spacer.gif' height='1px' width='1px' /></td>
               <td ng-if='question.question_type=="MCQ"' width='10px;'><input atleastone ng-model='studentAnswers[question.id][answer.id]' ng-checked='studentAnswers[question.id][answer.id]'  name='ocq_{{question.id}}' type='checkbox' ng-change='updateValues({{question.id}})'/></td>
               <td ng-if='question.question_type=="OCQ"' width='10px;'><input atleastone ng-model='studentAnswers[question.id]' value='{{answer.id}}'  name='ocq_{{question.id}}' type='radio' ng-change='updateValues({{question.id}})'/></td>
               <td>{{answer.content}}<br/><span class='errormessage' ng-show='submitted && !valid(question.id)'>Must choose atleast one answer!</span></td>
               <td ng-if='quiz.quiz_type=="quiz"'></td>
            </tr>
            <tr ng-if='question.question_type.toUpperCase()=="DRAG"'>
               <td><img src='images/spacer.gif' height='1px' width='1px' /></td>
               <td colspan='2' style='overflow:auto'>
                  {{list}}
                  <ul class='sortable custome' ui-sortable ng-model='studentAnswers[question.id]'>
                     <li ng-repeat='answer in studentAnswers[question.id]' class='ui-state-default'>
                        <span class='ui-icon ui-icon-arrowthick-2-n-s handle'></span>
                        {{answer}}
                     </li>
                  </ul>
               </td>
               <td ng-if='quiz.quiz_type=="quiz"'></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

