<center>
	<h3 ng-show="question" translate>groups.free_text_question</h3>
</center >
<table style="background-color:white" class="table" >
	<tr>
		<td colspan="4">
			<b><span translate>answer.question</span>: {{question.title}}</b>
		</td>
	</tr>
	<tr>
		<td ng-hide="display_only" style="border-right: 1px gray solid;"><b translate>answer.show</b></td>
		<td ng-show="question.answers.showGroups && !display_only" style="border-right: 1px gray solid;"><b translate>groups.groups</b></td>
		<td></td>
		<td style="border-left: 1px gray solid;"></td>
	</tr>
	<tr ng-repeat="answer in question.answers|survey:display_only">
		<td style="border-right: 1px gray solid;">
			<input type="checkbox" ng-if="!display_only" ng-init="answer.hide=!answer.hide" ng-model="answer.hide" ng-change="saveCheckedHide(answer.id, !answer.hide)" />
		</td>
		<td ng-show="question.answers.showGroups && !display_only" style="border-right: 1px gray solid;">
			<input type="checkbox" ng-model="answer.group_selected" />
		</td>
		<td>{{related_answers[answer.user_id]}}</td>
		<td style="border-left: 1px gray solid;">
			<a ng-click="showFeedback(question.answers,$index)" style="cursor:pointer">{{answer.answer}}</a>
			<div ng-show="answer.response">
				<p style="font-style: italic;display:inline;">{{answer.response}}</p>
				<button_link ng-show="!display_only" title="{{'delete'|translate}}" class="btn-mini" action="deleteFeedback(question.answers,$index)"/>							
			</div>
			<div ng-show="answer.show_feedback && !display_only">
				<textarea ng-model="answer.response" />
				<button_link title="{{'courses.send'|translate}}" class="btn-mini" action="sendFeedback(question.answers,$index)" />
			</div>
		</td>
	</tr>
</table>