<div ng-show="sub_question_ids" infinite-scroll='getRemainingLectureCharts()' infinite-scroll-disabled='chart_scroll_disable' infinite-scroll-immediate-check='false' >
	<center style="overflow:hidden" >
		<video_container class="largescreen">
			<loading size='small' show="!url" style="top:50%;position:relative" />
			<youtube ng-if="url" id="lec_quiz_video" url="url" controls="lecture_player_controls" class="largescreen" ready="lecture_player_controls.pause()" />
		</video_container>
	</center>

	<div ng-repeat="id in sub_question_ids" class="chart" style='min-width: 300px; height: 260px;' ng-init="chart=createLectureChart(id)"> 
	    <div ng-click="seek(id)" style="cursor:pointer"><a>Question {{$index+1}}</a><br> {{getLectureTitle(id)}} </div>
	    <div google-chart chart="chart" ></div>
	    <button_link title="Export Chart" action="saveAsImg($event)" >
	</div>	
</div>
<center>
	<br><br>
	<loading size="small" show="loading_lectures_chart" />
	<div ng-if="!sub_question_ids.length && !loading_lectures_chart" >No Lecture Quizzes</div>
</center>