<div style="text-align: left; bottom: 40px;">
	<span ng-show="iscollapsed == true">
		<br />
		<br />
		<br />
	</div>
	<div class="video-showroom">
		<video_container class="video-container-styling">
			<youtube id="progress_lec_video" url="url" player="progress_player" style="width: 100%; height: 100%;"/>
		</video_container>
	</div>
	<!-- <div class="time_estimate"> -->
		<inclass_estimate time-quiz="time_parameters.quiz", time-question="time_parameters.question", quiz-count="review_quizzes_count", question-count="review_question_count" style="z-index: 1;"></inclass_estimate>
	<!-- </div> -->
	<div id="right-container" class="whole-right-container">
		<div class="filter-bar" ng-show="module.items">
			<div ng-init="custom_filter=''">
				<span translate>groups.filter</span>:
				<span ng-repeat ="(key,val) in filters">
					<input type="radio" name="filter" ng-model="$parent.custom_filter" style="margin-left:20px;margin-top:0" value="{{val}}"/>
					<span>{{key+''| translate}}</span>
				</span>
			</div>
		</div>
		<div class="main_content">
			<div ng-if="timeline['module']" ng-init="module_chart=createChart(timeline['module'].items[1].data,students_count, {'colors': ['#0c81c8']},'formatModuleChartData')">
				<p class="title"><span translate>courses.module_progress</span> <span style="font-size:12px">(<span translate>courses.based_on_invideo</span>)</span><a ui-sref="course.progress.module({module_id:module.id})" style="font-size:12px;color: white;float: right;cursor: pointer;"><span translate>courses.view_detailed_progress</span>...</a></p>
				<div google-chart chart="module_chart" class="progress_chart" ></div>
			</div>
			<div ng-repeat="module_item in module.items">
				<div id="{{module_item.quiz_type+'_'+module_item.id}}" ng-if="module_item.class_name=='quiz' && timeline[module_item.quiz_type]" ng-init="quiz=quizzes[module_item.id];">
					<p class="title">{{quiz.meta.name}} <span style="font-size:12px">({{getKeys(quiz.questions).length}} <span translate>questions.questions</span>)<a ng-show="quiz.filtered_user" ng-click="quiz.filtered_user = '';quiz.filter_strict=false" style="cursor: pointer;margin-left: 15px;color: lightskyblue;"><span translate>questions.see_all</span></a></span></p>
					<ul class="ul_item inner_content" ng-click="highlight($event,item)" ng-repeat="item in timeline[module_item.quiz_type][quiz.meta.id].items|filter:{data:'!!',type:custom_filter}" >
						<li ng-if="item.type=='charts'" ng-init="quiz_chart=createChart(item.data.answers,students_count, {},'format'+module_item.quiz_type[0].toUpperCase()+module_item.quiz_type.slice(1)+'ChartData')" class="li_inner blue">
							<inner_title type="{{'lectures.title' | translate}}" title="{{item.data.title+' ('+item.data.type+')'}}"/>
							<div google-chart chart="quiz_chart" class="progress_chart" ></div>
							<show_box  ng-show="module_item.quiz_type == 'survey'" value="item.data.show" />
						</li>
						<li ng-if="item.type=='Free Text Question'" class="li_inner coral">
							<inner_title type="{{'groups.free_text_question' | translate}}" title="{{item.data.title}}"/>
							<show_box  ng-show="module_item.quiz_type == 'survey'" value="item.data.show" action="updateHideFreeText(quiz.meta.id,item.data.id,!item.data.show)"/>
							<!-- <show_box ng-if="module_item.quiz_type == 'quiz'" value="item.data.show" action="updateHideFreeTextQuiz(quiz.meta.id,item.data.id,!item.data.show)"/> -->
							</br>
							<ul style="padding:5px;padding-left: 20px;color:black;font-weight:normal">
								
								<li ng-repeat="answer in item.data.answers|filter:{user_id:quiz.filtered_user}:quiz.filter_strict" style="list-style-position:inside; padding:8px 15px">
									<show_box ng-show="module_item.quiz_type == 'survey'"  ng-init="answer.hide = !answer.hide" value="answer.hide" action="updateHideResponse(quiz.meta.id,answer.id,answer.hide)" style="float:right"/>
								    <span ng-show="!quiz.filtered_user || quiz.filtered_user==''" style="float:right">|
								    	<button_link title="{{'lectures.related' | translate}}" action="quiz.filtered_user = answer.user_id;quiz.filter_strict=true" class="btn-mini" style="margin:0 5px" />
									</span>
									<span ng-show="module_item.quiz_type == 'survey'" style="float:right">| 
										<button_link ng-show="!answer.show_feedback" title="{{'lectures.reply'|translate}}" action="answer.show_feedback = true" class="btn btn-mini btn-success" style="margin:0 5px"/>
										<button_link ng-show="answer.show_feedback" title="{{'lectures.cancel' | translate}}" action="answer.show_feedback = false" class="btn btn-mini btn-danger" style="margin:0 5px"/>
									</span>	
									<span ng-show="module_item.quiz_type == 'quiz'" style="float:right">
							        	<details-select value="answer.grade" options="grade_options" save="updateGrade(answer)" style="float: right;margin: 1px 10px;"></details-select>
							        </span>
							     

							        
									<p style="width:600px;margin-bottom:0">{{answer.answer}}</p>
									
									<i ng-show="answer.response && !answer.show_feedback" style="padding-left: 30px;color: steelblue">{{answer.response}}</i>
									<div ng-show="answer.show_feedback">
										<textarea ng-model="answer.temp_response"  style="width: 65%;" />
										<button_link title="{{'courses.send'|translate}}" class="btn-mini" action="sendFeedback(answer);answer.show_feedback = false" />
									</div>
								</li>
							</ul>						
						</li>
					</ul>
				</div>
				<div id="lecture_{{module_item.id}}" ng-if="module_item.class_name=='lecture'" ng-init='lec=lectures[module_item.id]'>
					<p class="title">{{lec.meta.name}} <span style="font-size:12px">({{lec.meta.duration|format}}, {{getKeys(lec.charts).length}} <span translate>questions.questions</span>)<a ng-show="lec.filtered_user" ng-click="lec.filtered_user = '';lec.filter_strict=false" style="cursor: pointer;margin-left: 15px;color: lightskyblue;"><span translate>questions.see_all</span></a></span></p>
					<ul class="ul_item vline inner_content" ng-click="highlight($event, item)" ng-repeat="item in timeline['lecture'][lec.meta.id].items|filter:{data:'!!', type:custom_filter}">
						<li ng-if="item.type.indexOf('confused') !=-1" class="li_inner blue" >
							<inner_title ng-click="seek(item.time, lec.meta.url)" time="item.time" type="{{(item.type[0].toUpperCase()+item.type.slice(1)).split('_').join(' ')}}" />
							<span class="inner_value"> {{item.data}}</span>
						</li>
<!-- 						<li ng-if="item.type=='question'" class="li_inner coral">
							<inner_title ng-click="seek(item.time, lec.meta.url, lec.meta.id)" time="item.time" type="Questions" />
							<ul style="padding:5px;padding-left: 20px;color:black;font-weight:normal;font-size: 14px;">
								<li ng-repeat="question in item.data" style="list-style-position:inside; padding:3px 15px">
									<show_box ng-init="question[2] = !question[2]" value="question[2]" action="updateHideQuestion(question[1],question[2])" style="float:right"/>									
									<p style="width:600px">{{question[0]}}</p>
								</li>
							</ul>						
						</li> -->

						<li ng-if="item.type=='discussion'" class="li_inner coral">
							<inner_title ng-click="seek(item.time, lec.meta.url)" time="item.time" type="{{'lectures.discussion' | translate}}" />
							<ul style="padding:5px;padding-left: 20px;color:black;font-weight:normal;font-size: 14px;">
								<li ng-repeat="discussion in item.data" style="list-style-position:inside; padding:3px 15px">
									<show_box ng-init="discussion.post.hide = !discussion.post.hide" value="discussion.post.hide" action="updateHideDiscussion(discussion.post.id,discussion.post.hide)" style="float:right"/>
									<span style="float:right">|
										<button_link ng-show="!discussion.post.show_feedback" title="{{'lectures.reply'|translate}}" action="discussion.post.show_feedback = true" class="btn-mini btn-success" style="margin:0 5px"/>
										<button_link ng-show="discussion.post.show_feedback" title="{{'lectures.cancel' | translate}}" action="discussion.post.show_feedback = false" class="btn btn-mini btn-danger" style="margin:0 5px"/>
									</span>
									<span ng-show="discussion.post.flags_count > 0" style="float:right">| 
										<button_link title="{{'discussion.remove_flags' | translate}}" action="removeFlag(discussion.post)" class="btn btn-mini" style="margin:0 5px"/>|
										<button_link title="{{'delete' | translate}}" action="deletePost(item.data, $index)" class="btn btn-mini btn-danger" style="margin:0 5px"/>
									</span>	
									<p style="width: 79%;">
										<b>
											<img ng-show="discussion.post.privacy==0" src="/images/private.png" tooltip="{{'discussion.private_post' | translate}}"/>
                                        	<img ng-show="discussion.post.privacy==1" src="/images/public.png" tooltip="{{'discussion.public_post' | translate}}"/>
									 		{{discussion.post.screen_name}}:
								 		</b>
								 		 {{discussion.post.content}}
							 		 	<span style="float: right;" tooltip="{{'discussion.flags' | translate}}" tooltip-placement="top" tooltip-append-to-body="true">
											<img ng-src='{{discussion.post.flags_count>0?"../images/flag-red.png":"../images/flag-grey.png"}}'/>
											{{discussion.post.flags_count}}
										</span>
										<span style="float: right; margin-right: 10px;" tooltip="{{'discussion.likes' | translate}}" tooltip-placement="top" tooltip-append-to-body="true">
											<img src='../images/likes.png'/>
											{{discussion.post.votes_count}}
										</span>
							 		</p>
									
									<ul>
										<li ng-repeat="comment in discussion.post.comments" style="padding-left: 30px;color: #616161" class="no_highlight">
											<span ng-show="comment.comment.flags_count > 0" style="float:right">| 
												<button_link title="Remove Flag" action="removeCommentFlag(comment, discussion.post)" class="btn-mini" style="margin:0 5px"/>|
												<button_link title="Delete" action="deleteComment(comment, discussion.post)" class="btn btn-mini btn-danger" style="margin:0 5px"/>
											</span>	
											<p>
												<b>{{comment.comment.screen_name}}:</b>
												 {{comment.comment.content}}
											 	<span style="float: right; color: black;" tooltip="{{'discussion.flags' | translate}}" tooltip-placement="top" tooltip-append-to-body="true">
													<img ng-src='{{comment.comment.flags_count>0?"../images/flag-red.png":"../images/flag-grey.png"}}'/>
													{{comment.comment.flags_count}}
												</span>
												<span style="float: right; color: black; margin-right: 10px;" tooltip="{{'discussion.likes' | translate}}" tooltip-placement="top" tooltip-append-to-body="true">
													<img src='../images/likes.png'/>
													{{comment.comment.votes_count}}
												</span>
											 </p>
											
										</li>
									</ul>
									<div ng-show="discussion.post.show_feedback">
										<br>
										<textarea ng-model="discussion.post.temp_response" placeholder="{{'discussion.write_comment' | translate}}"  style="width: 65%;height:80px; border-radius: 0px;"></textarea>
										<br />
										<button_link title="{{'courses.send'|translate}}" class="btn btn-success" action="sendComment(discussion.post);discussion.post.show_feedback = false" />
										<br>
									</div>
									<hr />
								</li>
							</ul>						
						</li>

<!-- 						<li ng-if="item.type=='discussion'" class="li_inner coral">
							<inner_title ng-click="seek(item.time, lec.meta.url, lec.meta.id)" time="item.time" type="Discussion"/>
							<ul style="padding:5px;padding-left: 20px;color:black;font-weight:normal;font-size: 14px;">
								<li ng-repeat="discussion in item.data" style="list-style-position:inside; padding:3px 15px">
									<!-- <show_box ng-init="question[2] = !question[2]" value="question[2]" action="updateHideQuestion(question[1],question[2])" style="float:right"/> -->
									<!--<span style="float:right">|
										<button_link ng-show="!discussion.show_feedback" title="Reply" action="discussion.show_feedback = true" class="btn-mini" style="margin:0 5px"/>
										<button_link ng-show="discussion.show_feedback" title="Cancel" action="discussion.show_feedback = false" class="btn-mini" style="margin:0 5px"/>
									</span>
									<span ng-show="discussion.flags_count > 0" style="float:right">| 
										<button_link title="Remove Flag" action="removeFlag(discussion)" class="btn-mini" style="margin:0 5px"/>|
										<button_link title="Delete" action="deletePost(discussion)" class="btn-mini" style="margin:0 5px"/>
									</span>	
									<p style="width:600px"><b>{{discussion.privacy=='0'? 'Private':'Public'}} - {{discussion.screen_name}}:</b> {{discussion.content}}</p>
									<span>Likes: {{discussion.votes_count}}</span>
									<span>Flags: {{discussion.flags_count}}</span>
									<div ng-show="discussion.show_feedback">
										<br>
										<p>Comment:</p>
										<textarea ng-model="discussion.temp_response"  style="width: 65%;height:80px" />
										<button_link title="{{'courses.send'|translate}}" class="btn-mini" action="sendComment(discussion);discussion.show_feedback = false" />
										<br>
									</div>
									<ul>
										<li ng-repeat="comment in discussion.comments" style="padding-left: 30px;color: steelblue">
											<span ng-show="comment.comment.flags_count > 0" style="float:right">| 
												<button_link title="Remove Flag" action="removeCommentFlag(comment, discussion)" class="btn-mini" style="margin:0 5px"/>|
												<button_link title="Delete" action="deleteComment(comment, discussion)" class="btn-mini" style="margin:0 5px"/>
											</span>	
											<p><b>{{comment.comment.screen_name}}:</b> {{comment.comment.content}}</p>
											<span>Likes: {{comment.comment.votes_count}}</span>
											<span>Flags: {{comment.comment.flags_count}}</span>
										</li>
									</ul>
								</li>
							</ul>						
						</li> -->

						<li ng-if="item.type=='free_question'"  ng-init="color=Math.ceil(item.data.review/students_count*100) >= 30? 'red' : ''" class="li_inner coral">
							<inner_title ng-click="seek(item.time, lec.meta.url)" time="item.time" type="{{'groups.free_text_question' | translate}}" title="{{item.data.title+' - '+Math.ceil(item.data.review/students_count*100)+'% '}}{{'lectures.of_student_review' | translate}}" color="color"/>
							<show_box  value="item.data.show" action="updateHideQuiz(item.data.id,item.data.show)"/>
							<ul style="padding:5px;padding-left: 20px;color:black;font-weight:normal;font-size: 14px;">
								<li ng-repeat="answer in item.data.answers|filter:{user_id:lec.filtered_user}:lec.filter_strict" style="list-style-position:inside; padding:3px 15px">
									<show_box ng-init="answer.hide = !answer.hide" value="answer.hide" action="updateHideResponseOnlineQuiz(answer.online_quiz_id,answer.id,answer.hide)" style="float:right"/>
									<span ng-show="!lec.filtered_user || lec.filtered_user==''" style="float:right">|
										<button_link title="{{'lectures.related' | translate}}" action="lec.filtered_user = answer.user_id;lec.filter_strict=true" class="btn-mini" style="margin:0 5px" />
									</span>
									<p style="width:600px">{{answer.online_answer}}</p>
								</li>
							</ul>						
						</li>
						<li ng-if="item.type=='charts'" ng-init="chart=createChart(item.data.answers,students_count, {}, 'formatLectureChartData', item.data.quiz_type); color =Math.ceil(item.data.review/students_count*100) >= 30? 'red' : ''" class="li_inner green">
							<inner_title ng-if="item.data.quiz_type =='Survey'" ng-click="seek(item.time, lec.meta.url)" time="item.time" type="{{'courses.'+item.data.quiz_type.toLowerCase() | translate}}" title="{{item.data.title+' ('+item.data.type+')'}}"/>
							<inner_title ng-if="item.data.quiz_type !='Survey'" ng-click="seek(item.time, lec.meta.url)" time="item.time" type="{{'courses.'+item.data.quiz_type.toLowerCase() | translate}}" title="{{item.data.title+' ('+item.data.type+') - '+Math.ceil(item.data.review/students_count*100)+'% '}}{{'lectures.of_student_review' | translate}}" color="color" />
							<!-- <i ng-show="item.data.hide" class="icon-check" style="margin-top:8px;float:right"></i> -->
							<div google-chart chart="chart" class="progress_chart" ></div>
							<show_box ng-init="item.data.hide=!item.data.hide" value="item.data.hide" action="updateHideQuiz(item.data.id,item.data.hide)" style="margin-left:30px"/>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>