<div style="margin-top:10px">
	<div class="small-12 medium-10 large-8 columns" style="margin-bottom: 10px;">
		<div class="small-12 columns" style="margin-bottom: 10px;"><h4 class="subheader"><span translate>progress.home.review_module</span></h4></div>
		<br />
		<!-- <div class="small-12 columns"><p translate>courses.choose_review_module</p></div> -->
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a style="width:120px" class="button small orange module-review" ng-click='goTo("course.module.progress")' translate>progress.home.module_review</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>progress.home.view_respond_students</p>
			</div>
		</div>
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a style="width:120px" class="button small green-color-white module-timeline" ng-click='goTo("course.module.progress_statistics")' translate>progress.home.module_timeline</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>progress.home.view_interaction</p>
			</div>
		</div>
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a style="width:120px" class="button small green-color-white module-completion" ng-click='goTo("course.module.progress_students")' translate>progress.home.module_completion</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>progress.home.view_module_completed</p>
			</div>
		</div>
	</div>
	<hr  style="margin:10px 30px"/>
	<div class="small-12 medium-10 large-8 columns">
		<div class="small-12 columns" style="margin-bottom: 10px;"><h4 class="subheader"><span translate>progress.home.review_course</span></h4></div>
		<!-- <div class="small-12 columns no-padding">
			<div class="small-12 medium-3 columns">
				<a style="width:120px" class="button small" ui-sref="course.progress_main" translate>progress.home.view_module_completion</a>
			</div>
			<div class="small-12 medium-9 columns">
				<p class="no-margin" translate>courses.module_completion_desc</p>
			</div>
		</div> -->
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a style="width:120px" class="button small course-completion" ui-sref="course.progress" translate>progress.home.course_completion</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>progress.home.view_course_completed</p>
			</div>
		</div>
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a style="width:120px" class="button small course-graph" ui-sref="course.progress_graph" translate>progress.home.course_graph</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>progress.home.view_course_graph</p>
			</div>
		</div>
	</div>
</div>