<div style="margin-top:10px">
	<div class="small-8 medium-10 large-8 columns" style="margin-bottom: 10px;">
		<div class="small-12 columns" style="margin-bottom: 10px;"><h4 class="subheader"><span translate>Review Module</span></h4></div>
		<br />
		<!-- <div class="small-12 columns"><p translate>courses.choose_review_module</p></div> -->
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a class="button small orange" ng-click='goTo("course.module.progress")' translate>Module Review</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>View and respond to students’ quizzes and
questions, and choose material for in-class.</p>
			</div>
		</div>
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a class="button small green-color-white" ng-click='goTo("course.module.progress_statistics")' translate>Module Timeline</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>View student interactions across a module</p>
			</div>
		</div>
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a class="button small green-color-white" ng-click='goTo("course.module.progress_students")' translate>Module Completion</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>View which students have completed each video in a module on-time or late.</p>
			</div>
		</div>
	</div>
	<hr  style="margin:10px 30px"/>
	<div class="small-8 medium-10 large-8 columns">
		<div class="small-12 columns" style="margin-bottom: 10px;"><h4 class="subheader"><span translate>Review Course</span></h4></div>
		<!-- <div class="small-12 columns no-padding">
			<div class="small-12 medium-3 columns">
				<a class="button small" ui-sref="course.progress_main" translate>courses.view_module_completion</a>
			</div>
			<div class="small-12 medium-9 columns">
				<p class="no-margin" translate>courses.module_completion_desc</p>
			</div>
		</div> -->
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a class="button small" ui-sref="course.progress" translate>Course Completion</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>View which students have completed each module on-time or late.</p>
			</div>
		</div>
		<div class="small-12 columns no-padding">
			<div class="small-12 medium-5 large-3 columns">
				<a class="button small" ui-sref="course.progress_graph" translate>Course Graph</a>
			</div>
			<div class="small-12 medium-7 large-9 columns">
				<p class="no-margin" translate>View a percentage graph of overall lectures and quizzes completion</p>
			</div>
		</div>
	</div>
</div>