<center><b>{{module.name}}</b></center><br />
<div style='min-width: 300px; height: 200px;'>
    <center><loading size="big" show="loading_module_chart" style="top:50px;position:relative"></center>
    <div ng-if="module_chart" google-chart chart="module_chart"></div>
</div>
<br /><br /><br />

<tabset >
    <tab heading="Lecture Quizzes" select="lectureQuizzesTab()" style="cursor:pointer">
    	<tab1 />
    </tab>
    <tab heading="Lecture Statistics" select="studentStatisticsTab()" style="cursor:pointer">
        <tab2 />
    </tab>
    <tab heading="Lecture Progress" select="lectureProgressTab()" style="cursor:pointer">
		<tab3 />
    </tab>
    <tab heading="Quizzes Progress" select="quizzesProgressTab();" style="cursor:pointer">
   		<tab4 />
    </tab>
    <tab heading="Surveys" select="surveysTab()" style="cursor:pointer">
        <tab5 />
    </tab>
    <tab heading="Quizzes" select="quizzesTab()" style="cursor:pointer">
        <tab6 />
    </tab>
</tabset>