<!--build:css(.tmp/styles) styles/progress.css -->
<link rel="stylesheet" href="styles/teacher/progress.css"/>
<!-- endbuild -->

<tabset>
    <tab heading="{{'courses.module_progress'|translate}}" select="moduleProgressTab()" style="cursor:pointer">
		<div style="overflow:auto" ng-if="module_status">
			<progress_matrix column_names='module_names' students='module_students' status="module_status" action="updateStatus(student_id, module_id, module_status)" show_popover="true" remaining="getRemainingModuleProgress" scrolldisabled="module_scroll_disable" modstatus="module_status"></progress_matrix>
		</div>
		
    </tab>
    <tab heading="{{'courses.module_chart'|translate}}" select="totalChartTab()" style="cursor:pointer">
        <!-- <center ><loading size="big" show="loading_total_charts" /></center> -->
        <div  google-chart chart="total_chart" on-ready="loading_total_charts=false" style="overflow:hidden"></div>
    </tab>
</tabset>
<center><loading size="big" show="loading_modules || loading_total_charts" /></center>
