<!-- 
<style>
	.courseware-item-circle{
		/*border: 2px solid #2d2d2d;*/
		/*box-shadow: 1px 1px 1px lightgray;*/
		background: darkgrey;
    	border-radius: 200px;
    	margin-top: 2px;
    	vertical-align: text-bottom;
    }
    .courseware-item-circle:hover{
        background: #2d2d2d;
    }
    .itemdone{
    	/*border: 2px solid rgb(0, 162, 86);*/
    	/*border: 2px solid lightgreen;*/
    	background: lightgreen;
    }
    .itemrequired{
    	border: 2px solid red;
    	background: white;
    }
    .currentitem{
    	/*border: 2px solid lightslategray;*/
    	background: #2d2d2d;
    }
    .info_link{
    	display: inline-block;
    	color: white;
    	width: 51%;
    	border-radius: 3px;
    	background-color: orange;
    	padding-right: 1px;
    	padding-left: 1px;
    	font-size: small;
    	font-weight: lighter;
    	text-align: center;
    	box-shadow: 1px 1px 1px black;
    }
</style>
<td style="text-align: left;">
    <a href="" tooltip-placement="bottom" tooltip="{{isFinished(done)+isRequired(required)+className+': '+name}}" >
    	<canvas name="canvas" class="courseware-item-circle" ng-class="{currentitem: selected}" width="{{circlesize}}" height="{{circlesize}}" ></canvas>
    </a>
	// <a href="{{url_with_protocol(slides)}}" target="_blank" ng-if="slides && slides!='none'"><div class="info_link">{{"lectures.slides" | translate}}</div></a>
</td> -->