<div>
	<br/>
	<div class="small-8 columns">
		<div class="small-12 columns"><h5><b>Review Module Completion</b></h5></div>
		<div class="small-12 columns"><p>Choose a module to review the students’ online progress, respond  to questions, and select material for in-class review. </p></div>
		<div class="small-12 columns">
			<div class="small-4 columns no-padding">
				<a class="button small" ui-sref="course.progress_main" translate>View Module Completion</a>
			</div>
			<div class="small-8 columns left">
				<p class="no-margin">View which students have completed each module on-time or late.</p>
			</div>
		</div>
	</div>
</div>