<div style="border:1px solid lightgray;float:right;padding: 5px;display:-webkit-inline-box;display:flex;margin-bottom:10px">
    <div ng-repeat="stat in ['Finished on Time', 'Finished Not on time', 'Not Finished']">
        <img ng-src='images/{{stat.split(" ").join("_")}}.png' style="width:12px">
        <span style="margin-right:10px;font-size:12px;display:inline">{{'courses.'+stat.split(" ").join("_").toLowerCase()|translate}}</span>
    </div>
</div>
<div style="margin-top:40px">
    <table class='table' style="font-size: 10px;">
        <tr>
            <td ></td>
            <td ng-repeat="name in columnNames track by $index"><center><p bindonce bo-text="name" style="width:100%;padding-right:15px"></center></p></td>
        </tr>
        <tr bindonce ng-repeat="student in students" >
            <td class="student" bo-title='student.email' bo-text="student.name"></td>            
            <td class="state" bindonce ng-repeat='module in status[student.id] track by $index' data-title="{{solvedCount[student.id][module.id]}} / {{totalLecQuiz[module.id]}} quizzes solved">
               <center> <img class="marker" ng-src='images/{{student.status[module.id].split(" ").join("_")||module.type.split(" ").join("_")}}.png' style="width:15px;" pop-over='popover_options' unique='true'>
                <div ng-if="lateCount[student.id][module.id] && !student.status[module.id]" >{{'('+lateCount[student.id][module.id]+' '+('controller_msg.days'|translate)+')'}}</div></center>
            </td>
        </tr>
    </table>            
</div>

