<select ng-show="all_quizzes" ng-model="selected_quiz" ng-options="q[0] for q in all_quizzes" ng-change="changeQuiz()"></select>
<div>
	<center>
		<b>{{selected_quiz[0]}}</b>
		<br /><br />
		<loading size="small" show="loading_quizzes_chart" />
		<div ng-if="!all_quizzes && !loading_quizzes_chart" translate>courses.no_quizzes</div>
	</center>
    <button_link ng-show="quiz_button_msg && all_quizzes" action="makeQuizVisibleBtn()" title="{{quiz_button_msg|translate}}" style="margin:10px 0px" />
    <div ng-repeat="element in ordered_quiz">
        <div ng-if="element[1]!='Free Text Question'" class="chart" ng-init="chart=createQuizChart(quiz_chart_data[element[0]].answers, $index,student_count)">
            <div ><span translate>answer.question</span> {{$index+1}}:</div>
            <center ng-init="loading=true"><loading size="small" show="loading" /></center>
            <div google-chart on-ready="loading=false" chart="chart"></div>
            <button_link title="{{'groups.export_chart'|translate}}" action="saveAsImg($event)" >
        </div>
        <free-text-table graded="true" ng-if="element[1]=='Free Text Question'" question="quiz_free[element[0]]" survey-id="selected_quiz[1]" related-answers="related_answers" />
    </div>
</div>