<select ng-show="all_quizzes" ng-model="selected_quiz" ng-options="q[0] for q in all_quizzes" ng-change="changeQuiz()"></select>
<div>
	<center>
		<b>{{selected_quiz[0]}}</b>
		<br /><br />
		<loading size="small" show="loading_quizzes_chart" />
		<div ng-if="!all_quizzes && !loading_quizzes_chart">No Quizzes</div>
	</center>
	<div ng-repeat="(id,value) in quiz_chart_data" class="chart">
		    <div >Question {{$index+1}}:</div>
		    <center ng-init="loading=true"><loading size="small" show="loading" /></center>
		    <div google-chart ready="loading=false" series="getQuizChartData(id)" vtitle="getQuizQuestionTitle($index)" ></div>
	</div>
</div>