<div ng-show="all_surveys">
	<select class="small-10 columns" ng-model="selected_survey" ng-options="q[0] for q in all_surveys" ng-change="changeSurvey()"></select>
	<div class="small-2 columns"><a ng-show="button_msg" class="button tiny secondary" ng-click="makeVisibleBtn()">{{button_msg | translate}}</a></div>
</div>
<div>
	<div class="small-4 small-centered columns">
		<center>
			<b>{{selected_survey[0]}}</b>	
		</center>
	</div>
	<br/>	
</div>
<div ng-repeat="element in ordered_survey">
    <div class="small-12 columns chart" ng-if="element[1]!='Free Text Question' && element[1]!='header'" ng-init="chart=createSurveyChart(survey_chart_data[element[0]].answers, $index, student_count)"> 
    	<div >
			<span translate>global.question</span>
			<span>{{$index+1}}:</span>
			<input type="checkbox" ng-model="survey_chart_data[element[0]].student_show" ng-change="updateHideSurveyQuestion(selected_survey[1],element[0], survey_chart_data[element[0]].student_show)"/>
		</div>
		<br/>
        <center ng-init="loading=true"><loading size="small" show="loading" /></center>
        <div google-chart on-ready="loading=false" chart="chart" ></div>
        <a class="button really-tiny secondary" ng-click="saveAsImg($event)" translate>progress.export_chart</a>
    </div>
    <div class="small-12 columns" ng-if="element[1]=='Free Text Question'">
    	<div >
			<span translate>global.question</span>
			<span>{{$index+1}}: {{survey_free[element[0]].title}}</span>
			<input type="checkbox" ng-model="survey_free[element[0]].student_show" ng-change="updateHideSurveyQuestion(selected_survey[1],element[0], survey_free[element[0]].student_show)"/>
		</div>
    	<free-text-table question="survey_free[element[0]]" survey-id="selected_survey[1]" related-answers="related_answers" />
    </div>
    <br/>
</div>
<div class="row">
	<center>
		<loading size="small" show="loading_surveys_chart" />
	</center>
</div>