<center><loading size="big" show="!course" /></center>
<div class="course-left" ng-show="course">
    <div class="course-image">
        <img style="margin: 0 auto; position: relative;" ng-show="!course.image_url" src="../images/course_image.png"/>
        <img style="margin: 0 auto; position: relative;" ng-show="course.image_url" ng-src="{{course.image_url}}" />
    </div>
    <hr class="first-line" />
    <div id="course_code_name" class="course-names">
        {{course.short_name +' | '+ course.name}}
    </div>
    <hr />
    <span class="course-details">
        <ul style="font-size: 15px; margin: 0px;" tooltip="{{'courses.discussion_forum_link' | translate}}" tooltip-placement="top" ng-show="course.discussion_link"><span class="link-icon" ></span><a id="discussion_link" href="{{url_with_protocol(course.discussion_link)}}" target="_blank">{{short_url}}</a></ul>

        <ul id="course_date" style="font-size: 15px; margin: 0px;" tooltip="{{'courses.start_date' | translate}}" tooltip-placement="top"><span class="calendar-icon" /></span>{{course.start_date | amDateFormat:'dddd, MMMM D YYYY'}}</ul>

        <ul id="course_duration" style="font-size: 15px; margin: 0px;" tooltip="{{'courses.duration' | translate}}" tooltip-placement="top"><span class="duration-icon" /></span>{{course.duration}} <span translate="courses.weeks"></span></ul>
    </span>
</div>
<div class="course-right" ng-show="course">
    <div class="top">
        <span class="dropdown-header"><b translate>head.information</b></span>
        <br />
        <span style="padding-left: 30px;">
            <b translate="groups.description"></b>
            <p id="course_description" style="margin-left: 40px;">
                {{course.description}}
            </p>
        <span style="padding-left: 30px;">
            <b translate="courses.prerequisites"></b>
            <p id="course_prerequisites" style="margin-left: 40px;">
                {{course.prerequisites}}
            </p>
        </span>
    </div>
    <div class="bottom">
        <span class="dropdown-header"><b translate>courses.teachers</b></span>
        <br />
        <div class="teacher-item" ng-repeat="teacher in teachers">
            <div ng-show="teacher.id">
                <profile-image email="teacher.email" imagesize="70" style="margin-bottom: 5px;"></profile-image>
                <div>
                    {{teacher.name}}
                </div>
            </div>
            <!-- </a> -->
            <div ng-show="!teacher.id">
                <profile-image email="teacher.email" imagesize="70" style="margin-bottom: 5px;"></profile-image>
                <div>
                    {{teacher.email}}
                </div>
            </div>
            <span >({{'courses.'+teacher.role | translate}})</span>
            <!-- {{teacher.role | translate}} -->
        </div>
    </div>
</div>