<div class="dashboard separator" style="margin: 0 20px">
  <div ng-if="module_summary.loading.summary" style="height: 150px">
    <center style="position: relative;top:25%">
      <loading size="big" show="true"></loading>
    </center>
  </div>
  <div ng-if="!module_summary.loading.summary">
    <student-module-summary moduledata="module_summary" />
  </div>
  <div ng-if="module_summary.loading.online_quiz" style="height: 150px">
    <center style="position: relative;top:25%">
      <loading size="big" show="true"></loading>
    </center>
  </div>
  <div ng-if="!module_summary.loading.online_quiz">
    <student-online-quiz-summary moduledata="module_summary" />
  </div>
  <div ng-if="module_summary.loading.discussion" style="height: 150px">
    <center style="position: relative;top:25%">
      <loading size="big" show="true"></loading>
    </center>
  </div>
  <div ng-if="!module_summary.loading.discussion">
    <student-discussion-summary moduledata="module_summary" />
  </div>
</div>
