<div>
  <div class="row collapse with-margin-bottom" style="height: 100px;">
    <div class="row collapse with-small-margin-bottom">
      <div class="small-4 columns">
        <h5><b translate>dashboard.completion</b></h5>
      </div>
      <div class="small-8 columns">
        <span class="right color-gray">{{::remaining}}</span>
      </div>
    </div>
    <div ng-if="moduledata.loading.online_quiz">
      <center style="position: relative;top:25%">
        <loading size="big" show="true"></loading>
      </center>
    </div>
    <div class="row collapse completion_container">
      <div ng-repeat="item in moduledata.module_completion" class="item" ng-style="item.completion_style" ng-mouseover="lectureTooltip(item)"  ng-click='goToLectureQuiz(moduledata.course_id, item.group_id, item.id , item.type )' ng-mouseleave="lectureTooltipLeave(item)">
        <center>
          <i class="fi-play-video color-white size-21" ng-show="item['type'] == 'lecture'"></i>
          <i class="fi-clipboard-notes color-white size-21" ng-hide="item['type'] == 'lecture'"></i>
        </center>
        <div ng-show="item.show_tooltip" class="text-bold size-12 position-absolute completion_tooltip">{{item.item_name}}</div>
      </div>
    </div>
  </div>
  <div class="row collapse with-margin-bottom">
    <div class="row collapse with-small-margin-bottom">
      <div class="small-12 columns">
        <h5><b><span translate>global.quizzes</span></b></h5>
      </div>
    </div>
    <div class="row collapse quiz-bar-container" ng-style="quiz_completion_bar" ng-show="moduledata.module_completion.length>0">
      <!-- <div ng-repeat="item in moduledata.module_completion" ng-style="item.item_style" ng-if="item.type == 'lecture' && item.online_quizzes.length>0" class="left quiz-outer-bar" ng-mouseover="lectureTooltip(item)" ng-mouseleave="lectureTooltipLeave(item)" > -->
      <div ng-repeat="item in moduledata.module_completion" ng-style="item.item_style" ng-if=" item.online_quizzes.length>0" class="left quiz-outer-bar" ng-mouseover="lectureTooltip(item)" ng-mouseleave="lectureTooltipLeave(item)" >      
        <div ng-repeat="online_quiz in item.online_quizzes" class="quiz-bar" ng-style="item.quiz_bar_style"  pop-over='online_popover[online_quiz.id]' >
          <div ng-if="online_quiz['data'].length==1" ng-style="online_quiz_color[online_quiz.id]" class="quiz-inner-bar" ng-click='goTo ( item.type , moduledata.course_id, moduledata.id, online_quiz.lecture_id, online_quiz.time, online_quiz)' ></div>
          <span ng-if="online_quiz['data'].length==2" ng-click='goTo ( item.type , moduledata.course_id, moduledata.id, online_quiz.lecture_id, online_quiz.time , online_quiz)'>
            <div style="height: 50%;" ng-style="online_quiz_group_color[online_quiz.id]" class="quiz-inner-bar" ></div>
            <div style="height: 48%;margin-top: 3%" ng-style="online_quiz_color[online_quiz.id]" class="quiz-inner-bar" ></div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="student_popover" style="width: 100%"></div>
</div>