<div class="row collapse with-margin-bottom" ng-show="moduledata.title">
  <h3>
      <b><span>{{::moduledata.title}} </span></b>
      <span class="size-21 text-bold">
        <span ng-show=" ( moduledata.due_date > 0 && moduledata.due_date_enabled ) && (moduledata.time_left_string != 00)" style="color:red">
        <!-- <span ng-show="moduledata.due_date > 0" style="color:red" > -->
          <span translate>events.due</span>
          <span> - in</span>
          <span>{{::moduledata.time_left_string}}</span>
          <span translate>time.hours</span>

        </span>
        <span ng-hide="moduledata.due_date > 0" style="color:red" >- <span translate>events.due_date_passed</span></span>
        <span ng-show="moduledata.time_left_string == 0 "  translate>dashboard.less_one_hour</span>
      </span>
    </h3>
  <div class="color-gray with-small-margin-bottom">{{::subtitle}}</div>
  <div>
    <a class="button small orange" ng-if="moduledata.has_inclass" ui-sref="course.module.student_inclass({ course_id:moduledata.course_id , module_id: moduledata.id })" translate >Start In-class Session</a>
    <a ng-show="continue_button" class="button small orange" ng-click='goToLectureQuiz(moduledata.course_id, moduledata.id, next_lecture.id , next_lecture.type)' translate >{{continue_button}}</a>
  </div>
</div>
