<div class="with-padding">
	<div class="large-12 columns panel">
		<img class="small-3 medium-1 large-1 valign-top column" src="images/logo.png" />
		<h4 class="small-9 medium-9 large-9 columns left">
			<span class="dark-text">Scalable</span><span class="color-green"><b>Learning</b></span>
			<p class="subheader">The best of online and in-class for active learning</p>
		</h4>
	</div>
	<section class="with-margin-top" id="intro">
		<p>
			ScalableLearning is the first teaching tool designed from the ground up to bring together the best of online learning and in-class teaching. ScalableLearning’s unique combination of <a class="color-green-hover" href="/#/#online_material">interactive online material</a>, <a class="color-green-hover" href="/#/#teacher_analytics">teacher analytics</a>, and <a class="color-green-hover" href="/#/#inclass_support">in-class support</a> helps teachers enhance learning by increasing active student participation and feedback.
		</p>
		<center>
			<div class="large-12 with-padding with-margin">
				<figure class="show-inline with-margin-right small-12 medium-3 large-3">
					<a href="/#/#online_material">
						<img src="images/interactive.png" />
					</a>
					<figcaption class="with-tiny-margin-top">Interactive Online Lectures</figcaption>
				</figure>
				<figure class="show-inline with-margin-right small-12 medium-3 large-3">
					<a href="/#/#teacher_analytics">
						<img src="images/analysis.png" />
					</a>
					<figcaption class="with-tiny-margin-top">Teacher Analytics</figcaption>
				</figure>
				<figure class="show-inline with-margin-right small-12 medium-3 large-3">
					<a href="/#/#inclass_support">
						<img src="images/present_inclass.png" />
					</a>
					<figcaption class="with-tiny-margin-top">In-class Teaching Support</figcaption>
				</figure>
			</div>
		</center>
		<p>
			ScalableLearning provides teachers and publishers with tools to develop engaging, interactive online material that increases student reflection and interaction. Teachers can then use ScalableLearning’s analytics to gain insights into where students are learning and where they are confused. Teachers can then identify the topics where students need help and ScalableLearning will build a customized in-class review for the material.
		</p>
	</section>
	<section class="with-margin-top panel no-padding no-border" id="active_learning">
		<div class="dark-blue no-margin with-small-padding">
			<h1 class="no-margin size-24 color-white">
				Active Learning: Flipped Classroom and Just-in-time Teaching
			</h1>
		</div>
		<p class="with-padding" style="background-color: aliceblue;">
			ScalableLearning enables active learning by giving teachers and publishers powerful tools for producing interactive online material and understanding students’ online progress. With these tools, teachers can move their lectures online (flipped classroom) and use class time to focus on the areas where students are struggling (just-in-time teaching). This enables more time for directed in-class active learning activities such as peer instruction, problem based learning, group discussion, and problem solving.
		</p>
	</section>
	<section class="with-margin-top panel no-padding no-border" id="online_material">
		<div class="dark-green no-margin with-small-padding">
			<h1 class="no-margin size-24 color-white">
				Engaging Students: Interactive Online Material
			</h1>
		</div>
		<div class="with-padding" style="background-color: #f9fff5;">
			<p>
				The ScalableLearning platform provides a unique set of tools to help students engage with the material and encourage them to reflect on what they are learning:
				<ul>
					<li style="list-style: initial;">
						Interactive in-video questions, including multiple choice, drag into order, free response, and matched response
					</li>
					<li style="list-style: initial;">
						Integrated teacher answers to in-video questions 
					</li>
					<li style="list-style: initial;">
						In-video student questions and discussions 
					</li>
					<li style="list-style: initial;">
						Student voting on for in-class review material
					</li>
					<li style="list-style: initial;">
						Surveys and graded quizzes 
					</li>
					<li style="list-style: initial;">
						In-video note taking and student review
					</li>
					<li style="list-style: initial;">
						A “confused” button for students to mark the online material for teachers
					</li>
				</ul>
				<center>
					<figure>
						<img class="small-11 medium-10 large-6 with-margin" src="images/engaging.png" />
						<figcaption class="with-tiny-margin-top">With these tools, teachers can ensure that their students show up to class prepared for active discussions and in-class activities.</figcaption>
					</figure>
				</center>
			</p>
		</div>
	</section>
	<section class="with-margin-top panel no-padding no-border" id="teacher_analytics">
		<div class="dark-green no-margin with-small-padding">
			<h1 class="no-margin size-24 color-white">
				Understanding Learning: Teacher Analytics
			</h1>
		</div>
		<div class="with-padding" style="background-color: #f9fff5;">
			<p>
				ScalableLearning provides a detailed breakdown of students’ online performance: video questions and quizzes, student questions and feedback, where students were confused, and what material they would like to see reviewed in-class. This information is combined to make it easy for teachers to quickly review their class’s performance, see exactly where they struggled, respond to questions, and choose which material to review in-class.
			</p>
			<div class="small-12 medium-12 large-12 columns">
				<figure class="small-12 medium-5 large-5 with-margin-bottom left">
					<img src="images/identify_problem.png" />
					<center>
						<figcaption class="with-tiny-margin-top">Identify problem areas</figcaption>
					</center>
				</figure>
				<br />
				<figure class="small-12 medium-5 large-5 with-margin-bottom right">
					<img class="with-margin-top" src="images/lecture_performance.png" />
					<center>
						<figcaption class="with-tiny-margin-top">See detailed lecture performance</figcaption>
					</center>
				</figure>
			</div>
			<p>
				With ScalableLearning, teachers can review an entire class’s lecture performance and answer students’ online questions in 20 minutes. For the first time teachers can show up to class knowing where their students are struggling and what questions they have.
			</p>
		</div>
	</section>
	<section class="with-margin-top panel no-padding no-border" id="inclass_support">
		<div class="dark-green no-margin with-small-padding">
			<h1 class="no-margin size-24 color-white">
				In the Classroom: Just-in-time Teaching Support
			</h3>
		</div>
		<div class="with-padding" style="background-color: #f9fff5;">
			<p>
				ScalableLearning helps teachers bring the students’ online experience into the classroom by effortlessly reviewing online quizzes, questions, and lecture material in-class. Teachers simply mark material for in-class review, and ScalableLearning builds a custom presentation that focuses on just the material their class struggled with. This tight integration between online and in-class teaching allows teachers to focus their in-class review time and encourages student online interactions.
			</p>
			<div class="small-12 medium-12 large-12">
				<figure class="small-12 medium-5 large-6 with-margin-bottom columns">
					<img src="images/select_inclass.png" />
					<center>
						<figcaption class="with-tiny-margin-top">Select material for review</figcaption>
					</center>
				</figure>
				<br />
				<figure class="small-12 medium-5 large-6 with-margin-bottom columns">
					<img src="images/present_inclass.png" />
					<center>
						<figcaption class="with-tiny-margin-top">Easy in-class review</figcaption>
					</center>
				</figure>
			</div>
			<hr class="no-opacity" />
		</div>
	</section>
	<section class="with-margin-top panel no-padding no-border" id="getting_started">
		<div class="dark-blue no-margin with-small-padding">
			<h1 class="no-margin size-24 color-white">
				Getting Started with ScalableLearning
			</h1>
		</div>
		<div class="with-padding" style="background-color: aliceblue;">
			<p>
				If you’re a motivated teacher and want to get started with ScalableLearning please get in touch via the Feedback link above. We’ll get you setup with an account, a detailed instructions guide, including tips on how to produce material, motivate students, different ways to run a flipped class, and advice we’ve gathered from working with thousands of students.
			</p>
			<p>
				To get started you should identify how to add interactive questions to your lecture material and develop active learning material for your in-class time. Once you’ve done that for a few lectures it’s time to get started with ScalableLearning. We advise teachers to start out switching over roughly half of their class for the first round to get a better feeling for how to teach in a flipped, just-in-time manner. Our instructions manual has plenty of tips and practical advice for getting started.
			</p>
		</div>
	</section>
	<section class="with-margin-top panel no-padding no-border" id="about">
		<div class="dark-green no-margin with-small-padding">
			<h1 class="no-margin size-24 color-white">
				About ScalableLearning
			</h1>
		</div>
		<div class="with-padding" style="background-color: #f9fff5;">
			<p>
				ScalableLearning is a collaboration between passionate educators at the Swedish Institute of Computer Science, the Department of Information Technology at Uppsala University, Sweden, and Cario University, Egypt. Our mission is to bring together the best of in-class and online education to improve learning, increase quality through insight and feedback, and reduce teacher overhead by enabling reuse and sharing.
			</p>
			<p>
				Since 2013 ScalableLearning has worked with thousands of students and hundreds of teachers across the world. We are constantly striving to find motivated teachers who can help us develop new tools and ideas on how to improve teaching and learning by engaging and activating students in the classroom and online.
			</p>
		</div>
	</section>
	<section class="with-margin-top no-padding" id="team">
		<div class="dark-grey no-margin with-small-padding">
			<h1 class="no-margin size-24 color-white">
				Our Team
			</h1>
		</div>
		<div class="with-padding lighter-grey-no-hover">
			<h5>
				<img src="images/david.png" /> <div class="show-inline valign-middle with-small-margin-left">David Black-Schaffer <br /><small>Visionary, Pedagogical Experimenter </small></div>
			</h5>
			<p>
				David is a passionate teacher and researcher. His drive is to build tools and develop teaching techniques that help teachers and students make the best use of their class time. He has won multiple teaching awards in Europe and the United States, and is an active researcher in the field of energy efficient computer architecture.
			</p>
			<hr />
			<h5>
				<img src="images/sameh.png" /> <div class="show-inline valign-middle with-small-margin-left">Sameh El-Ansary <br /><small>Entrepreneur, Passionate Teacher</small></div>
			</h5>
			<p>
				Sameh is a passionate teacher and entrepreneur. After his last startup in media streaming he is excited to revolutionize the world of teaching by bringing better tools and technologies into the classroom.
			</p>
			<hr />
			<h5>
				<img src="images/sverker.png" /> <div class="show-inline valign-middle with-small-margin-left">Sverker Janson <br /><small>Coordination, Funding and Strategy </small></div>
			</h5>
			<p>
				Sverker runs the Computer Systems Lab at the Swedish Institute of Computer Science and is passionate about learning. He sees an enormous potential for improved teaching and learning for students across the educational spectrum and is working to help realize that potential.
			</p>
			<hr />
			<p>
				And of course none of this would be possible without our talented and hardworking development team:
			</p>
			<center>
				<div class="small-6 medium-5 large-2 show-inline with-margin-bottom">
					<img src="images/bahia.png" /> <div class="valign-middle with-small-margin-left">Bahia El-Sharkawy <br /><small>Developer </small></div>
				</div>
	<!-- 			<div class="small-6 medium-5 large-2 show-inline with-margin-bottom">
					<img src="images/menshawi.png" /> <div class="valign-middle with-small-margin-left">Mahmoud Menshawi <br /><small>Developer, UI Designer </small></div>
				</div> -->
				<div class="small-6 medium-5 large-2 show-inline with-margin-bottom">
					<img src="images/karim.png" /> <div class="valign-middle with-small-margin-left">Karim Alaa <br /><small>Developer </small></div>
				</div>
<!-- 				<div class="small-6 medium-5 large-2 show-inline with-margin-bottom">
					<img src="images/mena.png" /> <div class="valign-middle with-small-margin-left">Mena Sa'eed <br /><small>Developer </small></div>
				</div> -->
				<div class="small-6 medium-5 large-2 show-inline with-margin-bottom">
					<img src="images/ahmed.png" style="border-radius: 50%;" /> <div class="valign-middle with-small-margin-left">Ahmed Hossam<br /><small>Developer </small></div>
				</div>
				<div class="small-6 medium-5 large-2 show-inline with-margin-bottom">
					<img src="images/okasha.png" style="border-radius: 50%;"  /> <div class="valign-middle with-small-margin-left">Ahmed Okasha<br /><small>Developer </small></div>
				</div>
			</center>
		</div>
	</section>
</div>