<h4>All Courses <span ng-if="filtered_teacher">Taught by {{filtered_teacher}}</span></h4>
</br>
<table class="table table-striped">
	<thead style="cursor:pointer" >
		<th><a ng-click="order('short_name')" >Course Code</a></th>
		<th><a ng-click="order('name')">Course Name</a></th>
		<th>Teachers</th>
		<th>Teachers Email</th>
		<th><a ng-click="order('enrolled_students')">#Students</a></th>
		<th><a ng-click="order('lectures')">#Lectures</a></th>
		<th><a ng-click="order('quiz')">#Quizzes</a></th>
		<th><a ng-click="order('survey')">#Surveys</a></th>
		<th>Delete</th>
	</thead>
	<tbody>
		<tr ng-repeat="course in courses|filter:filtered_teacher|orderBy:column:is_reverse">
			<td ng-if="course.importing">
				{{course.short_name}} {{course.name}} Importing Data
			</td>
			<td><a ui-sref="course.course_editor({ course_id: course.id })">{{course.short_name}}</a></td>
			<td><a ui-sref="course.course_editor({ course_id: course.id })">{{course.name}}</a></td>
			<td>
				<div ng-repeat="enrolled in course.teacher_enrollments">
					<a ng-click="filterTeacher(enrolled.user.name)" >{{enrolled.user.name}} ({{enrolled.role.name}})</a>	
					</br>
			    </div>
			</td>
			<td>
				<div ng-repeat="enrolled in course.teacher_enrollments">
					<a href="mailto:{{enrolled.user.email}}">{{enrolled.user.email}}</a>
					</br>
				</div>
			</td> 
			<td><b>{{course.enrolled_students.length}}</b></td>
			<td><b>{{course.lectures.length}}</b></td>
			<td><b ng-init="course.quiz = (course.quizzes|filter:{quiz_type:'quiz'})">{{course.quiz.length }}</b></td>
			<td><b ng-init="course.survey = (course.quizzes|filter:{quiz_type:'survey'})">{{course.survey.length }}</b></td>
			<td><delete_button size="big" action="deleteCourse(course)" /></td>
		</tr>
	</tbody>
</table>
<a ng-show="filtered_teacher" ng-click="filtered_teacher=''">Back</a>