<span style="position: fixed; z-index: 2;">
	<div ng-switch="mode" class="content-navigator-container" ng-class="{containeropen: open_navigator}">
		<center><loading size="small" show="!modules"></loading></center>
		<i ng-show="!modules.length && !links.length" class="muted" style="padding:20px 10px"><span translate>groups.empty</span>...</i>
		<div bindonce ng-show="modules.length || links.length">
			<span  ng-switch-when="courseware">
				<a class="button expand" ui-sref="course.course_information" style="top: 1px;box-shadow: 0.1em 0.01em 0.5em grey;" translate>head.course_information</a>
				<div style="text-align: left;margin: 10px 0 2px 6px;font-weight: bold;font-size: 15px;" translate>groups.external_link</div>
				<ul class="accordion">
					<li ng-repeat="link in links" class='module accordion-group'>
						<!-- <link-item link="link" update="updateCustomLink" remove="removeCustomLink" nameval="validateName" urlval="validateURL" small="true"> -->
						<a bo-href="link.url" target="_blank" bo-text="link.name"></a>
					</li>
				</ul>
				<div style="text-align: left;margin: 10px 0 2px 6px;font-weight: bold;font-size: 15px;" translate>courses.modules</div>
				<accordion class="accordion">
					<accordion-group class="accordion-group" ng-repeat="module in modules | orderBy: 'position'" is-open="{{currentmodule.id == module.id}}">
						<accordion-heading class="accordion-heading">
							<div bindonce ng-click="showModuleCourseware(module)" bo-title="module.name" ng-class="{currentmodule: currentmodule.id == module.id}" style="padding: 5px;">
								<div class="truncate-70 show-inline" bo-text="module.name"></div>
								<module-progress-circle circlesize="10" innercolor="green" module="module" style="margin-right: 10px; float: right;"></module-progress-circle>
							</div>
							
						</accordion-heading>
						<ul ng-click="showItemCourseware(item)" bo-show="module.items" bo-title="item.name" ng-class="{currentitem: currentitem == item.id}" ng-repeat="item in module.items">
							<div class="truncate-70 show-inline" bo-text="item.name"></div>
							<i class="fi-check right with-tiny-margin-left color-green size-16" ng-show="item.is_done"></i>
						</ul>
						<ul bo-show="module.custom_links" ng-repeat="link in module.custom_links">
							<a bo-href="link.url" target="_blank" bo-text="link.name"></a>
						</ul>
					</accordion-group>
				</accordion>
			</span>
			<span ng-switch-when="editor">
				<div style="text-align: left;margin: 10px 0 2px 6px;font-weight: bold;font-size: 15px;" translate>groups.external_link</div>
				<ul class="no-margin">
					<li ng-repeat="link in links" class='module accordion-group'>
						<link-item link="link" small="true">
					</li>
				</ul>
				<div style="text-align: left;margin: 10px 0 2px 6px;font-weight: bold;font-size: 15px;" translate>courses.modules</div>
				<accordion  class="accordion" ui-sortable="moduleSortableOptions" ng-model='modules'>
					<accordion-group class="module accordion-group" ng-repeat="module in modules" is-open="{{currentmodule.id == module.id}}">
						<accordion-heading class="accordion-heading">
							<module data="module" ng-click="setCurrentModule(module)" current="currentmodule.id == module.id" copy="copy(module)" paste="paste(module.id, $index)" share="openShareModal(module.id)" link="createModuleLink(module.id)">
							</module>
						</accordion-heading>
	          			<span class="items" ui-sortable="itemSortableOptions" ng-model='module.items'>
		            		<li class="last-child item looks-like-a-link" ng-repeat="item in module.items" ng-class="{currentitem: currentitem == item.id}">
	             				<item data="item" remove="$parent['remove'+capitalize(item.class_name)]($parent.$index, $index)" copy="copy(item)" paste="paste(module.id, $parent.$index)" share="openShareModal(item.id,item.class_name)" link="createItemLink(item)"></item>
		            		</li>
		            	</span>
					</accordion-group>
				</accordion>
			</span>
			<br>
		</div>
	</div>
</span>