<div class="whole-box">
	<link rel="stylesheet" href="styles/courseItem.css"/>
	<table>
		<tr>
			<td>
				<table>
					<tr>
						<td class="course-image">

						</td>
						<td class="course-stats-container" ng-show="course.lectures">
							<table>
								<tr>
									<td>
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="course-info-container">
				{{course.short_name}} | {{course.name}} {{course.name}} {{course.name}} {{course.name}}
			</td>
		</tr>
	</table>
</div>
