<div class="whole-box light-grey">
	<div class="course-button hide-for-small-only">
		<button type="button" class="button uppercase" ui-sref="course.course_information({ course_id: course.id })">Go to course</button>
	</div>
	<div class="course-image right hide-for-small-only" style="padding-left: 0px;">
		<img ng-class="{centerimage: course.image_url}" ng-src="{{course.image_url || '../images/course_image.png'}}" />
	</div>
  	<div class="small-12 medium-8 large-9 columns" style="padding-top: 10px; padding-bottom: 10px; display: inline-block;">
		<h5 ui-sref="course.course_information({ course_id: course.id })" class="title looks-like-a-link truncate" title="{{course.name}}">{{course.short_name}} | {{course.name}}</h5>
		<h6 class="color-blue" title="{{course.name}}"><span class="dark-text" translate>courses.taught_by</span> <span ng-repeat="teacher in teachers">{{teacher.user.name}}<span ng-if="$index < teachers.length-1">, </span></span></h6>
		<p class="describtion">
			{{course.description}}
		</p>
		<div class="bottom-bar">
			<div class="small-4 columns" ng-class="{'small-6': !course.ended}">
				<i class="fi-calendar size-21"></i> <small class="truncate" title="{{course.start_date | amDateFormat:'MMMM Do YYYY'}}">{{course.start_date | amDateFormat:'MMMM Do YYYY'}}</small>
			</div>
			<div class="small-4 columns" ng-class="{'small-6': !course.ended}">
				<i class="fi-clock size-21"></i> <small class="truncate" title="{{course.duration}} {{'courses.weeks' | translate}}">{{course.duration}} {{'courses.weeks' | translate}}</small>
			</div>
			<div class="small-4 columns" ng-if="course.ended">
				<i class="fi-check size-21"></i> <small class="truncate" title="{{'finished' | translate}}">{{'finished' | translate}}</small>
			</div>
		</div>
  	</div>
</div>
