<center><loading size="big" show="!eventSources.length"></loading></center>
<style>
	table{
		border: none !important; 
	}
</style>
<span ng-show="eventSources.length">
	<div class="small-12 large-6 right columns" ng-class="{'large-12 auto-right position-relative': !events.length ||large_calendar}">
	 	<div class="calendar-container" step-text="Here's a calendar with all the events for the courses you're in." step-index="1" step-placement="top" step-append-to-body="flase" page-name="{{current}}">

			<div id="studentCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" style="width:100%;"></div>
			<span ng-show="events.length" >
				<button class="show-inline button really-tiny" ng-click="toggleLargeCalendar()">
					<span ng-show="!large_calendar">
						<i class="fi-zoom-in size-10"/>
						<span translate>dashboard.large_calendar</span>
					</span>
					<span ng-show="!large_calendar">
						<i class="fi-zoom-out size-10"/>
						<span translate>dashboard.small_calendar</span>
					</span>
				</button>
			</span>
			<button class="really-tiny button secondary no-margin" ng-click="export_calendar()" translate>dashboard.export_calendar</button>
	        <span ng-show="current_user.roles[0].id == 2" class="right">
	        	<span class="calendar_color done alert-box label radius" translate="events.done"></span>
				<span class="calendar_color done_late alert-box label radius" translate="events.done_late"></span>
				<span class="calendar_color not_done alert-box label radius" translate="events.not_done"></span>
				<span class="calendar_color not_done_late alert-box label radius" translate="events.not_done_late"></span>
			</span>				
	 	</div>	 	
	</div>
	<div class="small-12 large-6 columns" ng-show="events.length && !large_calendar" >
		
		<span step-text="Here you will find the list of all announcements from the courses you're in." step-index="2" step-placement="top" step-append-to-body="flase" page-name="{{current}}">
			<event-item ng-repeat="event in events | orderBy:'timestamp':'reverse'" event="event" role="current_user.roles[0].id"></event-item>
		</span>
	</div>	
</span>