<center ng-show="!eventSources.length" style="height: 80%;"><loading size="big" show="!eventSources.length" /></center>
<div ng-show="eventSources.length" style="padding-bottom: 30px;">
	<div style="width: 100%;">
		 <tr> 
			<div class="news-feed-container" ng-show="events.length">
				<div>
					<b class="dropdown-header"><span translate>whats_new</span>?</b>
				</div>
				<div style="overflow-y: auto; height: 100%;">
					<news-feed events="events"></news-feed>
				</div>
				<!-- <event-item ng-repeat="event in latest_events | orderBy:'appearance_time':reverse" event="event"></event-item> -->
			</div>

		 	<div style="margin-top:10px; bottom: 0px; top: 0px;height: auto;overflow: auto; padding-bottom: 30px;" class="calendar-container" ng-class="{widecalendar: !announcements.length}">
		    	<div id="studentCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar" style="width:100%; min-width: 420px; min-height: 420px;"></div>
		        <div class="alert" style="text-align: left;">
		         	<div style="font-size:14px;font-weight: bold;margin-bottom:5px" translate="events.deadline_msg"></div>
		         	<div class="span2" style="margin-right: 5px;margin-left:0px">
			         		<div style="width:45%;float:left">
			         		<div style="width: 20px; height: 20px; background-color: green;float:left;margin-right: 5px;border-radius: 1em;opacity: 0.8;"></div>
			         		<div translate="events.done"></div>
			         	</div>
			         	<div >
			         		<div style="width: 20px; height: 20px; background-color: orange;float:left;margin-right: 5px;border-radius: 1em;opacity: 0.8;"></div>
			     			<div translate="events.not_done"></div>
			     		</div>
			     	</div>
		         	<div >
		         		<div style="width: 20px; height: 20px; background-color: red;float:left;margin-right: 5px;border-radius: 1em;opacity: 0.8;"></div>
		     			<div translate="events.not_done_due"></div>
		     		</div>
		         </div>
	     	</div>
	     	<a href="" ng-click="cal_export()">Export Calendar as ICS </a>
	      </tr> 
		
    </div>

</div>