<div class="document-item-box">
	<table style="width: 90%;">
		<tr>
			<td style="width: 48px;">
				<img src="images/document_item.png" height="40px" style="vertical-align: top;" />
			</td>
			<td>
				<div>
					<small><details-text value="document.name" save="update(document)" validation="nameval" elem="document"></details-text></small>
				</div>
				<div>
					<small><details-link value="document.url" save="update(document)" validation="urlval" elem="document"></details-link></small>
				</div>
			</td>
			<td>
				<div style="display: inline-block; position: relative; left: 98%; vertical-align: top;">
					<delete_button size="small" action="remove(document)"></delete_button>
				</div>
			</td>
		</tr>
	</table>
	
</div>