<div style="padding:10px">
	<H1 style='font-weight: bold'>ScalableLearning Shutting Down in 2020</H1>
	<p>While we continue to look for ways to keep ScalableLearning going for the future,<b> our current plans are to
			shut
			down ScalableLearning at the end of 2020 with reduced support starting in June.</b> However, we are building
		two
		paths for you to export your courses from ScalableLearning: migrating your videos to the FeedbackFruits
		Interactive
		Video Tool or exporting your whole course to Canvas or Blackboard. </p>

	<p>No course data or student data will be migrated or exported without your explicit action.</p>

	<p><b>Option 1: Export to FeedbackFruits Interactive Video Tool</b>
		</br>
		<a href="https://feedbackfruits.com/" style='text-decoration: underline'>FeedbackFruits</a> is an international
		company based in the Netherlands whose mission is to support teachers to create engaging learning activities
		that
		spark active thinking. FeedbackFruits provides a suite of pedagogical tools to over 35 institutions around the
		world. FeedbackFruits will provide free use of their Interactive Video Tool for ScalableLearning Teachers and an
		automatic migration tool. This will allow you to continue using quizzes and student discussions in your videos.
		The
		Interactive Video Tool can be used either as a stand-alone tool or embedded in your institution’s LMS.
	</p>

	<p style='color:#38761d'>
		&rarr;To export individual videos to FeedbackFruits Interactive Video Tool simply click on the “Export Video to
		FeedbackFruits” under “Details” for each video and you will receive an email with further instructions.
	</p>
	<p>If you would like to learn more about Interactive Videos in Canvas or Blackboard please watch the videos below.
		You
		can also contact FeedbackFruits directly at
		</br>helpme@feedbackfruits.com for assistance.
		</br> Exporting from ScalableLearning to FeedbackFruits:
		</br> For Canvas: https://youtu.be/6kgwXf_V3hw?t=318
		</br> For Blackboard: https://youtu.be/pk3pl-QdNjc?t=292
	</p>
	<p><b>Option 2: Export to Canvas or Blackboard</b>
		</br>
		We will also provide the option to export your course to the Canvas or Blackboard LMSs. This will allow you to
		import your course structure (modules and videos) into either a free Canvas instance or your institution’s own
		Canvas/Blackboard LMS. However, as neither natively support quizzes in videos, the export tool will split up
		your
		videos at each quiz. This will require that students click the “next” button to take the quizzes and continue
		the
		video.
	</p>
	<p style='color:#38761d'>
		&rarr; To export your course, simply click on “Export Course to Canvas” on the “Administration” page for your
		course. You will then receive an email with the exported course and instructions for how to import it into
		Canvas. Currently exporting directly to Blackboard is not supported, and you will need to first export to
		Canvas, then import your course into a free Canvas instance, and finally export it from Canvas to Blackboard. We
		hope to simplify this in the future.
	</p>
	<div>
		<p>We understand that neither of these paths provide the full online/in-class experience that ScalableLearning
			provides, but we are confident that they will allow you to continue teaching with the material you have
			built up
			in ScalableLearning.
		</p>
		
		<p>If you have any questions or concerns please get in touch through the Support link in the Help menu.</p>
		<p>	Sincerely,</p>
		<p>-The ScalableLearning Team</p>

	</p>
</div>