<div class="modal-header">
    <h3 translate="navigation.notifications"></h3>
</div>
<div class="modal-body" style="overflow: auto">
    <center>
    	<table class="table">
			<tr>
				<td translate="navigation.notification"></td>
				<td></td>
				<td></td>
			</tr>
			<tr ng-repeat="(id,invitation) in invitations">
				<td>
					<span translate="notification.invited" translate-values='{ course: invitation[0], user:invitation[1], role:invitation[2]}'></span>
				</td>
				<td>
					<a translate="notification.accept" class="btn btn-primary" ng-click="accept(id)"></a>
				</td>
				<td>
					<a translate="notification.reject" class="btn btn-danger" ng-click="reject(id)"></a>
				</td>
			</tr>

            <tr ng-repeat="item in shared_items">
                <td>
                    <span translate="notification.shared" translate-values='{user:item.sharer_email}'></span>
                </td>
                <td>
                    <a translate="notification.import_new_course" class="btn btn-primary" ng-click="import_new(item)"></a>
                </td>
                <td>
                    <a translate="notification.import_existing_course" class="btn btn-danger" ng-click="import_old(item)"></a>
                </td>
            </tr>
		</table>
    </center>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()" translate="lectures.cancel">Cancel</button>
</div>