<!-- <div class="" ng-class="{'link-item-box-big':!small}">
	<table style="width: 90%;">
		<tr>
			<td style="width: 48px;">
				<img src="images/link_item.png" height="40px" style="vertical-align: top;" ng-class="{'link_img_small':small}"/>
			</td>
			<td>
				<div>
					<details-text value="link.name" save="update(link)" validation="validate" elem="link"></details-text>
				</div>
				<div>
					<details-link value="link.url" save="update(link)" validation="validate" elem="link"></details-link>
				</div>
			</td>
			<td>
				<div style="display: inline-block; position: relative; left: 60%; vertical-align: top;">
					<delete_button size="small" color='dark' action="remove(link)"></delete_button>
				</div>
			</td>
		</tr>
	</table>	
</div> -->
<div class="row" style="box-shadow: 0 0 1px lightgrey;padding:10px;margin:3px 0;">
	<div class="small-1 columns"><img src="images/link_item.png" height="40px" style="vertical-align: top;" ng-class="{'link_img_small':small}"/></div>
	<div class="small-8 columns" ng-class="{'link_item_small':small}" style="margin-bottom:5px">
		<div class="small-12 columns">
			<details-text ng-show="'**.course_editor.**' | includedByState" value="link.name" save="update(link)" validation="validate" elem="link"></details-text>
			<div ng-hide="'**.course_editor.**' | includedByState">{{link.name}}</div>
		</div>
		<div class="small-12 columns" >
			<details-link ng-show="'**.course_editor.**' | includedByState" value="link.url" save="update(link)" validation="validate" elem="link"></details-link>
			<div ng-hide="'**.course_editor.**' | includedByState">{{link.url}}</div>
		</div>
	</div>
	<div class="small-1 columns" style="padding:0" ng-show="'**.course_editor.**' | includedByState">
		<delete_button size="small" color='dark' action="remove(link)"></delete_button>
	</div>
</div>