<!-- <div class="" ng-class="{'link-item-box-big':!small}">
	<table style="width: 90%;">
		<tr>
			<td style="width: 48px;">
				<img src="images/link_item.png" height="40px" style="vertical-align: top;" ng-class="{'link_img_small':small}"/>
			</td>
			<td>
				<div>
					<details-text value="link.name" save="update(link)" validation="validate" elem="link"></details-text>
				</div>
				<div>
					<details-link value="link.url" save="update(link)" validation="validate" elem="link"></details-link>
				</div>
			</td>
			<td>
				<div style="display: inline-block; position: relative; left: 60%; vertical-align: top;">
					<delete_button size="small" color='dark' action="remove(link)"></delete_button>
				</div>
			</td>
		</tr>
	</table>	
</div> -->
<div ng-if="'**.course_editor.**' | includedByState" bindonce class="row" style="box-shadow: 0 0 1px lightgrey;padding:5px;">
	<img class='left handle with-tiny-margin' src='images/move2.png' bindonce bo-title="'courses.drag_to_reorder'|translate" />
	<i class="fi-link left" ng-if="!small"></i>
	<div class="small-9 columns no-padding" bo-class="{'link_item_small':small}">
		<div class="small-12 columns">
			<span>Name:</span><details-text class="with-small-margin-left" value="link.name" save="update(link)" validation="validate" elem="link"></details-text>
		</div>
		<div class="small-12 columns truncate" >
			<span>URL:</span><details-link class="with-small-margin-left" value="link.url" save="update(link)" validation="validate" elem="link" dontshorten="true"></details-link>
		</div>
	</div>
	<div class="small-1 columns" style="padding:0" ng-if="'**.course_editor.**' | includedByState">
		<delete_button size="small" vertical="true" color='dark' action="removeLink(link)"></delete_button>
	</div>
</div>

<div ng-if="!('**.course_editor.**' | includedByState)" bindonce class="row" style="box-shadow: 0 0 1px lightgrey;padding:5px;">
	<div ng-if="!small" class="small-1 columns with-small-margin-right">
		<img src="images/link_item.png" height="40px" style="vertical-align: top;" /> <!-- bo-class="{'link_img_small':small}" -->
	</div>
	<div class="small-8 columns left" bo-class="{'link_item_small':small}">
		<div class="small-12 columns">
			<div>Name: <span bo-text="link.name"></span></div>
		</div>
		<div class="small-12 columns" >
			<div>URL: <span bo-text="link.url"></span></div>
		</div>
	</div>
</div>