<center>
    <h2>Welcome to Scalable Learning</h2>
    <p>Enter your credentials to continue...</p>
    <br />
    <p>E-mail</p>
    <input type="email" id="user_email" class="string email optional" name="user[email]" size="50"/>
    <p>Password</p>
    <input type="password" id="user_passowrd" class="password optional" name="user[password]" size="50"/>
    <br />
    <input type="button" ng-click="" value="Login" class="btn btn-primary"/>
    <br />
    <br />
    <a href="/#/users/password/new">Forgot your password?</a>
    <br/>
    or..
    <br/>
    <a href="/#/users/confirmation/new">Didn't receive confirmation instructions</a>

<!--<input type="button" ng-click="login()" value="Scalable Learning" class="btn"/>-->

</center>