<div class="with-padding"><center>
	<h2>
		<b class="color-blue">Combining the best of online and in-class for active learning</b>
	</h2>
	<p>
		ScalableLearning is the first teaching tool designed from the ground up to bring together the best of online learning and in-class teaching. ScalableLearning’s unique combination of <a href="">interactive online material</a>, <a href="">teacher analytics</a>, and <a href="">in-class support</a> helps teachers enhance learning by increasong active student participation and feedback.
	</p>
	<div class="large-12 with-padding with-margin">
		<a href="/#/#online_material"><img class="medium-2 small-2 large-2" src="images/materials.png" /></a>
		<img src="images/arrow-right.png" />
		<a href="/#/#teacher_analytics"><img class="medium-2 small-2 large-2" src="images/analytics.png" /></a>
		<img src="images/arrow-right.png" />
		<a href="/#/#inclass_support"><img class="medium-2 small-2 large-2" src="images/inclass.png" /></a>
	</div>
	<p>
		ScalableLearning provides teachers and publishers with tools to develop engaging, interactive online material that increases student reflection and interaction. Teachers can then use ScalbleLearning’s analytics to gain insights into where students are learning and where they are confused. Teachers can then identify the topics where students need help and ScalableLearning will build a customized in-class review for the material.
	</p>
</center>
<h3 class="color-blue">
	Active Learning through Flipped Classroom and Just-in-time Teaching
</h3>
<p>
	ScalableLearning enables active learning by giving teachers and publishers powerful tools for producing interactive online material and understanding students’ online progress. With these tools, teachers can move their lectures online (flipped classroom) and use class time to focus on the areas where students are struggling (just-in-time teaching). This enables more time for directed in-class active learning activities such as peer instruction, problem based learning, group discussion, and problem solving.
</p>
<h3 id="online_material" class="color-blue" data-scrollspy-broadcast>
	Engaging Students with Interactive Online Material
</h3>
<p>
	The ScalableLearning platform provides a unique set of tools to help students engage with the material and encourage them to reflect on what they are learning:
	<ul>
		<li>
			Interactive in-video questions, including multiple choice, drag into order, free response, and matched response
		</li>
		<li>
			Integrated teacher answers to in-video questions 
		</li>
		<li>
			In-video student questions and discussions 
		</li>
		<li>
			Student voting on for in-class review material
		</li>
		<li>
			Surveys and graded quizzes 
		</li>
		<li>
			In-video note taking and student review
		</li>
		<li>
			A “confused” button for students to mark the online material for teachers
		</li>
	</ul>
	Through these tools, teachers can ensure that their students show up to class prepared for active discussions and in-class activities.
	<center>
		<img class="large-6 with-margin" src="images/interactive-lecture.png" />
	</center>
</p>
<h3 id="teacher_analytics" class="color-blue" data-scrollspy-broadcast>
	Teacher Analytics for Analyzing Student Performance
</h3>
<p>
	ScalableLearning provides a detailed breakdown of students’ online performance: video questions and quizzes, student questions and feedback, where students were confused, and what material they would like to see reviewed in-class. This information is combined to make it easy for teachers to quickly review their class’s performance, see exactly where they struggled, respond to questions, and choose which material to review in-class.
	<center>[Picture of teacher analytics]</center>
</p>
<p>
	With ScalableLearning, teachers can review an entire class’s lecture performance and answer students’ online questions in 20 minutes. For the first time teachers can show up to class knowing where their students are struggling and what questions they have.
</p>

<h3 id="inclass_support" class="color-blue" data-scrollspy-broadcast>
	In-class Support for Just-in-time Teaching
</h3>
<p>
	ScalableLearning helps teachers bring the students’ online experience into the classroom by effortlessly reviewing online quizzes, questions, and lecture material in-class. Teachers simply mark material for in-class review, and ScalableLearning builds a custom presentation that focuses on just the material their class struggled with. This tight integration between online and in-class teaching allows teachers to focus their in-class review time and encourages student online interactions.
	<center>[Picture of presenting in-class]</center>
</p>

<h3 class="color-blue">
	Getting Started
</h3>
<p>
	If you’re a motivated teacher and want to get started with ScalableLearning please get in touch. We’ll get you setup with an account, and a detailed instructions guide, including tips on how to produce material, motivate students, different ways to run a flipped class, and advice we’ve gathered from working with thousands of students.
</p>

<h3 class="color-blue">
	About ScalableLearning
</h3>
<p>
	ScalableLearning is a collaboration between passionate educators at the Swedish Institute of Computer Science, the Department of Information Technology at Uppsala University, Sweden, and Cario University, Egypt. Our mission is to bring together the best of in-class and online education to improve learning, increase quality through insight and feedback, and reduce teacher overhead by enabling reuse and sharing.
</p>
<p>
	Since 2013 ScalableLearning has worked with thousands of students and hundreds of teachers across the world. We are constantly striving to find motivated teachers who can help us develop new tools and ideas on how to improve teaching and learning by engaging and activating students in the classroom and online.
</p>

<h3 class="color-blue">
	The ScalableLearning Team
</h3>
<p>
	<center>[Team picture]</center>
	<h5>
		David Black-Schaffer <small>- Visionary, Pedagogical Experimenter </small>
	</h5>
	<p>
		David is a passionate teacher and researcher. His drive is to build tools and develop teaching techniques that help teachers and students make the best use of their class time. He has won multiple teaching awards in Europe and the United States, and is an active researcher in the field of energy efficient computer architecture.
	</p>
	<hr />
	<h5>
		Sameh El-Ansary <small>- Development Manager, Business Expert </small>
	</h5>
	<p>
		Sameh is a passionate teacher and entrepreneur. After his last startup in media streaming he is excited to revolutionize the world of teaching by bringing better tools and technologies into the classroom.
	</p>
	<hr />
	<h5>
		Sverker Janson <small>- Coordination, Funding and Strategy </small>
	</h5>
	<p>
		Sverker runs the Computer Systems Lab at the Swedish Institute of Computer Science and is passionate about learning. He sees an enormous potential for improved teaching and learning for students across the educational spectrum and is working to help realize that potential.
	</p>
	<hr />
	<h5>
		Bahia El-Sharkawy <small>- Developer </small>
	</h5>
	<h5>
		Mahmoud Menshawi <small>- Developer, UI Designer </small>
	</h5>
	<h5>
		Karim Alaa <small>- Developer </small>
	</h5>
	<h5>
		Mena Sa'eed <small>- Developer </small>
	</h5>
</p></div>