<div class="fixed">
	<top-bar>
	    <ul class="title-area">
	      <li class="name">
	        <h1>
				<a href="/#">
					Scalable<span style="padding-left:0px; color:orange;">Learning</span>
				</a>
			</h1>
	      </li>
	      <li toggle-top-bar class="menu-icon"><a href="">Menu</a></li>
	    </ul>
	    <top-bar-section ng-switch="user.roles[0].id">
	      <!-- Right Nav Section -->
	      	<!-- STUDENT -->
	      	<ul ng-switch-when="2" class="right">
				<li class="divider"></li>
				<li><a href="#">Dashboard</a></li>
				<li class="divider"></li>
				<li has-dropdown>
					<a href="">Courses</a>
					<ul top-bar-dropdown>
						<li><label>Current Courses</label></li>
						<li ng-repeat="course in courses">
							<a class="has-description" href="" ui-sref="course.student_calendar({ course_id: course.id })">
								{{course.short_name}}
								<h5 class="description"><small>{{course.name}}</small></h5>
							</a>
						</li>
						<li class="divider"></li>
						<li><label>Other</label></li>
						<li><a ng-click="open()">Join a Course</a></li>
						<li>
							<a class="has-description" ui-sref="student_courses">
								See all &rarr;
								<h5 class="description"><small>View your whole course list</small></h5>
							</a>
						</li>
					</ul>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a href="">Account</a>
					<ul top-bar-dropdown>
						<li>
							<a class="has-description" href="" ui-sref="edit_account">
								Settings
								<h5 class="description"><small>Modify your account information/settings</small></h5>
							</a>
						</li>
						<li><a ng-click="logout()">Logout {{user.name}}</a></li>
					</ul>
				</li>
				<li has-dropdown>
					<a href="">Help</a>
					<ul top-bar-dropdown>
						<li><a href="">Getting Started</a></li>
						<li class="divider"></li>
						<li><a href="">Privacy</a></li>
						<li><a href="">Feedback</a></li>
					</ul>
				</li>
			</ul>
			<!-- TEACHER -->
			<ul ng-switch-when="1" class="right">
				<li class="divider"></li>
				<li><a href="#">Dashboard</a></li>
				<li class="divider"></li>
				<li has-dropdown>
					<a href="">Notifications</a>
					<ul top-bar-dropdown>
						<li><label>Notifications</label></li>
						<li ng-show="user.invitations == 0 && user.shared == 0"><a>{{'notification.empty' | translate}}</a></li>
                        <notification-item ng-repeat="(id, invitation) in user.invitation_items" notification="invitation" id="id"></notification-item>
                        <shared-item-notification ng-repeat="(id, item) in user.shared_items" notification="item" id="id"></shared-item-notification>
					</ul>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a href="">Courses</a>
					<ul top-bar-dropdown>
						<li><label>Current Courses</label></li>
						<li ng-repeat="course in courses"><a href="">{{course.short_name+' | '+course.name}}</a></li>
						<li class="divider"></li>
						<li><label>Other</label></li>
						<li><a ui-sref="new_course">Create a New Course</a></li>
						<li><a href="">See all &rarr;</a></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a href="">Account</a>
					<ul top-bar-dropdown>
						<li><a href="">Settings</a></li>
						<li><a ng-click="logout()">Logout {{user.name}}</a></li>
					</ul>
				</li>
				<li has-dropdown>
					<a href="">Help</a>
					<ul top-bar-dropdown>
						<li><a href="">Getting Started</a></li>
						<li><a href="">Teacher Forum</a></li>
						<li><a href="">Instruction Manual</a></li>
						<li class="divider"></li>
						<li><a href="">Privacy</a></li>
						<li><a href="">Feedback</a></li>
					</ul>
				</li>
			</ul>
			<!-- ADMIN -->
			<ul ng-switch-when="5" class="right">
				<li class="divider"></li>
				<li><a ui-sref="statistics">Statistics</a></li>
				<li class="divider"></li>
				<li has-dropdown>
					<a href="">Notifications</a>
					<ul top-bar-dropdown>
						<li><label>Current Courses</label></li>
						<li ng-repeat="course in courses"><a href="">{{course.short_name+' | '+course.name}}</a></li>
						<li class="divider"></li>
						<li><label>Other</label></li>
						<li><a ui-sref="new_course">Create a New Course</a></li>
						<li><a href="">See all &rarr;</a></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li><a href="">Dashboard</a></li>
				<li class="divider"></li>
				<li has-dropdown>
					<a href="">Courses</a>
					<ul top-bar-dropdown>
						<li><label>Current Courses</label></li>
						<li ng-repeat="course in courses"><a href="">{{course.short_name+' | '+course.name}}</a></li>
						<li class="divider"></li>
						<li><label>Other</label></li>
						<li><a ui-sref="new_course">Create a New Course</a></li>
						<li><a href="">See all &rarr;</a></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a href="">Account</a>
					<ul top-bar-dropdown>
						<li><a href="">Settings</a></li>
						<li><a ng-click="logout()">Logout {{user.name}}</a></li>
					</ul>
				</li>
				<li has-dropdown>
					<a href="">Help</a>
					<ul top-bar-dropdown>
						<li><a href="">Getting Started</a></li>
						<li><a href="">Teacher Forum</a></li>
						<li><a href="">Instruction Manual</a></li>
						<li class="divider"></li>
						<li><a href="">Privacy</a></li>
						<li><a href="">Feedback</a></li>
					</ul>
				</li>
			</ul>
	    </top-bar-section>
	</top-bar>
</div>
