<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<div id="page-top" class="landing body index">
    <nav class="navbar navbar-default navbar-fixed-top nav-blue navbar-shrink">
        <div class="section_container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand custom-brand page-scroll" href="#page-top" style='font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif'>
                    <img src="images/landing/logo.png" style="width: 42px;margin-top: -6px;display: inline-block;">
                    <span style="color:white;font-weight:100">Scalable</span><span style="font-weight: 200;color:#5da423">Learning</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="font-small page-scroll" href="#about">Active Learning</a>
                    </li>
                    <li>
                        <a class="font-small hidden-sm page-scroll" href="#users">Teachers</a>
                    </li>
                    <li>
                        <a class="font-small page-scroll" href="#started">Getting Started</a>
                    </li>
                    <li>
                        <a id="login" class="font-small btn btn-golden " ui-sref="login">Sign In/Up</a>
                    </li>
                    <!-- <li>
                        <a class="font-small visible-md visible-lg btn btn-golden" ui-sref="signup">
                            <span>Sign Up</span>
                            <span class="caret"></span>
                        </a>
                         <ul id="signup_list_small" class="dropdown-menu" style="padding:0">
                            <li><a ui-sref="teacher_signup" class="signup_list_item">I'm a Teacher</a></li>
                            <li role="separator" class="divider" style="margin:0"></li>
                            <li><a ui-sref="student_signup" class="signup_list_item">I'm a Student</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="section_container" >
            <div class="intro-text">
                <div >
                    <div class="intro-heading" ng-show="beta" style="padding: 0px 16%;margin-bottom:15px">Welcome to the beta testing site!</div>
                    <div class="intro-lead-in-custom">
                        <img src="images/landing/sl-logo-transparent2.png" style="width: 80%;">
                    </div>
                    <div class="intro-heading" style="padding: 0px 16%;">Active Learning Online And In-class</div>
                    <a class="btn btn-xl btn-golden" ui-sref="login">Sign In or Sign Up</a>
                    <!-- <a class="btn btn-xl btn-golden" ui-sref="signup">
                        <span>Sign Up</span>
                        <span class="caret"></span>
                    </a> -->
                    <!--  <ul id="signup_list" class="dropdown-menu" style="padding:0">
                        <li><a ui-sref="teacher_signup" class="signup_list_item">I'm a Teacher</a></li>
                        <li role="separator" class="divider" style="margin:0"></li>
                        <li><a ui-sref="student_signup" class="signup_list_item">I'm a Student</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" >
        <div class="section_container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Active Learning in the Classroom and Online</h2>
                    <h3 class="section-subheading text-muted">ScalableLearning helps teachers combine the best of online interactive student preparation and active in-class teaching.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="images/landing/materials.png" class="img-responsive" alt="">
                    </span>

                    <h4 class="service-heading">Student Preparation</h4>
                    <p class="text-muted text-left">Help students prepare for class with interactive online lectures, in-video quizzes, surveys, voting, and in-video student discussions and questions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="images/landing/analytics.png" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">Teacher Analysis</h4>
                    <p class="text-muted text-left">Understand where your students need help in the classroom and connect with them through analytics and online discussions..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="images/landing/inclass.png" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">In-class Learning</h4>
                    <p class="text-muted text-left">Bring students’ online questions and quizzes directly into the classroom for review and use mobile devices in-class to engage student through Peer Instruction and voting.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="users" class="bg-light-gray">
        <div class="section_container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teachers</h2>
                    <h3 class="section-subheading text-muted">Hundreds of teachers use ScalableLearning with thousands of students for flipped classroom and distance education at the university and high school levels.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/landing/kth-logo-square.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="text-quote">“ScalableLearning allows me to spend almost all my in-class time with clicker based concept quizzes and peer instruction based exercises. The students love it, and display a much deeper understanding of the topic, so it is a double win.”</h4>
                                    <h4 class="text-quote"><span style="font-style:normal">Joakim Jaldén, KTH Royal Institute of Technology</span></h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image" style="background:white">
                                <img class="img-circle img-responsive" src="images/landing/uu-logo-square.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="text-quote">“I have seen dramatic improvements in exam results since we started using ScalableLearning and the students are loving it.”</h4>
                                    <h4 class="text-quote"><span style="font-style:normal">Erik Hagersten, Uppsala University</span></h4>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/landing/hu-logo-square.png" alt="">
                            </div>
                            <div class="timeline-panel" style="position:absolute">
                                <div class="timeline-heading">
                                    <h4 class="text-quote">“Students not only love being active in class thanks to ScalableLearning, but they also learn measurably more. Producing videos takes a bit of getting used to, but ultimately it is unquestionably worth it.”</h4>
                                    <h4 class="text-quote"><span style="font-style:normal">Thomas Klose, Humboldt University</span></h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="started" >
        <div class="section_container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Getting Started</h2>
                    <h3 class="section-subheading text-muted">With ScalableLearning teachers can easily add quizzes and surveys to videos for active student preparation, understand where students need help with teacher analytics, bring students’ online questions directly into the classroom, and use active in-class teaching techniques connected directly to the students’ online performance.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4  portfolio-item">
                    <a ng-click="playerTeacher()" class="portfolio-link" data-toggle="modal" style="border: 1px solid;">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-play fa-3x"></i>
                            </div>
                        </div>
                        <img src="images/landing/teacher-video-graphic3.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Getting Started for Teachers </h4>
                        <p class="text-muted text-left">Learn how to create a course with interactive video quizzes, review your students’ performance and answer their questions, and choose material for use in-class.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 portfolio-item">
                    <a ng-click="playerStudent()" class="portfolio-link" data-toggle="modal" style="border: 1px solid;">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-play fa-3x"></i>
                            </div>
                        </div>
                        <img src="images/landing/student-video-graphic1.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Getting Started for Students</h4>
                        <p class="text-muted text-left">Learn how to work with interactive online lectures, ask questions, take notes, and tips for how to learn the most with ScalableLearning.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 portfolio-item" >
                    <a class="portfolio-link" data-toggle="modal" style="border: 1px solid; cursor: default;">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-link fa-3x"></i>
                            </div>
                        </div>
                        <img src="images/landing/getting_help.png" class="img-responsive" alt="">
                    </a>
                     <div class="portfolio-caption">
                        <h4>Getting Help</h4>
                        <p class="text-muted text-left">Use the Help menu to browse our
                            <a target="_blank" ng-href="{{instruction_manual}}">manual</a>,
                            <a target="_blank" ng-href="{{flipped_manual}}">guide to flipped classroom teaching</a>
                            , visit the
                            <a target="_blank" ng-href="{{teacher_forum_link}}">teacher forum</a>
                            , and
                            <a class="page-scroll" href="#contact">contact us</a>
                            with questions and comments.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="section-subheading text-muted" style="margin-bottom:20px;">ScalableLearning is used by over 20,000 students and thousands of teachers today. To create your first course, sign in and watch the teacher tutorial. ScalableLearning is provided for free for individual teachers. Schools and departments that wish to use ScalableLearning on a large scale should contact us for pricing.</h3>
                </div>
                <br />
                <div class="col-sm-12 text-center">
                    <a class="btn btn-xl btn-golden" ui-sref="login">Sign In or Sign Up</a>
                </div>
            </div>
        </div>
    </section>

    <section id="cases" class="bg-light-gray">
        <div class="section_container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Use Cases</h2>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <h4 class="service-heading text-center">Flipped Classroom</h4>
                    <p class="text-muted">ScalableLearning delivers interactive online videos to prepare students for active learning in-class. With ScalableLearning, your students can answer quizzes and surveys, ask questions, start discussions, and vote during online videos.</p>
                    <p class="text-muted">ScalableLearning shows teachers where students are struggling and makes it easy for them to bring this material into the classroom for review. ScalableLearning supports active learning in-class through student voting on mobile devices and after-class student follow-up of the in-class material.</p>
                    <p class="text-muted">With interactive online preparation, analytics for teachers, focused in-class review, active in-class student voting, and after-class student review, ScalableLearning is the ideal tool for active/flipped classroom teaching.</p>
                </div>
                <div class="col-md-6">
                    <h4 class="service-heading text-center">Distance Education</h4>
                    <p class="text-muted">ScalableLearning turns online lectures into active, social learning experiences. Students can interact with the material, ask questions, and discuss with each other and their teachers through in-video quizzes, discussions, and voting.</p>
                    <p class="text-muted">For distance courses, ScalableLearning offers online Peer Instruction, where pairs of students can work together remotely in a synchronized manner to explore the material and help each other build understanding.</p>
                    <p class="text-muted">Teachers receive feedback on how well students understood the material and can respond to questions and discussions right in the video. By bringing interactivity and social interaction to online material, ScalableLearning is a powerful tool for enhancing distance education.</p>
                </div>
            </div>
            <div class="col-lg-12 text-center">ScalableLearning delivers fully active preparation and learning online and in-class.</div> 
            <br>
            <br>
            <div class="row text-center ">
                <table >
                  <tr>
                    <td></td>
                    <td style="text-align: center; font-size: 16px; font-weight: bold;">At Home</td>
                    <td style="text-align: center; font-size: 16px; font-weight: bold;">In-Class</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 16px; font-weight: bold; ">Traditional Lectues</td>
                    <td style="text-align: center; font-size: 16px;"><div class="backgroundgreen">Solve Problems<br><span class="whitecolor">Active</span><br></div><div class="whitecolor backgroundgrey">Alone</div></td>
                    <td style="text-align: center; font-size: 16px;"><div class="backgroundgrey">Listen to Lecture<div class="whitecolor">Passive</div></div><div class="backgroundblue whitecolor">With Teacher</div></td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 16px; font-weight: bold;" >Traditional Flipped Classroom</td>
                    <td style="text-align: center; font-size: 16px;"><div class="backgroundgrey">Listen to Lecture<br><div class="whitecolor">Passive<br>Alone</div></div></td>
                    <td style="text-align: center; font-size: 16px;"><div class="backgroundgreen">Solve Problems<br><div class="whitecolor">Active<br>With Peers</div></div></td></tr>
                  <tr>
                    <td style="text-align: center; font-size: 16px;"><span style="font-weight: bold;" >Flipped Classroom with </span>Scalable<span style="color:#5da423">Learning</span></td>
                    <td style="text-align: center; font-size: 16px;"><div class="backgroundgreen">Interactive Lecture<br><div class="whitecolor">Active<br>Online with Peers</div></div></td>
                    <td style="text-align: center; font-size: 16px;"><div class="backgroundgreen">Solve Problems<br><div class="whitecolor">Active with Voting<br>With Peers</div></div></td>
                  </tr>
                </table>
            </div>
        </div>
    </section>
    <section id="team" >
        <div class="section_container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom: 40px;">ScalableLearning is a collaboration between the Swedish Institute of Computer Science, Uppsala University, and Novalari.</h3>
                </div>
            </div>
            <aside class="clients">
                <div class="section_container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#">
                                <img src="images/landing/uu_logo_wide.jpg" class="img-responsive img-centered" alt="" style="width: 80%;">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a href="#">
                                <img src="images/landing/novelari-logo-small.png" class="img-responsive img-centered" alt="" style="width:50%">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a href="#">
                                <img src="images/landing/sics_logo.png" class="img-responsive img-centered" alt="" style="width:60%">
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img src="images/landing/david.png" class="img-responsive img-circle" alt="">
                        <h4>David Black-Schaffer</h4>
                        <p class="text-muted">Visionary and Pedagogical Leader</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img src="images/landing/sameh.png" class="img-responsive img-circle" alt="">
                        <h4>Sameh El-Ansary</h4>
                        <p class="text-muted">Entrepreneur, Passionate Teacher</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img src="images/landing/sverker.png" class="img-responsive img-circle" alt="">
                        <h4>Sverker Janson</h4>
                        <p class="text-muted">Coordination, Funding, and Strategy</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img src="images/landing/bahia.png" class="img-responsive img-circle" alt="">
                        <h4>Bahia ElSharkawy</h4>
                        <p class="text-muted">Developer</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img src="images/landing/karim.png" class="img-responsive img-circle" alt="">
                        <h4>Karim Hamed</h4>
                        <p class="text-muted">Developer</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img src="images/landing/ahmed.png" class="img-responsive img-circle" alt="">
                        <h4>Ahmed Hossam</h4>
                        <p class="text-muted">Developer</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img src="images/landing/okasha.png" class="img-responsive img-circle" alt="">
                        <h4>Ahmed Okasha</h4>
                        <p class="text-muted">Developer</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="section_container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." ng-model="user.name">
                                    <p class="help-block text-danger" ng-show="!user.name && submitted">Please enter your name</p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." ng-model="user.email" >
                                    <p class="help-block text-danger" ng-show="!user.email && submitted">Please enter your email correctly</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Questions or comments *" id="message" required data-validation-required-message="Please enter a message." ng-model="comment_data"></textarea>
                                    <p class="help-block text-danger" ng-show="!comment_data && submitted">Please add a message</p>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button ng-hide="show_thanks" type="submit" ng-click="sendTechnical();submitted=true" class="btn btn-xl">Contact Us</button>
                                <button ng-show="show_thanks" class="btn btn-xl">Thanks!</button>
                                <loading size="small" show="sending_technical" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <scalear_footer />
    </footer>
</div>

<script type="text/ng-template" id="teacherIntro">
    <div>
        <youtube id="intro_video" class="flex-video widescreen with-light-border" url="teacher_welcome_video" autoplay='1' controls='1' style="z-index: 1;">
    </div>
</script>

<script type="text/ng-template" id="studentIntro">
    <div>
        <youtube id="intro_video_student" class="flex-video widescreen with-light-border" url="student_welcom_video" autoplay='1' controls='1' style="z-index: 1;">
    </div>
</script>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.backgroundgreen {
    background-color: #5da423;
    font-weight: bold;
    padding: 10px;
}
.backgroundgrey {
    background-color: #a3a3a3;
    font-weight: bold;
    padding: 10px;}
.backgroundblue {
    background-color: #359df2;
    font-weight: bold;
    padding: 10px;
}
.whitecolor {
    color: white;
}
</style>
