<div class="fixed">
	<top-bar>
	    <ul class="title-area">
	      <li class="name">
	        <h1>
				<a id="home" href="/#">
					Scalable<span style="padding-left:0px; color:#2ba6cb;">Learning</span>
				</a>
			</h1>
	      </li>
	      <li toggle-top-bar class="menu-icon"><a href=""translate>menu</a></li>
	    </ul>
	    <top-bar-section ng-switch="user.roles[0].id">
	      <!-- Right Nav Section -->
	      	<!-- STUDENT -->
	      	<ul ng-switch-when="2" class="right">
				<li class="divider"></li>
				<li><a id="dashboard" ui-sref="dashboard" translate>dashboard</a></li>
				<li class="divider"></li>
				<li has-dropdown>
					<a id="all_courses" href="" translate>navigation.courses</a>
					<ul top-bar-dropdown>
						<li><label translate>navigation.current_courses</label></li>
						<li ng-repeat="course in courses | filter:{ended: false}">
							<a class="has-description" href="" ng-click="goToCourse(course)">
								
								{{course.short_name}}
								<h5 class="description"><small>{{course.name}}</small></h5>
							</a>
						</li>
						<li class="divider"></li>
						<li><label translate>other</label></li>
						<li><a id="join_course" enrollment-modal ng-click="open()">{{'courses.join_course' | translate}}</a></li>
						<li>
							<a id="course_list" class="has-description" ui-sref="course_list">
								{{'questions.see_all' | translate}} &rarr;
								<h5 class="description"><small translate>view_whole_courselist</small></h5>
							</a>
						</li>
					</ul>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a id="account" href="" translate>account</a>
					<ul top-bar-dropdown>
						<li has-dropdown>
							<a class="has-description" href="">
								{{'settings.settings' | translate}}
								<h5 class="description"><small translate>settings_describtion</small></h5>
							</a>
							<ul top-bar-dropdown>
								<li>
									<a href="" ng-click="changelanguage('en')" ui-sref="edit_account">
										{{'account_edit.account_information' | translate}}
									</a>
								</li>
								<li has-dropdown>
									<a href="" translate>
										language
									</a>
									<ul top-bar-dropdown>
										<li>
											<a href="" ng-click="changelanguage('en')">
												English
												<img src="images/uk.png" style="width:25px;height:15px;" />
											</a>
										</li>
										<li>
											<a href="" ng-click="changelanguage('sv')">
												Swedish
												<img src="images/sweden.png" style="width:25px;height:15px;" />
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a id="logout" ng-click="logout()">{{'navigation.logout' | translate}} {{user.name}}</a></li>
					</ul>
				</li>
				<li has-dropdown>
					<a id="help" href="" translate>head.help</a>
					<ul top-bar-dropdown>
						<li><a ui-sref="getting_started" translate>help.getting_started</a></li>
						<li class="divider"></li>
						<li><a ui-sref="privacy" translate>footer.privacy</a></li>
						<li><a report-technical ng-click="toggleTechnicalDisplay()" translate>help.feedback</a></li>
					</ul>
				</li>
			</ul>
			<!-- TEACHER -->
			<ul ng-switch-when="1" class="right">
				<li class="divider"></li>
				<li><a id="dashboard" ui-sref="dashboard" translate>dashboard</a></li>
				<li class="divider"></li>
				<li ng-show="are_shared()">
					<a ui-sref="show_shared" translate>sharing.view</a>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a id="notifications" href="" translate>navigation.notifications</a>
					<ul top-bar-dropdown>
						<li><label translate>navigation.notifications</label></li>
						<li ng-show="user.invitations == 0 && user.shared == 0"><a>{{'notification.empty' | translate}}</a></li>
                        <notification-item ng-repeat="(id, invitation) in user.invitation_items" notification="invitation" id="id"></notification-item>
                        <shared-item-notification ng-repeat="(id, item) in user.shared_items" notification="item" id="id"></shared-item-notification>
					</ul>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a id="all_courses" href="" translate>navigation.courses</a>
					<ul top-bar-dropdown>
						<li><label translate>navigation.current_courses</label></li>
						<li ng-repeat="course in courses | filter:{ended: false}">
							<a class="has-description" ui-sref="course.edit_course_information({ course_id: course.id })">
								{{course.short_name}}
								<h5 class="description"><small>{{course.name}}</small></h5>
							</a>
						</li>
						<li class="divider"></li>
						<li><label translate>other</label></li>
						<li><a id="new_course_sub" ui-sref="new_course" translate>courses.create_course</a></li>
						<li>
							<a id="course_list" class="has-description" ui-sref="course_list">
								{{'questions.see_all' | translate}} &rarr;
								<h5 class="description"><small translate>view_whole_courselist</small></h5>
							</a>
						</li>
					</ul>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a id="account" href="" translate>account</a>
					<ul top-bar-dropdown>
						<li has-dropdown>
							<a class="has-description" href="">
								{{'settings.settings' | translate}}
								<h5 class="description"><small translate>settings_describtion</small></h5>
							</a>
							<ul top-bar-dropdown>
								<li>
									<a href="" ng-click="changelanguage('en')" ui-sref="edit_account">
										{{'account_edit.account_information' | translate}}
									</a>
								</li>
								<li has-dropdown>
									<a href="" translate>
										language
									</a>
									<ul top-bar-dropdown>
										<li>
											<a href="" ng-click="changelanguage('en')">
												English
												<img src="images/uk.png" style="width:25px;height:15px;" />
											</a>
										</li>
										<li>
											<a href="" ng-click="changelanguage('sv')">
												Swedish
												<img src="images/sweden.png" style="width:25px;height:15px;" />
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a id="logout" ng-click="logout()">{{'navigation.logout' | translate}} {{user.name}}</a></li>
					</ul>
				</li>
				<li has-dropdown>
					<a id="help" href="" translate>head.help</a>
					<ul top-bar-dropdown>
						<li><a ui-sref="getting_started" translate>help.getting_started</a></li>
						<li><a href="" translate>help.teacher_forum</a></li>
						<li><a href="" translate>help.instruction_manual</a></li>
						<li class="divider"></li>
						<li><a ui-sref="privacy" translate>footer.privacy</a></li>
						<li><a report-technical ng-click="toggleTechnicalDisplay()" translate>help.feedback</a></li>
					</ul>
				</li>
			</ul>
			<!-- ADMIN -->
			<ul ng-switch-when="5" class="right">
				<li class="divider"></li>
				<li><a id="statistics" ui-sref="statistics" translate>courses.statistics</a></li>
				<li class="divider"></li>
				<li ng-show="are_shared()">
					<a ui-sref="show_shared" translate>sharing.view</a>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a id="notifications" href="" translate>navigation.notifications</a>
					<ul top-bar-dropdown>
						<li><label translate>navigation.notifications</label></li>
						<li ng-show="user.invitations == 0 && user.shared == 0"><a>{{'notification.empty' | translate}}</a></li>
                        <notification-item ng-repeat="(id, invitation) in user.invitation_items" notification="invitation" id="id"></notification-item>
                        <shared-item-notification ng-repeat="(id, item) in user.shared_items" notification="item" id="id"></shared-item-notification>
					</ul>
				</li>
				<li class="divider"></li>
				<li><a id="dashboard" ui-sref="dashboard" translate>dashboard</a></li>
				<li class="divider"></li>
				<li has-dropdown>
					<a id="all_courses" href="" translate>navigation.courses</a>
					<ul top-bar-dropdown>
						<li><label translate>navigation.current_courses</label></li>
						<li ng-repeat="course in courses | filter:{ended: false}">
							<a class="has-description" ui-sref="course.edit_course_information({ course_id: course.id })">
								{{course.short_name}}
								<h5 class="description"><small>{{course.name}}</small></h5>
							</a>
						</li>
						<li class="divider"></li>
						<li><label translate>other</label></li>
						<li><a ui-sref="new_course" translate>courses.create_course</a></li>
						<li>
							<a class="has-description" ui-sref="course_list">
								{{'questions.see_all' | translate}} &rarr;
								<h5 class="description"><small translate>view_whole_courselist</small></h5>
							</a>
						</li>
					</ul>
				</li>
				<li class="divider"></li>
				<li has-dropdown>
					<a id="account" href="" translate>account</a>
					<ul top-bar-dropdown>
						<li has-dropdown>
							<a class="has-description" href="">
								{{'settings.settings' | translate}}
								<h5 class="description"><small translate>settings_describtion</small></h5>
							</a>
							<ul top-bar-dropdown>
								<li>
									<a href="" ng-click="changelanguage('en')" ui-sref="edit_account">
										{{'account_edit.account_information' | translate}}
									</a>
								</li>
								<li has-dropdown>
									<a href="" translate>
										language
									</a>
									<ul top-bar-dropdown>
										<li>
											<a href="" ng-click="changelanguage('en')">
												English
												<img src="images/uk.png" style="width:25px;height:15px;" />
											</a>
										</li>
										<li>
											<a href="" ng-click="changelanguage('sv')">
												Swedish
												<img src="images/sweden.png" style="width:25px;height:15px;" />
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a id="logout" ng-click="logout()">{{'navigation.logout' | translate}} {{user.name}}</a></li>
					</ul>
				</li>
				<li has-dropdown>
					<a id="help" href="" translate>head.help</a>
					<ul top-bar-dropdown>
						<li><a ui-sref="getting_started" translate>help.getting_started</a></li>
						<li><a href="" translate>help.teacher_forum</a></li>
						<li><a href="" translate>help.instruction_manual</a></li>
						<li class="divider"></li>
						<li><a ui-sref="privacy" translate>footer.privacy</a></li>
						<li><a report-technical ng-click="toggleTechnicalDisplay()" translate>help.feedback</a></li>
					</ul>
				</li>
			</ul>
			<!-- NOT LOGGED IN -->
			<ul ng-switch-when="undefined" class="right">
				<li class="divider"></li>
				<li><a id="login" ui-sref="login" translate>navigation.login</a></li>
			</ul>
	    </top-bar-section>
	</top-bar>
</div>
