<input type="text" ng-model="video.url"/>{{video.url}}
<our-video url="video.final"></our-video>{{video.final}}
<input type="button" ng-click="video.final=video.url"/>






<!doctype html>
<html>
<head>
    <script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

    <script>

        $(window).resize(function() {
            $(".resize_ratio").each(function() {
                var newWidth = $(this).width();
                var newHeight = newWidth*(9.0/16.0)
                $(this).height(newHeight);
                //console.log($(this).attr('id')+" ->" + newWidth + "x" + newHeight);
            });
        }).resize();

        // ensure the web page (DOM) has loaded
        document.addEventListener("DOMContentLoaded", function () {
            console.log("starting...");
            var mp4_wide = Popcorn.smart("#mp4_wide_video", "http://it.uu.se/katalog/davbl791/wide-test.mov");
            mp4_wide.on("canplay", function() {console.log("mp4wide: canplay"); });

            var mp4_narrow = Popcorn("#mp4_narrow_video");
            mp4_narrow.on("canplay", function() {console.log("mp4narrow: canplay"); });

            var yt_wide = Popcorn.smart("#yt_wide", "http://youtu.be/yrOvxlYN-XI");
            yt_wide.on("playing", function(){console.log("ytWide: canplay")});

            var yt_narrow = Popcorn.smart("#yt_narrow", "http://youtu.be/_-l773vLoxQ");

            var vi_wide = Popcorn.smart("#vi_wide", "http://vimeo.com/85042993");

            var vi_narrow = Popcorn.smart("#vi_narrow", "http://vimeo.com/85042953");
        }, false);



    </script>
</head>
<body>

<h1>MP4 Wide</h1>
<div id="mp4_wide">
    <video class="resize_ratio" width="50%" id="mp4_wide_video" controls>
        <source src="http://it.uu.se/katalog/davbl791/wide-test.mov"">"
    </video>
</div>
<h1>MP4 Narrow</h1>
<div id="mp4_narrow">
    <video class="resize_ratio" width="50%" id="mp4_narrow_video" controls>
        <source src="http://it.uu.se/katalog/davbl791/narrow-test.mov">
    </video>
</div>

<h1>YouTube Wide</h1>
<div class="resize_ratio" style="width:50%;height:100px"> <!-- need height or it will be full window height until resize -->
    <div id="yt_wide" style="width:100%;height:100%">
    </div>
</div>

<h1>YouTube Narrow</h1>
<div class="resize_ratio"  id="yt_narrow" style="width:50%">
</div>


<h1>Vimeo Wide</h1>
<div class="resize_ratio" style="width:50%;height:100px">
    <div id="vi_wide" style="width:100%;height:100%">
    </div>
</div>

<h1>Vimeo Narrow</h1>
<div class="resize_ratio" style="width:50%;height:100px">
    <div id="vi_narrow" style="width:100%;height:100%">
        <div>
        </div>
</body>
</html>







<h3>ScalableLearning <span translate="privacy.policy"></span></h3>

<h4 translate="privacy.information_collect"></h4>

<p translate="privacy.information_collect_details"></p> 

<h4 translate="privacy.information_use"></h4>

<p translate="privacy.information_use_details"></p> 

<p translate="privacy.information_use_details2"></p>
 
<h4 translate="privacy.confidentiality_and_security"></h4>

<p translate="privacy.confidentiality_and_security_details"></p> 
<h4 translate="privacy.use_of_cookies"></h4>
 
<p translate="privacy.use_of_cookies_details"></p>

<h4 translate="privacy.identifiable_information"></h4>

<p translate="privacy.identifiable_information_details"></p> 

<h4 translate="privacy.deleting_profile"></h4>

<p translate="privacy.deleting_profile_details"></p>
 
<h4 translate="privacy.policy_changes"></h4>

<p translate="privacy.policy_changes_details"></p> 

<p translate="privacy.last_update"></p>
 