<div style="padding:10px">
	<h3 ng-if="!current_user"><i class="step fi-lock size-18"></i> ScalableLearning <span translate="privacy.policy"></span></h3>
	<!-- <h5 class="show-for-medium-down"><i class="step fi-lock size-18"></i> ScalableLearning <span translate="privacy.policy"></span></h5> -->

	<h4 translate="privacy.information_collect"></h4>

	<p translate="privacy.information_collect_details"></p> 

	<h4 translate="privacy.information_use"></h4>

	<p translate="privacy.information_use_details"></p> 

	<p translate="privacy.information_use_details2"></p>
	 
	<h4 translate="privacy.confidentiality_and_security"></h4>

	<p translate="privacy.confidentiality_and_security_details"></p> 
	<h4 translate="privacy.use_of_cookies"></h4>
	 
	<p translate="privacy.use_of_cookies_details"></p>

	<h4 translate="privacy.identifiable_information"></h4>

	<p translate="privacy.identifiable_information_details"></p> 

	<h4 translate="privacy.deleting_profile"></h4>

	<p translate="privacy.deleting_profile_details"></p>
	 
	<h4 translate="privacy.policy_changes"></h4>

	<p translate="privacy.policy_changes_details"></p> 

	<p translate="privacy.last_update"></p>
 </div>