<div style="padding:20px; margin:20px;">

	<h2 ng-if="!current_user">ScalableLearning&nbsp;<span translate="privacy.policy"></span></h3>

		  <p translate="privacy.terms_intro"></p>

			<h3 id="thick" translate="privacy.privacy_text"></h3>

			<h4 translate="privacy.information_collect"></h4>

			<p translate="privacy.information_collect_details"></p>

			<h4 translate="privacy.information_use"></h4>

			<p translate="privacy.information_use_details"></p>

			<p translate="privacy.information_use_details2"></p>

			<h4 translate="privacy.confidentiality_and_security"></h4>

			<p translate="privacy.confidentiality_and_security_details"></p>

			<h4 translate="privacy.use_of_cookies"></h4>

			<p translate="privacy.use_of_cookies_details"></p>

			<h4 translate="privacy.identifiable_information"></h4>

			<p translate="privacy.identifiable_information_details"></p>

			<h4 translate="privacy.deleting_profile"></h4>

			<p translate="privacy.deleting_profile_details"></p>

			<h4 translate="privacy.gdpr_compliance"></h4>
			<ul>
			  <ul class="disc">
					<li translate="privacy.gdpr_compliance_details_1"></li>
					<li translate="privacy.gdpr_compliance_details_2"></li>
					<li translate="privacy.gdpr_compliance_details_3"></li>
					<li translate="privacy.gdpr_compliance_details_4"></li>
					<li translate="privacy.gdpr_compliance_details_5"></li>
					<li translate="privacy.gdpr_compliance_details_6"></li>
					<li translate="privacy.gdpr_compliance_details_7"></li>
					<li translate="privacy.gdpr_compliance_details_8"></li>
					<li translate="privacy.gdpr_compliance_details_9"></li>
					<li translate="privacy.gdpr_compliance_details_10"></li>
					<li translate="privacy.gdpr_compliance_details_11"></li>
					<li translate="privacy.gdpr_compliance_details_12"></li>
					<li translate="privacy.gdpr_compliance_details_13"></li>
				</ul>
			</ul>
			<h4 translate="privacy.acceptable_use_policy"></h4>

			<!-- <p translate="privacy.acceptable_use_policy_details_1"></p>

			<p translate="privacy.acceptable_use_policy_details_2"></p> -->
      <ul>
			   <ul class="disc">
					<li translate="privacy.acceptable_use_policy_details_3"></li>
					<li translate="privacy.acceptable_use_policy_details_4"></li>
					<li translate="privacy.acceptable_use_policy_details_5"></li>
					<li translate="privacy.acceptable_use_policy_details_6"></li>
					<li translate="privacy.acceptable_use_policy_details_7"></li>
					<li translate="privacy.acceptable_use_policy_details_8"></li>
					<li translate="privacy.acceptable_use_policy_details_9"></li>
					<li translate="privacy.acceptable_use_policy_details_10"></li>
				</ul>
			</ul>
			<p translate="privacy.acceptable_use_policy_details_11"></p>

			<h3 id="thick" translate="privacy.other"></h3>

			<h4 translate="privacy.legal_entity"></h4>

			<p translate="privacy.legal_entity_details"></p>

			<h4 translate="privacy.code_conduct"></h4>

			<p>
				<span translate="privacy.code_conduct_details"></span>
				<a href="http://www.geant.net/uri/dataprotection-code-of-conduct/v1">http://www.geant.net/uri/dataprotection-code-of-conduct/v1</a>
			</p>

			<h4 translate="privacy.policy_changes"></h4>

			<p translate="privacy.policy_changes_details"></p>

			<h4 class="color-green text-left"><a ui-sref="faq" translate>faq</a></h4>
			<br />
			<p translate="privacy.last_update"></p>

</div>
