<div id="controls" class="light-grey disable_selection">
    <div class="progressBar" ng-click="progressSeek($event)" style="position: relative;">
        <div class="elapsed" ng-style="{width: elapsed_width + '%'}" >
        </div>
        <div class="playhead ease-in-out" ng-class="playhead_class" ng-style="{marginLeft: elapsed_head + '%' }" ></div>
        <!-- <div class="progress-events-container" ng-show="timeline.items.length>1"> -->
             <div class="progress-events" ng-repeat="element in timeline.items" ng-style="{'left':((element['time']/duration)*100)+'%'}" ng-click="scrollEvent(element.type, element.data.id)">
                <span class="progress-events" ng-if="element.type=='discussion'" style="background-color: black;" tooltip="{{'lectures.timeline.question'|translate}}: {{element.data.content}}"  tooltip-append-to-body="true"></span>
                <span class="progress-events" ng-if="element.type =='confused'&& element.data.very==false" style="background-color: orange;" tooltip="{{'lectures.timeline.confused' | translate}}" tooltip-append-to-body="true"></span>
                <span class="progress-events" ng-if="element.type =='confused'&& element.data.very==true" style="background-color: red" tooltip="{{'lectures.timeline.really_confused'|translate}}" tooltip-append-to-body="true"></span>
                <span class="progress-events" ng-if="element.type=='note'" style="background-color: teal" tooltip="{{'lectures.timeline.note'|translate}}{{': '+element.data.data}}" tooltip-append-to-body="true"></span>
            </div>
        <!-- </div> -->
    </div>
    <div style="height: 27px;">
        <div class="right" bindonce="player.controls.youtube">
            <button bo-if="player.controls.youtube" class="qualityDiv no-padding control-button show-inline drop-top right" dropdown-toggle="#quality_list" bo-title="'player.click_video_quality'|translate"></button>
            <ul id="quality_list" class="f-dropdown top-dropdown">
                <div class="small-6 columns no-padding" >
                    <li class="dark-text" translate>player.quality</li>
                    <li ng-repeat="quality in qualites" ng-class="{'blue': chosen_quality==quality.value }">
                        <a class="with-tiny-padding-bottom with-tiny-padding-top" ng-click="setQuality(quality.value)"><small>{{quality.name}}</small></a>
                    </li>
                </div>
                <div class="small-6 columns no-padding" style="border-left: 1px solid rgb(174, 174, 174);">
                    <li class="dark-text" translate>player.speed</li>
                    <li ng-repeat="speed in speeds" ng-class="{'blue': chosen_speed == speed }">
                        <a class="with-tiny-padding-bottom with-tiny-padding-top" ng-click="setSpeed(speed)"><small>x{{speed}}</small></a>
                    </li>
                </div>
            </ul>

            <button bo-if="!player.controls.youtube" class="qualityDiv no-padding control-button show-inline drop-top right" dropdown-toggle="#speed_list" bo-title="'player.click_video_quality'|translate"></button>
            <ul id="speed_list" class="f-dropdown top-dropdown">
                <div class="small-12 columns no-padding">
                    <li class="dark-text" translate>player.speed</li>
                    <li ng-repeat="speed in speeds" ng-class="{'blue': chosen_speed == speed.value }">
                        <a class="with-tiny-padding-bottom with-tiny-padding-top" ng-click="setSpeedMp4(speed.value)"><small>x{{speed.name}}</small></a>
                    </li>
                </div>
            </ul>
        </div>
        <div ng-transclude></div>
        <div class="controlDiv show-inline left {{blink}}" ng-class="play_class" ng-click="play()"></div>

        <span ng-hide="is_mobile">
            <div id="volume" class="volumeDiv show-inline left" ng-class="volume_class" ng-click="muteToggle()"></div>
            <input type="range" min="0" max="1" step="0.01" ng-model="volume" style="width: 60px;height: 4px;background-image: url('images/volume_bar.png');float: left;margin-top: 12px;"/>
        </span>
        <div class="timer left color-grey show-inline size-12" style="margin-top:6px;text-align: left;margin-left: 10px;">
            <span class="hide-for-small-only">
                <span style="float:left;color: rgb(100, 100, 100);">{{current_time|format:'h:mm:ss'}}</span>
                <span class="hide-for-semi-medium"> / {{(duration || 0)|format:'h:mm:ss'}}</span>
            </span>
        </div>
        
    </div>
</div>