<div class="modal-header">
    <h3 translate="feedback.report_technical"></h3>
</div>
<div class="modal-body">
    <center>
        <div translate>
            feedback.instructions
        </div>

        <div ng-show="!current_user">
            <b translate>name</b>: <input type="text" id="report_name" class="string name optional" name="user[name]" ng-model="user.name" size="50" autocomplete="off" /><br />
            <b translate>email</b>: <input type="email" id="report_email" class="string email optional" ng-model="user.email" pattern="^[-aA-zZ0-9_+\.]+\@([-aA-zZ0-9]+\.)+[aA-zZ0-9]{2,4}$" name="user[email]" size="50" autocomplete="off" />
        </div>
        <div>
            <b translate>
                feedback.problem_is
            </b>: 
            <select ng-model="selected_type" ng-options="type.text for type in issue_types">
                ...
            </select>
        </div>
        <div ng-show="no_text" class="alert-error" style="width:50%">
            {{no_text}}
        </div>
        <textarea rows="5" cols="12" style="width:400px;" ng-model="technical_data">
        </textarea>
        <loading size="small" show="sending_technical">
        </loading>
    </center>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="send_technical(selected_type, technical_data, user)" translate="feedback.send"></button>
    <button class="btn btn-danger" ng-click="cancel()" translate="lectures.cancel"></button>
</div>