<div style="border-bottom: 0.5px darkgrey solid; margin-top: 5px; margin-bottom: 5px; padding: 5px; width: 100%; min-width: 450px;">
	<div style="width: 70%; margin-right: 20px; display: inline-block;">
		<span ng-show="notification.sharer_email" translate="notification.shared" translate-values='{user:notification.sharer_email}'></span>
	</div>
	<div style="float: right; display: inline-block;">
		<button class="btn btn-mini btn-success" style="background-image: initial;" ng-click="accept()" translate="notification.accept"></button>
		<button class="btn btn-mini btn-danger" style="background-image: initial;" ng-click="reject()" translate="notification.reject"></button>
	</div>
</div>

<li>
	<a>
		<span ng-show="notification.sharer_email" translate="notification.shared" translate-values='{user:notification.sharer_email}'></span>
		<button class="tiny success" ng-click="accept()" translate="notification.accept"></button>
		<button class="tiny alert" ng-click="reject()" translate="notification.reject"></button>
	</a>
</li>