<div> 
    <div>
        <h3>
      <span>{{moduledata.title}} - </span>
      <strong style="font-size: 22px;">
        <span ng-show="moduledata.due_date > 0" style="color:red" >
          <span translate>events.due</span>
          <span>in</span>
          <span>{{::moduledata.time_left_string}}</span>
          <span translate>time.hours</span>
        </span>
        <span ng-hide="moduledata.due_date > 0" style="color:red" translate>events.due_date_passed</span>
      </strong>
    </h3>
    <p>{{subtitle}}</p>


    </div>
    <div>
        <h5><b translate>dashboard.completion</b></h5> 
        <span class="right">{{remaining}}</span>
        <br>
        <div style="width:95%;margin-left: auto;margin-right: auto; height: 55px;">
            <div ng-repeat="module in moduledata.module_completion" id="module_{{module.id}}" ng-style="completion_style[module.id]" style=" width: {{module['duration']}}%;float: left;border: 1px solid #EFE7E7; height: 100%; padding: 1%;  background: linear-gradient(to right, #16A53F {{module['percent_finished']}}%, #a4a9ad 0%);" ng-mouseover=" lectureTooltip(module.id,$event,module.lecture_name)" ng-mouseleave="lectureTooltipLeave(module.id)" >
                <div style="margin-left: auto;margin-right: auto;width: 25%;">
                  <i class="fi-play-video center color-white size-30"  ng-show="module['type'] == 'lecture'"></i>
                  <i class="fi-clipboard-notes center color-white size-30"  ng-hide="module['type'] == 'lecture'"></i>
                </div>
            </div> 
        </div>             
    </div> 
<!-- <div id="tooltip"></div> -->
<br>
<br>

    <div>
        <h5><b ><span translate>global.quizzes</span></b></h5> 
        <div ng-repeat="module in moduledata.module_completion" ng-style="module_style[module.id]" ng-if="module['type'] == 'lecture'" style="width: {{group_width * module.online_quizzes.length}}% ;float: left; height: 70px; ">
                <div style="height:2%" ></div>
                <div ng-repeat="online_quiz in module.online_quizzes" style="width:{{100/module.online_quizzes.length}}%;float: left;border:0px solid #000000;height:95%">
                    <div  ng-if="online_quiz['data'].length==1" style="width:40%;max-width: 40px; height: 100%;margin-left: auto;margin-right: auto;display: block; background-color:{{ quiz_completion_data_series[online_quiz['data'][0]].color  }}" ng-mouseover=" lectureTooltip(module.id,$event,module.lecture_name)" ng-mouseleave="lectureTooltipLeave(module.id)"  pop-over='online_popover[online_quiz.id]' ></div>

                    <div ng-if="online_quiz['data'].length==2" style="height:100%">
                        <div  style="width:40%; height: 50%;margin-left: auto;margin-right: auto;display: block; background-color:{{ quiz_completion_data_series[online_quiz['data'][0]].color  }}" ng-mouseover=" lectureTooltip(module.id,$event,module.lecture_name)" ng-mouseleave="lectureTooltipLeave(module.id)" pop-over='online_popover[online_quiz.id]'></div>
                        <div  style="width:40%; height: 50%;margin-left: auto;margin-right: auto;display: block; background-color:{{quiz_completion_data_series[online_quiz['data'][1]].color}}; margin-top: 3%" ng-mouseover=" lectureTooltip(module.id,$event,module.lecture_name)" ng-mouseleave="lectureTooltipLeave(module.id)" pop-over='online_popover[online_quiz.id]'></div>
                    </div>
                </div> 
        </div>
    </div>
<br>
<br>
<br>
    <div style="margin-top:25px">
        <h5><b ><span translate> dashboard.my_questions </span> ({{moduledata.posts_answered}} of {{moduledata.posts_total}} answered)</b></h5> 
        <div class="center" style="margin-left: 25px;margin-right: 25px;">
            <div ng-repeat= "lecture in moduledata.unanswered_questions">
            <!-- {{lecture}} -->
                <div style="background-color:#BADAA5"><b>{{lecture.name}}</b></div> 
                <div ng-repeat= "question in lecture.questions" ng-click='goTo(moduledata.course_id, question.group_id, question.lecture_id, question.time)'  class="dashboard_question"> 
                    <span ng-show="question.privacy">[Public]</span>
                    <span ng-hide="question.privacy">[Privacy]</span>
                    <span ng-bind-html="question.content"></span> 
                    <div class="center" style="margin-left: 50px;margin-right: 50px;">
                        <div ng-repeat= "comment in question.comments">
                            <b><span ng-bind-html="comment.name"></span> :</b> <span ng-bind-html="comment.content"></span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div> 


</div>