<ul class="nav nav-pills">
    <li ng-class="{ active: current_state.includes('course.student_calendar')}"><a ui-sref="course.student_calendar({ course_id: current_course_id })">Calendar</a></li>
    <li ng-class="{ active: current_state.includes('course.lectures')}"><a ui-sref="course.lectures({ course_id: current_course_id })">Lectures</a></li>
    <li ng-if="course_information.discussion_link!=''"><a target="_blank" href="{{course_information.discussion_link}}">Discussion Forum</a></li>
    <li ng-class="{ active: current_state.includes('course.course_information')}"><a ui-sref="course.course_information({ course_id: current_course_id })">Course Information</a></li>
     
    <li style="float:right"><b>{{course_information.short_name}} - {{course_information.name}}</b></li>
</ul>



