
<div style="min-width: 80%;">
<style>
    a.mini-link{
        color: rgb(0, 162, 86);
    }
    a.mini-link:hover{
        color: darkgreen;
    }
    #user_information_container{
        min-width: 280px;
        display: inline-block;
    }
    #user_profile_image{
        min-width: 70px;
        overflow: hidden;
    }
    @media only screen and (max-width : 1160px) {
        #user_information_container{
            display: none;
        }
        #user_profile_image{
            min-width: 50px;
        }
    }
</style>
    <table style="vertical-align: baseline;">
        <tr>
            <td style="vertical-align: initial;">
                <a ui-sref="profile({user_id: $parent.current_user.id})" href="">
                    <profile-image email="$parent.current_user.email" imagesize="70" background="white"></profile-image>
                </a>
            </td>
            <td id="user_information_container">
                <a href="" ui-sref="profile({user_id: $parent.current_user.id})" style="color: white;">
                    <ul>
                        <span style="color: rgb(0, 162, 86); font-size: 22px; font-weight: lighter;" ng-bind="$parent.current_user.screen_name"></span>
                    </ul>
                    <ul style="font-size: 19px;" ng-bind="$parent.current_user.name +' '+ $parent.current_user.last_name">
                    </ul>
                    <ul style="font-size: 19px;" ng-bind="$parent.current_user.university">
                    </ul>
                </a>
            </td>
            <td ng-init="show_settings = false" style="display: inline-table; margin-left: 20px;">
                <div class="headerdivider" style="display: table-column; padding-right: 20px;">
                </div>
                <span style="margin-left: 20px; display: inline-block;" ng-hide="!course_information || show_settings">
                    <div style="word-wrap: normal; width: 100%;">
                        <span style="font-size: 16px; ">
                        <a ui-sref="home" class="mini-link">{{'courses.all_courses' | translate}}</a> > {{course_information.short_name}} | {{course_information.name}}
                        </span>
                    </div>
                    <table>
                        <td style="height: 7px;">
                        </td>
                        <tr>
                            <td id="info" style="text-align: center;" ng-class="{current: current == 'head.information'}">
                                <a ui-sref="course.course_information({ course_id: current_course_id })"><div><div>{{'head.information' | translate}}</div></div></a>
                            </td>
                            <td>
                            </td>
                            <td id="calendar" style="text-align: center;" ng-class="{current: current == 'head.calendar'}">
                                <a  ui-sref="course.student_calendar({ course_id: current_course_id })"><div><div>{{'head.calendar' | translate}}</div></div></a>
                            </td>
                            <td>
                            </td>
                            <td id="lectures" style="text-align: center;" ng-class="{current: current == 'head.lectures'}">
                                <a  ui-sref="course.lectures({ course_id: current_course_id })"><div><div>{{'head.lectures' | translate}}</div></div></a>
                            </td>
                        <tr>

                        </tr>
                    </table>
                </span>
                <span style="margin-left: 20px; display: inline-block;" ng-show="show_settings">
                    
                    <table>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 5px; min-width: 150px;">
                                <span class="dropdown-header" ng-hide="!show_settings"><b translate>account_edit.account_settings</b></span>
                                <div class="settings-tabs">
                                    <a href="">
                                        <ul class="tab-pill tabactive" ng-bind='"account_edit.account_information" | translate'>
                                            
                                        </ul>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </span>
            </td>
            <td ng-show="show_settings">
                <div class="tab-content" style="height: auto;">
                    <span>
                        <account-information>
                    </span>
                </div>
            </td>
            <span style="float: right;">
                <ul><a id="logout_link" class="mini-link" style="cursor: pointer;" ng-click="$parent.$parent.logout()" translate="navigation.logout"></a></ul>
            </span>
            <span style="float: right;">
                <a id="help_link" href="" class="mini-link" >
                    <ul ng-bind="'head.help' | translate">
                    </ul>
                </a>
            </span>
            <span style="float: right; display: inline-table;">
                <ul ng-show="$parent.current_lang=='sv'" ng-cloak>
                    <a id="lang_link_swed" style="cursor:pointer;" ng-click="$parent.changeLanguage('en')"><img src="images/sweden.png" style="width:25px;height:15px;" /></a>
                </ul>
                <ul ng-show="$parent.current_lang=='en'" ng-cloak>
                    <a id="lang_link_uk" style="cursor:pointer;" ng-click="$parent.changeLanguage('sv')"><img src="images/uk.png" style="width:25px;height:15px;" /></a>
                </ul>
            </span>
            <span id="settings-btn" class="settings-menu-button" ng-click="show_settings = !show_settings; selected = 1;" ng-class="{settingsopen: show_settings}">
            </span>
        </tr>
    </table>
</div>