<div class="top-bar sub-header">
    <ul class="title-area">
        <li class="name">
          <h1><a class="sub-header-component active">Content Navigator</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a class="sub-header-component active" href="">Settings</a>
            <ul class="dropdown">
              <li><a class="sub-header-component" href="">First link in dropdown</a></li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li class="has-dropdown">
                <a class="sub-header-component green">Progress</a>
                <ul class="dropdown">
                    <li>
                        <a class="sub-header-component has-description green" ui-sref="course.progress.main">
                            Review Module Progress
                            <h5 class="description"><small>Choose in-class Review Material</small></h5>
                        </a>
                        
                    </li>
                    <li><a class="sub-header-component green" ui-sref="course.progress.main">All Students Progress</a></li>
                </ul>
            </li>
            <li><a class="sub-header-component green" href="#">In-Class</a></li>
            <li class="has-dropdown">
                <a class="sub-header-component green" href="#">Content</a>
                <ul class="dropdown">
                    <li>
                        <a class="sub-header-component has-description green" href="">
                            New Module
                            <h5 class="description"><small>Modules group items together</small></h5>
                        </a>
                    </li>
                    <li>
                        <a class="sub-header-component has-description green" href="">
                            New Online Content
                            <h5 class="description"><small>Video lecture, Quiz...</small></h5>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="sub-header-component has-description green" href="">
                            Copy
                            <h5 class="description"><small>Copies the selected item</small></h5>
                        </a>
                    </li>
                    <li><a class="sub-header-component green" href="">Paste</a></li>
                    <li>
                        <a class="sub-header-component has-description green" href="">
                            Share Copy
                            <h5 class="description"><small>Share a copy with a teacher</small></h5>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="sub-header-component has-description green" href="">
                            Preview as Student
                            <h5 class="description"><small>Preview a module as a student</small></h5>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
      </section>
</div>