<div>
    <div ng-if="('**.course.**' | includedByState)">
      <div style="height: 50px;"></div>
      <top-bar class="sub-header whitesmoke">
    <!-- <div class="top-bar sub-header"> -->
        <ul class="title-area">
            <li class="name">
              <h1><a id="content_navigator" class="truncate dark-text sub-header-component" ng-class="{'green-color-white': open_navigator, 'dark-medium-grey-hover': !open_navigator}" ng-click="toggleNavigator()" style="width: 300px;margin-right:10px"><i class="fi-list" ng-class="{'color-white': open_navigator}"></i> {{course.short_name}}: {{course.selected_module.name || 'courses.select_module' | translate}}</a></h1>
            </li>
             <li toggle-top-bar class="menu-icon"><a href=""></a></li>
             <li ></li>
        </ul>

            <top-bar-section>
          <!-- <section class="top-bar-section"> -->
            <!-- Right Nav Section -->
            <ul class="right">
              <li has-dropdown>
                <a id="settings" class="whitesmoke-hover dark-text sub-header-component size-14" href="" translate>courses.students</a>
                <ul top-bar-dropdown>
                    <!-- <li><a id="course_info" class="whitesmoke-hover dark-text sub-header-component" ui-sref="course.edit_course_information" translate>head.course_information</a></li> -->
                    <li><a id="announcements" class="whitesmoke-hover dark-text sub-header-component" ui-sref="course.announcements" translate>head.announcements</a></li>
                    <li><a id="enrolled_students" class="whitesmoke-hover dark-text sub-header-component" ui-sref="course.enrolled_students" translate>head.enrolled_students</a></li>
                    <li><a id="add_students" enroll-help-modal ng-click="openHelpModal(course)" class="whitesmoke-hover dark-text sub-header-component">Add Sudents</a></li>
                </ul>
              </li>
            </ul>

            <ul class="right" ng-show="('**.module.progress.**' | includedByState)">
                <li has-dropdown>
                  <a class="whitesmoke-hover dark-text sub-header-component size-14" href="" translate>settings.settings</a>
                  <ul top-bar-dropdown>
                    <!-- <li>
                      <a class="whitesmoke-hover dark-text sub-header-component">
                          <input id="showNotesCheckbox" type="checkbox" />
                          {{'course_settings.show_all' | translate}}
                      </a>
                    </li> -->
                    <li>
                        <div class="whitesmoke-hover dark-text sub-header-component" style="font-size: 13px;width: 164px;padding: 0 14px;line-height: 45px;" ng-click="updateProgressFilter('charts')">
                            <input id="showChartsCheckbox" ng-checked="filter.charts"  type="checkbox" />
                            <span translate>course_settings.show_charts</span>
                        </div>

                    </li>
                    <li>
                        <div class="whitesmoke-hover dark-text sub-header-component" style="font-size: 13px;width: 164px;padding: 0 14px;line-height: 45px;" ng-click="updateProgressFilter('confused')">
                            <input id="showConfusedCheckbox" ng-checked="filter.confused"  type="checkbox" />
                            <span translate>course_settings.show_confused</span>
                        </div>
                    </li>
                    <li>
                        <div class="whitesmoke-hover dark-text sub-header-component" style="font-size: 13px;width: 164px;padding: 0 14px;line-height: 45px;" ng-click="updateProgressFilter('discussion')">
                            <input id="showDiscussionCheckbox" ng-checked="filter.discussion"  type="checkbox" />
                            <span translate>course_settings.show_discussion</span>
                        </div>
                    </li>
                    <li>
                        <div class="whitesmoke-hover dark-text sub-header-component" style="font-size: 13px;width: 164px;padding: 0 14px;line-height: 45px;" ng-click="updateProgressFilter('free_question')">
                            <input id="showfreeCheckbox" ng-checked="filter.free_question"  type="checkbox" />
                            <span translate>course_settings.show_free_question</span>
                        </div>
                    </li>
                    <li>
                        <div class="whitesmoke-hover dark-text sub-header-component" style="font-size: 13px;width: 164px;padding: 0 14px;line-height: 45px;" ng-click="print()">
                            <i class="fi-print size-18" style="margin-right:2px"></i>
                            <span translate>course_settings.print</span>
                        </div>
                    </li>
                  </ul>
                </li>
              </ul>

            <!-- Left Nav Section -->
            <ul class="left" id="teacher_left_nav">
                <li has-dropdown>
                    <a id="progress" class="whitesmoke-hover dark-text sub-header-component size-14" ng-click="goToProgress()" translate>head.progress</a>
                    <ul top-bar-dropdown>
                        <span ng-show="'*.module.**' | includedByState">
                            <li>
                                <a id="review_module_progress" class="whitesmoke-hover dark-text sub-header-component has-description" ui-sref="course.module.progress">
                                    <span translate>review_module_progress</span>
                                    <h5 class="dark-description"><small translate>choose_inclass_material</small></h5>
                                </a>
                                <!-- <div class="divider"></div> -->
                            </li>                        
                            <li>
                                <a id="detail_module_progress" ui-sref="course.module.progress_details" class="whitesmoke-hover dark-text sub-header-component">
                                    <span translate>courses.view_detailed_progress</span>
                                </a>
                            </li>
                        </span>
                        <li>                        
                            <a id="all_student_progress" class="whitesmoke-hover dark-text sub-header-component" ui-sref="course.progress" translate>all_students_progress</a>
                        </li>
                    </ul>
                </li>
                <li ng-show="'*.module.**' | includedByState">
                    <a id="inclass" class="whitesmoke-hover dark-text sub-header-component size-14" ui-sref="course.module.inclass" translate>head.in_class</a>
                </li>
                <li has-dropdown>
                    <a id="content" class="whitesmoke-hover dark-text sub-header-component size-14" ng-click="goToContentEditor()" translate>head.content</a>
                    <ul top-bar-dropdown ng-show="'**.course_editor.**' | includedByState">
                        <li>
                            <a id="new_module" class="whitesmoke-hover dark-text sub-header-component has-description" ng-click="addModule()">
                                <span translate>groups.new_module</span>
                                <h5 class="dark-description"><small translate>modules_group_items</small></h5>
                            </a>
                        </li>
                        <li ng-show="'*.module.**' | includedByState">
                            <a id="new_online_content" online-modal ng-click="openOnlineContentModal()" class="whitesmoke-hover dark-text sub-header-component has-description" href="">
                                <span translate>new_online_content</span>
                                <h5 class="dark-description"><small>Video lecture, Quiz...</small></h5>
                            </a>
                        </li>
                        <li ng-show="'**.lecture.**' | includedByState">
                            <a questions-modal id="new_in_video_ques" questions-modal ng-click="openQuestionsModal()" class="whitesmoke-hover dark-text sub-header-component has-description" href="">
                                New In-Video Question
                                <h5 class="dark-description"><small>MCQ, OCQ, Drag...</small></h5>
                            </a>
                        </li>                    
                        <li>
                            <!-- <div class="divider"></div> -->
                            <a class="whitesmoke-hover dark-text sub-header-component has-description" ng-click="addLink()">
                                <span translate>groups.new_link</span>
                                <h5 class="dark-description"><small translate>links_external_system</small></h5>
                            </a>
                        </li>   
                        <span ng-show="'*.module.**' | includedByState">               
                            <li >
                                <!-- <div class="divider"></div> -->
                                <a id="copy" class="whitesmoke-hover dark-text sub-header-component has-description" ng-click="copyItem()">
                                    <span translate>menu.copy</span>
                                    <h5 class="dark-description"><small translate>menu.copy_describtion</small></h5>
                                </a>
                            </li>
                            <li ng-show="clipboard">
                                <a id="paste" class="whitesmoke-hover dark-text sub-header-component has-description" ng-click="pasteItem()">
                                    <span translate>menu.paste</span>
                                    <h5 class="dark-description">
                                        <small>
                                            {{clipboard.name}}    
                                        </small>
                                    </h5>
                                </a>
                            </li>
                            <li >
                                <a id="share_copy" class="whitesmoke-hover dark-text sub-header-component has-description" href="" sharing-modal ng-click="openSharingModal()">
                                    <span translate>menu.share_copy</span>
                                    <h5 class="dark-description"><small translate>menu.share_describtion</small></h5>
                                </a>
                            </li>
                            <li >
                                <!-- <div class="divider"></div> -->
                                <a id="preview_as_student" class="whitesmoke-hover dark-text sub-header-component has-description" ng-click="preview()" href="">
                                    <span translate>preview_student</span>
                                    <h5 class="dark-description"><small translate>preview_describtion</small></h5>
                                </a>
                            </li>
                        </span>
                    </ul>
                </li>
            </ul>
          <!-- </section> -->
          </top-bar-section>
    <!-- </div> -->
    </top-bar>
    <content-navigator modules="course.modules" links="course.custom_links" mode="editor" open="open_navigator" style="z-index: 1;" />
    </div>
    <div class="hide-for-small" ng-if="!('**.course.**' | includedByState)">
        <div style="height: 50px;"></div>
        <top-bar class="sub-header whitesmoke">
          <div class="left">
            <h3 class="" style="padding: 0 40px;color:grey">{{message}}</h3>
          </div>
        </top-bar>
    </div>
</div>