<div class="whole-box light-grey">
	<div class="right hide-for-small-only">
		<div class="course-button">
			<button type="button" class="button uppercase" ui-sref="course.edit_course_information({ course_id: course.id })">Go to course</button>
		</div>
		<div class="course-image hide-for-small-only" style="padding-left: 0px;">
			<img ng-class="{centerimage: course.image_url}" ng-src="{{course.image_url || '../images/course_image.png'}}" />
		</div>
	</div>
  	<div class="small-12 medium-8 large-7 columns" style="padding-top: 10px; padding-bottom: 10px">
		<h5 ui-sref="course.edit_course_information({ course_id: course.id })" class="title looks-like-a-link truncate" title="{{course.name}}">{{course.short_name}} | {{course.name}}</h5>
		<!-- <h6 class="color-blue" title="{{course.name}}"><span class="dark-text" translate>courses.taught_by</span> <span ng-repeat="teacher in teachers">{{teacher.user.name}}<span ng-if="$index < teachers.length-1">, </span></span></h6> -->
		<!-- <p class="describtion">
			{{course.description}}
		</p> -->
		<div class="row bottom-bar" >
			<div class="small-3 columns" ng-class="{'small-6': !course.ended}">
				<i class="fi-calendar size-21"></i> <small class="truncate" title="{{course.start_date | amDateFormat:'MMMM Do YYYY'}}">{{course.start_date | amDateFormat:'MMMM Do YYYY'}}</small>
			</div>
			<div class="small-3 columns" ng-class="{'small-6': !course.ended}">
				<i class="fi-clock size-21"></i> <small class="truncate" title="{{course.duration}} {{'courses.weeks' | translate}}">{{course.duration}} {{'courses.weeks' | translate}}</small>
			</div>
			<!-- <div class="small-4 columns" ng-if="course.ended">
				<i class="fi-check size-21"></i> <small class="truncate" title="{{'finished' | translate}}">{{'finished' | translate}}</small>
			</div> -->
		</div>
		<div class="row bottom-bar">
			<div class="small-3 columns" ng-class="{'small-6': !course.ended}">
				<i class="fi-torsos-all size-21"></i> <small class="truncate" >{{course.enrollments.length}}</small>
			</div>
			<div class="small-3 columns" ng-class="{'small-6': !course.ended}">
				<i class="fi-video size-21"></i> <small class="truncate" >{{course.lectures.length}}</small>
			</div>
			<div class="small-3 columns" ng-class="{'small-6': !course.ended}">
				<i class="fi-clipboard-notes size-21"></i> <small class="truncate"  ng-init="course.quiz = (course.quizzes|filter:{quiz_type:'quiz'})" >{{course.quiz.length}}</small>
			</div>
			<div class="small-3 columns" ng-class="{'small-6': !course.ended}">
				<i class="fi-clipboard-pencil size-21"></i> <small class="truncate" ng-init="course.survey = (course.quizzes|filter:{quiz_type:'survey'})">{{course.survey.length}}</small>
			</div>
		</div>
  	</div>
  	<div class="large-2 columns left show-for-large-up" style="height: 210px;border-left: 1px solid;">
  		<h6 >
  			<div class="dark-text" translate>courses.teachers</div><br />
  			<div class="row" ng-repeat="teacher in teachers" style="margin-bottom: 10px;">
  				<div class="small-4 columns">
  					<a href="" ng-click="filterteacher(teacher.user.name, teacher.user.email)">
                	<profile-image email="teacher.user.email" imagesize="40"> </profile-image> 
	            	</a>
	            </div>
	            <div class="small-8 columns size-14" style="padding-left: 0;">
	            	<a class="" href="" ng-click="filterteacher(teacher.user.name, teacher.user.email)">{{teacher.user.name}} ({{'courses.'+teacher.role.name | translate}})</a>
	            	<br />
	            	<a href="mailto:{{teacher.user.email}}">{{teacher.user.email}}</a>
	            </div>
  			</div>
  		</h6>
  	</div>  	
</div>

<!-- <div class="row whole-box">
	<div class="large-1 columns course-image">
		<a ui-sref="course.course_editor({ course_id: course.id })">
			<img ng-src="{{course.image_url || '../images/course.png'}}" style="height: 120px;" />
		</a>
	</div>
	<div class="large-8 columns course-info-container">
		<div class="row" style="border-bottom: 1px solid lightgrey; padding-bottom: 5px;">{{course.short_name}} | {{course.name}}</div>
		<div class="row" style="border-bottom: 1px solid lightgray;">
			<div class="large-8 columns" style="color: #2d2d2d; padding-top: 5px">
				<div style="font-size: 15px; margin: 0px;" >
					<span class="calendar-icon"></span>
					<span>{{course.start_date | amDateFormat:'dddd, MMMM D YYYY'}}</span>
				</div>
			</div> 
			<div class="large-4 columns">
				<div style="color: #2d2d2d; padding-top: 5px; border-left: 1px solid lightgray;" colspan="2">
					<div style="font-size: 15px; margin: 0px;" >
						<span class="duration-icon"></span>
						<span>{{course.duration}}<span translate>courses.weeks</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="large-3 columns">{{course.short_name}} | {{course.name}}</div>
</div> -->
<!-- <div class="whole-box" style="width: 95%;">
	<style>
		@media only screen and (max-width : 1024px) {
			.course-image{
				display: none;
			}
		}
	</style>
	<div style="float: right; display: inline-block;">
		<delete_button size="big" color='dark' action="deletecourse(course)" />
	</div>
	<a ui-sref="course.course_editor({ course_id: course.id })" ng-if="!course.importing">
		<table style="width: 91%;">
			<tr>
				<td class="course-image">
					<a ui-sref="course.course_editor({ course_id: course.id })">
						<img ng-src="{{course.image_url || '../images/course.png'}}" style="height: 120px;" />
						
					</a>
				</td>
				<td class="course-info-container" colspan="1">
					<table style="width: 100%;">
						<tr>
							<td colspan="4" style="border-bottom: 1px solid lightgrey; padding-bottom: 5px;">
								<a ui-sref="course.course_editor({ course_id: course.id })">
									
								</a>
							</td>
						</tr>
						<tr style="border-bottom: 1px solid lightgray;">
							<td style="color: #2d2d2d; padding-top: 5px; width: 45%;" colspan="2">
								<div style="font-size: 15px; margin: 0px; display: inline-block; cursor: default;" tooltip="{{'courses.start_date'|translate}}" tooltip-placement="bottom"><span class="calendar-icon"></span><span>{{course.start_date | amDateFormat:'dddd, MMMM D YYYY'}}</div> 
							</td>
							<td style="color: #2d2d2d; padding-top: 5px; border-left: 1px solid lightgray; width: 45%;" colspan="2">
								<div style="font-size: 15px; margin: 0px; display: inline-block; cursor: default;" tooltip="{{'courses.duration'|translate}}" tooltip-placement="bottom"><span class="duration-icon"></span><span>{{course.duration}} <span translate="courses.weeks"></span></div>
							</td>
						</tr>
						<tr>
							<td style="color: #2d2d2d;">
								<div style="font-size: 15px; margin: 0px; display: inline-block; cursor: default;" tooltip="#{{'courses.students'|translate}}" tooltip-placement="bottom"><span class="students-icon"></span><span>{{course.enrollments.length}}</span></div>
							</td>
							<td style="color: #2d2d2d; border-left: 1px solid lightgray;">
								<div style="font-size: 15px; margin: 0px; display: inline-block; cursor: default;" tooltip="#{{'head.lectures'|translate}}" tooltip-placement="bottom"><span class="lectures-icon"></span><span>{{course.lectures.length}}</span></div>
							</td>
							<td style="color: #2d2d2d; border-left: 1px solid lightgray;">
								<div ng-init="course.quiz = (course.quizzes|filter:{quiz_type:'quiz'})" style="font-size: 15px; margin: 0px; display: inline-block; cursor: default;" tooltip="#{{'groups.quizzes'|translate}}" tooltip-placement="bottom"><span class="quizzes-icon"></span><span>{{course.quiz.length}}</span></div>
							</td>
							<td style="color: #2d2d2d; border-left: 1px solid lightgray;">
								<div ng-init="course.survey = (course.quizzes|filter:{quiz_type:'survey'})" style="font-size: 15px; margin: 0px; display: inline-block; cursor: default;" tooltip="#{{'courses.surveys'|translate}}" tooltip-placement="bottom"><span class="surveys-icon"></span><span>{{course.survey.length}}</span></div>
							</td>

						</tr>
					</table>
				</td>
				<td ng-if="teachers" style="border-left: 1px solid lightgrey; min-width: 30%; width: 30%; padding-left: 10px; vertical-align: top;">
	            	<span class="dropdown-header" style="float: left;"><b translate>courses.teachers</b><br /></span>
	            	<table style="width: 100%;">
	            		<tr ng-repeat="teacher in teachers">
	            			<td style="color: black; text-align: center; padding-left: 10px; width: 50px;" style="text-align: center;">
	                            <small>
	                            	<a href="" ng-click="filterteacher(teacher.user.name, teacher.user.email)">
	                                	<profile-image email="teacher.user.email" imagesize="40"> </profile-image> 
	                            	</a>
	                        	</small>
	                        </td>
	                        <td style="text-align: left; padding-left: 10px;">
	                        	<a href="" ng-click="filterteacher(teacher.user.name, teacher.user.email)">{{teacher.user.name}} ({{'courses.'+teacher.role.name | translate}})</a>
	                        	<br />
	                        	<a href="mailto:{{teacher.user.email}}">{{teacher.user.email}}</a>
	                        </td>
	            		</tr>
	            	</table>
	            </td>
			</tr>
		</table>
	</a>
	<a ng-if="course.importing">
		<table style="width: 91%;">
			<tr>
				<td class="course-image">
					<a>
						<img ng-src="{{course.image_url || '../images/course.png'}}" style="height: 120px;" />						
					</a>
				</td>
				<td class="course-info-container" colspan="1">
					<table style="width: 100%;">
						<tr>
							<td colspan="4" style="border-bottom: 1px solid lightgrey; padding-bottom: 5px;">
								<a>
									{{course.short_name}} | {{course.name}} <i ng-if="course.importing" style="font-size: 12px;"> ( <span translate>controller_msg.importing_data</span>... )</i>
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</a>
</div>
 -->