<div class="whole-box" style="width: 100%;">
	<link rel="stylesheet" href="styles/courseItem.css"/>
	<table style="width: 100%;">
		<tr>
			<td class="course-image">
				<a ui-sref="course.course_editor({ course_id: course.id })">
					<img ng-src="{{course.image_url || '../images/course.png'}}" style="height: 120px;" />
					
				</a>
			</td>
			<td class="course-info-container" colspan="1">
				<table style="width: 100%;">
					<tr>
						<td colspan="4" style="border-bottom: 1px solid lightgrey; padding-bottom: 5px;">
								<a ui-sref="course.course_editor({ course_id: course.id })">
									{{course.short_name}} | {{course.name}}
								</a>
						</td>
					</tr>
					<tr>
						<td style="color: #2d2d2d; padding-top: 5px;">
							<div style="font-size: 15px; margin: 0px;"><span class="calendar-icon"></span><span tooltip="{{'courses.start_date'|translate}}" tooltip-placement="bottom" style="cursor: default;">{{course.start_date | amDateFormat:'dddd, MMMM D YYYY'}}</div> 
						</td>
						<td style="color: #2d2d2d; padding-top: 5px;">
							<div style="font-size: 15px; margin: 0px;"><span class="duration-icon"></span><span tooltip="{{'courses.duration'|translate}}" tooltip-placement="bottom" style="cursor: default;">{{course.duration}} <span translate="courses.weeks"></span></div>
						</td>
						<td style="color: #2d2d2d;">
							<div style="font-size: 15px; margin: 0px;"><span class="students-icon"></span><span tooltip="#{{'courses.students'|translate}}" tooltip-placement="bottom" style="cursor: default;">{{course.enrollments.length}}</span></div>
						</td>
						<td style="color: #2d2d2d;">
							<div style="font-size: 15px; margin: 0px;"><span class="lectures-icon"></span><span tooltip="#{{'head.lectures'|translate}}" tooltip-placement="bottom" style="cursor: default;">{{course.lectures.length}}</span></div>
						</td>
					</tr>
					<tr>
						<td style="color: #2d2d2d;">
							<div ng-init="course.quiz = (course.quizzes|filter:{quiz_type:'quiz'})" style="font-size: 15px; margin: 0px;"><span class="quizzes-icon"></span><span tooltip="#{{'groups.quizzes'|translate}}" tooltip-placement="bottom" style="cursor: default;">{{course.quiz.length}}</span></div>
						</td>
						<td style="color: #2d2d2d;">
							<div ng-init="course.survey = (course.quizzes|filter:{quiz_type:'survey'})" style="font-size: 15px; margin: 0px;"><span class="surveys-icon"></span><span tooltip="#{{'courses.surveys'|translate}}" tooltip-placement="bottom" style="cursor: default;">{{course.survey.length}}</span></div>
						</td>

					</tr>
				</table>
			</td>
			<td ng-if="teachers" style="border-left: 1px solid lightgrey; min-width: 30%; width: 30%; padding-left: 10px;">
            	<span class="dropdown-header" style="float: left;"><b translate>courses.teachers</b><br /></span>
            	<table style="width: 100%;">
            		<tr ng-repeat="teacher in teachers">
            			<td style="color: black; text-align: center; padding-left: 10px;" style="text-align: center;">
                            <small>
                            	<a href="" ng-click="$parent.$parent.$parent.filterTeacher(teacher.user.name, teacher.user.email)">
                                	<profile-image email="teacher.user.email" imagesize="40"> </profile-image> 
                            	</a>
                        	</small>
                        </td>
                        <td style="text-align: left; padding-left: 10px;">
                        	<a href="" ng-click="$parent.$parent.$parent.filterTeacher(teacher.user.name, teacher.user.email)">{{teacher.user.name}} ({{'courses.'+teacher.role.name | translate}})</a>
                        	<br />
                        	<a href="mailto:{{teacher.user.email}}">{{teacher.user.email}}</a>
                        </td>
            		</tr>
            	</table>
            </td>
		</tr>
	</table>
	<div style="float: right;">
		<delete_button size="big" action="$parent.$parent.$parent.deleteCourse(course)" />
	</div>
</div>
