<div>
  <div style="height: 50px;"></div>
  <top-bar class="sub-header whitesmoke">
<!-- <div class="top-bar sub-header"> -->
    <ul class="title-area">
        <li class="name">
          <h1><a id="content_navigator" class="dark-text sub-header-component" ng-class="{'green-color-white': open_navigator, 'dark-medium-grey-hover': !open_navigator}" ng-click="toggleNavigator()" style="width: 300px;margin-right:10px"><i class="fi-list" ng-class="{'color-white': open_navigator}"></i> {{shortname}}: {{selectedmodule.name || 'courses.select_module' | translate}}</a></h1>
        </li>
         <li toggle-top-bar class="menu-icon"><a href="">SUB-MENU</a></li>
         <li ><content-navigator modules="modules" links="links" mode="editor" open="open_navigator" style="z-index: 1;" /></li>
    </ul>

        <top-bar-section>
      <!-- <section class="top-bar-section"> -->
        <!-- Right Nav Section -->
        <ul class="right">
          <li has-dropdown>
            <a id="settings" class="whitesmoke-hover dark-text sub-header-component size-14" href="" translate>courses.students</a>
            <ul top-bar-dropdown>
                <li><a id="course_info" class="whitesmoke-hover dark-text sub-header-component" ui-sref="course.edit_course_information" translate>head.course_information</a></li>
                <li><a id="announcements" class="whitesmoke-hover dark-text sub-header-component" ui-sref="course.announcements" translate>head.announcements</a></li>
                <li><a id="enrolled_students" class="whitesmoke-hover dark-text sub-header-component" ui-sref="course.enrolled_students" translate>head.enrolled_students</a></li>
                <li><a id="add_students" enroll-help-modal ng-click="openHelpModal()" class="whitesmoke-hover dark-text sub-header-component" ui-sref="course.enrolled_students" >Add Sudents</a></li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left" id="teacher_left_nav">
            <li has-dropdown ng-show="('**.course.**' | includedByState)">
                <a id="progress" class="whitesmoke-hover dark-text sub-header-component size-14" ng-click="goToProgress()" translate>head.progress</a>
                <ul top-bar-dropdown>
                    <li ng-show="'*.module.**' | includedByState">
                        <a id="review_module_progress" class="whitesmoke-hover dark-text sub-header-component has-description" ui-sref="course.module.progress">
                            {{'review_module_progress' | translate}}
                            <h5 class="dark-description"><small translate>choose_inclass_material</small></h5>
                        </a>
                        <!-- <div class="divider"></div> -->
                    </li>
                    <li>                        
                        <a id="all_student_progress" class="whitesmoke-hover dark-text sub-header-component" ui-sref="course.progress" translate>all_students_progress</a>
                    </li>
                </ul>
            </li>
            <li ng-show="'*.module.**' | includedByState">
                <a id="inclass" class="whitesmoke-hover dark-text sub-header-component size-14" ui-sref="course.module.inclass" translate>head.in_class</a>
            </li>
            <li has-dropdown ng-show="('**.course.**' | includedByState)">
                <a id="content" class="whitesmoke-hover dark-text sub-header-component size-14" ng-click="goToContentEditor()" translate>head.content</a>
                <ul top-bar-dropdown ng-show="'**.course_editor.**' | includedByState">
                    <li>
                        <a id="new_module" class="whitesmoke-hover dark-text sub-header-component has-description" ng-click="addModule()">
                            {{'groups.new_module' | translate}}
                            <h5 class="dark-description"><small translate>modules_group_items</small></h5>
                        </a>
                    </li>
                    <li ng-show="'*.module.**' | includedByState">
                        <a id="new_online_content" online-modal ng-click="openOnlineContentModal()" class="whitesmoke-hover dark-text sub-header-component has-description" href="">
                            {{'new_online_content' | translate}}
                            <h5 class="dark-description"><small>Video lecture, Quiz...</small></h5>
                        </a>
                    </li>
                    <li ng-show="'**.lecture.**' | includedByState">
                        <a questions-modal id="new_in_video_ques" questions-modal ng-click="openQuestionsModal()" class="whitesmoke-hover dark-text sub-header-component has-description" href="">
                            New In-Video Question
                            <h5 class="dark-description"><small>MCQ, OCQ, Drag...</small></h5>
                        </a>
                    </li>                    
                    <li>
                        <!-- <div class="divider"></div> -->
                        <a class="whitesmoke-hover dark-text sub-header-component has-description" ng-click="addLink()">
                            {{'groups.new_link' | translate}}
                            <h5 class="dark-description"><small translate>links_external_system</small></h5>
                        </a>
                    </li>                    
                    <li ng-show="'*.module.**' | includedByState">
                        <!-- <div class="divider"></div> -->
                        <a id="copy" class="whitesmoke-hover dark-text sub-header-component has-description"ng-click="copyItem()">
                            {{'menu.copy' | translate}}
                            <h5 class="dark-description"><small translate>menu.copy_describtion</small></h5>
                        </a>
                    </li>
                    <li ng-show="clipboard && ('*.module.**' | includedByState)">
                        <a id="paste" class="whitesmoke-hover dark-text sub-header-component has-description" ng-click="pasteItem()">
                            {{'menu.paste' | translate}}
                            <h5 class="dark-description">
                                <small>
                                    {{clipboard.name}}    
                                </small>
                            </h5>
                        </a>
                    </li>
                    <li ng-show="'*.module.**' | includedByState">
                        <a id="share_copy" class="whitesmoke-hover dark-text sub-header-component has-description" href="" sharing-modal ng-click="openSharingModal()">
                            {{'menu.share_copy' | translate}}
                            <h5 class="dark-description"><small translate>menu.share_describtion</small></h5>
                        </a>
                    </li>
                    <li ng-show="'*.module.**' | includedByState">
                        <!-- <div class="divider"></div> -->
                        <a id="preview_as_student" class="whitesmoke-hover dark-text sub-header-component has-description" ng-click="preview()" href="">
                            {{'preview_student' | translate}}
                            <h5 class="dark-description"><small translate>preview_describtion</small></h5>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
      <!-- </section> -->
      </top-bar-section>
<!-- </div> -->
</top-bar>
</div>
