<div class="main-box" ng-class="{selected: marked != ','}" ng-click="toggleSelect()">
	<link rel="stylesheet" href="styles/user_item.css"/>
	<div class="profile-image-container">
		<profile-image email="user.email" imagesize="80"> </profile-image>
	</div>
	<div class="info-container">
		
			{{user.full_name}}
		
			{{user.email}}
		
		<!-- <table>
			<tr>
				<td>
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					{{user.email}}
				</td>
			</tr>	
		</table> -->
	</div>
</div>