<!-- <ul class="app-menu" collapse="iscollapsed" style="display: block;">
    <style>
        a.mini-link{
            color: rgb(0, 162, 86);
        }
        a.mini-link:hover{
            color: darkgreen;
        }
    </style>
    <div>
    <table style="vertical-align: baseline;">
        <tr>
            <td style="vertical-align: initial;">
                <a href="">
                    <profile-image email="$parent.current_user.email" imagesize="70" style="overflow: hidden; min-width: 70px;" background="white"></profile-image>
                </a>
            </td>
            <td style="min-width: 280px; display: inline-block;">
                    <a href="" style="color: white;">
                        <ul>
                            <span style="color: rgb(0, 162, 86); font-size: 22px; font-weight: lighter;" ng-bind="$parent.current_user.screen_name"></span>
                        </ul>
                        <ul style="font-size: 19px;" ng-bind="$parent.current_user.name +' '+ $parent.current_user.last_name">
                        </ul>
                        <ul style="font-size: 19px;" ng-bind="$parent.current_user.university">
                        </ul>
                    </a>
            </td>
            <td ng-show="show_notifications" style="width: 100%; border-left: 1px solid rgb(0, 162, 86); padding-left: 20px;">
                <span class="dropdown-header" ><b translate>navigation.notifications</b></span>
                        <div style="width: 100%;">
                            <div ng-show="$parent.current_user.invitations == 0 && $parent.current_user.shared == 0">{{'notification.empty' | translate}}</div>
                            <notification-item ng-repeat="(id, invitation) in $parent.current_user.invitation_items" notification="invitation" id="id"></notification-item>

                            <shared-item-notification ng-repeat="(id, item) in $parent.current_user.shared_items" notification="item" id="id"></shared-item-notification>
                        </div>

            </td>
            <td ng-show="$parent.current != 'navigation.courses'" style="display: inline-table;">
                <div class="headerdivider" style="display: table-column; padding-right: 20px;">
                </div>
                <!-- <a href="" ui-sref="home">
                    <ul ng-class="tabactive" class="tab-pill ng-binding tabactive" ng-bind="'courses.back_to_courses' | translate"></ul>
                </a> 
                <button ui-sref="home" class="btn btn-success" style="margin-left: 20px;">{{'courses.back_to_courses' | translate}}</button>
            </td>
            <td ng-init="show_settings = false" style="display: inline-table; margin-left: 20px;">
                <div class="headerdivider" style="display: table-column; padding-right: 20px;">
                </div>
                <span style="margin-left: 20px; display: inline-block;" ng-show="show_settings">
                    
                    <table>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 5px; min-width: 150px;">
                                <!-- <span class="dropdown-header" ng-hide="!show_settings"><b translate>account_edit.account_settings</b></span> 
                                <div ng-init="selected = 0" class="settings-tabs">
                                    <a href="" ng-click="selected = 0">
                                        <ul ng-class="{tabactive: selected == 0}" class="tab-pill" ng-bind='"account_edit.account_information" | translate'>
                                            
                                        </ul>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </span>
            </td>
            <td ng-show="show_settings">
                <div class="tab-content">
                        <span ng-show="selected == 0">
                            <account-information>
                        </span>
                </div>
            </td>
            <span style="float: right;">
                <ul><a id="logout-link" class="mini-link" style="cursor: pointer;" ng-click="$parent.$parent.logout()" translate="navigation.logout"></a></ul>
            </span>
            <span style="float: right;">
                <a id="help-link" class="mini-link" href="" >
                    <ul ng-bind="'head.help' | translate">
                    </ul>
                </a>
            </span>
            <span style="float: right; display: inline-table;">
                <ul ng-show="$parent.current_lang=='sv'" ng-cloak>
                    <a id="lang-link-swed" style="cursor:pointer;" ng-click="$parent.changeLanguage('en')"><img src="images/sweden.png" style="width:25px;height:15px;" /></a>
                </ul>
                <ul ng-show="$parent.current_lang=='en'" ng-cloak>
                    <a id="lang-link-uk" style="cursor:pointer;" ng-click="$parent.changeLanguage('sv')"><img src="images/uk.png" style="width:25px;height:15px;" /></a>
                </ul>
            </span>
            <span class="settings-menu-button" id="settings_btn" ng-click="toggleSettings()" ng-class="{settingsopen: show_settings}">
            </span>
            <span ng-show="role != 2 && areshared" class="shared-page-button" id="shared_btn" ui-sref="show_shared" ng-class="{sharedfull: areshared}" tooltip="{{'sharing.with_you' | translate}}" tooltip-placement="bottom"></span>

            <span ng-show="role != 2" class="notification-modal-button" id="notification_btn" ng-click="toggleNotifications()" ng-class="{notificationfull: arenotification}" tooltip="{{'navigation.notifications' | translate}}" tooltip-placement="bottom"></span>

            <span ng-show="role == 5" class="statistics-button" id="stats_btn" ui-sref="statistics" tooltip="{{'courses.statistics' | translate}}" tooltip-placement="bottom">
            </span>
        </tr>
    </table>
</div>
</ul> -->