<div class="main-box" ng-class="{selected: user.checked}" ng-click="toggleSelect()">
	<link rel="stylesheet" href="styles/user_item.css"/>
	<div class="profile-image-container">
		<profile-image email="user.email" imagesize="80"> </profile-image>
	</div>
	<delete_button size="big" style="float: right;" action="removestudent(user)" />
	<div class="info-container">
			<span title="{{user.full_name}}">{{user.full_name}}</span>
			<br />
			<a href="" ng-click="emailsingle(user)" title="{{'email' | translate}}: {{user.email}}">{{user.email}}</a>
	</div>

</div>