<li class="with-tiny-padding">
  <table class="with-tiny-margin">
    <thead>
      <tr class="text-center">
        <th style="padding:0;"><button type="button" class="left secondary no-margin with-small-padding" ng-click="move(-1)"><i class="fi-arrow-left"></i></button></th>
        <th colspan="{{rows[0].length - 3 + showWeekNumbers}}" style="padding:0;"><button type="button" class="secondary no-margin with-small-padding" style="width:100%;" ng-click="toggleMode()"><strong>{{title}}</strong></button></th>
        <th style="padding:0;"><button type="button" class="right secondary no-margin with-small-padding" ng-click="move(1)"><i class="fi-arrow-right"></i></button></th>
      </tr>
      <tr class="text-center" ng-show="labels.length > 0" style="font-size:10px;text-align:center">
        <th style="padding:0;text-align:center" ng-repeat="label in labels" >{{label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows">
        <td ng-repeat="dt in row" class="text-center" style="padding:2px">
          <button type="button" style="width:100%;padding:4px;font-size:10px" class="button secondary no-margin with-small-padding" ng-class="{blue: dt.selected}" ng-click="select(dt.date)" ng-disabled="dt.disabled"><span ng-class="{disabled: dt.secondary}">{{dt.label}}</span></button>
        </td>
      </tr>
    </tbody>
  </table>
</li>
