	.bigimg{
		width:150px;
	}
	a.editable-click { 
    /*color: green;*/
    border-bottom: none;
}
/*a.editable-click:hover { 
    color: #47a447;
    border-bottom-color: #47a447;
}*/
input[type='text'].editable-input {
	width:120px !important;
	font-size:12px !important;
}
input[type='date'].editable-input {
	width:120px !important;
	font-size:12px !important;
}
input[type='number'].editable-input {
	width:120px !important;
	font-size:12px !important;
}
.editable-checkbox{
	width:15px !important;
	font-size:12px !important;
}
.editable-buttons button{
	width:20px !important;
	padding:0px !important;
}
label{
	font-size:12px !important;
}
#details{
	overflow-x:scroll;
}

.timepicker td, .timepicker td a{
	padding:0;
	text-align: center;
	vertical-align: middle;
	border:initial;
}
.timepicker input{
	padding:0;
}
.timepicker table{
	vertical-align: middle;
}
.timepicker .well{
	padding: 0px 5px;
}
.timepicker .well .btn{
	padding: 2px 4px;
	margin: 0 4px;
}
}


