/*.videoborder{*/
    /*background-color: black;*/
    
/*}*/
.selected{
	background-color: rgb(252,248,227);
}

.bigimg{
  width:150px;
} 

.insert_quiz{
		font-size: 12px;
}

.ontop{
  /*position:absolute;*/
  /*width:500px;*/
  /*height:282px;*/
  /*z-index:5;*/
}

.wall{
  position:absolute;
  width:500px;
  height:306px;
  z-index:5;
}

.hasDatepicker{
	z-index:1000;
}

#ui-datepicker-div {
  z-index: 9999999!important;
}

.remove_button{
	width:100% !important;
}
.myclass{
	width:270px;
}
	
.btn-toolbar{
	text-align: center;
}

.popover{
	z-index:2000;
  width: 270px;
}

.popover-content{
	/*width: 240px;*/
	max-height:340px;
	overflow-y:auto;
}

.arrow{
  top: 50%
}

.q_label{
	width:100px;
	display:inline-block;
}  

/*.drag-sort{
	width:300px;
}*/

.answer_div{
	width: auto;
    height: 100%;
	margin-left:10px;
	margin-bottom:20px;	
	position: relative;
  padding: 39px 19px 14px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.answer_img{
  width: 13px;
  height:13px;
  /*z-index: 5; */
}

.answer_drag{
  width: 300px;
  height:40px;
  position: absolute;
}

.answer_div:before{
	content: "Answers";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
.sortable { list-style-type: none; margin: 0; padding: 0; width: 80%; }
/*.sortable li { width: 350px; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 30px; }*/
.sortable li {  padding: 0.3em;  font-size: 1.4em; height: 50px; }
/*.sortable li span { position: absolute; margin-left: -1.3em; }*/

.quiz_title{
  width: 50%;
}
.quiz_list{
    margin-top: 50px;
}

.sidebar{
  width:400px;
  position:fixed;
  overflow-x:auto;
  right:0px;
  background-color:white;
  height:100%;
  top: 0px;
  z-index: 1030
}


/*******************************/


/*.timer{
    position: absolute;
    width: 100%;
    height: 30px;
   
    margin: -50px 0px 0px 0px;
    background-color: black;
    text-align: right;
    bottom: 0px;
    right: 0px;

}*/

.check_answer{
    left:200px;
    bottom:5px;
}

.check_answer_area{
    left:200px;
    bottom:30px;
}

.submit-html{
    left:200px;
    bottom:5px;
}

.exit{
    top:0px;
    right:10px;
    position:absolute;
    color:gray;
    text-decoration: none;
}

.confused_notif{
    position:absolute;
    /*#margin-top::-60px;*/
    right:110px;
    bottom: -15px;
}

.hidden_div2{
    position:absolute;
    /*#margin-top:-50px;*/
    right:110px;
    bottom: -1px;
    z-index:3;
}

.hidden_shortcuts2{
    position:absolute;
    /*#margin-top:-50px;*/
    left:10px;
    top: -440px;
    z-index:3;
}

.dragged{
  float: left;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  margin: 0 0 0 10px;
  background: #fff;
  position:absolute;
  top:10px;
  left:10px;
  margin-top:0px;
  cursor:move;
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

.input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
  height:100%;
}

.position-header{
  position: absolute;
  left: -25px;
  font-style: bold;
  cursor: move;
}

.input-prepend .add-on {
  border-radius: 4px 0 0 4px;
  vertical-align: top;
  /*border-radius: 0;*/
  margin-right: -1px;
  display: inline-block;
  width: auto;
  height: 26px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  background-color: #eee;
  border: 1px solid #ccc;
  float:left;

}

