.prefix {
  z-index: 0;
}

.overlay {
  width: 95%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  text-align: center;
}

input[type="checkbox"].editable-input.editable-has-buttons {
  width: 12px !important;
}

.details_accordian details-date>form>span>ul.f-dropdown {
  left: 35% !important;
  margin-bottom: 0;
}

#module details-date>form>span>ul.f-dropdown {
  top: 3.3rem !important;
}

#bg_fix details-time>form>span>div>table {
  background-color: #F9F9F9;
}

a.editable-click {
  border-bottom: none;
}

.editable-input-large {
  width: 80% !important;
}

#details input[type='text'].editable-input {
  width: 120px !important;
  font-size: 12px !important;
}

#details input[type='date'].editable-input {
  width: 120px !important;
  font-size: 12px !important;
}

#details input[type='number'].editable-input {
  width: 120px !important;
  font-size: 12px !important;
}

.drop-div {
  border: 2px dashed black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 0 0 0 2px;
  background: #fff;
  opacity: 0.9;
  overflow: auto;
}

label {
  font-size: 12px !important;
}

.timepicker td,
.timepicker td a {
  padding: 0;
  text-align: center;
  vertical-align: middle;
  border: initial;
}

.timepicker input {
  padding: 0;
}

.timepicker table {
  vertical-align: middle;
}

.timepicker .well {
  padding: 0px 5px;
}

.timepicker .well .btn {
  padding: 2px 4px;
  margin: 0 4px;
}

.selected {
  background-color: rgb(252, 248, 227);
}

.bigimg {
  width: 150px;
}

.insert_quiz {
  font-size: 12px;
}

.wall {
  position: absolute;
  width: 500px;
  height: 306px;
  z-index: 5;
}

.hasDatepicker {
  z-index: 1000;
}

#ui-datepicker-div {
  z-index: 9999999!important;
}

.popover {
  z-index: 2000;
  width: 270px;
}

.popover-content {
  max-height: 340px;
  overflow-y: auto;
}

.arrow {
  top: 50%
}

.q_label {
  width: 100px;
  display: inline-block;
}

.dropped_drag {
  border: 2px dashed rgb(0, 0, 0);
  border-radius: 6px;
  background-color: white;
  padding: 0px;
  position: absolute;
  min-height: 40px;
  min-width: 20px;
}

.answer_img {
  height: 13px;
}

.answer_drag {
  width: 300px;
  height: 40px;
  position: absolute;
}

.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

.sortable li {
  padding: 0.3em;
  font-size: 1.4em;
  height: 50px;
}

.quiz_title {
  width: 50%;
}

.exit {
  top: 0px;
  right: 10px;
  position: absolute;
  color: gray;
  text-decoration: none;
}

.dragged {
  float: left;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  margin: 0 0 0 10px;
  background: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 0px;
  cursor: move;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

.input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.position-header {
  position: absolute;
  left: -49px;
  font-weight: bold;
  cursor: move;
}

.input-prepend .add-on {
  border-radius: 4px 0 0 4px;
  vertical-align: top;
  margin-right: -1px;
  display: inline-block;
  width: auto;
  height: 26px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  background-color: #eee;
  border: 1px solid #ccc;
  float: left;
}
