.btn-xlarge {
    padding: 28px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.play_button{
	position:absolute;
	width:50px;
	height:50px;
	background: url("/images/playN.png") no-repeat center center;
}
.pause_button{
	position:absolute;
	width:50px;
	height:50px;
	background: url("/images/pauseN.png") no-repeat center center;
}
.unmute_button{
	position:absolute;
	top:40px;
	width:50px;
	height:50px;
	background: url("/images/muteF.png") no-repeat center center;
}
.mute_button{
	position:absolute;
	top:40px;
	width:50px;
	height:50px;
	background: url("/images/unmuteF.png") no-repeat center center;
}
.whiteboard{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0 !important;
	margin-left: 0;
	left: 0;
	vertical-align: -webkit-baseline-middle;
	background:black;
}

.review{
	max-height: 100%;
	overflow: auto;
}

/*.inclass{
	width:100%;
	height:100%; 
	background-color:white;
}*/

.inclass_sceen{
  /*display: inline-block;*/
  width:100%;
  height: 100%;
  padding:0;
}


.inclass_top{
	display: block; 
	height: 60%; 
	width: 100%;
}

.inclass_bottom{
	display:block;
	width:100%;
	height:40%;
	background-color:white;
}

.left_titles{
	position:absolute;
	padding-left:10px;
	display:inline;
	font-size:28px;
	margin-top:0px;
	line-height:30px;
	height:40%;
	width:100%;
}
.question_title{
	position:absolute;
	width:40%;
	height:90%;
	margin-top: 15px;
	z-index: 1;
}

.student_questions{
	overflow:auto;
	display:inline;
	font-size:20px;
	margin-top:10px;
	line-height:30px;
	height:70%;
	width:98%;
	cursor:pointer;
}

.inclass_chart{
	overflow:auto;
	width:60%;
	height:90%;
	background-color:white;
	float:right;
	display:inline;
}

.exit_btn{
	display:inline;
	font-size:16px;
	position:absolute;
	bottom:0;
	left:0;
	cursor:pointer
}

.lecture_count{
	display:inline;
	position:absolute;
	bottom:0;
	margin-left:35px;
}

.disable_selection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.blackscreen{
	width: 100%;
	height: 100%;
	z-index: 100;
	background: black;
	position: absolute;
	color:white;
}
.original_video{
	max-height:75%;
	min-height:75%;
	height:75%;
	position: relative;
	margin-bottom:0;
}

.zoom_video{
	max-height:99.6%;
	min-height:99.6%;
	height:99.6%;
	position: absolute;
	margin-bottom:0;
}

.original_question{
	max-width: 62%;
	min-width: 62%;
	/*height:20%;*/
	float: left;
	padding-top: 2%;
	padding-left: 3%;
	font-size: 40px;
	line-height:40px;
	opacity:1;
	left:0 !important;
	top:0 !important;
	/*overflow-y: auto;*/
}

.small_question{
	max-width: 62%;
	min-width: 62%;
	/*height:20%;*/
	float: left;
	padding-top: 2%;
	padding-left: 3%;
	font-size: 35px;
	line-height:35px;
	opacity:1;
	left:0 !important;
	top:0 !important;
	/*overflow-y: auto;*/
}

.smallest_question{
	max-width: 62%;
	min-width: 62%;
	/*height:20%;*/
	float: left;
	padding-top: 2%;
	padding-left: 3%;
	font-size: 29px;
	line-height:29px;
	opacity:1;
	left:0 !important;
	top:0 !important;
	/*overflow-y: auto;*/
}

.zoom_question{
	background:beige;

	max-width: 65%;
    min-width: 65%;
    float: left;
    padding-top: 1%;
    padding-left: 3%;
    font-size: 40px;
    padding-bottom: 1%;
    line-height: 40px;
    list-style:none;
    /*overflow-y: hidden;*/
    /*background: whitesmoke;*/
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

.original_chart{
	max-width: 32%;
	min-width: 32%;
	float:right;
	/*padding-top: 20px;*/
	opacity:1;
	/*overflow-y: auto;*/
	left:0 !important;
	top:0 !important;
}

.zoom_chart{
	background:beige;
	max-width: 32%;
	min-width: 32%;
	float:left;
	padding-top: 20px;
	padding-bottom: 1%;
	/*background: white;*/
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    /*overflow-y: hidden;*/
}

.question_block{
	position:relative;
	border: 1px solid darkgrey; 
	max-height: 24%;
	min-height: 24%;
	overflow-y: auto;
	background:beige;
}

.zoom_question_block{
	position:relative;
	/*border: 1px solid darkgrey; */
	max-height: 24%;
	min-height: 24%;
	/*overflow-y: auto;
	background:beige;*/
}
.original_student_question{
	font-size: 30px;
	line-height: 32px;
	opacity: 1;
	left: 0 !important;
	top: 0 !important;
	padding-top: 1%;
}

.student_padding{	
	padding-left: 1%;
}

.big_font_button{
	font-size: 20px;
	padding: 3px 20px;
	background-image: initial;
}
.small_font_button{
	font-size: 13px;
	padding: 3px 20px;
	font-weight:200 !important;
	background-image: initial;
}

.smallest_font_button{
	font-size: 10px;
	padding: 3px 14px;
	font-weight:200 !important;
	background-image: initial;
}
