.submit_question{
	height:20px;
	margin-bottom:-12px;
	line-height:10px;
	font-size:10px;
}
.question{
	margin-top:15px;
	margin-bottom:3px;
	line-height:10px;
	font-size:10px;
	width:150px;
	height:13px;
}
.fading{
	width:40px;
	height:10px;
	padding-top:2px;
	padding-bottom:2px;
	text-align:center;
	vertical-align:center;
	line-height:12px;
	padding-left:20px;
	position:absolute;
	right:160px;
	bottom: -15px;
}
.fullscreenDiv{
    position:absolute;
	width:30px;
	height:25px;
	cursor:pointer;
	/*top:50%;
	left:50%;*/
	right:0px;
	margin-top:-50px;
	/*#margin-right:0px;*/
	bottom: 0px;
}

.confusedDiv{
    position:absolute;
	width:50px;
	height:25px;
	cursor:pointer;
	/*top:50%;
	left:50%;*/
	margin-top:-50px;
	right:30px;
	bottom: 0px;
}

.hidden_div{
    position:absolute;
	right:160px;
	bottom: -1px;
	z-index:3;
	width:222px;
}

.hidden_shortcuts{
    position:absolute;
	top: -160px;
	z-index:3;
}

.questionDiv{
    position:absolute;
	width:50px;
	height:25px;
	cursor:pointer;
	/*top:50%;
	left:50%;*/
	margin-top:-50px;
	right:120px;
	bottom: 0px;
}

.shortcutDiv{
    position:absolute;
	width:50px;
	height:25px;
	cursor:pointer;
	/*top:50%;
	left:50%;*/
	margin-top:-50px;
	right:80px;
	bottom: 0px;
}

.qualityDiv{
    position:absolute;
    width:50px;
    height:25px;
    cursor:pointer;
    /*top:50%;
    left:50%;*/
    margin-top:-50px;
    right:160px;
    bottom: 0px;
}

.shortcutDiv{
    background:url('/images/shortcuts2.png') no-repeat center center;
}

.qualityDiv{
    background:url('/images/shortcuts2.png') no-repeat center center;
}

.confusedDiv{
    background:url('/images/confused2.png') no-repeat center center;
}

.questionDiv{
    background:url('/images/question5.png') no-repeat center center;
}

.fullscreenDiv.full{
    background:url('/images/fullscreen2.png') no-repeat center center;
}
.fullscreenDiv.small{
    background:url('/images/fullscreen3_exit.png') no-repeat center center;
}

li{
	list-style-type: none;
}

/*******************************/

.controlDiv{
    /* Centering the control div */
    position:absolute;
    width:50px;
    height:40px;
    cursor:pointer;
    /*top:50%;
    left:50%;*/
    bottom: 0px;
    margin:-50px 0 0 0px;
}

.timer{
    position: absolute;
    width: 100%;
    height: 50px;
    /*cursor: pointer;*/
    margin: -50px 0px 0px 0px;
    background-color: black;
    text-align: right;
    bottom: 0px;
    right: 0px;

}


.check_answer{
    left:200px;
    bottom:5px;
}

.check_answer_area{
    left:200px;
    bottom:30px;
}

.submit-html{
    left:200px;
    bottom:5px;
}

.exit{
    top:0px;
    right:10px;
    position:absolute;
    color:gray;
    text-decoration: none;
}

.confused_notif{
    position:absolute;
    /*#margin-top::-60px;*/
    right:110px;
    bottom: -15px;
}

.hidden_div2{
    position:absolute;
    /*#margin-top:-50px;*/
    right:110px;
    bottom: -1px;
    z-index:3;
}

.hidden_shortcuts2{
    position:absolute;
    /*#margin-top:-50px;*/
    left:10px;
    top: -440px;
    z-index:3;
}

.controlDiv.replay{
    background:url('/images/replay3.png') no-repeat center center;
}
.controlDiv.play{
    background:url('/images/play34.png') no-repeat center center;
}

.controlDiv.pause{
    background:url('/images/pause3.png') no-repeat center center;
}

.progressBar{
    /*display:none;*/
    display:block;
    position:absolute;
    width:auto;
    height:8px;
    left:0px;
    right:0px;
    bottom:40px;
    background-color:#141414;
    overflow:hidden;
    cursor:pointer;

    /* A light CSS3 bottom highlight */

    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
}

.progressBar .elapsed{
    position:absolute;
    width:0;
    height:100%;
    background-color:#1fa2f6;
    border-right:1px solid #49AFF0;
}