ul.connected_blocks {
  margin: 0;
}

.connected_blocks li {
  width: 25%;
  height: 2.4em;
  text-align: center;
  line-height: 2em;
  margin: 0;
  display: inline-block;
  color: white;
  position: relative;
  font-size: 14px;
  float: left;
  padding: 3px;
}

.connected_blocks li.active {
  border: 4px solid grey;
  padding: 0;
}

.inclass_lecture .panel {
  margin-bottom: 8px;
  cursor: pointer;
  padding: 8px 0;
}

.rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel {
  margin-bottom: 2px
}

.self_quiz .panel.selected {
  background: #B3D0EA;
  border: 2px solid #008CBA;
}

.group_quiz .panel.selected {
  background: #B4EAC8;
  border: 2px solid #43AC6A;
}

.choice {
  cursor: pointer;
}

.on-video-textarea {
  width: 70%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 15%;
  box-shadow: 0px 3px 5px grey;
  z-index: 2;
}

.on-video-textarea textarea {
  width: 100%;
  height: 100%;
}

.on-video-block {
  width: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 2;
}

@media only screen and (orientation:portrait) {
  .on-video-block {
    width: 90%;
    top: 30%;
    left: 5%;
  }

  .on-video-textarea {
    width: 80%;
    height: 20%;
    top: 40%;
    left: 10%;
  }
}