a.editable {
  color: black;
}

form.editable-text {
  width: 90% !important;
}


.form-inline textarea {
  width: 95% !important;
}


.table-striped tbody>tr:nth-child(odd)>td,
.table-striped tbody>tr:nth-child(odd)>th {
  background-color: transparent;
  color: currentcolor;
  border: none;
}

.align-center {
  text-align: center;
  margin-bottom: 5px;
}

.dimmed {
  border-left: 2px solid slategray;
  opacity: 0.5;
  background-color: whitesmoke;
}

.lectureopen {
  border-left: 2px solid slategray;
  opacity: 1;
  background-color: transparent;
}

.lecture-heading {
  background-color: lightgrey;
  border-radius: 0px 4px 4px 0px;
  height: 20px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: normal;
}

.table tr {
  border-bottom: 1px whitesmoke;
}

.timeline-item {
  cursor: pointer;
  width: 25px;
  position: relative;
}

.timeline-icon-container {
  width: 30px;
}

.table tr td {
  border: none;
}

.discussion-content {
  background-color: white;
  position: relative;
}

.discussion-comment {
  background-color: white;
}

.flagged {
  background-color: rgba(255, 0, 0, 0.1) !important;
}

.comments-table {
  font-size: 13px;
  padding-top: 5px;
  margin-top: 0px;
  margin-left: 15px;
}

textarea {
  width: 80%;
  resize: vertical;
  overflow: visible;
  border-radius: 0px;
}

.post-controls {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  color: #a1a1a1 !important;
  margin-bottom: 3px;
}

.like-button {
  display: inline-block;
  float: right;
}

.screen-name {
  display: inline-block;
}

.timestamp {
  text-align: left;
  font-size: 11px;
  display: inline-block;
  color: #a1a1a1;
}

.tab-content {
  padding: 10px;
  overflow: auto;
  height: 80%;
}

.nav {
  margin-bottom: 0px;
  margin-left: 0px;
  list-style: none;
}

.video_class_full,
.navigator_open .video_class_full {
  width: 100%;
  height: 92%;
  height: calc(100% - 80px);
  margin: 0;
}

.mobile_video_full,
.navigator_open .mobile_video_full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: : 0;
  z-index: 100;
}

.progress_controls {
  position: absolute;
  top: 30px !important;
  margin-top: 5px;
}

.check-answer {
  position: absolute;
  top: 10px;
  left: 45%;
}

@-moz-document url-prefix() {

  .progress_controls {
    position: relative;
    display: inline-block;
    top: -7px !important;
    float: right;
    margin-top: 35px;
  }
  .check-answer {
    float: right;
    margin-right: 228px;
    min-width: 100px;
    position: relative;
    margin-top: -10px;
  }
}

.solved {
  cursor: pointer;
  color: black;
}

.filterbuttons {
  position: absolute;
  z-index: 1;
  border: 1px lightgrey;
  box-shadow: 1px 1px 0px lightgrey;
  padding: 3px;
  width: 95%;
  background-color: white;
}

.timeline-settings {
  float: right;
  cursor: pointer;
  opacity: 0.5;
  top: 3px;
  right: 10px;
  position: relative;
}

.timeline-settings:before {
  content: url("/images/settings-icon-dark.png");
}

.timeline-settings:hover,
.timelinesettingsopen {
  opacity: 1 !important;
}

.hiddendeletebutton {
  opacity: 0;
}

.comment_body {
  margin-bottom: 5px;
}

.discussion-comment:hover .hiddendeletebutton,
.discussion-content:hover .hiddendeletebutton {
  opacity: 1;
  transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in;
}

.ownpost {
  background-color: #E3F0EF !important;
}

.popover-title {
  margin: 0 !important;
  padding-bottom: 0;
}

.popover-content {
  padding: 10px;
  font-size: 14px;
}

.settings .popover {
  top: 0px !important;
  padding: 0;
}

.settings .arrow {
  top: 9% !important;
}

.settings .arrow:after {
  border-left-color: #ededeb !important;
}

.settings .popover-content {
  padding: 0px
}

ul.connected_blocks {
  margin: 0;
}

.connected_blocks li {
  width: 25%;
  height: 2.4em;
  text-align: center;
  line-height: 2em;
  margin: 0;
  display: inline-block;
  color: white;
  position: relative;
  font-size: 14px;
  float: left;
  padding: 3px;
}

.connected_blocks li.active {
  border: 4px solid grey;
  padding: 0;
}

.inclass_lecture .panel {
  margin-bottom: 8px;
  cursor: pointer;
  padding: 8px 0;
}

.rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel {
  margin-bottom: 2px
}

.self_quiz .panel.selected {
  background: #B3D0EA;
  border: 2px solid #008CBA;
}

.group_quiz .panel.selected {
  background: #B4EAC8;
  border: 2px solid #43AC6A;
}

.choice {
  cursor: pointer;
}

.on-video-textarea {
  width: 70%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 15%;
  box-shadow: 0px 3px 5px grey;
  z-index: 2;
}

.on-video-textarea textarea {
  width: 100%;
  height: 100%;
}

.on-video-block {
  width: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 2;
}

.requirement-warning {
  height: 360px
}

.requirement-warning .requirement-warning-message {
  position: relative;
  top: 90px;
  font-weight: 300;
  font-size: 18px
}

.video-container {
  width: 100%;
  height: 100%;
  background: black
}

.video-container .video-layer {
  margin: 0 auto;
}

.video-container .video-overlay {
  z-index: 1;
}

.video-container .video-overlay .loading {
  top: 150px;
}

.video-container .video-overlay .slow-message {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

.video-container .video-overlay .slow-message h3 {
  position: relative;
  top: 70px;
  font-weight: 300;
  font-size: 16px;
}

.video-container .video-overlay .slow-message h3 i {
  margin-left: 8px;
  margin-top: 3px;
  cursor: pointer
}

.video-container .video-overlay .slow-message .loading {
  position: relative;
  top: 70px;
}

.video-container .video-overlay .video-no-credit-message {
  border: 2px groove rgb(229, 81, 87);
  padding: 10px;
  top: 40%;
  position: relative;
  text-align: center;
  background: whitesmoke;
  z-index: 1;
  margin: 0 10%;
  font-size: 14px;
  font-weight: 300;
}

.video-container .video-progress-bar .video-end-panel {
  position: relative;
  top: -78px;
  left: 47%;
  z-index: 1000;
}

.video-container .video-progress-bar .end-btn {
  position: absolute;
  height: 70px;
  width: 180px;
}

.video-container .video-progress-bar .replay-btn {
  left: -171px;
}

.video-container .video-progress-bar .next-btn {
  left: 10px;
}

.video-container .video-progress-bar .notification {
  position: relative;
  right: 50%
}

.video-container .video-progress-bar .check-answer-btn {
  position: relative;
  right: 30%
}

.video-container .review-inclass-panel {
  display: none;
  position: absolute;
  right: 0;
}

.video-container .distance-peer-container .distance-peer-panel {
  border: 1px solid black;
  width: 96%;
  background-color: black;
  color: white;
}

.distance-peer-container .distance-peer-panel .distance-peer-stages {
  margin-bottom: 10px;
}

.distance-peer-container .distance-peer-panel .distance-peer-stages .distance-peer-video-stage {
  background: lightgrey;
  color: black;
  width: 100%;
}

.distance-peer-container .distance-peer-panel .distance-peer-stages .distance-peer-intro-stage {
  background: lightgrey;
  color: black
}

.distance-peer-container .distance-peer-panel .distance-peer-stages .distance-peer-self-stage {
  background: #008CBA;
}

.distance-peer-container .distance-peer-panel .distance-peer-stages .distance-peer-group-stage {
  background: #43AC6A
}

.distance-peer-container .distance-peer-panel .distance-peer-stages .distance-peer-end-video-stage {
  background: darkorange
}

.distance-peer-container .distance-peer-panel .distance-peer-info-panel {
  padding: 5px;
  margin: 5px 0;
}

.distance-peer-container .distance-peer-panel .distance-peer-info-panel .distance-peer-info-message {
  font-weight: bold;
}

.distance-peer-container .distance-peer-panel .distance-peer-info-panel .cancel-btn {
  background-color: #b30000;
  font-size: 14px;
}

.distance-peer-timer {
  font-size: 60px;
  color: white;
  text-shadow: 2px 1px grey, 2px 1px grey;
  margin-top: 0.45em;
}

.distance-peer-start-btn {
  background: green
}

@media only screen and (orientation:portrait) {
  .on-video-block {
    width: 90%;
    top: 30%;
    left: 5%;
  }

  .on-video-textarea {
    width: 80%;
    height: 20%;
    top: 40%;
    left: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .timestamp {
    font-size: x-small;
  }
  .videoborder {
    margin: 0 auto;
  }
  #main-video-container {
    float: none !important;
    margin-bottom: 5px;
  }
  #user_information_container {
    display: none;
  }
}
