    /*ul.nav-tabs{
        position: fixed;
        z-index: 1;
        background-color: white;
        min-width: 40%;
        margin-top: -30px;
    }*/

    .accordion-heading{
        padding: 5px;
        background-color: rgb(0, 162, 86);
        text-decoration: none;
        display: block;
        /*border-radius: 0px;
        border:;*/
    }
    .accordion-toggle{
        color: white;
    }
    .accordion-toggle:hover{
        color: black;
    }
    .accordion-body{
        background-color: #fffdfa;
    }
    .table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th{
        background-color: transparent;
        color: currentcolor;
        border: none;
    }
    /*.table th, .table td{
        padding: 3px;
    }*/
    .align-center{
        text-align: center;
        /*width: 100%;*/
        margin-bottom: 5px;
    }
    .dimmed{
        border-left: 2px solid slategray;
        opacity: 0.5;
        background-color: whitesmoke;
    }
    .lectureopen{
        border-left: 2px solid slategray;
        opacity: 1;
        /*min-height: 100%;*/
        min-height: 35vw;
        background-color: transparent;
    }
    .lecture-heading{
        background: -webkit-linear-gradient(right, darkgrey, lightgrey, transparent); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, darkgrey, lightgrey, transparent); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, darkgrey, lightgrey, transparent); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, darkgrey, lightgrey, transparent); /* Standard syntax (must be last) */
    }
    .table{
        border-collapse: separate;
    }
    /*.table td{
        border-bottom: 1px lightgrey;
    }*/
    .table tr{
        border-bottom: 1px whitesmoke;
    }
    .timeline-item{
        cursor: pointer;
        width: 45px;
        position: relative;
        left: -13px;
    }
    .timeline-icon-container{
        width: 30px;
    }
    .table tr td{
        border: none;
    }
    .discussion-content{
        background-color: white;
        box-shadow: 0px 1px 1px darkgrey;
        position: relative;
        padding: 5px; 
    }
    .discussion-comment{
        background-color: white;
        margin-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        border-left: 5px solid rgb(0, 162, 86);
    }
    .flagged{
        border-left: 5px solid red !important;
    }
    .comments-table{
        font-size: 13px;        
        margin: 10px;
        background-color: whitesmoke;
        padding: 5px;
        margin-top: 0px;
    }
    textarea{
        width: 80%;
        resize: vertical;
        overflow: visible;
        border-radius: 0px;
    }
    .flag{
        display: inline-block;
        vertical-align: top;
        border-left: 1px solid lightgrey;
        padding-left: 5px;
    }
    .timestamp{
        text-align: right;
        font-size: x-small;
    }

        .tab-content{
        padding: 10px;
        overflow: auto;
        height:80%;
    }
    .nav {
        margin-bottom: 0px;
        margin-left: 0px;
        list-style: none;
    }
    #main-video-container{
    }

    .video_class, .widescreen{
        width: 55.9vw; height: 31.444vw;
    }

    

    .video_class_full{
        width:100%;
        height:98%;
    }

    .controls{
        position: absolute;
        /*display: inline-block;*/
        z-index: 1000;
        top: 31px;
        left: 95%;
        margin-top: 5px;
    }

    .solved{
    cursor: pointer;
    color:#0088CC;

}
    /*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      #main-video-container{
        clear:both;
      }
      #student-accordion{
        float: left;
        margin-top: 50px;
        width: 500px;
      }
    }*/
    #student-accordion{
        width: 40%;
        float: right; 
        position: relative;
        right: 0px;
        bottom: 6px;
        overflow-y: auto; 
    }
    /*@media only screen and (max-width : 1312px) {
      #student-accordion{
        width: 43%;
        overflow-y: auto;
      }
    }
    @media only screen and (max-width : 1262px) {
      #student-accordion{
        width: 40%;
        overflow-y: auto;
      }
    }
    @media only screen and (max-width : 1262px) {
      #student-accordion{
        width: 39%;
        overflow-y: auto;
      }
    }
    @media only screen and (max-width : 1169px) {
      #student-accordion{
        width: 35%;
        overflow-y: auto;
      }
    }*/
    /*@media only screen and (max-width : 1112px) {
      #student-accordion{
        width: 30%;
        overflow-y: auto;
      }
    }
    @media only screen and (max-width : 1000px) {
      #student-accordion{
        width: 24%;
        overflow-y: auto;
      }
    }*/
    /*@media only screen and (max-width : 955px) {*/
    @media only screen and (max-width : 1024px) {
      .video_class, .widescreen{
        /*width: 95vw;
        height: 53.4375vw;*/
        width: 71vw;
        height: 39.9375vw;
      }
      .videoborder{
        margin: 0 auto;
      }
      #main-video-container{
        float: none !important;
      }
      #student-accordion{
        width: 100%;
        float: left;
        margin-top: 50px;
        clear: both;
        overflow-y: visible;
      }
      #user_information_container{
        display: none;
      }
     }
      
      .video_container{
        /*float: left;*/
        /*width:63%;*/
      }