    /*ul.nav-tabs{
        position: fixed;
        z-index: 1;
        background-color: white;
        min-width: 40%;
        margin-top: -30px;
    }*/
    .form-inline textarea {
        width: 95% !important;
    }

    
    .table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th{
        background-color: transparent;
        color: currentcolor;
        border: none;
    }
    /*.table th, .table td{
        padding: 3px;
    }*/
    .align-center{
        text-align: center;
        /*width: 100%;*/
        margin-bottom: 5px;
    }
    .dimmed{
        border-left: 2px solid slategray;
        opacity: 0.5;
        background-color: whitesmoke;
    }
    .lectureopen{
        border-left: 2px solid slategray;
        opacity: 1;
        /*min-height: 100%;*/
        /*min-height: 35vw;*/
        background-color: transparent;
    }
    .lecture-heading{
        /*background: -webkit-linear-gradient(right, darkgrey, lightgrey, transparent); 
        background: -o-linear-gradient(right, darkgrey, lightgrey, transparent);
        background: -moz-linear-gradient(right, darkgrey, lightgrey, transparent);
        background: linear-gradient(to right, darkgrey, lightgrey, transparent);*/
        background-color: lightgrey;
        border-radius: 0px 4px 4px 0px;
        height: 20px;
        padding: 5px;
        margin-bottom: 5px;
        line-height: normal;
    }
    .table{
        border-collapse: separate;
    }
    /*.table td{
        border-bottom: 1px lightgrey;
    }*/
    .table tr{
        border-bottom: 1px whitesmoke;
    }
    .timeline-item{
        cursor: pointer;
        width: 25px;
        position: relative;
        left: -4px;
    }
    .timeline-icon-container{
        width: 30px;
    }
    .table tr td{
        border: none;
    }
    .discussion-content{
        background-color: white;
        /*box-shadow: 0px 1px 1px darkgrey;*/
        position: relative;
        /*padding: 5px; */
    }
    .discussion-comment{
        background-color: white;
    }
    .flagged{
        background-color: rgba(255, 0,0, 0.1) !important;
    }
    .comments-table{
        font-size: 13px;        
        /*margin: 10px;*/
        /*background-color: whitesmoke;*/
        padding-top: 5px;
        margin-top: 0px;
        margin-left: 15px;
        /*border-left: 1px rgba(0,0,0,0.1) solid;*/
    }
    textarea{
        width: 80%;
        resize: vertical;
        overflow: visible;
        border-radius: 0px;
    }
    .post-controls{
        /*border-top: 1px solid lightgrey;*/
        display: inline-block;
        vertical-align: top;
        /*border-left: 1px solid lightgrey;*/
        margin-left: 10px;
        color: #a1a1a1 !important;
        margin-bottom: 3px;
        /*font-size: 11px !important;*/
    }

    .like-button{
        display: inline-block;
        float: right;
    }
    .screen-name{
        display: inline-block;
    }
    .timestamp{
        text-align: left;
        font-size: 11px;
        display: inline-block;
        color: #a1a1a1;
    }

        .tab-content{
        padding: 10px;
        overflow: auto;
        height:80%;
    }
    .nav {
        margin-bottom: 0px;
        margin-left: 0px;
        list-style: none;
    }
    /*#main-video-container{
    }*/

    .video_class, .widescreen{
        /*width: 55.9vw; */
        /*height: 31.444vw;*/
    }

    .navigator_open .widescreen, .navigator_open .video_class{
        /*width: 42.7vw;*/
        /*height: 24.1vw;*/
    }
    

    .video_class_full, .navigator_open .video_class_full{
        width:100%;
        margin: 0;
        /*height:98%;*/
    }

    .mobile_video_full, .navigator_open .mobile_video_full  {
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        z-index:100;
    }    

    .progress_controls{
        position: absolute;
        /*display: inline-block;*/
        /*z-index: 1000;*/
       /* top: 31px;*/
        top: 30px !important;
        /*left: 95%;*/
       /* left: 108%;
        top: 94%;*/
        margin-top: 5px;
    }
    .check-answer{
        position: absolute;
        top: 10px;
        left: 47%;
    }
    @-moz-document url-prefix() {
        
        .progress_controls{
            position: relative;
            display: inline-block;
            top: -7px !important;
            /*left: 95%;*/
            float: right;
            margin-top: 35px;
        }
        .check-answer{
            float: right;
            margin-right: 220px;
            min-width: 100px;
            position: initial;
        }
    }

    .solved{
    cursor: pointer;
    /*color:#0088CC;*/
    color: black;

}
    /*#student-accordion{
        width: 40%;
        float: right; 
        right: 0px;
        position: relative;
        overflow-y: auto; 
        min-height: 82vh;  
    }*/
    .filterbuttons{
        position: absolute;
        z-index: 1;
        border: 1px lightgrey;
        box-shadow: 1px 1px 0px lightgrey;
        padding: 3px;
        width: 95%;
        background-color: white;
    }
    .timeline-settings{
        margin-top: 25px;
        margin-right: 6px;
        float: right;
        cursor: pointer;
        opacity: 0.5;
    }
    .timeline-settings:before{
        content: url("/images/settings-icon-dark.png");
    }
    .timeline-settings:hover, .timelinesettingsopen{
        opacity: 1 !important;
    }
    .hiddendeletebutton{
      /*display: none !important;*/
      opacity: 0;
    }
    .comment-body{
        margin-bottom: 5px;
    }
    .discussion-comment:hover .hiddendeletebutton, .discussion-content:hover .hiddendeletebutton{
      /*display: inline-block !important;*/
      opacity: 1;
      transition: opacity .25s ease-in;
      -moz-transition: opacity .25s ease-in;
      -webkit-transition: opacity .25s ease-in;
    }
    .ownpost{
        background-color: #e6f6fc !important;
    }

    .popover-title{
        margin:0 !important;
        padding-bottom:0;
    }

    .popover-content{
        padding:10px;
    }

    /*@media only screen and (max-width : 1312px) {
      #student-accordion{
        width: 43%;
        overflow-y: auto;
      }
    }
    @media only screen and (max-width : 1262px) {
      #student-accordion{
        width: 40%;
        overflow-y: auto;
      }
    }
    @media only screen and (max-width : 1262px) {
      #student-accordion{
        width: 39%;
        overflow-y: auto;
      }
    }
    @media only screen and (max-width : 1169px) {
      #student-accordion{
        width: 35%;
        overflow-y: auto;
      }
    }*/
    /*@media only screen and (max-width : 1112px) {
      #student-accordion{
        width: 30%;
        overflow-y: auto;
      }
    }
    @media only screen and (max-width : 1000px) {
      #student-accordion{
        width: 24%;
        overflow-y: auto;
      }
    }*/



    @media only screen and (max-width : 1024px) {
        .timestamp{
            font-size: x-small;
        }
        .video_class, .widescreen{
            /*width: 71vw;*/
            /*height: 39.9375vw;*/
        }

        .mobile_video_full{
            position: fixed;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            z-index:100;
        }
        .videoborder{
            margin: 0 auto;
        }
        #main-video-container{
            float: none !important;
            margin-bottom: 40px;
        }
        /*#student-accordion{
            width: 100%;
            float: left;
            margin-top: 0px;
            clear: both;
            overflow-y: visible;
            position: relative !important;
        }*/
        #user_information_container{
            display: none;
        }
     }

@media only screen and (min-width: 1300px){
     .navigator_open .widescreen, .navigator_open .video_class{
        /*width: 47.5vw;*/
        /*height: 26.7vw;*/
    }
    .video_class_full, .navigator_open .video_class_full {
        width: 100%;
        height: 98%;
    }
